{% with request.resolver_match.url_name as url_name %}
    <div class=" nav-item d-flex m-0 h6 d-flex flex-wrap">
        <li class="text-primary mr-2">新車×メンテトップ：</li>
        <li class="breadcrumb-item"><a href="{% url 'myprofit:profit_top' %}"><i class="fa fa-home"> Home</i></a></li>
        <li class="breadcrumb-item {% if url_name == 'new01_03' %}btn btn-light btn-rounded p-1{% endif %}"><a href="{% url 'myprofit:new01_03' %}">新車CA</a></li>
        <li class="breadcrumb-item {% if url_name == 'new02_03' %}btn btn-light btn-rounded p-1{% endif %}"><a href="{% url 'myprofit:new02_03' %}">登録・納車・回収</a></li>
        <li class="breadcrumb-item {% if url_name == 'new04_03' %}btn btn-light btn-rounded p-1{% endif %}"><a href="{% url 'myprofit:new04_03' %}">NFS-Webログイン画面</a></li>
        <li class="breadcrumb-item {% if url_name == 'new05_03' %}btn btn-light btn-rounded p-1{% endif %}"><a href="{% url 'myprofit:new05_03' %}">連携業務メニュー</a></li>
        <li class="breadcrumb-item {% if url_name == 'new06_03' %}btn btn-light btn-rounded p-1{% endif %}"><a href="{% url 'myprofit:new06_03' %}">お客様一覧検索</a></li>
    </div>
{% endwith %}
