{% with request.resolver_match.url_name as url_name %}
    <div class="nav-item d-flex m-0 h6 d-flex flex-wrap">
      {% if route == "entry" %}
        <li class="text-primary mr-2">サービス×申込書ボタン：</li>
        <div class="d-flex flex-column px-1">
          <div class="d-flex">
            <li class="breadcrumb-item {% if url_name == 'service02' %}btn btn-light btn-rounded p-1{% endif %}"><a href="{% url 'myprofit:service02' %}?route=entry">受注・納車・回収</a></li>
            <li class="breadcrumb-item {% if url_name == 'service03' %}btn btn-light btn-rounded p-1{% endif %}"><a href="{% url 'myprofit:service03' %}?route=entry">サービス申込／取消</a></li>
            <li class="breadcrumb-item {% if url_name == 'service04' %}btn btn-light btn-rounded p-1{% endif %}"><a href="{% url 'myprofit:service04' %}?route=entry">NFSログイン</a></li>
            <li class="breadcrumb-item {% if url_name == 'service05entry' %}btn btn-light btn-rounded p-1{% endif %}"><a href="{% url 'myprofit:service05entry' %}?route=entry">受付申込登録</a></li>
            <li class="breadcrumb-item {% if url_name == 'service06confirm' %}btn btn-light btn-rounded p-1{% endif %}"><a href="{% url 'myprofit:service06confirm' %}?route=entry">受付申込確認/完了</a></li>
            <li class="breadcrumb-item {% if url_name == 'service07' %}btn btn-light btn-rounded p-1{% endif %}"><a href="{% url 'myprofit:service07' %}?route=entry">会員情報</a></li>
          </div>
        </div>

      {% elif route == "cert" %}
        <li class="text-primary mr-2">サービス×会員証ボタン：</li>
        <div class="d-flex flex-column px-1">
          <div class="d-flex">
            <li class="breadcrumb-item {% if url_name == 'service02' %}btn btn-light btn-rounded p-1{% endif %}"><a href="{% url 'myprofit:service02' %}?route=cert">受注・納車・回収</a></li>
            <li class="breadcrumb-item {% if url_name == 'service03' %}btn btn-light btn-rounded p-1{% endif %}"><a href="{% url 'myprofit:service03' %}?route=cert">サービス契約</a></li>
            <li class="breadcrumb-item {% if url_name == 'service04' %}btn btn-light btn-rounded p-1{% endif %}"><a href="{% url 'myprofit:service04' %}?route=cert">NFSログイン</a></li>
            <li class="breadcrumb-item {% if url_name == 'service07' %}btn btn-light btn-rounded p-1{% endif %}"><a href="{% url 'myprofit:service07' %}?route=cert">会員情報</a></li>
          </div>
        </div>

      {% elif route == "mente" %}
        <li class="text-primary mr-2">サービス×メンテトップ：</li>
        <div class="d-flex flex-column px-1">
          <div class="d-flex">
            <li class="breadcrumb-item {% if url_name == 'service02' %}btn btn-light btn-rounded p-1{% endif %}"><a href="{% url 'myprofit:service02' %}?route=mente">受注・納車・回収</a></li>
            <li class="breadcrumb-item {% if url_name == 'service04' %}btn btn-light btn-rounded p-1{% endif %}"><a href="{% url 'myprofit:service04' %}?route=mente">NFSログイン</a></li>
            <li class="breadcrumb-item {% if url_name == 'service05' %}btn btn-light btn-rounded p-1{% endif %}"><a href="{% url 'myprofit:service05' %}?route=mente">連携業務メニュー</a></li>
            <li class="breadcrumb-item {% if url_name == 'service06' %}btn btn-light btn-rounded p-1{% endif %}"><a href="{% url 'myprofit:service06' %}?route=mente">お客様一覧検索</a></li>
            <li class="breadcrumb-item {% if url_name == 'service07' %}btn btn-light btn-rounded p-1{% endif %}"><a href="{% url 'myprofit:service07' %}?route=mente">会員情報</a></li>
          </div>
          {% comment %} <div class="d-flex">
            <li class="breadcrumb-item {% if url_name == 'service07' %}btn btn-light btn-rounded p-1{% endif %}"><a href="{% url 'myprofit:service07' %}">会員情報</a></li>
          </div> {% endcomment %}
        </div>
      {% endif %}
    </div>
{% endwith %}



