{% with request.resolver_match.url_name as url_name %}
    <div class=" nav-item d-flex m-0 h6 d-flex flex-wrap">
        <li class="text-primary mr-2">サービス×申込書印刷（キャンセル）：</li>
        <li class="breadcrumb-item {% if url_name == 'service01_01' %}btn btn-light btn-rounded p-1{% endif %}"><a href="{% url 'myprofit:service01_01' %}">サービス</a></li>
        <li class="breadcrumb-item {% if url_name == 'service02_01' %}btn btn-light btn-rounded p-1{% endif %}"><a href="{% url 'myprofit:service02_01' %}">見積・受付・納品</a></li>
        <li class="breadcrumb-item {% if url_name == 'service03_01' %}btn btn-light btn-rounded p-1{% endif %}"><a href="{% url 'myprofit:service03_01' %}">サービス申込／取消</a></li>
        <li class="breadcrumb-item {% if url_name == 'service04_01' %}btn btn-light btn-rounded p-1{% endif %}"><a href="{% url 'myprofit:service04_01' %}">NFS-Webログイン</a></li>
        <li class="breadcrumb-item {% if url_name == 'service07_01' %}btn btn-light btn-rounded p-1{% endif %}"><a href="{% url 'myprofit:service07_01' %}">会員情報</a></li>

    </div>
{% endwith %}