{% with request.resolver_match.url_name as url_name %}
    <div class=" nav-item d-flex m-0 h6">
        <li class="breadcrumb-item"><a href="{% url 'myprofit:profit_top' %}"><i class="fa fa-home"> Home</i></a></li>
        <li class="breadcrumb-item {% if url_name == 'new01' %}btn btn-light btn-rounded p-1{% endif %}"><a href="{% url 'myprofit:new01' %}">新車CA</a></li>
        <li class="breadcrumb-item {% if url_name == 'new02' %}btn btn-light btn-rounded p-1{% endif %}"><a href="{% url 'myprofit:new02' %}">登録・納車・回収</a></li>
        <li class="breadcrumb-item {% if url_name == 'new03' %}btn btn-light btn-rounded p-1{% endif %}"><a href="{% url 'myprofit:new03' %}">申込/取消画面</a></li>
        <li class="breadcrumb-item {% if url_name == 'new04' %}btn btn-light btn-rounded p-1{% endif %}"><a href="{% url 'myprofit:new04' %}">NFS-Webログイン画面</a></li>
    </div>
{% endwith %}