{% with request.resolver_match.url_name as url_name %}
    <div class="nav-item d-flex m-0 h6 d-flex flex-wrap">
      {% if route == "entry" %}
        <li class="text-primary mr-2">中古車×申込書ボタン：</li>
        <div class="d-flex flex-column px-1">
          <div class="d-flex">
            <li class="breadcrumb-item {% if url_name == 'used02' %}btn btn-light btn-rounded p-1{% endif %}"><a href="{% url 'myprofit:used02' %}?route=entry">受注・納車・回収</a></li>
            <li class="breadcrumb-item {% if url_name == 'used03' %}btn btn-light btn-rounded p-1{% endif %}"><a href="{% url 'myprofit:used03' %}?route=entry">中古車契約</a></li>
            <li class="breadcrumb-item {% if url_name == 'used04' %}btn btn-light btn-rounded p-1{% endif %}"><a href="{% url 'myprofit:used04' %}?route=entry">NFSログイン</a></li>
            <li class="breadcrumb-item {% if url_name == 'used05entry' %}btn btn-light btn-rounded p-1{% endif %}"><a href="{% url 'myprofit:used05entry' %}?route=entry">受付申込登録</a></li>
            <li class="breadcrumb-item {% if url_name == 'used06confirm' %}btn btn-light btn-rounded p-1{% endif %}"><a href="{% url 'myprofit:used06confirm' %}?route=entry">受付申込確認/完了</a></li>
            <li class="breadcrumb-item {% if url_name == 'used07' %}btn btn-light btn-rounded p-1{% endif %}"><a href="{% url 'myprofit:used07' %}?route=entry">会員情報</a></li>
          </div>
        </div>

      {% elif route == "cert" %}
        <li class="text-primary mr-2">中古車×会員証ボタン：</li>
        <div class="d-flex flex-column px-1">
          <div class="d-flex">
            <li class="breadcrumb-item {% if url_name == 'used02' %}btn btn-light btn-rounded p-1{% endif %}"><a href="{% url 'myprofit:used02' %}?route=cert">受注・納車・回収</a></li>
            <li class="breadcrumb-item {% if url_name == 'used03' %}btn btn-light btn-rounded p-1{% endif %}"><a href="{% url 'myprofit:used03' %}?route=cert">中古車契約</a></li>
            <li class="breadcrumb-item {% if url_name == 'used04' %}btn btn-light btn-rounded p-1{% endif %}"><a href="{% url 'myprofit:used04' %}?route=cert">NFSログイン</a></li>
            <li class="breadcrumb-item {% if url_name == 'used07' %}btn btn-light btn-rounded p-1{% endif %}"><a href="{% url 'myprofit:used07' %}?route=cert">会員情報</a></li>
          </div>
        </div>

      {% elif route == "mente" %}
        <li class="text-primary mr-2">中古車×メンテトップ：</li>
        <div class="d-flex flex-column px-1">
          <div class="d-flex">
            <li class="breadcrumb-item {% if url_name == 'used02' %}btn btn-light btn-rounded p-1{% endif %}"><a href="{% url 'myprofit:used02' %}?route=mente">受注・納車・回収</a></li>
            <li class="breadcrumb-item {% if url_name == 'used04' %}btn btn-light btn-rounded p-1{% endif %}"><a href="{% url 'myprofit:used04' %}?route=mente">NFSログイン</a></li>
            <li class="breadcrumb-item {% if url_name == 'used05' %}btn btn-light btn-rounded p-1{% endif %}"><a href="{% url 'myprofit:used05' %}?route=mente">連携業務メニュー</a></li>
            <li class="breadcrumb-item {% if url_name == 'used06' %}btn btn-light btn-rounded p-1{% endif %}"><a href="{% url 'myprofit:used06' %}?route=mente">お客様一覧検索</a></li>
            <li class="breadcrumb-item {% if url_name == 'used07' %}btn btn-light btn-rounded p-1{% endif %}"><a href="{% url 'myprofit:used07' %}?route=mente">会員情報</a></li>
          </div>
          {% comment %} <div class="d-flex">
            <li class="breadcrumb-item {% if url_name == 'used07' %}btn btn-light btn-rounded p-1{% endif %}"><a href="{% url 'myprofit:used07' %}">会員情報</a></li>
          </div> {% endcomment %}
        </div>
      {% endif %}
    </div>
{% endwith %}

<button type="button" class="btn btn-sm btn-inverse-info btn-fw d-flex align-items-center justify-content-end navbar-nav-right">VCC Sample</button>
<div class="navbar-nav navbar-nav-right">あああ</div>



