<div class="row">
  <div class="col-lg-12 stretch-card p-2">
    <div class="card">
      <h5 class="card-title m-2 mx-auto">登録・納車・回収</h5>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-4 d-flex grid-margin stretch-card p-2">
    <div class="card">
      <h4 class="card-title my-1 mx-auto">CAP</h4>
      <hr>
      <div class="card-body p-2">
        <span class="font-weight-bold p-0">【登録】</span>
        <ul class="list-unstyled">
        <li>　</li><li>　</li><li>　</li><li>　</li>
        </ul>
        <ul class="list-unstyled">【納車】
          <li>　</li><li>　</li><li>　</li><li>　</li>
          </ul>
        <ul class="list-unstyled">【回収】
          <li>　</li><li>　</li><li>　</li><li>　</li>
        </ul>
      </div>
    </div>
  </div>


  <div class="col-4 d-flex grid-margin stretch-card p-2">
    <div class="card">
      <h4 class="card-title my-1 mx-auto">店舗オンライン</h4>
      <hr>
      <div class="card-body p-2">
        <div class="font-weight-bold">【登録】</div>
        <ul class="list-unstyled ml-3">
        <li>日産OSSシステム <i class="typcn typcn-chevron-right menu-arrow"></i></li>
          <li>　</li><li>　</li><li>　</li>
        </ul>
        <div class="font-weight-bold">【納車】</div>
        <ul class="list-unstyled ml-3">
          <li id="application"><a href="{% url 'myprofit:new03' %}">メンテプロ申込書印刷<i class="typcn typcn-chevron-right menu-arrow"></i></a></li>
          <li id="certificate"><a href="{% url 'myprofit:new03_02' %}">メンテプロ会員証印刷 <i class="typcn typcn-chevron-right menu-arrow"></i></a></li>
          <li id="mente_menu">NFSメンテトップメニュー <i class="typcn typcn-chevron-right menu-arrow"></i></li>
          <li>他社メンテプロ（自社会員対応） <i class="typcn typcn-chevron-right menu-arrow"></i></li>
          </ul>
        <ul class="list-unstyled">【回収】
          <li>　</li><li>　</li><li>　</li><li>　</li>
        </ul>
        <ul class="list-unstyled">【ZESP2】
          <li>　</li><li>　</li><li>　</li><li>　</li>
        </ul>
      </div>
    </div>
  </div>
  

  <div class="col-4 d-flex grid-margin stretch-card p-2">
    <div class="card">
      <h4 class="card-title my-1 mx-auto">本部オンライン</h4>
      <hr>
      <div class="card-body p-2">
        <div class="font-weight-bold">【登録】</div>
        <ul class="list-unstyled ml-3">
          <li>　</li><li>　</li><li>　</li><li>　</li>
        </ul>
        <div class="font-weight-bold">【納車】</div>
        <ul class="list-unstyled ml-3">
          <li>　</li><li>　</li><li>　</li><li>　</li>
          </ul>
        <ul class="list-unstyled">【回収】
          <li>　</li><li>　</li><li>　</li><li>　</li>
        </ul>
      </div>
    </div>
  </div>
</div>