<form action='#' method='get' id="view1">
  <input type="hidden" name="route" id="route" value="{{route}}">
  <input type="hidden" name="cert_no" id="hidden_no" value="{{cert_no}}">
  <input type="hidden" name="cancel_flag" id="cancel_flag" value="{{cancel_flag}}">

<div class="bg-white" style="height: 750px;">

  <div class="p-0 mb-2">
    <div class="col-12 bg-light p-0 mb-0">
      <div class="d-flex flex-row navbar">
        <a href="#" class="text-dark text-decoration-none small pr-2 border border-dark border-left-0 border-top-0 border-bottom-0">販売店メニューに戻る</a>
      </div>
    </div>
  </div>

  <div id="confirm">
    <div class="d-flex bg-light p-1 mx-2">■メンテプロパック　受付申込確認</div>
    <hr class="p-0 mt-0 border-dark mx-2">

    <div class="d-flex mb-5 justify-content-center px-4">

      <!-- 左列 -->
      <div class="col-6">
        <div class="d-flex flex-nowrap mb-1">
          <span class="col-4">販売会社</span>
          <span>：13300</span>
        </div>
        <div class="d-flex flex-nowrap mb-1">
          <span class="col-4">申込店舗</span>
          <span>：1E0</span>
        </div>
        <div class="d-flex flex-nowrap mb-1">
          <span class="col-4">申込担当者ｺｰﾄﾞ</span>
          <span>：001234</span>
        </div>
        <div class="d-flex flex-nowrap mb-1">
          <span class="col-4">申込担当者名</span>
          <span>：大磯　太郎</span>
        </div>
        <div class="d-flex flex-nowrap mb-1">
          <span class="mb-1">　</span>
        </div>
        <div class="d-flex flex-nowrap mb-1">
          <span class="mb-1">　</span>
        </div>
        <div class="d-flex flex-nowrap mb-1">
          <span class="mb-1">　</span>
        </div>
        <div class="d-flex flex-nowrap mb-1">
          <span class="col-4">氏名ｶﾅ</span>
          <span>：ｵﾅｷﾞ ﾊﾅｺ</span>
        </div>
        <div class="d-flex flex-nowrap mb-1">
          <span class="col-4">氏名漢字</span>
          <span>：尾凪　花子</span>
        </div>
        <div class="d-flex flex-nowrap mb-1">
          <span class="col-4">生年月日</span>
          <span>：2000年04月01日</span>
        </div>
        <div class="d-flex flex-nowrap mb-1">
          <span class="col-4">性別</span>
          <span>：女</span>
        </div>
        <div class="d-flex flex-nowrap mb-1">
          <span class="col-4">郵便番号</span>
          <span>：171-0014</span>
        </div>
        <div class="d-flex flex-nowrap mb-1">
          <span class="col-4">住所ｶﾅ</span>
          <span>：</span>
        </div>
        <div class="d-flex flex-nowrap mb-1">
          <span class="col-4">住所漢字</span>
          <span>：豊島区池袋9-8-7</span>
        </div>
        <div class="d-flex flex-nowrap mb-1">
          <span class="col-4">電話番号</span>
          <span>：070-1239-1721</span>
        </div>
        <div class="d-flex flex-nowrap mb-1">
          <span class="col-4">eﾒｰﾙｱﾄﾞﾚｽ</span>
          <span>：</span>
        </div>
      </div>

      <!-- 右列 -->
      <div class="col-6">
        <div class="d-flex flex-nowrap mb-1">
          <span class="col-4">注文書No</span>
          <span id="order_no1">：</span>
        </div>
        <div class="d-flex flex-nowrap mb-1">
          <span class="col-4">車台型式</span>
          <span>：</span>
        </div>
        <div class="d-flex flex-nowrap mb-1">
          <span class="col-4">型式</span>
          <span>：RV37</span>
        </div>
        <div class="d-flex flex-nowrap mb-1">
          <span class="col-4">基本</span>
          <span>：V37</span>
        </div>
        <div class="d-flex flex-nowrap mb-1">
          <span class="col-4">ﾒｰｶｰ区分</span>
          <span>：日産車</span>
        </div>
        <div class="d-flex flex-nowrap mb-1">
          <span class="col-4">車名/車種ｸﾗｽ</span>
          <span>：ｽｶｲﾗｲﾝ</span>
        </div>
        <div class="d-flex flex-nowrap mb-1">
          <span class="col-4">登録番号</span>
          <span id="plate_no">：</span>
        </div>
        <div class="d-flex flex-nowrap mb-1">
          <span class="col-4">車台番号</span>
          <span>：RV37-130855</span>
        </div>
        <div class="d-flex flex-nowrap mb-1">
          <span class="col-4">新中サ区分</span>
          <span id="entry_div">：サービス</span>
        </div>
        <div class="d-flex flex-nowrap mb-1">
          <span class="col-4">初度登録年月</span>
          <span id="register_date">：</span>
        </div>
        <div class="d-flex flex-nowrap mb-1">
          <span class="col-4">車検満了年月日</span>
          <span id="insp_date">：</span>
        </div>
        <div class="d-flex flex-nowrap mb-1">
          <span class="mb-1">　</span>
        </div>
        <div class="d-flex flex-nowrap mb-1">
          <span class="col-4">ｻｰﾋﾞｽ商品</span>
          <span>：メンテプロパック（乗用）</span>
        </div>
        <div class="d-flex flex-nowrap mb-1">
          <span class="col-4">入会ｺｰｽ</span>
          <span id="course1">：メンテプロパック18車検付きベーシック</span>
        </div>
        <div class="d-flex flex-nowrap mb-1">
          <span class="col-4 ">お支払額</span>
          <span id="price1">：85,690円</span>
          <span class="text-primary small d-flex align-items-end">(消費税込み)</span>
        </div>
        <div class="d-flex flex-nowrap mb-1">
          <span class="col-4 ">支払手段</span>
          <span>：日産ｶｰﾄﾞ</span>
        </div>  
      </div>

    </div>

    <span class="text-primary small d-flex justify-content-center mt-2">
      ※送信で次の画面へ、戻るで前の画面へ、中断でProfit画面に戻ります。
    </span>
    <span class="text-primary small d-flex justify-content-center">
      ※この画面移行は修正できません。修正される場合は一旦キャンセルを行い、再度申込受付登録を行ってください。（登録番号は除く）
    </span>

    <div class="d-flex flex-row justify-content-center">
        <a href="#" class="btn btn-inverse-dark m-2" id="send1">送信</a>
        {% comment %} <a href="#" class="btn btn-inverse-dark m-2" id="test1">戻る</a> {% endcomment %}
        <button class="btn btn-inverse-dark m-2" type="submit" id="test1">戻る</button>
        <a href="#" class="btn btn-inverse-dark m-2" id="back1">中断</a>
    </div>
    <div class="d-flex flex-row justify-content-center">
      {% comment %} <a href="#" class="btn btn-inverse-warning m-2 px-5" id="recommend">おすすめ商品確認</a> {% endcomment %}
      <button type="button" class="btn btn-inverse-warning m-2 px-5" id="recommend">おすすめ商品確認</button>
    </div>

 </div>

  <!-- ここから完了画面-->
  <div id="fix">
    <div class="d-flex bg-light p-1 mx-2">■メンテプロパック　受付申込完了</div>
    <hr class="p-0 mt-0 border-dark mx-2">

    <div class="d-flex mb-3 justify-content-start px-4">
      <div class="col-12">
        <div class="d-flex flex-nowrap mb-1">
          <span class="col-12">申込を受付しました。</span>
        </div>
      </div>
    </div>

    <div class="d-flex mb-5 justify-content-center px-4">
      <!-- 左列 -->
      <div class="col-6">
        <div class="d-flex flex-nowrap mb-1 pl-0">
          <span class="col-12">【お申込み内容】</span>
        </div>
        <div class="d-flex flex-nowrap mb-1">
          <span class="col-4">会員証No</span>
          <span id="cert_no">：</span>
        </div>
        <div class="d-flex flex-nowrap mb-1">
          <span class="col-4">氏名漢字</span>
          <span>：尾凪　花子</span>
        </div>
        <div class="d-flex flex-nowrap mb-1">
          <span class="col-4">車名</span>
          <span>：ｽｶｲﾗｲﾝ</span>
        </div>
        <div class="d-flex flex-nowrap mb-1">
          <span class="col-4">注文書No</span>
          <span id="order_no2">：</span>
        </div>
        <div class="d-flex flex-nowrap mb-1">
          <span class="col-4">　</span>
        </div>
        <div class="d-flex flex-nowrap mb-1">
          <span class="col-4">ｻｰﾋﾞｽ商品</span>
          <span>：メンテプロパック（乗用）</span>
        </div>
        <div class="d-flex flex-nowrap mb-1">
          <span class="col-4">入会ｺｰｽ</span>
          <span id="course2">：メンテプロパック18車検付きベーシック</span>
        </div>

      </div>

      <!-- 右列 -->
      <div class="col-6">
        <div class="d-flex flex-nowrap mb-1">
          <span class="col-4">　</span>
        </div>
        <div class="d-flex flex-nowrap mb-1">
          <span class="col-4">販売会社</span>
          <span>：13300</span>
        </div>
        <div class="d-flex flex-nowrap mb-1">
          <span class="col-4">申込店舗</span>
          <span>：1E0</span>
        </div>
        <div class="d-flex flex-nowrap mb-1">
          <span class="col-4">申込担当者ｺｰﾄﾞ</span>
          <span>：001234</span>
        </div>
        <div class="d-flex flex-nowrap mb-1">
          <span class="col-4">申込担当者名</span>
          <span>：大磯　太郎</span>
        </div>
        <div class="d-flex flex-nowrap mb-1">
          <span class="col-4">　</span>
        </div>
        <div class="d-flex flex-nowrap mb-1">
          <span class="col-4 ">お支払額</span>
          <span id="price2">：85,690円</span>
          <span class="text-primary small d-flex align-items-end">(消費税込み)</span>
        </div>
        <div class="d-flex flex-nowrap mb-1">
          <span class="col-4 ">支払手段</span>
          <span>：日産ｶｰﾄﾞ</span>
        </div>

      </div>

    </div>

    <div class="d-flex mb-3 justify-content-center px-4">
    <div class="d-flex">
      <div class="col-12">
        <div class="d-flex flex-nowrap mb-1">
          <span class="col-12">【お読みください】</span>
        </div>
        <div class="d-flex flex-nowrap mb-1">
          <span class="col-12">1.　この段階ではまだ正式な申込みには至っていません。</span>
        </div>
        <div class="d-flex flex-nowrap mb-1">
          <span class="col-12">2.　このあとに「申込書の印刷」「会員証の印刷」があります。</span>
        </div>
        <div class="d-flex flex-nowrap mb-1">
          <span class="col-12">3.　本日から6ヶ月以内に「会員証発行」がされないと、本申込は自動的にキャンセルとなります。
            その際は再度お申込をいただくことになります。</span>
        </div>
        <div class="d-flex flex-nowrap mb-1">
          <span class="col-12">　</span>
        </div>
        <div class="d-flex flex-nowrap mb-1">
          <span class="col-12">ご不明な点につきましては、NFSメンテプロパックデスクまでお問い合わせください。</span>
        </div>
        <div class="d-flex flex-nowrap mb-1">
          <span class="col-12">電話　0120-948-348</span>
        </div>

      </div>
    </div>
  </div>


    <div class="d-flex flex-row justify-content-center">
        {% comment %} <a href="#" class="btn btn-inverse-dark m-2" id="send2">送信</a> {% endcomment %}
        <button class="btn btn-inverse-dark m-2" type="submit" id="send2">送信</button>
    </div>

  </div>
      
</div>

</form>


<!-- ページ表示時のおすすめ警告モーダル作る-->
<div class="modal fade" id="Modal1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Webページからのメッセージ</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        その他おすすめ商品が存在します。<br>
        おすすめ商品は「受付申込確認画面」の下段に「おすすめ商品」ボタンが表示されますのでご確認ください。
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" data-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>

<!-- おすすめ商品ボタンのモーダル作る-->
<div class="modal fade" id="Modal2" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Webページからのメッセージ</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        【おすすめ商品】<br>
        ・メンテプロパック長得18車検付きベーシック
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" data-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>




  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.3/moment.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.3/locale/ja.js"></script>

  <script>
    $(function() {
      $('#fix').hide();//最初は非表示
    });

    //送信ボタン→確認画面から完了画面に変更
    $("#send1").click(function () {
      $('#confirm').hide();
      $('#fix').show();
    });

  </script>