{% comment %} <div class="container-fluid"> {% endcomment %}

  <div class="bg-white" style="height: 600px;">

    <div class="p-0 mb-2">
      <div class="col-12 bg-light p-0 mb-0">
        <div class="d-flex flex-row navbar">
          <a href="#" class="text-dark text-decoration-none small pr-2 border border-dark border-left-0 border-top-0 border-bottom-0">販売店メニューに戻る</a>
          <a href="#" class="text-dark text-decoration-none small">メニュー</a>
          {% comment %} <a href="#" class="text-dark text-decoration-none small">MP申込R</a>
          <a href="#" class="text-dark text-decoration-none small">ZESP申込R</a>
          <a href="#" class="text-dark text-decoration-none small">車両R</a> {% endcomment %}
          <a href="#" class="text-dark text-decoration-none small">お客様L</a>
          <a href="#" class="text-dark text-decoration-none small">仮申込L</a>
          <a href="#" class="text-dark text-decoration-none small">期限切L</a>
          <a href="#" class="text-dark text-decoration-none small">申込書未送L</a>
        </div>
      </div>
    </div>
    
    <div class="d-flex bg-light p-1 mx-2">■連携業務メニュー</div>
    <hr class="p-0 mt-0 border-dark mx-2">
  
      {% comment %} <div class="d-flex mx-2"> {% endcomment %}

        <div class="row">
          <div class="col-lg-12 p-2 pt-5">
              <div class="d-flex flex-row justify-content-center">
                <a href="#" class="btn btn-outline-dark m-2 col-3" id="#">お客様一覧検索</a>
              </div>
              <div class="d-flex flex-row justify-content-center">
                <a href="#" class="btn btn-outline-dark m-2 col-3" id="#">仮申込ステータス一覧</a>
              </div>
              <div class="d-flex flex-row justify-content-center">
                <a href="#" class="btn btn-outline-dark m-2 col-3" id="#">期限切れ警告一覧</a>
              </div>
              <div class="d-flex flex-row justify-content-center">
                <a href="#" class="btn btn-outline-dark m-2 col-3" id="#">申込書未送付一覧</a>
              </div>
          </div>
        </div>

      {% comment %} </div> {% endcomment %}
  </div>
  {% comment %} </div> {% endcomment %}



  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.3/moment.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.3/locale/ja.js"></script>

  <script>
    $(function() {
      $('#confirm').hide();//最初は非表示
    });

    $("#test1").click(function () {
      $('form').hide();
      $('#confirm').show();
    });

    $("#test2").click(function () {
      $('form').show();
      $('#confirm').hide();      
    });
  </script>