{% comment %} <div class="container-fluid"> {% endcomment %}

  <div class="bg-white" style="height: 1000px;">

  <div class="p-0 mb-2">
    <div class="col-12 bg-light p-0 mb-0">
      <div class="d-flex flex-row navbar">
        <a href="#" class="text-dark text-decoration-none small pr-2 border border-dark border-left-0 border-top-0 border-bottom-0">販売店メニューに戻る</a>
      </div>
    </div>
  </div>


    <div class="d-flex bg-light p-1 mx-2">■メンテプロパック　受付申込確認</div>
    <hr class="p-0 mt-0 border-dark mx-2">

    <div class="d-flex mx-2 mb-5 justify-content-center">

      <!-- 左列 -->
      <div class="col-5">
        <div class="d-flex flex-nowrap mb-1">
          <span class="col-6">販売会社</span>
          <span class="">：10330</span>
        </div>
        <div class="d-flex flex-nowrap mb-1">
          <span class="col-6">申込店舗</span>
          <span class="">：1E0</span>
        </div>
        <div class="d-flex flex-nowrap mb-1">
          <span class="col-6">申込担当者ｺｰﾄﾞ</span>
          <span class="">：001234</span>
        </div>
        <div class="d-flex flex-nowrap mb-1">
          <span class="col-6">申込担当者名</span>
          <span class="">：大磯　太郎</span>
        </div>
        <div class="d-flex flex-nowrap mb-1">
          <span class="mb-1">　</span>
        </div>
        <div class="d-flex flex-nowrap mb-1">
          <span class="mb-1">　</span>
        </div>
        <div class="d-flex flex-nowrap mb-1">
          <span class="mb-1">　</span>
        </div>
        <div class="d-flex flex-nowrap mb-1">
          <span class="col-6">氏名ｶﾅ</span>
          <span class="">：ｵﾅｷﾞ ﾊﾅｺ</span>
        </div>
        <div class="d-flex flex-nowrap mb-1">
          <span class="col-6">氏名漢字</span>
          <span class="">：尾凪　花子</span>
        </div>
        <div class="d-flex flex-nowrap mb-1">
          <span class="col-6">生年月日</span>
          <span class="">：</span>
        </div>
        <div class="d-flex flex-nowrap mb-1">
          <span class="col-6">性別</span>
          <span class="">：女</span>
        </div>
        <div class="d-flex flex-nowrap mb-1">
          <span class="col-6">郵便番号</span>
          <span class="">：171-0014</span>
        </div>
        <div class="d-flex flex-nowrap mb-1">
          <span class="col-6">住所ｶﾅ</span>
          <span class="">：</span>
        </div>
        <div class="d-flex flex-nowrap mb-1">
          <span class="col-6">住所漢字</span>
          <span class="">：豊島区池袋9-8-7</span>
        </div>
        <div class="d-flex flex-nowrap mb-1">
          <span class="col-6">電話番号</span>
          <span class="">：</span>
        </div>
        <div class="d-flex flex-nowrap mb-1">
          <span class="col-6">eﾒｰﾙｱﾄﾞﾚｽ</span>
          <span class="">：</span>
        </div>

      </div>

      <!-- 右列 -->
      <div class="col-5">
        <div class="d-flex flex-nowrap mb-1">
          <span class="col-6">注文書No</span>
          <span class="">：N1234A000</span>
        </div>
        <div class="d-flex flex-nowrap mb-1">
          <span class="col-6">車台型式</span>
          <span class="">：</span>
        </div>
        <div class="d-flex flex-nowrap mb-1">
          <span class="col-6">型式</span>
          <span class="">：RV37</span>
        </div>
        <div class="d-flex flex-nowrap mb-1">
          <span class="col-6">基本</span>
          <span class="">：</span>
        </div>
        <div class="d-flex flex-nowrap mb-1">
          <span class="col-6">ﾒｰｶｰ区分</span>
          <span class="">：日産車</span>
        </div>
        <div class="d-flex flex-nowrap mb-1">
          <span class="col-6">車名/車種ｸﾗｽ</span>
          <span class="">：ｽｶｲﾗｲﾝ</span>
        </div>
        <div class="d-flex flex-nowrap mb-1">
          <span class="col-6">登録番号</span>
          <span class="">：</span>
        </div>
        <div class="d-flex flex-nowrap mb-1">
          <span class="col-6">車台番号</span>
          <span class="">：RV37130855</span>
        </div>
        <div class="d-flex flex-nowrap mb-1">
          <span class="col-6">新中サ区分</span>
          <span class="">：</span>
        </div>
        <div class="d-flex flex-nowrap mb-1">
          <span class="col-6">初度登録年月</span>
          <span class="">：</span>
        </div>
        <div class="d-flex flex-nowrap mb-1">
          <span class="col-6">車検満了年月日</span>
          <span class="">：</span>
        </div>
        <div class="d-flex flex-nowrap mb-1">
          <span class="mb-1">　</span>
        </div>
        <div class="d-flex flex-nowrap mb-1">
          <span class="col-6">ｻｰﾋﾞｽ商品</span>
          <span class="">：</span>
        </div>
        <div class="d-flex flex-nowrap mb-1">
          <span class="col-6">入会ｺｰｽ</span>
          <span class="">：</span>
        </div>
        <div class="d-flex flex-nowrap mb-1">
          <span class="col-6 ">お支払額</span>
          <span class="">：156,920円</span>
          <span class="text-primary small d-flex align-items-end">(消費税込み)</span>
        </div>
        <div class="d-flex flex-nowrap mb-1">
          <span class="col-6 ">支払手段</span>
          <span class="">：日産ｶｰﾄﾞ</span>
        </div>  

      </div>

    </div>
      
    <div>

        <span class="text-primary small d-flex justify-content-center mt-2">
          ※送信で次の画面へ、戻るで前の画面へ、中断でProfit画面に戻ります。
        </span>
        <span class="text-primary small d-flex justify-content-center">
          ※この画面移行は修正できません。修正される場合は一旦キャンセルを行い、再度申込受付登録を行ってください。（登録番号は除く）
        </span>

        <div class="row justify-content-center">
          <div class="d-flex flex-row ">
            <a href="#" class="btn btn-inverse-dark m-2" id="send">送信</a>
            <button type="button" class="btn btn-inverse-dark m-2" id="test2">戻る</button>
            <a href="#" class="btn btn-inverse-dark m-2" id="back2">中断</a>
          </div>
        </div>

    </div>
  </div>
{% comment %} </div> {% endcomment %}


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.3/moment.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.3/locale/ja.js"></script>

  <script>
    $(function() {
      $('#confirm').hide();//最初は非表示
    });

  </script>

<!-- サービス商品と入会コースのプルダウン連動-->
<script>
  var $city = $('select[id="city"]');
  $('select[id="prefecture"]').change(function() {
    var val1 = $(this).val();  
    $city.find('option').each(function() {
      var val2 = $(this).data('val');
      if (val1 === val2) {
        $(this).show();
      }else {
        $(this).hide();
      }
    })
  })
</script>