{% comment %} <div class="container-fluid"> {% endcomment %}

  <div class="bg-white" style="height: 600px;">

  <div class="p-0 mb-2">
    <div class="col-12 bg-light p-0 mb-0">
      <div class="d-flex flex-row navbar">
        <a href="#" class="text-dark text-decoration-none small pr-2 border border-dark border-left-0 border-top-0 border-bottom-0">販売店メニューに戻る</a>
        <a href="#" class="text-dark text-decoration-none small">メニュー</a>
        {% comment %} <a href="#" class="text-dark text-decoration-none small">MP申込R</a>
        <a href="#" class="text-dark text-decoration-none small">ZESP申込R</a>
        <a href="#" class="text-dark text-decoration-none small">車両R</a> {% endcomment %}
        <a href="#" class="text-dark text-decoration-none small">お客様L</a>
        <a href="#" class="text-dark text-decoration-none small">仮申込L</a>
        <a href="#" class="text-dark text-decoration-none small">期限切L</a>
        <a href="#" class="text-dark text-decoration-none small">申込書未送L</a>
      </div>
    </div>
  </div>


    <div class="d-flex bg-light p-1 mx-2">■お客様一覧検索</div>
    <hr class="p-0 mt-0 border-dark mx-2">

    <div class="d-flex mx-2">

      <div class="col-5 pl-0">
        <div class="d-flex flex-nowrap">
          <span class="col-3 px-0">会員証No</span>
          <input class="col-6 px-0" id="#">
        </div>
        <div class="d-flex flex-nowrap">
          <span class="col-3 px-0">氏名ｶﾅ</span>
          <input class="col-6 px-0" id="#">
        </div>
        <div class="d-flex flex-nowrap">
          <span class="col-3 px-0">販売会社</span>
          <input class="col-3 px-0" id="#">
          <span class="col-3 px-0">郵便番号</span>
          <input class="col-3 " id="#">
        </div>
      </div>

      <div class="col-5 pl-0">
        <div class="d-flex">
          <div class="col-5 px-0">メンテナンスNo</div>
          <input class="col-5 px-0" id="#">
        </div>
        <div class="d-flex flex-nowrap">
          <div class="col-5 px-0">氏名漢字</div>
          <input class="col-5 px-0" id="#">
        </div>
        <div class="d-flex flex-nowrap">
          <span class="col-3 px-0">電話番号</span>
          <input class="col-2 px-0" id="#">
          <span class="col-5 px-0">登録番号(下4桁)</span>
          <input class="col-2 px-0" id="#">
          
        </div>
      </div>

      <div class="col-1 px-0">
        <div class="d-flex flex-nowrap">
          <div class="col px-0">　</div>
        </div>
        <div class="d-flex flex-nowrap">
          <div class="col px-0">　</div>
        </div>
        <div class="d-flex flex-nowrap">
          <a href="#" class=" btn btn-inverse-dark btn-sm py-1 mr-auto">検索</a>
        </div>
      </div>
        
    </div>
  </div>
{% comment %} </div> {% endcomment %}


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.3/moment.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.3/locale/ja.js"></script>

  <script>
    $(function() {
      $('#confirm').hide();//最初は非表示
    });

    $("#test1").click(function () {
      $('form').hide();
      $('#confirm').show();
    });

    $("#test2").click(function () {
      $('form').show();
      $('#confirm').hide();      
    });
  </script>