{% block extra_head %}
<style>
  .popover{
      max-width:600px;
  }
</style>
{% endblock %}

  <div class="bg-white" style="height: 600px;">

  <div class="p-0 mb-2">
    <div class="col-12 bg-light p-0 mb-0">
      <div class="d-flex flex-row navbar">
        <a href="#" class="text-dark text-decoration-none small pr-2 border border-dark border-left-0 border-top-0 border-bottom-0">販売店メニューに戻る</a>
        <a href="#" class="text-dark text-decoration-none small" id="nfs_menu">メニュー</a>
        <a href="#" class="text-dark text-decoration-none small">お客様L</a>
        <a href="#" class="text-dark text-decoration-none small">仮申込L</a>
        <a href="#" class="text-dark text-decoration-none small">期限切L</a>
        <a href="#" class="text-dark text-decoration-none small">申込書未送L</a>
      </div>
    </div>
  </div>


    <div class="d-flex bg-light p-1 mx-2">■お客様一覧検索
      <button type="button" class="btn btn-info btn-rounded p-1 ml-1" data-container="body" data-toggle="popover" data-html="true" data-placement="right"
      data-content="未作成：会員証No検索のみ動作します">vcc
      </button>
    </div>
    <hr class="p-0 mt-0 border-dark mx-2">

    <form class="" action='#' method='get' id="view1">
      <input type="hidden" name="route" id="route" value="{{route}}">
      <input type="hidden" name="cert_no" id="hidden_no" value="{{cert_no}}">

    <div class="d-flex mx-2">

      <div class="col-5 pl-0">
        <div class="d-flex flex-nowrap">
          <span class="col-3 pl-1 pr-0 mb-1">会員証No</span>
          {% comment %} <input class="col-6 px-0 mb-1" id="#"> {% endcomment %}
          {{ searchForm.keyword }}
        </div>
        <div class="d-flex flex-nowrap">
          <span class="col-3 pl-1 pr-0 mb-1">氏名ｶﾅ</span>
          <input class="col-6 px-0 mb-1" id="#">
        </div>
        <div class="d-flex flex-nowrap">
          <span class="col-3 pl-1 pr-0 mb-1">販売会社</span>
          <input class="col-3 px-0 mb-1" id="#">
          <span class="col-3 pl-1 pr-0 mb-1">郵便番号</span>
          <input class="col-3 mb-1" id="#">
        </div>
      </div>

      <div class="col-6 pl-0">
        <div class="d-flex">
          <div class="col-3 pl-1 pr-0 mb-1">ﾒﾝﾃﾅﾝｽNo</div>
          <input class="col-6 px-0 mb-1" id="#">
        </div>
        <div class="d-flex flex-nowrap">
          <div class="col-3 pl-1 pr-0 mb-1">氏名漢字</div>
          <input class="col-6 px-0 mb-1" id="#">
        </div>
        <div class="d-flex flex-nowrap">
          <span class="col-3 pl-1 pr-0 mb-1">電話番号</span>
          <input class="col-3 px-2 mb-1" id="#">
          <span class="col-4 pl-1 pr-0 mb-1">登録番号(下4桁)</span>
          <input class="col-2 px-2 mb-1" id="#">
          
        </div>
      </div>

      <div class="col-1 px-0">
        <div class="d-flex flex-nowrap">
          <div class="col px-0 mb-1">　</div>
        </div>
        <div class="d-flex flex-nowrap">
          <div class="col px-0 mb-1">　</div>
        </div>
        <div class="d-flex flex-nowrap">
          <a href="#" class=" btn btn-inverse-dark btn-sm py-1 mr-auto mb-1" id="search1">検索</a>
        </div>
      </div>
        
    </div>

    <!-- テーブル -->
    <div class="d-flex mx-4 my-3 justify-content-center">
      <table class="table table-bordered" id="result1">
        <thead class="thead-light">
          <tr>
            <th class="p-1 align-middle text-center" width="4%"><span class="small font-weight-bold">No</span></th>
            <th class="p-1 align-middle text-center" width="7%"><span class="small font-weight-bold">販社<br>コード</span></th>
            <th class="p-1 align-middle text-center" width="6%"><span class="small font-weight-bold">店舗</span></th>
            <th class="p-1 align-middle text-center" width="10%"><span class="small font-weight-bold">会員証No</span></th>
            <th class="p-1 align-middle text-center" width="12%"><span class="small font-weight-bold">お客様名</span></th>
            <th class="p-1 align-middle text-center" width="12%"><span class="small font-weight-bold">車名</span></th>
            <th class="p-1 align-middle text-center" width="15%"><span class="small font-weight-bold">登録番号</span></th>
            <th class="p-1 align-middle text-center" width="10%"><span class="small font-weight-bold">商品名</span></th>
            <th class="p-1 align-middle text-center" width="13%"><span class="small font-weight-bold">会員状況</span></th>
            <th class="p-1 align-middle text-center" width="11%"><span class="small font-weight-bold">　</span></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="p-1"><span class="">1</span></td>
            <td class="p-1"><span class="">13300</span></td>
            <td class="p-1"><span class="">1E0</span></td>
            <td class="p-1"><span class="" id="cert_no"></span></td>
            <td class="p-1"><span class="">尾凪　花子</span></td>
            <td class="p-1"><span class="">ｽｶｲﾗｲﾝ</span></td>
            <td class="p-1"><span class="" id="plate_no">練馬 300 ｻ 9999</span></td>
            <td class="p-1"><span class="" id="course">18車B</span></td>
            <td class="p-1"><span class="" id="status">申込書未発行</span></td>
            {% comment %} <td class="p-1"><span class=""><a href="#" class=" btn btn-inverse-dark btn py-1 mb-1" id="view1">照会</a></td> {% endcomment %}
            <td class="p-1"><span class=""><button class="btn btn-inverse-dark btn py-1 mb-1" type="submit">照会</button></td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- 結果なしメッセージ -->
    <div class="d-flex mx-4 my-3 justify-content-center">
      <span class="text-primary small" id="result2">指定した〜</span>
    </div>

  </div>
  
  </form>

  

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.3/moment.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.3/locale/ja.js"></script>

  <script>
    $(function() {
      $('[data-toggle="popover"]').popover()
      $('#result1').hide();//最初は非表示
      $('#result2').hide();
    });

    $("#search1").click(function () {

      $('#result1').hide();
      $('#result2').hide();

      //hidden.valに会員証番号を入れておく→submitしたらvaildのccontextに入れて07へ遷移にする
      var cert_no = $('#id_keyword').val();
      $('#hidden_no').val(cert_no);
      $('#cert_no').text(cert_no);

      //会員証番号→ステータス入れる
      if (cert_no >= 410987006 && cert_no <= 410987010) {
        $('#status').text("申込書未発行");
      } else if (cert_no >= 410987011 && cert_no <= 410987014) {
        $('#status').text("車両情報未登録");
      } else if (cert_no >= 410987015 && cert_no <= 410987017) {
        $('#status').text("会員証未発行");
      } else if (cert_no >= 410987018 && cert_no <= 410987020) {
        $('#status').text("本登録");
      } else {
        $('#result2').show();
        return;//以外のNoなら抜ける
      }

      //表示
      $('#result1').show();

      //登録番号は9999にしておいて、車両情報未登録＆車両なしは消す。サービス3つは書き換える
      if ( $('#status').text() == "車両情報未登録") {
        $('#plate_no').text("");
      } else if (cert_no == 410987006 || cert_no == 410987008) {
        $('#plate_no').text("");
      } else if (cert_no == 410987010) {
        $('#plate_no').text("練馬 300 ｻ 0015");
      } else if (cert_no == 410987017) {
        $('#plate_no').text("練馬 300 ｻ 0016");
      } else if (cert_no == 410987020) {
        $('#plate_no').text("練馬 300 ｻ 0017");
      }

      //コースは18にしておいて、新車だけ54に変える
      if ( cert_no == 410987001 ||
          cert_no == 410987002 ||
          cert_no == 410987006 ||
          cert_no == 410987007 ||
          cert_no == 410987011 ||
          cert_no == 410987012 ||
          cert_no == 410987015 ||
          cert_no == 410987018) {
        $('#course').text("54車付B");
      }
      
    });
  </script>

