<input type="hidden" name="route" id="route" value="{{route}}">
<input type="hidden" name="cert_no" id="hidden_no" value="{{cert_no}}">
<input type="hidden" name="cancel_flag" id="cancel_flag" value="{{cancel_flag}}">

{% comment %} <div class="bg-white" style="height: 1260px;"> {% endcomment %}
<div class="card bg-white pb-3 h-100">

    <!-- 2はtopbarメニューあり -->
    <div class="p-0 mb-2">
      <div class="col-12 bg-light p-0 mb-0">
        <div class="d-flex flex-row navbar">
          {% if route == 'entry' or route == 'cert' %}
          <a href="#" class="text-dark text-decoration-none small pr-2 border border-dark border-left-0 border-top-0 border-bottom-0">販売店メニューに戻る</a>
          {% else %}
          <a href="#" class="text-dark text-decoration-none small pr-2 border border-dark border-left-0 border-top-0 border-bottom-0">販売店メニューに戻る</a>
          <a href="#" class="text-dark text-decoration-none small" id="nfs_menu">メニュー</a>
          <a href="#" class="text-dark text-decoration-none small">お客様L</a>
          <a href="#" class="text-dark text-decoration-none small">仮申込L</a>
          <a href="#" class="text-dark text-decoration-none small">期限切L</a>
          <a href="#" class="text-dark text-decoration-none small">申込書未送L</a>
          {% endif %}
        </div>
      </div>
    </div>

    <div class="d-flex bg-light p-1 mx-2">■メンテプロパック　会員情報画面</div>
    <hr class="p-0 mt-0 border-dark mx-2">

    <div class="d-flex mx-2 mb-3 justify-content-center">
      <!-- 左列 -->
      <div class="col-6 pl-0">
        <div class="d-flex flex-nowrap mb-1 justify-content-end">
          <span class="col-4 d-flex justify-content-end">会員証No</span>
          <input value="{{cert_no}}" class="col-4 bg-light form-control py-0 px-1 text-dark" id="cert_no" >
        </div>
        <div class="d-flex flex-nowrap mb-1">
          <span class="">　</span>
        </div>
        <div class="d-flex flex-nowrap mb-1">
          <span class="col-4">販売会社</span>
          <input value="13300" class="col-2 bg-light form-control py-0 px-1 text-dark" id="company_code">
          <input value="日産プリンスMarsh株式会社" class="col-6 bg-light form-control py-0 px-1 text-dark" id="company_name">
        </div>
        <div class="d-flex flex-nowrap mb-1">
          <span class="col-4">販売店舗</span>
          <input value="1E0" class="col-2 bg-light form-control py-0 px-1 text-dark" id="shop_code">
          <input value="ミッドタウン店" class="col-6 bg-light form-control py-0 px-1 text-dark" id="shop_name">
        </div>
        <div class="d-flex flex-nowrap mb-1">
          <span class="col-4">担当者</span>
          <input value="001234" class="col-2 bg-light form-control py-0 px-1 text-dark" id="tantou_code">
          <input value="大磯　太郎" class="col-6 bg-light form-control py-0 px-1 text-dark" id="tantou_name">
        </div>
        <div class="d-flex flex-nowrap mb-1">
          <span class="">　</span>
        </div>
        <div class="d-flex flex-nowrap mb-1">
          <span class="">　</span>
        </div>
        <div class="d-flex flex-nowrap mb-1">
          <span class="col-4">氏名ｶﾅ</span>
          <input value="ｵﾅｷﾞ ﾊﾅｺ" class="col-8 bg-light form-control py-0 px-1 text-dark" id="customer_kana">
        </div>
        <div class="d-flex flex-nowrap mb-1">
          <span class="col-4">氏名漢字</span>
          <input value="尾凪　花子" class="col-8 bg-light form-control py-0 px-1 text-dark" id="customer_kanji">
        </div>
        <div class="d-flex flex-nowrap mb-1">
          <span class="col-4">郵便番号</span>
          <input value="171" class="col-2 bg-light form-control py-0 px-1 text-dark" id="post_code1">
          <span class="">−</span>
          <input value="0014" class="col-2 bg-light form-control py-0 px-1 text-dark" id="post_code2">
        </div>
        <div class="d-flex flex-nowrap mb-1">
          <span class="col-4">住所ｶﾅ</span>
          <input value="" class="col-12 bg-light form-control py-0 px-1 text-dark" id="address_kana">
        </div>
        <div class="d-flex flex-nowrap mb-1">
          <span class="col-4">住所</span>
          <input value="豊島区池袋9-8-7" class="col-12 bg-light form-control py-0 px-1 text-dark" id="address_kanji">
        </div>
        <div class="d-flex flex-nowrap mb-1">
          <span class="col-4">注文書No</span>
          <input value="" class="col-4 bg-light form-control py-0 px-1 text-dark" id="order_no">
        </div>
        <div class="d-flex flex-nowrap mb-1">
          <span class="">　</span>
        </div>
        <div class="d-flex flex-nowrap mb-1">
          <span class="col-4">車名/車種ｸﾗｽ</span>
          <input value="ｽｶｲﾗｲﾝ" class="col-3 bg-light form-control py-0 px-1 text-dark" id="car_name">
          <input value="15" class="col-1 bg-light form-control py-0 px-1 text-dark" id="car_code">
          <input value="乗用車LL" class="col-4 bg-light form-control py-0 px-1 text-dark" id="car_class">
        </div>
        <div class="d-flex flex-nowrap mb-1">
          <span class="col-4">登録番号</span>
          <input value="" class="col-2 bg-light form-control py-0 px-1 text-dark" id="plate_no1">
          <input value="" class="col-2 bg-light form-control py-0 px-1 text-dark" id="plate_no2">
          <input value="" class="col-1 bg-light form-control py-0 px-1 text-dark" id="plate_no3">
          <input value="" class="col-3 bg-light form-control py-0 px-1 text-dark" id="plate_no4">
        </div>
        <div class="d-flex flex-nowrap mb-1">
          <span class="col-4">初度登録年月</span>
          <input value="" class="col-2 bg-light form-control py-0 px-1 text-dark" id="register_year"><span class="small d-flex align-items-end mr-1">年</span>
          <input value="" class="col-1 bg-light form-control py-0 px-1 text-dark" id="register_month"><span class="small d-flex align-items-end mr-1">月</span>
        </div>
        <div class="d-flex flex-nowrap mb-1">
          <span class="">　</span>
        </div>

        <div class="d-flex flex-nowrap mb-1">
          <span class="col-4">ｻｰﾋﾞｽ商品</span>
          <input value="メンテプロパック（乗用）" class="col-8 bg-light form-control py-0 px-1 text-dark" id="product">
        </div>
        <div class="d-flex flex-nowrap mb-1">
          <span class="col-4">入会ｺｰｽ</span>
          <input value="メンテプロパック18車検付きベーシック" class="col-8 bg-light form-control py-0 px-1 text-dark" id="course">
        </div>
        <div class="d-flex flex-nowrap mb-1">
          <span class="">　</span>
        </div>
        <div class="d-flex flex-nowrap mb-1">
          <span class="col-4">申込登録年月日</span>
          <input value="" class="col-2 bg-light form-control py-0 px-1 text-dark" id="entry_year"><span class="small d-flex align-items-end mr-1">年</span>
          <input value="" class="col-1 bg-light form-control py-0 px-1 text-dark" id="entry_month"><span class="small d-flex align-items-end mr-1">月</span>
          <input value="" class="col-1 bg-light form-control py-0 px-1 text-dark" id="entry_day"><span class="small d-flex align-items-end mr-1">日</span>
        </div>
        <div class="d-flex flex-nowrap mb-1">
          <span class="col-4">申込送金年月日</span>
          <input value="" class="col-2 bg-light form-control py-0 px-1 text-dark" id="entry_send_year"><span class="small d-flex align-items-end mr-1">年</span>
          <input value="" class="col-1 bg-light form-control py-0 px-1 text-dark" id="entry_send_month"><span class="small d-flex align-items-end mr-1">月</span>
          <input value="" class="col-1 bg-light form-control py-0 px-1 text-dark" id="entry_send_day"><span class="small d-flex align-items-end mr-1">日</span>
        </div>
        <div class="d-flex flex-nowrap mb-1">
          <span class="col-4">NFS到着確認日</span>
          <input value="" class="col-2 bg-light form-control py-0 px-1 text-dark" id="arrive_year"><span class="small d-flex align-items-end mr-1">年</span>
          <input value="" class="col-1 bg-light form-control py-0 px-1 text-dark" id="arrive_month"><span class="small d-flex align-items-end mr-1">月</span>
          <input value="" class="col-1 bg-light form-control py-0 px-1 text-dark" id="arrive_day"><span class="small d-flex align-items-end mr-1">日</span>
        </div>
        <div class="d-flex flex-nowrap mb-1">
          <span class="col-4">解約送金年月日</span>
          <input value="" class="col-2 bg-light form-control py-0 px-1 text-dark" id="cancel_send_year"><span class="small d-flex align-items-end mr-1">年</span>
          <input value="" class="col-1 bg-light form-control py-0 px-1 text-dark" id="cancel_send_month"><span class="small d-flex align-items-end mr-1">月</span>
          <input value="" class="col-1 bg-light form-control py-0 px-1 text-dark" id="cancel_send_day"><span class="small d-flex align-items-end mr-1">日</span>
        </div>
        <div class="d-flex flex-nowrap mb-1">
          <span class="col-4">退会年月日</span>
          <input value="" class="col-2 bg-light form-control py-0 px-1 text-dark" id="#"><span class="small d-flex align-items-end mr-1">年</span>
          <input value="" class="col-1 bg-light form-control py-0 px-1 text-dark" id="#"><span class="small d-flex align-items-end mr-1">月</span>
          <input value="" class="col-1 bg-light form-control py-0 px-1 text-dark" id="#"><span class="small d-flex align-items-end mr-1">日</span>
        </div>
        <div class="d-flex flex-nowrap mb-1">
          <span class="col-4">会員証発行回数</span>
          <input value="0" class="col-2 bg-light form-control py-0 px-1 text-dark" id="print_cnt"><span class="small d-flex align-items-end mr-1">回</span>
        </div>
        <div class="d-flex flex-nowrap mb-1">
          <span class="">　</span>
        </div>
        <div class="d-flex flex-nowrap mb-1">
          <span class="col-4">販売会社</span>
          <input value="13300" class="col-5 bg-light form-control py-0 px-1 text-dark" id="company_code2">
        </div>


      </div>
      <!-- 右列 -->
      <div class="col-6 pl-0">
        <div class="d-flex flex-nowrap mb-1">
          <span class="col-3">会員状況</span>
          <input value="" class="col-4 bg-light form-control py-0 px-1 text-dark" id="status">
        </div>
        <div class="d-flex flex-nowrap mb-1">
          <span class="">　</span>
        </div>
        <div class="d-flex flex-nowrap mb-1">
          <span class="col-4">ﾒﾝﾃ実施販社</span>
          <input value="13300" class="col-2 bg-light form-control py-0 px-1 text-dark" id="mente_company_code">
          <input value="日産プリンスMarsh株式会社" class="col-6 bg-light form-control py-0 px-1 text-dark" id="mente_company_name">
        </div>
        <div class="d-flex flex-nowrap mb-1">
          <span class="col-4">ﾒﾝﾃ実施店舗</span>
          <input value="1E0" class="col-2 bg-light form-control py-0 px-1 text-dark" id="mente_shop_code">
          <input value="ミッドタウン店" class="col-6 bg-light form-control py-0 px-1 text-dark" id="mente_shop_name">
        </div>
        <div class="d-flex flex-nowrap mb-1">
          <span class="col-4">担当者</span>
          <input value="001234" class="col-2 bg-light form-control py-0 px-1 text-dark" id="mente_tantou_code">
          <input value="大磯　太郎" class="col-6 bg-light form-control py-0 px-1 text-dark" id="mente_tantou_name">
        </div>
        <div class="d-flex flex-nowrap mb-1">
          <span class="col-4">利用許可販社</span>
          <input value="" class="col-2 bg-light form-control py-0 px-1 text-dark" id="another_code">
          <input value="" class="col-6 bg-light form-control py-0 px-1 text-dark" id="another_name">
        </div>
        <div class="d-flex flex-nowrap mb-1">
          <span class="">　</span>
        </div>
        <div class="d-flex flex-nowrap mb-1">
          <span class="col-4">生年月日/性別</span>
          <input value="2000" class="col-2 bg-light form-control py-0 px-1 text-dark" id="birthday_year"><span class="small d-flex align-items-end mr-1">年</span>
          <input value="04" class="col-1 bg-light form-control py-0 px-1 text-dark" id="birthday_month"><span class="small d-flex align-items-end mr-1">月</span>
          <input value="01" class="col-1 bg-light form-control py-0 px-1 text-dark" id="birthday_day"><span class="small d-flex align-items-end mr-1">日</span>
          <input value="女" class="col-1 bg-light form-control py-0 px-1 text-dark" id="gender">
        </div>
        <div class="d-flex flex-nowrap mb-1">
          <span class="col-4">電話番号</span>
          <input value="070-1239-1721" class="col-6 bg-light form-control py-0 px-1 text-dark" id="tel">
        </div>
        <div class="d-flex flex-nowrap mb-1">
          <span class="col-4">eﾒｰﾙｱﾄﾞﾚｽ</span>
          <input value="" class="col-6 bg-light form-control py-0 px-1 text-dark" id="mail">
        </div>
        <div class="d-flex flex-nowrap mb-1">
          <span class="">　</span>
        </div>
        <div class="d-flex flex-nowrap mb-1">
          <span class="">　</span>
        </div>
        <div class="d-flex flex-nowrap mb-1">
          <span class="">　</span>
        </div>
        <div class="d-flex flex-nowrap mb-1">
          <span class="">　</span>
        </div>
        <div class="d-flex flex-nowrap mb-1">
          <span class="col-4">車台番号/型式</span>
          <input value="RV37-130855" class="col-5 bg-light form-control py-0 px-1 text-dark" id="frame_no1">
          <input value="5BA-RV37" class="col-3 bg-light form-control py-0 px-1 text-dark" id="car_model">
        </div>
        <div class="d-flex flex-nowrap mb-1">
          <span class="col-4">ﾒｰｶｰ区分</span>
          <input value="日産車" class="col-5 bg-light form-control py-0 px-1 text-dark" id="maker">
        </div>
        <div class="d-flex flex-nowrap mb-1">
          <span class="col-4">車検満了年月日</span>
          <input value="" class="col-2 bg-light form-control py-0 px-1 text-dark" id="insp_year"><span class="small d-flex align-items-end mr-1">年</span>
          <input value="" class="col-1 bg-light form-control py-0 px-1 text-dark" id="insp_month"><span class="small d-flex align-items-end mr-1">月</span>
          <input value="" class="col-1 bg-light form-control py-0 px-1 text-dark" id="insp_day"><span class="small d-flex align-items-end mr-1">日</span>
        </div>
        <div class="d-flex flex-nowrap mb-1">
          <span class="">　</span>
        </div>
        
        <div class="d-flex flex-nowrap mb-1">
          <span class="col-4">お支払額</span>
          <input value="76,640" class="col-2 bg-light form-control py-0 px-1 text-dark" id="price">
          <span class="small d-flex align-items-end mr-1">円</span>
          <span class="text-primary small d-flex align-items-end">(消費税込み)</span>
        </div>
        <div class="d-flex flex-nowrap mb-1">
          <span class="col-4">支払手段</span>
          <input value="日産カード" class="col-3 bg-light form-control py-0 px-1 text-dark" id="payment">
        </div>
        <div class="d-flex flex-nowrap mb-1">
          <span class="">　</span>
        </div>
        <div class="d-flex flex-nowrap mb-1">
          <span class="col-4">申込印刷日</span>
          <input value="" class="col-2 bg-light form-control py-0 px-1 text-dark" id="entry_print_year"><span class="small d-flex align-items-end mr-1">年</span>
          <input value="" class="col-1 bg-light form-control py-0 px-1 text-dark" id="entry_print_month"><span class="small d-flex align-items-end mr-1">月</span>
          <input value="" class="col-1 bg-light form-control py-0 px-1 text-dark" id="entry_print_day"><span class="small d-flex align-items-end mr-1">日</span>
        </div>
        <div class="d-flex flex-nowrap mb-1">
          <span class="col-4">本登録日</span>
          <input value="" class="col-2 bg-light form-control py-0 px-1 text-dark" id="cert_year"><span class="small d-flex align-items-end mr-1">年</span>
          <input value="" class="col-1 bg-light form-control py-0 px-1 text-dark" id="cert_month"><span class="small d-flex align-items-end mr-1">月</span>
          <input value="" class="col-1 bg-light form-control py-0 px-1 text-dark" id="cert_day"><span class="small d-flex align-items-end mr-1">日</span>
        </div>
        <div class="d-flex flex-nowrap mb-1">
          <span class="col-4">会員証発行日</span>
          <input value="" class="col-2 bg-light form-control py-0 px-1 text-dark" id="cert_print_year"><span class="small d-flex align-items-end mr-1">年</span>
          <input value="" class="col-1 bg-light form-control py-0 px-1 text-dark" id="cert_print_month"><span class="small d-flex align-items-end mr-1">月</span>
          <input value="" class="col-1 bg-light form-control py-0 px-1 text-dark" id="cert_print_day"><span class="small d-flex align-items-end mr-1">日</span>
        </div>
        <div class="d-flex flex-nowrap mb-1">
          <span class="col-4">有効期限</span>
          <input value="" class="col-2 bg-light form-control py-0 px-1 text-dark" id="expire_year"><span class="small d-flex align-items-end mr-1">年</span>
          <input value="" class="col-1 bg-light form-control py-0 px-1 text-dark" id="expire_month"><span class="small d-flex align-items-end mr-1">月</span>
          <input value="" class="col-1 bg-light form-control py-0 px-1 text-dark" id="expire_day"><span class="small d-flex align-items-end mr-1">日</span>
        </div>
        <div class="d-flex flex-nowrap mb-1">
          <span class="col-4">申込書再発行</span>
          <input value="不許可" class="col-2 bg-light form-control py-0 px-1 text-dark" id="entry_reprint">
        </div>
        <div class="d-flex flex-nowrap mb-1">
          <span class="col-4">会員証再発行</span>
          <input value="不許可" class="col-2 bg-light form-control py-0 px-1 text-dark" id="cert_reprint">
        </div>
        <div class="d-flex flex-nowrap mb-1">
          <span class="">　</span>
        </div>
        <div class="d-flex flex-nowrap mb-1">
          <span class="col-4">お客様氏名漢字</span>
          <input value="尾凪　花子" class="col-5 bg-light form-control py-0 px-1 text-dark" id="customer_kanji2">
        </div>
        
      </div>
    </div>

    <!-- テーブル -->
    <div class="d-flex mx-2 mb-3 justify-content-center">
      <table class="table table-bordered">
        <thead class="thead-light">
          <tr>
            <th class="p-1 align-middle text-center" width="8%"><span class="small font-weight-bold">使用区分</span></th>
            <th class="p-1 align-middle text-center" width="13%"><span class="small font-weight-bold">請求次ｵｰﾀﾞｰNo</span></th>
            <th class="p-1 align-middle text-center" width="13%"><span class="small font-weight-bold">ﾒﾝﾃﾅﾝｽNo</span></th>
            <th class="p-1 align-middle text-center" width="5%"><span class="small font-weight-bold">利用</span></th>
            <th class="p-1 align-middle text-center" width="14%"><span class="small font-weight-bold">ﾒﾝﾃﾅﾝｽ内容</span></th>
            <th class="p-1 align-middle text-center" width="8%"><span class="small font-weight-bold">ﾒﾝﾃﾅﾝｽ<br>料金</span></th>
            <th class="p-1 align-middle text-center" width="8%"><span class="small font-weight-bold">入庫時<br>精算額<br>(税込)</span></th>
            <th class="p-1 align-middle text-center" width="9%"><span class="small font-weight-bold">利用日<br>(解約日)<br>(退会日)</span></th>
            <th class="p-1 align-middle text-center" width="9%"><span class="small font-weight-bold">送金日</span></th>
            <th class="p-1 align-middle text-center" width="8%"><span class="small font-weight-bold">利用販社</span></th>
            <th class="p-1 align-middle text-center" width="5%"><span class="small font-weight-bold">店舗</span></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="p-1"><span class="small">未使用</td>
            <td class="p-1"><span class="small"></td>
            <td class="p-1"><span class="small">410987654S11</td>
            <td class="p-1"><span class="small"></td>
            <td class="p-1"><span class="small">ｴﾝｼﾞﾝｵｲﾙ交換</td>
            <td class="p-1"><span class="small">0,000</td>
            <td class="p-1"><span class="small">0,000</td>
            <td class="p-1"><span class="small"></td>
            <td class="p-1"><span class="small"></td>
            <td class="p-1"><span class="small"></td>
            <td class="p-1"><span class="small"></td>
          </tr>
          <tr>
            <td class="p-1"><span class="small">未使用</td>
            <td class="p-1"><span class="small"></td>
            <td class="p-1"><span class="small">410987654S11</td>
            <td class="p-1"><span class="small"></td>
            <td class="p-1"><span class="small">ｴﾝｼﾞﾝｵｲﾙ交換</td>
            <td class="p-1"><span class="small">0,000</td>
            <td class="p-1"><span class="small">0,000</td>
            <td class="p-1"><span class="small"></td>
            <td class="p-1"><span class="small"></td>
            <td class="p-1"><span class="small"></td>
            <td class="p-1"><span class="small"></td>
          </tr>
          <tr>
            <td class="p-1"><span class="small">未使用</td>
            <td class="p-1"><span class="small"></td>
            <td class="p-1"><span class="small">410987654S11</td>
            <td class="p-1"><span class="small"></td>
            <td class="p-1"><span class="small">ｴﾝｼﾞﾝｵｲﾙ交換</td>
            <td class="p-1"><span class="small">0,000</td>
            <td class="p-1"><span class="small">0,000</td>
            <td class="p-1"><span class="small"></td>
            <td class="p-1"><span class="small"></td>
            <td class="p-1"><span class="small"></td>
            <td class="p-1"><span class="small"></td>
          </tr>

        </tbody>
      </table>
    </div>

        <div class="row justify-content-center">
          <div class="d-flex flex-row ">
            {% comment %} <button type="button" class="btn btn-inverse-dark m-2" data-toggle="modal" data-target="#exampleModalCenter" id="entry">申込書印刷</button> {% endcomment %}
            <button type="button" class="btn btn-inverse-dark m-2" id="entry">申込書印刷</button>
            <!-- リンクしない場合、aでなくbuttonにすると#でページ上部にスクロールせずに済む-->
            {% comment %} <a href="#" class="btn btn-inverse-dark m-2" id="cert">会員証印刷</a> {% endcomment %}
            <button type="button" class="btn btn-inverse-dark m-2" id="cert">会員証印刷</button>
            <button type="button" class="btn btn-inverse-dark m-2" id="cancel">申込キャンセル</button>
            <a href="#" class="btn btn-inverse-dark m-2" id="end">終了</a>
            <button type="button" class="btn btn-inverse-dark m-2" id="history">お客様履歴</button>
            <!-- 戻る・業務メニュー・お客様一覧検索-->
          </div>
        </div>

  </div>

  <!-- モーダル申込書 -->
<div class="modal fade" id="exampleModalCenter" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Webページからのメッセージ</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        申込書を印刷します。<br>
        よろしければ「OK」を押してください。
      </div>
      <div class="modal-footer">
        <!-- PDF開く＆モーダル閉じる -->
        <a href="/media/uploads/2022/07/16/moushikomisho.pdf" target="_blank" class="btn btn-outline-dark" id="modal_ok">OK</a>
        <button type="button" class="btn btn-outline-dark" data-dismiss="modal">キャンセル</button>
      </div>
    </div>
  </div>
</div>

<!-- モーダル会員証 -->
<div class="modal fade" id="Modal2" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Webページからのメッセージ</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        印刷してよろしいでしょうか？<br>
        印刷後は申込キャンセル出来ません、全て解約手続きとなります。<br>
        よろしければ「OK」を押してください。
      </div>
      <div class="modal-footer">
        <!-- PDF開く＆モーダル閉じる -->
        <a href="/media/uploads/2022/07/16/kaiinsho.pdf" target="_blank" class="btn btn-outline-dark" id="modal_ok2">OK</a>
        <button type="button" class="btn btn-outline-dark" data-dismiss="modal">キャンセル</button>
      </div>
    </div>
  </div>
</div>

<!-- モーダル申込キャンセル -->
<div class="modal fade" id="Modal3" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Webページからのメッセージ</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        申込キャンセルしてよろしいでしょうか？<br>
        よろしければ「OK」を押してください。
      </div>
      <div class="modal-footer">
        <!-- 処理＆モーダル閉じる -->
        <a href="#" class="btn btn-outline-dark" id="modal_ok3">OK</a>
        <button type="button" class="btn btn-outline-dark" data-dismiss="modal">キャンセル</button>
      </div>
    </div>
  </div>
</div>


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.3/moment.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.3/locale/ja.js"></script>

  <script>
    $(function() {

    });

  
  </script>

  <!-- お客様履歴：別ウインドウ-->
<script>
  let button1 = document.getElementById('history');
  button1.addEventListener('click', () => {
    let option = 'width=700,height=500,left=100,top=100'
      let newwin = open('{% url 'myprofit:history' %}','mywindow', option);
  });
</script>