<form class="" action='#' method='get' id="view1">
  <input type="hidden" name="route" id="route" value="{{route}}">
  <input type="hidden" name="cert_no" id="hidden_no" value="{{cert_no}}">
  <input type="hidden" name="cancel_flag" id="cancel_flag" value="{{cancel_flag}}">


  <div class="bg-white" style="height: 600px;">

    <div class="p-0 mb-2">
      <div class="col-12 bg-light p-0 mb-0">
        <div class="d-flex flex-row navbar">
          <a href="#" class="text-dark text-decoration-none small pr-2 border border-dark border-left-0 border-top-0 border-bottom-0">販売店メニューに戻る</a>
        </div>
      </div>
    </div>
    
    <div class="d-flex bg-light p-1 mx-2">■ログイン</div>
    <hr class="p-0 mt-0 border-dark mx-2">
  
      <div class="col-lg-12 p-2 bg-white pt-5">
        <div id="initial">
          <div class="d-flex flex-row align-items-center justify-content-center">
            <label class="col-4">販売会社コード</label>
            <input class="col-3" value="13300" disabled>
            <span class="col-3 text-primary">(5桁)</span>
          </div>
          <div class="d-flex flex-row align-items-center justify-content-center">
            <label class="col-4">店舗コード（操作担当者）</label>
            <input class="col-3" value="1E0">
            <span class="col-3 text-primary">(3桁)</span>
          </div>
          <div class="d-flex flex-row align-items-center justify-content-center">
            <label class="col-4">担当者コード（操作担当者）</label>
            <input class="col-3" value="001234">
            <span class="col-3 text-primary">(6桁)</span>
          </div>
          <div class="d-flex flex-row align-items-center justify-content-center">
            <label class="col-4">担当者名（操作担当者）</label>
            <input class="col-3" value="大磯　太郎">
            <span class="col-3 text-primary">(全角10文字)</span>
          </div>
          <div class="d-flex flex-row align-items-center justify-content-center">
            <label class="col-4">NFSログインパスワード</label>
            <input class="col-3" value="●●●●●●">
            <span class="col-3 text-primary">(半角6文字)</span>
          </div>
        
          <hr>
  
          <div class="row justify-content-center">
            <div class="d-flex flex-row ">
              {% comment %} <button type="button" class="btn btn-outline-dark m-2" data-toggle="modal" data-target="#exampleModalCenter" id="send">送信</button> {% endcomment %}
              <button type="button" class="btn btn-inverse-dark m-2" id="send1">送信</button>
              <button type="button" class="btn btn-inverse-dark m-2" id="clear">消去</button>
              <a href="#" class="btn btn-inverse-dark m-2" id="end1">中断</a>
            </div>
        </div>

        </div>

        <!-- ここから確認画面-->
        <div id="confirm">
          <div class="d-flex flex-row align-items-center justify-content-center">
            <span class="">いつもご利用いただきありがとうございます。</span>
          </div>
          <div class="d-flex flex-row align-items-center justify-content-center">
            <span class="">　</span>
          </div>
          <div class="d-flex flex-row align-items-center justify-content-center">
            <span class="col-4 mb-2">日産プリンスMarsh株式会社</span>
          </div>
          <div class="d-flex flex-row align-items-center justify-content-center">
            <span class="col-4 mb-2">ミッドタウン店</span>
          </div>
          <div class="d-flex flex-row align-items-center justify-content-center">
            <span class="col-4 mb-2">大磯　太郎　様</span>
          </div>

          <hr>
  
          <div class="row justify-content-center">
            <div class="d-flex flex-row ">
              {% comment %} <a href="#" class="btn btn-inverse-dark m-2" id="send2">送信</a> {% endcomment %}
              <button class="btn btn-inverse-dark m-2" type="submit" id="send2">送信</button>
              <button type="button" class="btn btn-inverse-dark m-2" id="modoru">戻る</button>
              <a href="#" class="btn btn-inverse-dark m-2" id="end2">中断</a>
            </div>
          </div>
        </div>      
      </div>
</form>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.3/moment.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.3/locale/ja.js"></script>

  <script>
    $(function() {
      $('#confirm').hide();//最初は非表示
    });

    $("#send1").click(function () {
      $('#initial').hide();
      $('#confirm').show();
    });

    $("#clear").click(function () {
      $('input').val(""); //inputすべて
    });

    $("#modoru").click(function () {
      $('#initial').show();
      $('#confirm').hide();      
    });
  </script>