{% comment %} <div class="container-fluid"> {% endcomment %}
<form class="" action='#' method='get' id="view1">
  <input type="hidden" name="route" id="route" value="{{route}}">
  <input type="hidden" name="cert_no" id="hidden_no" value="{{cert_no}}">
  <input type="hidden" name="cancel_flag" id="cancel_flag" value="{{cancel_flag}}">


  {% comment %} <div class="bg-white" style="height: 1000px;"> {% endcomment %}
  <div class="card bg-white pb-3">

    <div class="p-0 mb-2">
      <div class="col-12 bg-light p-0 mb-0">
        <div class="d-flex flex-row navbar">
          <a href="#" class="text-dark text-decoration-none small pr-2 border border-dark border-left-0 border-top-0 border-bottom-0">販売店メニューに戻る</a>
        </div>
      </div>
    </div>


    <div class="d-flex bg-light p-1 mx-2">■メンテプロパック　受付申込登録
      <button type="button" class="btn btn-info btn-rounded p-1 ml-1" data-container="body" data-toggle="popover" data-html="true" data-placement="right"
      data-content="本来は入力しますが、そのまま送信
        ">vcc
      </button>
    </div>
    <hr class="p-0 mt-0 border-dark mx-2">

    {% comment %} <div class="d-flex mx-2"> {% endcomment %}

        <div class="d-flex flex-nowrap">
          <span class="col-3 mb-1">販売会社</span>
          <span class="text-primary">　</span>
          <input class="col-2 mb-1 mx-0 pl-1" id="company" disabled>
        </div>
        <div class="d-flex flex-nowrap">
          <span class="col-3 mb-1">申込店舗</span>
          <span class="text-primary">※</span>
          <input class="col-2 mb-1 pl-1" id="shop">
        </div>
        <div class="d-flex flex-nowrap">
          <span class="col-3 mb-1">申込担当者ｺｰﾄﾞ</span>
          <span class="text-primary">※</span>
          <input class="col-2 mb-1 pl-1" id="tantou_code">
        </div>
        <div class="d-flex flex-nowrap">
          <span class="col-3 mb-1">申込担当者名</span>
          <span class="text-primary">※</span>
          <input class="col-3 mb-1 pl-1" id="tantou_name">
        </div>
        <div class="d-flex flex-nowrap">
          <span class="col-3 mb-1">氏名<span class="text-primary small">(半角ｶﾅ)</span></span>
          <span class="text-primary">※</span>
          <div class="">
            <div class=""><input class="col-12 pl-1" id="customer_kana"></div>
            <span class="text-primary small">（例）「ﾆｯｻﾝ ﾀﾛｳ」（姓と名の間はスペースを入れてください）</span>
          </div>
        </div>
        <div class="d-flex flex-nowrap">
          <span class="col-3 mb-1">氏名<span class="text-primary small">(漢字)</span></span>
          <span class="text-primary">※</span>
          <div class="">
            <div class=""><input class="col-12 pl-1" id="customer_kanji"></div>
            <span class="text-primary small">（例）「日産　太郎」（姓と名の間はスペースを入れてください）</span>
          </div>
        </div>
        <div class="d-flex flex-nowrap">
          <span class="col-3 mb-1">生年月日</span>
          <span class="text-primary">　</span>
          <input class="col-1 mb-1 pl-1" id="birthday_year"><span class="small d-flex align-items-end mb-1 mr-1">年</span>
          <input class="col-1 mb-1 pl-1" id="birthday_month"><span class="small d-flex align-items-end mb-1 mr-1">月</span>
          <input class="col-1 mb-1 pl-1" id="birthday_day"><span class="small d-flex align-items-end mb-1 mr-1">日</span>
        </div>
        <div class="d-flex flex-nowrap">
          <span class="col-3 mb-1">性別</span>
          <span class="text-primary">　</span>
          <select class="col-1 mb-1 pl-1" id="gender">
            <option value="0">選択してください</option>
            <option value="1">男</option>
            <option value="2">女</option>
            <option value="3">法人</option>
          </select>
        </div>
        <div class="d-flex flex-nowrap">
          <span class="col-3 mb-1">郵便番号</span>
          <span class="text-primary">※</span>
          <input class="col-1 mb-1 pl-1" id="post_code1">
          <span class="mb-1 mr-1">−</span>
          <input class="col-1 mb-1 pl-1" id="post_code2">
          <a href="#" class="btn btn-inverse-dark btn-sm py-0 px-1 mb-1 ml-1 d-flex align-items-center">住所検索</a>
          <span class="text-primary small d-flex align-items-end mb-1">※郵便番号入力後、「住所検索」ボタンを押すと住所を表示します</span>
        </div>
        <div class="d-flex flex-nowrap">
          <span class="col-3 mb-1">住所<span class="text-primary small">(半角ｶﾅ)</span></span>
          <span class="text-primary">　</span>
          <input class="col-6 mb-1 pl-1" id="address_kana">
        </div>
        <div class="d-flex flex-nowrap">
          <span class="col-3 mb-1">住所<span class="text-primary small">(漢字)</span></span>
          <span class="text-primary">※</span>
          <div class="">
            <div class=""><input class="col-8 pl-1" id="address_kanji"></div>
            <span class="text-primary small ">※表示された住所に補助住所(町名、アパート名、号室等)を追加して登録してください
              また、修正が必要な場合は修正願います </span>
          </div>
        </div>
        <div class="d-flex flex-nowrap">
          <span class="col-3 mb-1">電話番号</span>
          <span class="text-primary">　</span>
          <input class="col-2 mb-1 pl-1" id="tel">
        </div>
        <div class="d-flex flex-nowrap">
          <span class="col-3 mb-1">eﾒｰﾙｱﾄﾞﾚｽ</span>
          <span class="text-primary">　</span>
          <input class="col-5 mb-1 pl-1" id="mail">
        </div>
        <div class="d-flex flex-nowrap">
          <span class="col-3 mb-1">注文書No</span>
          <span class="text-primary">　</span>
          <input class="col-3 mb-1 pl-1" id="order_no">
        </div>
        <div class="d-flex flex-nowrap">
          <span class="col-3 mb-1">ﾒｰｶｰ区分</span>
          <span class="text-primary">※</span>
          <select class="col-2 mb-1 pl-1" id="maker">
            <option value="0">選択してください</option>
            <option value="1">日産車</option>
            <option value="2">その他</option>
          </select>
        </div>
        <div class="d-flex flex-nowrap">
          <span class="col-3 mb-1">車名/車種ｸﾗｽ</span>
          <span class="text-primary">※</span>
          <div class="">
            <div class="d-flex">
              <div class="d-flex flex-column">
                <input class="col mb-1 py-0 pl-1" id="car_name">
                <div class="col"></div>
              </div>
              <div class="d-flex flex-column">
                <div class="d-flex">
                  {{ form.class_drop }}
                  {% comment %} <select class="col-4 mb-1 ml-1 pl-1" id="car_class">
                    <option value="0">選択してください</option>
                    <option value="1">乗用車LL</option>
                  </select> {% endcomment %}
                  {% comment %} <a href="" id="nissan1" class="btn btn-inverse-dark btn-sm py-1 ml-1 align-items-center">検索</a> {% endcomment %}
                  <button type="button" class="btn btn-inverse-dark btn-sm py-1 ml-1 align-items-center" id="car_search">検索</button>
                </div>
                <span id="nissan2" class="text-primary small ml-1">車種クラス入力後、「車両検索」ボタンを押すと車名を表示します</span>
                <span id="nissan3" class="text-primary small ml-1">　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　</span>
              </div>
            </div>
          </div>
        </div>
        <div class="d-flex flex-nowrap">
          <span class="col-3 mb-1">車台型式</span>
          <span class="text-primary">　</span>
          <input class="col-3 mb-1 pl-1" id="">
        </div>
        <div class="d-flex flex-nowrap">
          <span class="col-3 mb-1">型式</span>
          <span class="text-primary">　</span>
          <input class="col-2 mb-1 pl-1" id="car_model">
        </div>
        <div class="d-flex flex-nowrap">
          <span class="col-3 mb-1">基本</span>
          <span class="text-primary">※</span>
          <input class="col-1 mb-1 pl-1" id="base_no">
        </div>
        <div class="d-flex flex-nowrap">
          <span class="col-3 mb-1">登録番号</span>
          <span class="text-primary">　</span>
          <select class="col-2 mb-1 pl-1" id="plate_no1">
            <option value="0">選択してください</option>  
            <option value="1">練馬</option>          
          </select>
          <input class="col-1 mb-1 pl-1" id="plate_no2">
          <input class="col-1 mb-1 pl-1" id="plate_no3">
          <input class="col-1 mb-1 pl-1" id="plate_no4">
          <span class="text-primary small d-flex align-items-end mb-1">（例）幕張 300 ｻ 0123</span>
            
        </div>
        <div class="d-flex flex-nowrap">
          <span class="col-3 mb-1">車台番号</span>
          <span class="text-primary">　</span>
          <input class="col-2 mb-1 pl-1" id="frame_no1">
          <input class="col-2 mb-1 pl-1" id="frame_no2">
        </div>
        <div class="d-flex flex-nowrap">
          <span class="col-3 mb-1">新中サ区分</span>
          <span class="text-primary">※</span>
          <select class="col-2 mb-1 pl-1" id="entry_div">
            <option value="0">選択してください</option>
            <option value="1">新車</option>
            <option value="2">中古車</option>
            <option value="3">サービス</option>
          </select>
        </div>
        <div class="d-flex flex-nowrap">
          <span class="col-3 mb-1">初度登録年月</span>
          <span class="text-primary">　</span>
          <input class="col-1 mb-1 pl-1" id="register_year"><span class="small d-flex align-items-end mb-1 mr-1">年</span>
          <input class="col-1 mb-1 pl-1" id="register_month"><span class="small d-flex align-items-end mb-1 mr-1">月</span>
        </div>
        <div class="d-flex flex-nowrap">
          <span class="col-3 mb-1">車検満了年月日</span>
          <span class="text-primary">　</span>
          <input class="col-1 mb-1 pl-1" id="insp_year"><span class="small d-flex align-items-end mb-1 mr-1">年</span>
          <input class="col-1 mb-1 pl-1" id="insp_month"><span class="small d-flex align-items-end mb-1 mr-1">月</span>
          <input class="col-1 mb-1 pl-1" id="insp_day"><span class="small d-flex align-items-end mb-1 mr-1">日</span>
        </div>
        <div class="d-flex flex-nowrap">
          <span class="col-3 mb-1">ｻｰﾋﾞｽ商品</span>
          <span class="text-primary">※</span>
          {{ form.parent_category }}
          {% comment %} <select class="col-3 mb-1" id="product">
            <option value="0">選択してください
            <option value="1">メンテプロパック（乗用）
            <option value="ev">メンテプロパック（EV）
            <option value="premium">NISSAN EVあんしんプラスプレミアム
            <option value="chotoku">メンテプロパック長得（乗用）
            <option value="shoyo">メンテプロパック（商用）
            <option value="cd">メンテプロパック（CD）
            <option value="turbo">メンテプロパックターボ（乗用）
            <option value="nismo">メンテプロパックNISMO
            <option value="evsp">メンテプロパック（EVSP）
          </select> {% endcomment %}
        </div>
        <div class="d-flex flex-nowrap">
          <span class="col-3 mb-1">入会ｺｰｽ</span>
          <span class="text-primary">※</span>
          {{ form.category }}
          {% comment %} <select class="col-5 mb-1" id="course">
            <option value="">選択してください</option>
            <option value="1" data-val="">メンテプロパック54車検付きベーシック</option>
            <option value="2" data-val="">メンテプロパック18車検付きベーシック</option>
          </select> {% endcomment %}
        </div>
        <div class="d-flex flex-nowrap">
          <span class="col-3 mb-1">お支払額</span>
          <span class="text-primary">　</span>
          <input class="col-2 mb-1 pl-1" id="price">
          <span class="small d-flex align-items-end mb-1 mr-1">円</span>
          <span class="text-primary small d-flex align-items-end mb-1">(消費税込み)</span>
        </div>
        <div class="d-flex flex-nowrap">
          <span class="col-3 mb-1">支払手段</span>
          <span class="text-primary">※</span>
          <select class="col-2 mb-1 pl-1" id="payment">
            <option value="0">選択してください</option>
            <option value="1">現金</option>
            <option value="2">日産カード</option>
          </select>
        </div>

        <span class="text-primary small d-flex justify-content-center mt-2">
          ※送信で次の画面へ、戻りで画面内容クリア、業務メニューで申込をやめます
        </span>

        <div class="row justify-content-center">
          <div class="d-flex flex-row ">
            {% comment %} <a href="#" class="btn btn-inverse-dark m-2" id="send">送信</a> {% endcomment %}
            <button class="btn btn-inverse-dark m-2" type="submit" id="send">送信</button>
            <button type="button" class="btn btn-inverse-dark m-2" id="test2">戻り</button>
            <a href="#" class="btn btn-inverse-dark m-2" id="back2">業務メニュー</a>
          </div>
        </div>

        
    {% comment %} </div> {% endcomment %}
  </div>

</form>
{% comment %} </div> {% endcomment %}


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.3/moment.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.3/locale/ja.js"></script>

  <script>
    $(function() {
      $('[data-toggle="popover"]').popover()
      $('#confirm').hide();//最初は非表示

      $('#nissan3').hide();//体裁用ダミー

      //メーカー区分変更関数
      function maker_change(){
        if ($("#maker").val()==1) {
          $('#car_name').prop('disabled', true);
          $('#base_no').prop('disabled', true);
          //$('#nissan1').show();
          $('#car_search').show();
          $('#nissan2').show();
          $('#nissan3').hide();//体裁用ダミー
        } else {
          $('#car_name').prop('disabled', false);
          $('#base_no').prop('disabled', false);
          //$('#nissan1').hide();
          $('#car_search').hide();
          $('#nissan2').hide();
          $('#nissan3').show();
        }
      };

      //日産車とその他でグレーアウトやボタン表示を変更
      $("#maker").change(function() {
        maker_change();
      });

    });
  </script>


  <script>  
    const parentCategoryElement = $('#id_parent_category');
    const categoryElement = $('#id_category');
    //const parentCategoryElement = $('#product');
    //const categoryElement = $('#course');
    const categories = {
        {% for parent in parentcategory_list %}
            '{{ parent.pk }}': [
                {% for category in parent.category_set.all %}
                    {
                        //'pk': '{{ category.pk }}',
                        'pk': {{ category.pk }},//ソートのため数値に
                        'name': '{{ category.name }}'
                    },
                {% endfor %}
            ],
        {% endfor %}
    };
  
  
    const changeCategory = (select) => {
        // 子カテゴリの選択欄を空にする。
        categoryElement.children().remove();
  
        //2段目は選択してくださいにするので追加した
        categoryElement.append('<option value="0" selected="">選択してください</option>');
  
        // 選択した親カテゴリに紐づく子カテゴリの一覧を取得する。
        const parentId = parentCategoryElement.val();
        const categoryList = categories[parentId];
  
        // ソートを追加した
        if(categoryList != null) {
          categoryList.sort(function(a,b){
            if(a.pk > b.pk) {
              return 1;
            }
            if(a.pk < b.pk) {
              return -1;
            }
            return 0;
          });
  
          // 子カテゴリの選択肢を作成・追加。
          for (const category of categoryList) {
            const option = $('<option>');
            option.val(category['pk']);
            option.text(category['name']);
            categoryElement.append(option);
          }
        }  
        
        
        // 指定があれば、そのカテゴリを選択する
        if (select !== undefined) {
            categoryElement.val(select);
        }
    };
  
  
    $('#id_parent_category').on('change', () => {
        changeCategory();
    });
  
  
    // 入力値に問題があって再表示された場合、ページ表示時点で小カテゴリが絞り込まれるようにする
    if (parentCategoryElement.val()) {
        const selectedCategory = categoryElement.val();
        changeCategory(selectedCategory);
    }
  
    //下部のプルダウン例をそれぞれ絞り込む
    //関数化
    function filterForExample(categoryElement, parentId){
      categoryElement.children().remove();
      categoryElement.removeAttr('id');
      const categoryList = categories[parentId];
      // ソートを追加した
      if(categoryList != null) {
        categoryList.sort(function(a,b){
          if(a.pk > b.pk) {
            return 1;
          }
          if(a.pk < b.pk) {
            return -1;
          }
          return 0;
        });
  
        // 子カテゴリの選択肢を作成・追加。
        for (const category of categoryList) {
          const option = $('<option>');
          option.val(category['pk']);
          option.text(category['name']);
          categoryElement.append(option);
        }
      }  
    };
  
    $('#id_parent_category').addClass('mb-1');
    $('#id_category').addClass('mb-1');
    $('#id_class_drop').addClass('mb-1 ml-1');
  </script>

<!-- 車両：別ウインドウ-->
<script>
    $('#car_search').click(function() {
      //選択してください以外
      if ($("#id_class_drop").val() != "") {
        var url = "{% url 'myprofit:car' 9999 %}"; //エラーになるため無理やり生成
        var url= url.replace("9999", $('#id_class_drop').val());
        window.open(url, '車両検索', 'width=360, height=440, top=200, left=200');
      }
    });

  //別ウインドウ戻り→車名と基本3桁差し込みを作る
  function insert_car(car_name, car_digit){
    $("#car_name").val(car_name);
    $("#base_no").val(car_digit);
}
</script>