{% load static %}
{% load bootstrap4 %}

<!DOCTYPE html>
<html lang="ja">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{% endblock %}</title>

  <!-- パンくずリスト -->
  <!-- Bootstrapを使用するためのリンクタグ設置 -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- base:css -->
    <link href="{% static 'celestialAdmin/template/vendors/typicons.font/font/typicons.css' %}" rel="stylesheet">
    <link href="{% static 'celestialAdmin/template/vendors/css/vendor.bundle.base.css' %}" rel="stylesheet">
    <!-- endinject --> 
    <!-- plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link href="{% static 'celestialAdmin/template/css/vertical-layout-light/style.css' %}" rel="stylesheet">
    <!-- endinject -->
    <link rel="shortcut icon" href="{% static 'celestialAdmin/template/images/favicon.png' %}" />


    <!-- パンくずリスト続き -->
    <style>
      .breadcrumb{
          {% comment %} background-color: white; {% endcomment %}
      }
      .breadcrumb-item + .breadcrumb-item::before {
          content: ">";
      }

      /* モーダルのテーブルの区切り */
      .ex_border_a {
        border-top: 2px solid gray;
      }

      /* 点滅 */
      .blink {
        -webkit-animation: blink 1s ease-in-out infinite alternate;
        animation: blink 1s ease-in-out infinite alternate;
      }
      @-webkit-keyframes blink {
        0% {opacity: 0;}
        100% {opacity: 1;}
      }
      @keyframes blink {
        0% {opacity: 0;}
        100% {opacity: 1;}
      }
    </style>

  <style>

  </style>

  {% block extra_head %}{% endblock %}
  </head>
  
  <body>
    {% include 'profit/sample_case.html' %}
    <div class="container-scroller">
      
      <!-- partial:partials/_navbar.html ←トップバー-->

      <nav class="navbar col-12 p-0 fixed-top d-flex flex-row">
        <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
          <a class="navbar-brand brand-logo p-0" href="{% url 'myprofit:profit_top' %}">
            <div class="h4 font-weight-bold text-black my-2 mx-1">日産プリンスMarsh株式会社</div>
          </a>
          <button class="p-2 navbar-toggler navbar-toggler align-self-center d-none d-lg-flex" type="button" data-toggle="minimize">
            <span class="typcn typcn-th-menu"></span>
          </button>
        </div>

        <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end pr-3">
          <ul class="mr-auto list-unstyled">
            <!-- パンくずリスト -->
            {% block breadcrumb %}{% endblock %}
          </ul>
          <!-- sampleモーダル開くボタン -->
          <a href="#" data-toggle="modal" data-target="#case_modal" id="case_modal" class="btn btn-sm btn-inverse-info align-items-center justify-content-end p-1">Sample</a>
        </div>
      </nav>
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_settings-panel.html -->
        <!-- partial -->
        
        <!-- partial:partials/_sidebar.html -->
        <nav class="sidebar sidebar-offcanvas bg-white" id="sidebar">
        {% block sidebar %}{% endblock %}
        </nav>

        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">
            {% block mainpanel %}{% endblock %}
          </div>
          <!-- content-wrapper ends -->
          <!-- partial:partials/_footer.html -->

          <footer class="footer">
            <div class="d-sm-flex justify-content-center justify-content-sm-between">
              <span class="text-center text-sm-left d-block d-sm-inline-block">Copyright &copy; VccMarsh {% now "Y" %}</span>
              {% comment %} <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Free <a href="https://www.bootstrapdash.com/" target="_blank">Bootstrap dashboard </a>templates from Bootstrapdash.com</span> {% endcomment %}
            </div>
          </footer>

        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->

    <!-- パンくずリスト -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/js/bootstrap.min.js" integrity="sha384-7aThvCh9TypR7fIc2HV4O/nFMVCBwyIUKL8XCtKE+8xgCgl/PQGuFsvShjr74PBp" crossorigin="anonymous"></script>
    
    <!-- base:js -->
    <script src="{% static 'celestialAdmin/template/vendors/js/vendor.bundle.base.js' %}"></script>
    <!-- endinject -->
    <!-- Plugin js for this page-->
    <!-- End plugin js for this page-->
    <!-- inject:js -->
    <script src="{% static 'celestialAdmin/template/js/off-canvas.js' %}"></script>
    <script src="{% static 'celestialAdmin/template/js/hoverable-collapse.js' %}"></script>
    <script src="{% static 'celestialAdmin/template/js/template.js' %}"></script>
    <script src="{% static 'celestialAdmin/template/js/settings.js' %}"></script>
    <script src="{% static 'celestialAdmin/template/js/todolist.js' %}"></script>
    <!-- endinject -->
    <!-- plugin js for this page -->
    <script src="{% static 'celestialAdmin/template/vendors/progressbar.js/progressbar.min.js' %}"></script>
    <script src="{% static 'celestialAdmin/template/vendors/chart.js/Chart.min.js' %}"></script>
    <!-- End plugin js for this page -->
    <!-- Custom js for this page-->
    <script src="{% static 'celestialAdmin/template/js/dashboard.js' %}"></script>
    <!-- End custom js for this page-->

    <script>
      let column_no = 0; //今回クリックされた列番号
      let column_no_prev = 0; //前回クリックされた列番号
      window.addEventListener('load', function () {
        document.querySelectorAll('#sort_table th').forEach(elm => {
          elm.onclick = function () {
            column_no = this.cellIndex; //クリックされた列番号
            let table = this.parentNode.parentNode.parentNode;
            let sortType = 0; //0:数値 1:文字
            let sortArray = new Array; //クリックした列のデータを全て格納する配列
            for (let r = 1; r < table.rows.length; r++) {
              //行番号と値を配列に格納
              let column = new Object;
              column.row = table.rows[r];
              column.value = table.rows[r].cells[column_no].textContent;
              sortArray.push(column);
              //数値判定
              if (isNaN(Number(column.value))) {
                sortType = 1; //値が数値変換できなかった場合は文字列ソート
              }
            }
            if (sortType == 0) { //数値ソート
              if (column_no_prev == column_no) { //同じ列が2回クリックされた場合は降順ソート
                sortArray.sort(compareNumberDesc);
              } else {
                sortArray.sort(compareNumber);
              }
            } else { //文字列ソート
              if (column_no_prev == column_no) { //同じ列が2回クリックされた場合は降順ソート
                sortArray.sort(compareStringDesc);
              } else {
                sortArray.sort(compareString);
              }
            }
            //ソート後のTRオブジェクトを順番にtbodyへ追加（移動）
            let tbody = this.parentNode.parentNode;
            for (let i = 0; i < sortArray.length; i++) {
              tbody.appendChild(sortArray[i].row);
            }
            //昇順／降順ソート切り替えのために列番号を保存
            if (column_no_prev == column_no) {
              column_no_prev = -1; //降順ソート
            } else {
              column_no_prev = column_no;
            }
          };
        });
      });
      //数値ソート（昇順）
      function compareNumber(a, b)
      {
        return a.value - b.value;
      }
      //数値ソート（降順）
      function compareNumberDesc(a, b)
      {
        return b.value - a.value;
      }
      //文字列ソート（昇順）
      function compareString(a, b) {
        if (a.value < b.value) {
          return -1;
        } else {
          return 1;
        }
        return 0;
      }
      //文字列ソート（降順）
      function compareStringDesc(a, b) {
        if (a.value > b.value) {
          return -1;
        } else {
          return 1;
        }
        return 0;
      }
      </script>
  </body>
</html>