
<div class="modal" id="case_modal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-body">        
        
        <h4 class="h5 font-weight-bold mb-3">Sample（検索項目をコピーして使用する）</h4>
        <table class="table table-sm table-hover table-responsive" id="sort_table">
          <thead class="">
            <tr class="table-dark">
              <th><span class="small">区分<i class="fa fa-sort"></i></th>
              <th><span class="small">ステータス<i class="fa fa-sort"></i></th>
              <th><span class="small">注文書/伝票<i class="fa fa-sort"></i></th>
              <th><span class="small">登録番号<i class="fa fa-sort"></i></th>
              <th><span class="small">会員証No<i class="fa fa-sort"></i></th>
              <th><span class="small">コース<i class="fa fa-sort"></i></th>
              <th><span class="small">発行日<i class="fa fa-sort"></i></th>
              <th><span class="small">初度<i class="fa fa-sort"></i></th>
            </tr>
          </thead>
          <tbody>
          <tr class="table-primary">
            <td><span class="small">新車</span></span></td>
            <td><span class="small">0.申し込み前（車両基盤まだ）</span></td>
            <td><span class="small mark">N123A0001</span></td>
            <td><span class="small">-</span></td>
            <td><span class="small">410987001</span></td>
            <td><span class="small">54</span></td>
            <td><span class="small">-</span></td>
            <td><span class="small">今月</span></td>
          </tr>
          <tr class="table-primary">
            <td><span class="small">新車</span></span></td>
            <td><span class="small">0.申し込み前（車両基盤入力済み）</span></td>
            <td><span class="small mark">N123A0002</span></td>
            <td><span class="small">練馬300さ9999</span></td>
            <td><span class="small">410987002</span></td>
            <td><span class="small">54</span></td>
            <td><span class="small">-</span></td>
            <td><span class="small">今月</span></td>
          </tr>
          <tr class="table-success">
            <td><span class="small">中古車</span></span></td>
            <td><span class="small">0.申し込み前（車両基盤まだ）</span></td>
            <td><span class="small mark">U2E123001</span></td>
            <td><span class="small">-</span></td>
            <td><span class="small">410987003</span></td>
            <td><span class="small">18</span></td>
            <td><span class="small">-</span></td>
            <td><span class="small">5年前</span></td>
          </tr>
          <tr class="table-success">
            <td><span class="small">中古車</span></span></td>
            <td><span class="small">0.申し込み前（車両基盤入力済み）</span></td>
            <td><span class="small mark">U2E123002</span></td>
            <td><span class="small">練馬300さ9999</span></td>
            <td><span class="small">410987004</span></td>
            <td><span class="small">18</span></td>
            <td><span class="small">-</span></td>
            <td><span class="small">5年前</span></td>
          </tr>
          <tr class="table-warning">
            <td><span class="small">サービス</span></span></td>
            <td><span class="small">0.申し込み前（車両基盤済み）</span></td>
            <td><span class="small">502D0001</span></td>
            <td><span class="small mark">練馬300さ0014</span></td>
            <td><span class="small">410987005</span></td>
            <td><span class="small">18</span></td>
            <td><span class="small">-</span></td>
            <td><span class="small">5年前</span></td>
          </tr>
          <tr class="table-primary ex_border_a">
            <td><span class="small">新車</span></span></td>
            <td><span class="small">1.申込書未発行（車両基盤まだ）</span></td>
            <td><span class="small mark">N123A0003</span></td>
            <td><span class="small">-</span></td>
            <td><span class="small">410987006</span></td>
            <td><span class="small">54</span></td>
            <td><span class="small">-</span></td>
            <td><span class="small">今月</span></td>
          </tr>
          <tr class="table-primary">
            <td><span class="small">新車</span></span></td>
            <td><span class="small">1.申込書未発行（車両基盤入力済み）</span></td>
            <td><span class="small mark">N123A0004</span></td>
            <td><span class="small">練馬300さ9999</span></td>
            <td><span class="small">410987007</span></td>
            <td><span class="small">54</span></td>
            <td><span class="small">-</span></td>
            <td><span class="small">今月</span></td>
          </tr>
          <tr class="table-success">
            <td><span class="small">中古車</span></span></td>
            <td><span class="small">1.申込書未発行（車両基盤まだ）</span></td>
            <td><span class="small mark">U2E123003</span></td>
            <td><span class="small">-</span></td>
            <td><span class="small">410987008</span></td>
            <td><span class="small">18</span></td>
            <td><span class="small">-</span></td>
            <td><span class="small">5年前</span></td>
          </tr>
          <tr class="table-success">
            <td><span class="small">中古車</span></span></td>
            <td><span class="small">1.申込書未発行（車両基盤入力済み）</span></td>
            <td><span class="small mark">U2E123004</span></td>
            <td><span class="small">練馬300さ9999</span></td>
            <td><span class="small">410987009</span></td>
            <td><span class="small">18</span></td>
            <td><span class="small">-</span></td>
            <td><span class="small">5年前</span></td>
          </tr>
          <tr class="table-warning">
            <td><span class="small">サービス</span></span></td>
            <td><span class="small">1.申込書未発行（車両基盤入力済み）</span></td>
            <td><span class="small">502D0002</span></td>
            <td><span class="small mark">練馬300さ0015</span></td>
            <td><span class="small">410987010</span></td>
            <td><span class="small">18</span></td>
            <td><span class="small">-</span></td>
            <td><span class="small">5年前</span></td>
          </tr>
          <tr class="table-primary ex_border_a">
            <td><span class="small">新車</span></span></td>
            <td><span class="small">2.車両情報未登録（車両基盤まだ）</span></td>
            <td><span class="small mark">N123A0005</span></td>
            <td><span class="small">-</span></td>
            <td><span class="small">410987011</span></td>
            <td><span class="small">54</span></td>
            <td><span class="small">-</span></td>
            <td><span class="small">今月</span></td>
          </tr>
          <tr class="table-primary">
            <td><span class="small">新車</span></span></td>
            <td><span class="small">2.車両情報未登録（車両基盤入力済み）</span></td>
            <td><span class="small mark">N123A0006</span></td>
            <td><span class="small">練馬300さ9999</span></td>
            <td><span class="small">410987012</span></td>
            <td><span class="small">54</span></td>
            <td><span class="small">-</span></td>
            <td><span class="small">今月</span></td>
          </tr>
          <tr class="table-success">
            <td><span class="small">中古車</span></span></td>
            <td><span class="small">2.車両情報未登録（車両基盤まだ）</span></td>
            <td><span class="small mark">U2E123005</span></td>
            <td><span class="small">-</span></td>
            <td><span class="small">410987013</span></td>
            <td><span class="small">18</span></td>
            <td><span class="small">-</span></td>
            <td><span class="small">5年前</span></td>
          </tr>
          <tr class="table-success">
            <td><span class="small">中古車</span></span></td>
            <td><span class="small">2.車両情報未登録（車両基盤入力済み）</span></td>
            <td><span class="small mark">U2E123006</span></td>
            <td><span class="small">練馬300さ9999</span></td>
            <td><span class="small">410987014</span></td>
            <td><span class="small">18</span></td>
            <td><span class="small">-</span></td>
            <td><span class="small">5年前</span></td>
          </tr>
          <tr class="table-primary ex_border_a">
            <td><span class="small">新車</span></span></td>
            <td><span class="small">3.会員証未発行</span></td>
            <td><span class="small">N123A0007</span></td>
            <td><span class="small">練馬300さ9999</span></td>
            <td><span class="small mark">410987015</span></td>
            <td><span class="small">54</span></td>
            <td><span class="small">-</span></td>
            <td><span class="small">今月</span></td>
          </tr>
          <tr class="table-success">
            <td><span class="small">中古車</span></span></td>
            <td><span class="small">3.会員証未発行</span></td>
            <td><span class="small">U2E123007</span></td>
            <td><span class="small">練馬300さ9999</span></td>
            <td><span class="small mark">410987016</span></td>
            <td><span class="small">18</span></td>
            <td><span class="small">-</span></td>
            <td><span class="small">5年前</span></td>
          </tr>
          <tr class="table-warning">
            <td><span class="small">サービス</span></span></td>
            <td><span class="small">3.会員証未発行</span></td>
            <td><span class="small">502D0003</span></td>
            <td><span class="small">練馬300さ0016</span></td>
            <td><span class="small mark">410987017</span></td>
            <td><span class="small">18</span></td>
            <td><span class="small">-</span></td>
            <td><span class="small">5年前</span></td>
          </tr>
          <tr class="table-primary ex_border_a">
            <td><span class="small">新車</span></span></td>
            <td><span class="small">4.本登録</span></td>
            <td><span class="small">N123A0008</span></td>
            <td><span class="small">練馬300さ9999</span></td>
            <td><span class="small mark">410987018</span></td>
            <td><span class="small">54</span></td>
            <td><span class="small">2日前</span></td>
            <td><span class="small">今月</span></td>
          </tr>
          <tr class="table-success">
            <td><span class="small">中古車</span></span></td>
            <td><span class="small">4.本登録</span></td>
            <td><span class="small">U2E123008</span></td>
            <td><span class="small">練馬300さ9999</span></td>
            <td><span class="small mark">410987019</span></td>
            <td><span class="small">18</span></td>
            <td><span class="small">2日前</span></td>
            <td><span class="small">5年前</span></td>
          </tr>
          <tr class="table-warning">
            <td><span class="small">サービス</span></span></td>
            <td><span class="small">4.本登録</span></td>
            <td><span class="small">502D0004</span></td>
            <td><span class="small">練馬300さ0017</span></td>
            <td><span class="small mark">410987020</span></td>
            <td><span class="small">18</span></td>
            <td><span class="small">2日前</span></td>
            <td><span class="small">5年前</span></td>
          </tr>
          </tbody>
        </table>









      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" data-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>


