<ul class="nav mb-3">
    
  <li class="nav-item bg-white">
    <div class="sidebar-menu-title text-dark"><span class="small">VCCメニュー（Sample未入力画面）</span></div>
  </li>
  {% comment %} <div class="nav-search mt-3">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="エラー検索（未）">
      <div class="input-group-append">
        <span class="input-group-text" id="search">
          <i class="typcn typcn-zoom"></i>
        </span>
      </div>
    </div>
  </div> {% endcomment %}

  <li class="nav-item">
    <div class="nav-link py-1 mt-2" data-toggle="collapse" href="#ui-basic1" aria-expanded="false">
      <i class="typcn typcn-briefcase menu-icon mr-1"></i>
      <span class="menu-title">申込する・キャンセルする</span>
    </div>
    <div class="collapse show" id="ui-basic1">
      <ul class="nav flex-column sub-menu">
        <li class="nav-item"> <a class="nav-link" href="{% url 'myprofit:new02' %}?route=entry">新車</a></li>
        <li class="nav-item"> <a class="nav-link" href="{% url 'myprofit:used02' %}?route=entry">中古車</a></li>
        <li class="nav-item"> <a class="nav-link" href="{% url 'myprofit:service02' %}?route=entry">サービス</a></li>
        <li class="nav-item"> <a class="nav-link" href="{% url 'myprofit:service01' %}?route=entry2">コース作業(サービス)</a></li>
      </ul>
    </div>
  </li>

  <li class="nav-item">
    <div class="nav-link py-1 mt-2" data-toggle="collapse" href="#ui-basic2" aria-expanded="false" aria-controls="ui-basic">
      <i class="typcn typcn-briefcase menu-icon mr-1"></i>
      <span class="menu-title">続きから発行する</span>
    </div>
    <div class="collapse show" id="ui-basic2">
      <ul class="nav flex-column sub-menu">
        <li class="nav-item"> <a class="nav-link" href="{% url 'myprofit:new02' %}?route=cert">新車</a></li>
        <li class="nav-item"> <a class="nav-link" href="{% url 'myprofit:used02' %}?route=cert">中古車</a></li>
        <li class="nav-item"> <a class="nav-link" href="{% url 'myprofit:service02' %}?route=cert">サービス</a></li>
      </ul>
    </div>
  </li>

  <li class="nav-item">
    <div class="nav-link py-1 mt-2" data-toggle="collapse" href="#ui-basic3" aria-expanded="false" aria-controls="ui-basic">
      <i class="typcn typcn-briefcase menu-icon mr-1"></i>
      <span class="menu-title">発行済みの再印刷をする</span>
    </div>
    <div class="collapse show" id="ui-basic3">
      <ul class="nav flex-column sub-menu">
        <li class="nav-item"> <a class="nav-link" href="{% url 'myprofit:new02' %}?route=mente">新車</a></li>
        <li class="nav-item"> <a class="nav-link" href="{% url 'myprofit:used02' %}?route=mente">中古車</a></li>
        <li class="nav-item"> <a class="nav-link" href="{% url 'myprofit:service02' %}?route=mente">サービス</a></li>
      </ul>
    </div>
  </li>
</ul>


<ul class="sidebar-legend ">
  <li>
    <p class="sidebar-menu-title text-light h4 font-weight-bold">Other</p>
  </li>
  <li class="nav-item">
    <a href="{% url 'myprofit:entry_example' %}" class="nav-link text-light">受付申込登録のエラーetc.</a>
  </li>
  <li class="nav-item">
    <a href="{% url 'myprofit:search_example' %}" class="nav-link text-light">お客様一覧検索の手順</a>
  </li>

</ul>
