<ul class="nav">
  <li class="nav-item bg-white">
    <div class="sidebar-menu-title d-flex p-0 m-0">
      <div class="bg-primary">　</div>
      <div class="ml-3 my-2 text-dark">サービス</div>
    </div>
  </li>

  <li class="nav-item border-bottom">
    <a class="nav-link" href="#" id="touroku">
      <span class="menu-title">見積・受付・納品</span><i class="typcn typcn-chevron-right menu-arrow"></i>
    </a>
  </li>
  <li class="nav-item border-bottom">
    <a class="nav-link" href="#">
      <span class="menu-title">事故見積</span><i class="typcn typcn-chevron-right menu-arrow"></i>
    </a>
  </li>
  <li class="nav-item border-bottom">
    <a class="nav-link" href="#">
      <span class="menu-title">入金・回収</span><i class="typcn typcn-chevron-right menu-arrow"></i>
    </a>
  </li>
  <li class="nav-item border-bottom">
    <a class="nav-link" href="#">
      <span class="menu-title">日産カード</span><i class="typcn typcn-chevron-right menu-arrow"></i>
    </a>
  </li>
  <li class="nav-item border-bottom">
    <a class="nav-link" href="#">
      <span class="menu-title">工場業務</span><i class="typcn typcn-chevron-right menu-arrow"></i>
    </a>
  </li>
  <li class="nav-item border-bottom">
    <a class="nav-link" href="#">
      <span class="menu-title">補償請求</span><i class="typcn typcn-chevron-right menu-arrow"></i>
    </a>
  </li>
  <li class="nav-item border-bottom">
    <a class="nav-link" href="#">
      <span class="menu-title">お客様フォロー</span><i class="typcn typcn-chevron-right menu-arrow"></i>
    </a>
  </li>
  <li class="nav-item border-bottom">
    <a class="nav-link" href="#">
      <span class="menu-title">集中工場</span><i class="typcn typcn-chevron-right menu-arrow"></i>
    </a>
  </li>
  <li class="nav-item border-bottom">
    <a class="nav-link" href="#">
      <span class="menu-title">実績集計</span><i class="typcn typcn-chevron-right menu-arrow"></i>
    </a>
  </li>
  <li class="nav-item border-bottom">
    <a class="nav-link" href="#">
      <span class="menu-title">テーブル設定</span><i class="typcn typcn-chevron-right menu-arrow"></i>
    </a>
  </li>
  <li class="nav-item border-bottom">
    <a class="nav-link" href="#">
      <span class="menu-title">お客様ワンストップ</span><i class="typcn typcn-chevron-right menu-arrow"></i>
    </a>
  </li>
  <li class="nav-item border-bottom">
    <a class="nav-link" href="#">
      <span class="menu-title">PDF帳票一覧</span><i class="typcn typcn-chevron-right menu-arrow"></i>
    </a>
  </li>
  <li class="nav-item border-bottom">
    <a class="nav-link" href="#">
      <span class="menu-title">サービス短縮版メニュー</span><i class="typcn typcn-chevron-right menu-arrow"></i>
    </a>
  </li>

  {% comment %} <li class="nav-item">
    <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
      <i class="typcn typcn-briefcase menu-icon"></i>
      <span class="menu-title">UI Elements</span>
      <i class="typcn typcn-chevron-right menu-arrow"></i>
    </a>
    <div class="collapse" id="ui-basic">
      <ul class="nav flex-column sub-menu">
        <li class="nav-item"> <a class="nav-link" href="#">Buttons</a></li>
        <li class="nav-item"> <a class="nav-link" href="#">Dropdowns</a></li>
        <li class="nav-item"> <a class="nav-link" href="#">Typography</a></li>
      </ul>
    </div>
  </li> {% endcomment %}

  <li class="nav-item col-3 fixed-bottom mb-2">
    <a class="nav-link" href="#">
      <span class="menu-title">トップメニュー</span>
    </a>
  </li>

</ul>

