<ul class="nav bg-dark">
  <li class="nav-item bg-white">
    <div class="sidebar-menu-title d-flex p-0 m-0">
      <div class="bg-primary">　</div>
      <div class="ml-3 my-2 text-dark">中古車店舗</div>
    </div>
  </li>

  <li class="nav-item border-bottom">
    <a class="nav-link" href="#">
      <span class="menu-title">商談</span><i class="typcn typcn-chevron-right menu-arrow"></i>
    </a>
  </li>
  <li class="nav-item border-bottom">
    <a class="nav-link" href="#" id="touroku">
      <span class="menu-title">受注・納車・回収</span><i class="typcn typcn-chevron-right menu-arrow"></i>
    </a>
  </li>
  <li class="nav-item border-bottom">
    <a class="nav-link" href="#">
      <span class="menu-title">登録</span><i class="typcn typcn-chevron-right menu-arrow"></i>
    </a>
  </li>
  <li class="nav-item border-bottom">
    <a class="nav-link" href="#">
      <span class="menu-title">査定</span><i class="typcn typcn-chevron-right menu-arrow"></i>
    </a>
  </li>
  <li class="nav-item border-bottom">
    <a class="nav-link" href="#">
      <span class="menu-title">在庫管理</span><i class="typcn typcn-chevron-right menu-arrow"></i>
    </a>
  </li>
  <li class="nav-item border-bottom">
    <a class="nav-link" href="#">
      <span class="menu-title">保険</span><i class="typcn typcn-chevron-right menu-arrow"></i>
    </a>
  </li>
  <li class="nav-item border-bottom">
    <a class="nav-link" href="#">
      <span class="menu-title">お客様フォロー</span><i class="typcn typcn-chevron-right menu-arrow"></i>
    </a>
  </li>
  <li class="nav-item border-bottom">
    <a class="nav-link" href="#">
      <span class="menu-title">サービス（C/A）</span><i class="typcn typcn-chevron-right menu-arrow"></i>
    </a>
  </li>
  <li class="nav-item border-bottom">
    <a class="nav-link" href="#">
      <span class="menu-title">活動</span><i class="typcn typcn-chevron-right menu-arrow"></i>
    </a>
  </li>
  <li class="nav-item border-bottom">
    <a class="nav-link" href="#">
      <span class="menu-title">基盤管理</span><i class="typcn typcn-chevron-right menu-arrow"></i>
    </a>
  </li>
  <li class="nav-item border-bottom">
    <a class="nav-link" href="#">
      <span class="menu-title">お客様ワンストップ</span><i class="typcn typcn-chevron-right menu-arrow"></i>
    </a>
  </li>
  <li class="nav-item border-bottom">
    <a class="nav-link" href="#">
      <span class="menu-title">PDF帳票一覧</span><i class="typcn typcn-chevron-right menu-arrow"></i>
    </a>
  </li>

  <li class="nav-item col-2 fixed-bottom mx-4 d-none d-lg-block">
    <a class="nav-link bg-dark" href="#">
      <span class="menu-title">トップメニュー</span>
    </a>
  </li>

</ul>

