{% comment %} {% extends 'profit/profit_base.html' %} {% endcomment %}
{% load static %}
{% load bootstrap4 %}

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{% endblock %}</title>

  <!-- パンくずリスト -->
  <!-- Bootstrapを使用するためのリンクタグ設置 -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- base:css -->
    <link href="{% static 'celestialAdmin/template/vendors/typicons.font/font/typicons.css' %}" rel="stylesheet">
    <link href="{% static 'celestialAdmin/template/vendors/css/vendor.bundle.base.css' %}" rel="stylesheet">
    <!-- endinject --> 
    <!-- plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link href="{% static 'celestialAdmin/template/css/vertical-layout-light/style.css' %}" rel="stylesheet">
    <!-- endinject -->
    <link rel="shortcut icon" href="{% static 'celestialAdmin/template/images/favicon.png' %}" />

  </head>
  
  <body>
    <div class="container-scroller">

        <!-- partial -->
        <div class="main-panel">

            <div class="bg-white d-flex flex-column" style="width: 360px;">

              <div class="bg-light p-1 mx-2">■候補車両一覧</div>
              <hr class="p-0 mt-0 border-dark mx-2">
              
              <div class="text-center mb-3">車種クラス：{{carclass}}</div>
              
              {% if cardrop_list %}
                <div class="mx-5">
                  <table class="table table-bordered">
                    <thead class="thead-light">
                      <tr>
                        <th class="p-1 align-middle"><span class="small font-weight-bold">車名</span></th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for caardrop in cardrop_list %}
                        <tr><td class="p-1">{{ caardrop.name }}</td></tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              {% else %}
                <div>
                  <span class="d-flex justify-content-center text-center">
                    該当する車名は検索できませんでした。
                </div>
              {% endif %}
              <div class="d-flex my-3 justify-content-center">
                <button type="button" class="btn btn-inverse-dark m-2 py-2" id="close">キャンセル</button>
              </div>
            </div>
          
          
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
          
            <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.3/moment.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.3/locale/ja.js"></script>
            
            <!-- 戻るボタンで閉じる-->
            <script>
              let closebutton = document.getElementById('close');
              closebutton.addEventListener('click', () => {
                  close();
              });
              let closebutton2 = document.getElementById('close2');
              closebutton2.addEventListener('click', () => {
                  close();
              });
            </script>

        </div>
        <!-- main-panel ends -->
      {% comment %} </div> {% endcomment %}
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->

    <!-- パンくずリスト -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/js/bootstrap.min.js" integrity="sha384-7aThvCh9TypR7fIc2HV4O/nFMVCBwyIUKL8XCtKE+8xgCgl/PQGuFsvShjr74PBp" crossorigin="anonymous"></script>
    
    <!-- base:js -->
    <script src="{% static 'celestialAdmin/template/vendors/js/vendor.bundle.base.js' %}"></script>
    <!-- endinject -->
    <!-- Plugin js for this page-->
    <!-- End plugin js for this page-->
    <!-- inject:js -->
    <script src="{% static 'celestialAdmin/template/js/off-canvas.js' %}"></script>
    <script src="{% static 'celestialAdmin/template/js/hoverable-collapse.js' %}"></script>
    <script src="{% static 'celestialAdmin/template/js/template.js' %}"></script>
    <script src="{% static 'celestialAdmin/template/js/settings.js' %}"></script>
    <script src="{% static 'celestialAdmin/template/js/todolist.js' %}"></script>
    <!-- endinject -->
    <!-- plugin js for this page -->
    <script src="{% static 'celestialAdmin/template/vendors/progressbar.js/progressbar.min.js' %}"></script>
    <script src="{% static 'celestialAdmin/template/vendors/chart.js/Chart.min.js' %}"></script>
    <!-- End plugin js for this page -->
    <!-- Custom js for this page-->
    <script src="{% static 'celestialAdmin/template/js/dashboard.js' %}"></script>
    <!-- End custom js for this page-->
  </body>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
  $(function () {

  });

</script>
