{% extends 'profit/profit_base.html' %}
{% load static %}
{% block title %}PROFIT_mock{% endblock %}

{% block extra_head %}
<style>
.popover {
  background: #c4dbff;
}
</style>
<!-- フローチャート用-->
<link rel="stylesheet" href="https://unpkg.com/mermaid/dist/mermaid.min.css">


{% endblock %}

{% block breadcrumb %}
{% endblock %}

{% block sidebar %}
  {% include 'profit/side_top.html' %}
{% endblock %}

{% block mainpanel %}


<button type="button" class="btn btn-primary btn-rounded p-1 ml-1 mb-2" id="flow_disp" >まとめ</button>
<button type="button" class="btn btn-primary btn-rounded p-1 ml-1 mb-2" id="flow_hide" >まとめ</button>
<div id="flow_block" class="card mb-2">
  <div class="mermaid h6">
    graph LR;
      A(氏名)-->B(アポストロフィーを確認);
  </div>
  <div class="mermaid h6 ">
    graph LR;
      A(メールアドレス)-->B(アットマークとドットを確認);
  </div>
  <div class="mermaid h6">
    graph LR;
      A(車種クラスとサービス商品が黄色) --> |"基本3桁も黄色"|B(基本の1から4を参照);
      A --> |"入会コースも黄色"|C(入会コースの1から4を参照);
  </div>
  <div class="mermaid h6">
    graph LR;
      A(登録番号)-->B(PROFIT修正);
  </div>
  <div class="mermaid h6">
    graph LR;
      A(車検満了日)-->B(未来日にする);
  </div>
  <div class="mermaid h6 ">
    graph LR;
      A(金額)-->B(ブランクにする);
  </div>

</div>


  <form class="" action='#' method='get' id="view1">
    {% comment %} <input type="hidden" name="route" id="route" value="{{route}}">
    <input type="hidden" name="cert_no" id="hidden_no" value="{{cert_no}}">
    <input type="hidden" name="cancel_flag" id="cancel_flag" value="{{cancel_flag}}"> {% endcomment %}
  
    <div class="card bg-white pb-3">
  
      <div class="p-0 mb-2">
        <div class="col-12 bg-light p-0 mb-0">
          <div class="d-flex flex-row navbar">
            <span class="text-dark text-decoration-none small pr-2 border border-dark border-left-0 border-top-0 border-bottom-0">販売店メニューに戻る</span>
          </div>
        </div>
      </div>
  
  
      <div class="d-flex bg-light p-1 mx-2">■メンテプロパック　受付申込登録
      </div>
      <hr class="p-0 mt-0 border-dark mx-2 mb-2">
  
      {% comment %} <div class="d-flex mx-2"> {% endcomment %}

        <span id="course_error4" class="text-primary small d-flex justify-content-center text-center">
          この商品は登録されていません。<br>
          商品をご確認のうえ、再度登録してください。
        </span>
  
          <div class="d-flex flex-nowrap">
            <span class="col-3 mb-1">販売会社</span>
            <span class="text-primary">　</span>
            <input class="col-2 mb-1 mx-0 " id="company" disabled>
          </div>
          <div class="d-flex flex-nowrap">
            <span class="col-3 mb-1">申込店舗</span>
            <span class="text-primary">※</span>
            <input class="col-2 mb-1" id="shop">
          </div>
          <div class="d-flex flex-nowrap">
            <span class="col-3 mb-1">申込担当者ｺｰﾄﾞ</span>
            <span class="text-primary">※</span>
            <input class="col-2 mb-1" id="tantou_code">
          </div>
          <div class="d-flex flex-nowrap">
            <span class="col-3 mb-1">申込担当者名</span>
            <span class="text-primary">※</span>
            <input class="col-3 mb-1" id="tantou_name">
          </div>
          <div class="d-flex flex-nowrap">
            <span class="col-3 mb-1">氏名<span class="text-primary small">(半角ｶﾅ)</span></span>
            <span class="text-primary">※</span>
            <div class="">
              <div class=""><input class="col-12" id="customer_kana"></div>
              <span class="text-primary small">（例）「ﾆｯｻﾝ ﾀﾛｳ」（姓と名の間はスペースを入れてください）</span>
            </div>
          </div>
          <div class="d-flex flex-nowrap">
            <span class="col-3 mb-1"><span id="kanji_error" class=" btn p-0 text-warning" data-toggle="popover" data-trigger="hover" data-html="true" data-placement="bottom"
              data-content="アポストロフィーは不可<br>⇒代わりに「´」または「′」を使う。<br>案内方法：変換候補に[全]も[半]もない記号です
              " ><i class="fa fa-info-circle"></i> 氏名<span class="small">(漢字)</span></span>
            </span>
            <span class="text-primary">※</span>
            <div class="">
              <div class=""><input class="col" id="customer_kanji"></div>
              <span class="text-primary small">（例）「日産　太郎」（姓と名の間はスペースを入れてください）</span>
            </div>
          </div>
          <div class="d-flex flex-nowrap">
            <span class="col-3 mb-1">生年月日</span>
            <span class="text-primary">　</span>
            <input class="col-1 mb-1" id="birthday_year"><span class="small d-flex align-items-end mb-1 mr-1">年</span>
            <input class="col-1 mb-1" id="birthday_month"><span class="small d-flex align-items-end mb-1 mr-1">月</span>
            <input class="col-1 mb-1" id="birthday_day"><span class="small d-flex align-items-end mb-1 mr-1">日</span>
          </div>
          <div class="d-flex flex-nowrap">
            <span class="col-3 mb-1">性別</span>
            <span class="text-primary">　</span>
            <select class="col-1 mb-1" id="gender">
              <option value="0">選択してください</option>
              <option value="1">男</option>
              <option value="2">女</option>
              <option value="3">法人</option>
            </select>
          </div>
          <div class="d-flex flex-nowrap">
            <span class="col-3 mb-1">郵便番号</span>
            <span class="text-primary">※</span>
            <input class="col-1 mb-1" id="post_code1">
            <span class="mb-1 mr-1">−</span>
            <input class="col-1 mb-1" id="post_code2">
            <span class="btn btn-inverse-dark btn-sm py-0 px-1 mb-1 ml-1 d-flex align-items-center">住所検索</span>
            <span class="text-primary small d-flex align-items-end mb-1">※郵便番号入力後、「住所検索」ボタンを押すと住所を表示します</span>
          </div>
          <div class="d-flex flex-nowrap">
            <span class="col-3 mb-1">住所<span class="text-primary small">(半角ｶﾅ)</span></span>
            <span class="text-primary">　</span>
            <input class="col-6 mb-1" id="address_kana">
          </div>
          <div class="d-flex flex-nowrap">
            <span class="col-3 mb-1">住所<span class="text-primary small">(漢字)</span></span>
            <span class="text-primary">※</span>
            <div class="">
              <div class=""><input class="col-8 " id="address_kanji"></div>
              <span class="text-primary small ">※表示された住所に補助住所(町名、アパート名、号室等)を追加して登録してください
                また、修正が必要な場合は修正願います </span>
            </div>
          </div>
          <div class="d-flex flex-nowrap">
            <span class="col-3 mb-1">電話番号</span>
            <span class="text-primary">　</span>
            <input class="col-2 mb-1" id="tel">
          </div>
          <div class="d-flex flex-nowrap">
            <span class="col-3 mb-1"><span id="mail_error" class="btn p-0 text-warning" data-toggle="popover" data-trigger="hover" data-html="true" data-placement="bottom"
              data-content="アットマーク、ドットなしは不可<br>⇒「〜@〜.〜」にする
              " ><i class="fa fa-info-circle"></i> eﾒｰﾙｱﾄﾞﾚｽ</span>
            </span>
            <span class="text-primary">　</span>
            <input class="col-5 mb-1" id="mail">
          </div>
          <div class="d-flex flex-nowrap">
            <span class="col-3 mb-1">注文書No</span>
            <span class="text-primary">　</span>
            <input class="col-3 mb-1" id="order_no">
          </div>
          <div class="d-flex flex-nowrap">
            <span class="col-3 mb-1">ﾒｰｶｰ区分</span>
            <span class="text-primary">※</span>
            <select class="col-2 mb-1" id="maker">
              <option value="0">選択してください</option>
              <option value="1" selected>日産車</option>
              <option value="2">その他</option>
            </select>
            <span class="ml-1 mb-1"><span id="" class="btn p-0 text-info" data-toggle="popover" data-trigger="hover" data-html="true" data-placement="bottom"
              data-content="日産車のとき、車名と基本3桁がグレーアウトで操作不可に 。<br>また、検索ボタンが表示される。
              " ><i class="fa fa-info-circle"></i></span>
            </span>
          </div>

          <div class="d-flex flex-nowrap">
            <span class="col-3 mb-1">
              {% comment %} <div class="d-flex flex-column"> {% endcomment %}
                <span class=""><span id="class_error" class="btn p-0 text-warning" data-toggle="popover" data-trigger="hover" data-html="true" data-placement="bottom"
                  data-content="・「基本」も黄色？<br>・「入会コース」も黄色？<br>どちらなのか確認して、その項目を参照
                  " ><i class="fa fa-info-circle"></i> 車名/車種ｸﾗｽ</span>
                </span>
                
              {% comment %} </div> {% endcomment %}
            </span>
            <span class="text-primary">※</span>

            <div class="d-flex px-0">
              <div class="d-flex flex-column px-0">
                <input class=" mb-1 py-0" id="car_name">
                <div class="">　</div>
              </div>
              <div class="d-flex flex-column col pl-1 pr-0">


                <div class="d-flex">
                  <select class="mb-1 ml-1" id="car_class" style="width: 110px;" >
                    <option value="0">選択してください</option>
                    <option value="1">乗用車LL</option>
                  </select>
                  <div id="nissan1" class="col-3 mx-0 px-0">
                    <button type="button" class="btn btn-inverse-dark btn-sm py-1 ml-1 align-items-center" id="car_search">検索</button>
                    <span class="ml-1 mb-1"><span id="" class="btn p-0 text-info" data-toggle="popover" data-trigger="hover" data-html="true" data-placement="bottom"
                      data-content="サービス商品が選択されていると、商品に合致する車両しか表示されなくなる<br>⇒商品を「選択してください」に戻してから検索
                      " ><i class="fa fa-info-circle"></i></span>
                    </span>
                  </div>
                  <span class="ml-2 px-0 col-6" id="course_error1">　　　　　　　　　　</span>
                </div>



                <div class="">
                  <span id="nissan2" class="text-primary small ml-1">車種クラス入力後、「車両検索」ボタンを押すと車名を表示します</span>
                  <span id="nissan3" class="text-primary small ml-1"></span>
                </div>
              </div>
            </div>
          </div>

          <div class="d-flex flex-nowrap">
            <span class="col-3 mb-1">車台型式</span>
            <span class="text-primary">　</span>
            <input class="col-3 mb-1" id="#">
          </div>
          <div class="d-flex flex-nowrap">
            <span class="col-3 mb-1">型式</span>
            <span class="text-primary">　</span>
            <input class="col-2 mb-1" id="car_model">
          </div>
          <div class="d-flex flex-nowrap">
            <span class="col-3 mb-1">
              {% comment %} <div class="d-flex flex-column"> {% endcomment %}
                <span class=""><span id="kihon_error" class="btn p-0 text-warning" data-toggle="popover" data-trigger="hover" data-html="true" data-placement="bottom"
                  data-content="クラス×基本3桁×商品の組み合わせNG<br>⇒手順は1〜4を参照
                  " ><i class="fa fa-info-circle"></i> 基本</span>
                </span>
                <span id="kihon_flow1" class="btn py-0 px-2 btn-rounded btn-success" data-toggle="popover" data-trigger="hover" data-html="true" data-placement="bottom"
                data-content="日産車のままだと基本3桁を変更できない
                " >1</span>
                <span id="kihon_flow2" class="btn py-0 px-2 btn-rounded btn-success" data-toggle="popover" data-trigger="hover" data-html="true" data-placement="bottom"
                data-content="メーカー区分をその他に変更する
                " >2</span>
                <span id="kihon_flow3" class="btn py-0 px-2 btn-rounded btn-success" data-toggle="popover" data-trigger="hover" data-html="true" data-placement="bottom"
                data-content="基本3桁を修正する
                " >3</span>
                <span id="kihon_flow4" class="btn py-0 px-2 btn-rounded btn-success" data-toggle="popover" data-trigger="hover" data-html="true" data-placement="bottom"
                data-content="メーカー区分を日産車に戻す<br>（状況によっては、その他のまま）
                " >4</span>
              {% comment %} </div> {% endcomment %}
            </span>
            <span class="text-primary">※</span>
            <div class="d-flex flex-nowrap" id="base_no_block">
              <input class="col-4 mb-1" id="base_no">
              <div class="　"></div>
              <span id="kihon_flow1pop" class="btn p-0 text-warning" data-toggle="popover" data-trigger="click" data-html="true" data-placement="right"
                  data-content="日産車のままだと変更できない<br><div id='kihon_flow2' class='btn'>Next</div>">　　　</span>
            </div>
          </div>
          <div class="d-flex flex-nowrap">
            <span class="col-3 mb-1"><span id="plate_error" class="btn p-0 text-warning" data-toggle="popover" data-trigger="hover" data-html="true" data-placement="bottom"
              data-content="PROFITでは同じ地名が複数あるが、選択肢によってはエラーになる<br>⇒PROFITで別の選択肢に修正後やり直す<br><span class='small'>※基本3桁エラーなのにバグで登録番号が黄色エラーになることあり？</span>
              " ><i class="fa fa-info-circle"></i> 登録番号</span>
            </span>
            <span class="text-primary">　</span>
            <select class="col-2 mb-1" id="plate_no1">
              <option value="0">選択してください</option>  
              <option value="1">練馬</option> 
              <option value="2"></option>          
            </select>
            <input class="col-1 mb-1" id="plate_no2">
            <input class="col-1 mb-1" id="plate_no3">
            <input class="col-1 mb-1" id="plate_no4">
            <span class="text-primary small d-flex align-items-end mb-1">（例）幕張 300 ｻ 0123</span>
              
          </div>
          <div class="d-flex flex-nowrap">
            <span class="col-3 mb-1">車台番号</span>
            <span class="text-primary">　</span>
            <input class="col-2 mb-1" id="frame_no1">
            <input class="col-2 mb-1" id="frame_no2">
          </div>
          <div class="d-flex flex-nowrap">
            <span class="col-3 mb-1">新中サ区分</span>
            <span class="text-primary">※</span>
            <select class="col-2 mb-1" id="entry_div">
              <option value="0">選択してください</option>
              <option value="1">新車</option>
              <option value="2">中古車</option>
              <option value="3">サービス</option>
            </select>
          </div>
          <div class="d-flex flex-nowrap">
            <span class="col-3 mb-1">初度登録年月</span>
            <span class="text-primary">　</span>
            <input class="col-1 mb-1" id="register_year"><span class="small d-flex align-items-end mb-1 mr-1">年</span>
            <input class="col-1 mb-1" id="register_month"><span class="small d-flex align-items-end mb-1 mr-1">月</span>
          </div>
          <div class="d-flex flex-nowrap">
            <span class="col-3 mb-1"><span id="insp_error" class="btn p-0 text-warning" data-toggle="popover" data-trigger="hover" data-html="true" data-placement="bottom"
              data-content="申込当日以前の日付は不可<br>⇒翌日以降にする。
              " ><i class="fa fa-info-circle"></i> 車検満了年月日</span>
            </span>
            <span class="text-primary">　</span>
            <input class="col-1 mb-1" id="insp_year"><span class="small d-flex align-items-end mb-1 mr-1">年</span>
            <input class="col-1 mb-1" id="insp_month"><span class="small d-flex align-items-end mb-1 mr-1">月</span>
            <input class="col-1 mb-1" id="insp_day"><span class="small d-flex align-items-end mb-1 mr-1">日</span>
          </div>

          <div class="d-flex flex-nowrap">
            <span class="col-3 mb-1">
              <span class=""><span id="product_error" class="btn p-0 text-warning" data-toggle="popover" data-trigger="hover" data-html="true" data-placement="bottom"
                data-content="・「基本」も黄色？<br>・「入会コース」も黄色？<br>どちらなのか確認して、その項目を参照
                " ><i class="fa fa-info-circle"></i> ｻｰﾋﾞｽ商品</span>
              </span>
            </span>
            <span class="text-primary">※</span>
            <select class=" mb-1" id="product">
              <option value="0">選択してください
              <option value="1">メンテプロパック（乗用）
              <option value="ev">メンテプロパック（EV）
              <option value="premium">NISSAN EVあんしんプラスプレミアム
              <option value="chotoku">メンテプロパック長得（乗用）
              <option value="shoyo">メンテプロパック（商用）
              <option value="cd">メンテプロパック（CD）
              <option value="turbo">メンテプロパックターボ（乗用）
              <option value="nismo">メンテプロパックNISMO
              <option value="evsp">メンテプロパック（EVSP）
            </select>
            <span class="ml-2 px-1 alert-warning" id="course_error2-1">内容をご確認ください</span>
            <span class="ml-2 px-1 alert-warning" id="course_error2-2">この車両は選択した商品の対象外です</span>
          </div>
          <div class="d-flex flex-nowrap">
            <span class="col-3 mb-1 pr-0">
              <span class=""><span id="course_error" class="btn p-0 text-warning" data-toggle="popover" data-trigger="hover" data-html="true" data-placement="bottom"
                data-content="クラス×商品×コースの組み合わせNG<br>⇒手順は1〜4を参照
                " ><i class="fa fa-info-circle"></i> 入会ｺｰｽ</span>
              </span>
                <span id="course_flow0" class="btn py-0 px-2 btn-rounded btn-success" data-toggle="popover" data-trigger="hover" data-html="true" data-placement="bottom"
                data-content="販社で取扱のある商品とコースか確認<br>⇒問題なければ、車種クラスを確認<br>⇒車種クラスの修正は2へ
                " >1</span>
                <span id="course_flow1" class="btn py-0 px-2 btn-rounded btn-success" data-toggle="popover" data-trigger="hover" data-html="true" data-placement="bottom"
                data-content="サービス商品が選択されていると、車種クラス検索で商品に合致する車両しか表示されなくなる
                " >2</span>
                <span id="course_flow2" class="btn py-0 px-2 btn-rounded btn-success" data-toggle="popover" data-trigger="hover" data-html="true" data-placement="bottom"
                data-content="サービス商品を「選択してください」に戻す<br>入会コースは連動して「選択して〜」になる
                " >3</span>
                <span id="course_flow3" class="btn py-0 px-2 btn-rounded btn-success" data-toggle="popover" data-trigger="hover" data-html="true" data-placement="bottom"
                data-content="正しい車種クラスを選択して検索し、一覧から選択する
                " >4</span>
                {% comment %} <span id="course_flow4" class="btn py-0 px-2 btn-rounded btn-success" data-toggle="popover" data-trigger="hover" data-html="true" data-placement="bottom"
                data-content="検索に車両が出ない場合、<br>⇒メーカー区分「その他」<br>⇒基本3桁を削除<br>⇒メーカー区分「日産車」にして検索？？
                " >4</span> {% endcomment %}
            </span>
            <span class="text-primary">※</span>
            <select class="mb-1" id="course">
              <option value="0">選択してください</option>
              <option value="1" data-val="">メンテプロパック30EV</option>
            </select>
            <span class="ml-2 px-1 alert-warning" id="course_error3">内容をご確認ください</span>
          </div>
          <div class="d-flex flex-nowrap">
            <span class="col-3 mb-1"><span id="price_error" class="btn p-0 text-warning" data-toggle="popover" data-trigger="hover" data-html="true" data-placement="bottom"
              data-content="金額相違は不可<br>⇒ブランクで送信すれば正しい金額が入る
              " ><i class="fa fa-info-circle"></i> お支払額</span>
            </span>
            <span class="text-primary">　</span>
            <div class="d-flex flex-column">
              <div class="d-flex">
                <input class=" mb-1" id="price">
                <span class="small d-flex align-items-end mb-1 mr-1">円</span>
                <span class="text-primary small d-flex align-items-end mb-1">(消費税込み)</span>
              </div>
              <span class="px-1 alert-warning" id="price_error2">NFS-Web算出額 156,920円　　お支払額とNFS-Web算出額が違っています。</span>
            </div>
          </div>
          <div class="d-flex flex-nowrap">
            <span class="col-3 mb-1">支払手段</span>
            <span class="text-primary">※</span>
            <select class="col-2 mb-1" id="payment">
              <option value="0">選択してください</option>
              <option value="1">現金</option>
              <option value="2">日産カード</option>
            </select>
          </div>
  
          <span class="text-primary small d-flex justify-content-center mt-2">
            ※送信で次の画面へ、戻りで画面内容クリア、業務メニューで申込をやめます
          </span>
  
          <div class="row justify-content-center">
            <div class="d-flex flex-row ">
              <button class="btn btn-light m-2" type="submit" id="send" disabled>送信</button>
              <button type="button" class="btn btn-light m-2" id="test2" disabled>戻り</button>
              <button type="button" class="btn btn-light m-2" id="" disabled>業務メニュー</button>
              {% comment %} <a href="#" class="btn btn-inverse-dark m-2" id="back2">業務メニュー</a> {% endcomment %}
            </div>
          </div>
  
    </div>
  
  </form>
  
  
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.3/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.3/locale/ja.js"></script>
  
  
    <script>

      //クラスと商品
      function class_product_on(){
        $('#car_class').addClass("alert-warning");
        $("#product").addClass("alert-warning");
      };
      function class_product_off(){
        $('#car_class').removeClass("alert-warning");
        $("#product").removeClass("alert-warning");
      };
      function course_on(){
        $("#course").addClass("alert-warning");
        $('#course_error1').text("内容をご確認ください");
        $('#course_error1').addClass("alert-warning");
        $('#course_error2-1').show();
        $('#course_error3').show();
        $('#course_error4').html("この商品は登録されていません。<br>商品をご確認のうえ、再度登録してください。");
      };
      function course_off(){
        $('#course').removeClass("alert-warning");
        $('#course_error1').text("　　　　　　　　　　");
        $('#course_error1').removeClass("alert-warning");
        $('#course_error2-1').hide();
        $('#course_error3').hide();
        $('#course_error4').html("　<br>　");
      };
      function kihon_on(){
        $("#base_no").addClass("alert-warning");
        $('#kihon_error1').show();
      };
      function kihon_off(){
        $("#base_no").removeClass("alert-warning");
        $('#kihon_error1').hide();
      };

      //コースエラー表示は関数化
      function course_show(){
        class_product_on();
        course_on();
      };

      //コースエラー非表示関数
      function course_hide(){
        class_product_off();
        course_off();
      };

      //基本エラー表示は関数化
      function kihon_show(){
        class_product_on();
        kihon_on();
        $('#kihon_flow1pop').popover();
      };

      //基本エラー非表示関数
      function kihon_hide(){
        class_product_off();
        kihon_off();
      };

      //コースと基本を交互に
      function course_kihon_repeat(){
        class_product_on();
        setTimeout("course_on()", 0);
        setTimeout("course_off()", 1000);
        setTimeout("kihon_on()", 1000);
        setTimeout("kihon_off()", 2000);
      };

      //コースと基本を交互に
      function maker_change(){
        if ($("#maker").val()==1) {
          $('#car_name').prop('disabled', true);
          $('#base_no').prop('disabled', true);
          $('#nissan1').show();
          $('#nissan2').show();
          $('#nissan3').hide();//体裁用ダミー
        } else {
          $('#car_name').prop('disabled', false);
          $('#base_no').prop('disabled', false);
          $('#nissan1').hide();
          $('#nissan2').hide();
          $('#nissan3').show();
        }
      };

      $(function() {
        $('[data-toggle="popover"]').popover();
        $("[data-toggle=popover]").on('hover', function (e) {
          $("[data-toggle=popover]").not(this).popover('hide');
        });
        $('#sidebar').removeClass('bg-white');//紺色に
        $('#case_btn').hide();//Sampleボタン非表示

        $('#flow_hide').hide();//非表示
        $('#flow_block').fadeOut(200);//非表示

      
        //はじめは非表示
        $('#price_error2').hide();
        $('#course_error2-1').hide();
        $('#course_error2-2').hide();
        $('#course_error3').hide();
        $('#course_error4').html("　<br>　");
        $('#kihon_error1').hide();
        $('#nissan3').hide();//体裁用ダミー

        //日産車とその他でグレーアウトやボタン表示を変更
        $("#maker").change(function() {
          maker_change();
        });

        //基本エラー手順１〜4
        $('#kihon_flow1').on('show.bs.popover', function () {
          $('#base_no').addClass('blink');// 点滅
          $('#maker').val(1);// 日産車
          maker_change();
        })
        $('#kihon_flow1').on('hide.bs.popover', function () {
          $('#base_no').removeClass('blink');
        })
        $('#kihon_flow2').on('show.bs.popover', function () {
          $('#maker').addClass('blink');// 点滅
          $('#maker').val(2);// その他に
          maker_change();
        })
        $('#kihon_flow2').on('hide.bs.popover', function () {
          $('#maker').removeClass('blink');
        })
        $('#kihon_flow3').on('show.bs.popover', function () {
          $('#base_no').addClass('blink');// 点滅
          $('#base_no').val('V37');
        })
        $('#kihon_flow3').on('hide.bs.popover', function () {
          $('#base_no').removeClass('blink');
        })
        $('#kihon_flow4').on('show.bs.popover', function () {
          $('#maker').addClass('blink');// 点滅
          $('#maker').val(1);// その他に
          maker_change();
        })
        $('#kihon_flow4').on('hide.bs.popover', function () {
          $('#maker').removeClass('blink');
        })

        //コースエラー手順１〜4
        $('#course_flow0').on('show.bs.popover', function () {
          $('#product').addClass('blink');// 点滅
          $('#course').addClass('blink');// 点滅
        })
        $('#course_flow0').on('hide.bs.popover', function () {
          $('#product').removeClass('blink');// 
          $('#course').removeClass('blink');// 
        })
        $('#course_flow1').on('show.bs.popover', function () {
          $('#car_class').addClass('blink');// 点滅
          $('#product').addClass('blink');// 点滅
          $('#product').val("ev");// メンプロEV
          $('#course').val("1");// EV30
        })
        $('#course_flow1').on('hide.bs.popover', function () {
          $('#car_class').removeClass('blink');// 
          $('#product').removeClass('blink');// 
        })
        $('#course_flow2').on('show.bs.popover', function () {
          $('#product').addClass('blink');// 点滅
          $('#product').val("0");// 選択してください
          $('#course').val("0");// 選択してください
        })
        $('#course_flow2').on('hide.bs.popover', function () {
          $('#product').removeClass('blink');// 
        })
        $('#course_flow3').on('show.bs.popover', function () {
          $('#car_class').addClass('blink');// 点滅
          $('#car_search').addClass('blink');// 点滅
        })
        $('#course_flow3').on('hide.bs.popover', function () {
          $('#car_class').removeClass('blink');// 
          $('#car_search').removeClass('blink');// 
        })
        //$('#course_flow4').on('show.bs.popover', function () {
        //  $('#maker').addClass('blink');// 点滅
        //  $('#maker').val(2);// その他に
        //  maker_change();
        //  $('#base_no').addClass('blink');// 点滅
        //})
        //$('#course_flow4').on('hide.bs.popover', function () {
        //  $('#maker').removeClass('blink');
        //  $('#maker').val(1);// 日産車
        //  maker_change();
        //  $('#base_no').removeClass('blink');
        //})
        
        
        //コース
        /*
        $('#course_error').on('show.bs.popover', function () {
          $('#product').val("ev");// メンプロEV
          $('#course').val("1");// EV30
          course_show();
          setTimeout("course_show()", 1000);//交互のhideで遅れてhideされた時用
        })
        $('#course_error').on('hide.bs.popover', function () {
          course_hide();
          setTimeout("course_hide()", 1000);//↑で遅れてshowされた時用
        })
        */
        $('#course_error, #course').hover(
          function (){
            $('#product').val("ev");// メンプロEV
            $('#course').val("1");// EV30
            course_show();
            setTimeout("course_show()", 1000);//交互のhideで遅れてhideされた時用
            $('#course_error').popover('show');
          },
          function () {
            course_hide();
            setTimeout("course_hide()", 1000);//↑で遅れてshowされた時用
            $('#course_error').popover('hide');
          }
        );

        //クラスは交互
        var timer = null;
        /*
        $('#class_error').on('show.bs.popover', function () {
          course_kihon_repeat();
          timer = setInterval("course_kihon_repeat()", 2000);
        })
        $('#class_error').on('hide.bs.popover', function () {
          clearInterval(timer);
          course_hide();
          kihon_hide();
        })
        */
        $('#class_error, #car_class').hover(
          function (){
            course_kihon_repeat();
            timer = setInterval("course_kihon_repeat()", 2000);
            $('#class_error').popover('show');
          },
          function () {
            clearInterval(timer);
            course_hide();
            //kihon_hide();
            $('#class_error').popover('hide');
          }
        );

        //商品も交互
        var timer = null;
        /*
        $('#product_error').on('show.bs.popover', function () {
          course_kihon_repeat();
          timer = setInterval("course_kihon_repeat()", 2000);
        })
        $('#product_error').on('hide.bs.popover', function () {
          clearInterval(timer);
          course_hide();
          kihon_hide();
        })
        */
        $('#product_error, #product').hover(
          function (){
            course_kihon_repeat();
            timer = setInterval("course_kihon_repeat()", 2000);
            $('#product_error').popover('show');
          },
          function () {
            clearInterval(timer);
            course_hide();
            //kihon_hide();
            $('#product_error').popover('hide');
          }
        );

        //基本3桁エラー
        /*
        $('#kihon_error').on('show.bs.popover', function () {
          kihon_show();
          setTimeout("kihon_show()", 1000);//交互のhideで遅れてhideされた時用
        })
        $('#kihon_error').on('hide.bs.popover', function () {
          kihon_hide();
          setTimeout("kihon_hide()", 1000);//↑で遅れてshowされた時用
        })
        */
        $('#kihon_error, #base_no_block').hover(
          function (){
            $('#kihon_error').popover('show');
            kihon_show();
          },
          function () {
            $('#kihon_error').popover('hide');
            kihon_hide();
          }
        );

        //契約者名漢字
        $('#kanji_error, #customer_kanji').hover(
          function (){
            $('#customer_kanji').addClass("alert-warning");
            $('#kanji_error').popover('show');
          },
          function () {
            $('#customer_kanji').removeClass("alert-warning");
            $('#kanji_error').popover('hide');
          }
        );

        //メールアドレス、↓で自身を含めた複数セレクタOKになる
        /*
        $('#mail_error').on('show.bs.popover', function () {
          $('#mail').addClass("alert-warning");
        })
        $('#mail_error').on('hide.bs.popover', function () {
          $('#mail').removeClass("alert-warning");
        })
        */
        $('#mail_error, #mail').hover(
          function (){
            $('#mail').addClass("alert-warning");
            $('#mail_error').popover('show');
          },
          function () {
            $('#mail').removeClass("alert-warning");
            $('#mail_error').popover('hide');
          }
        );

        //登録番号
        $('#plate_error, #plate_no1, #plate_no2, #plate_no3, #plate_no4').hover(
          function (){
            $('#plate_no1').addClass("alert-warning");
            $('#plate_no2').addClass("alert-warning");
            $('#plate_no3').addClass("alert-warning");
            $('#plate_no4').addClass("alert-warning");
            $('#plate_error').popover('show');
          },
          function () {
            $('#plate_no1').removeClass("alert-warning");
            $('#plate_no2').removeClass("alert-warning");
            $('#plate_no3').removeClass("alert-warning");
            $('#plate_no4').removeClass("alert-warning");
            $('#plate_error').popover('hide');
          }
        );

        //車検満了日
        $('#insp_error, #insp_year, #insp_month, #insp_day').hover(
          function (){
            $('#insp_year').addClass("alert-warning");
            $('#insp_month').addClass("alert-warning");
            $('#insp_day').addClass("alert-warning");
            $('#insp_error').popover('show');
          },
          function () {
            $('#insp_year').removeClass("alert-warning");
            $('#insp_month').removeClass("alert-warning");
            $('#insp_day').removeClass("alert-warning");
            $('#insp_error').popover('hide');
          }
        );

        //支払金額
        $('#price_error, #price').hover(
          function (){
            $('#price').addClass("alert-warning");
            $('#price_error2').show();
            $('#price_error').popover('show');
          },
          function () {
            $('#price').removeClass("alert-warning");
            $('#price_error2').hide();
            $('#price_error').popover('hide');
          }
        );


      });
    </script>


<script>
  $(function () {

    //共通
    $('#company').val("13300");
    $('#shop').val("1E0");
    $("#tantou_code").val("001234"); // 値を設定
    $("#tantou_name").val("大磯　太郎");
    $("#customer_kanji").val("アポストロフィー’ｓ株式会社　OK→「´」「′」");
    $("#customer_kana").val("ｱﾎﾟｽﾄﾛﾌｨｰ");
    $("#gender").val(3);
    $("#post_code1").val("171");
    $("#post_code2").val("0014");
    $("#address_kanji").val("豊島区池袋9-8-7");
    $("#tel").val("070-1239-1721");
    $("#mail").val("vcc@marsh");
    //$("#maker").val(1);
    //$('#maker').prop('disabled', true);
    $("#car_name").val("ｽｶｲﾗｲﾝ");
    $('#car_name').prop('disabled', true);



    $("#car_class").val(1);
    //$('#car_class').prop('disabled', true);
    $("#car_model").val("5BA-RV37");
    $("#base_no").val("V39");
    $('#base_no').prop('disabled', true);
    $("#plate_no1").val(2);
    $("#plate_no2").val("330");
    $("#plate_no3").val("ｻ");
    $("#plate_no4").val("9999");
    $("#frame_no1").val("RV37-130855");
    $("#payment").val(2);
    
    $('#order_no').prop('disabled', true);
    $('#entry_div').val(1);
    $('#entry_div').prop('disabled', true);
    $("#product").val("ev");
    $("#course").val("1");

    $("#price").val("100,000");

    var shodo_date = moment(new Date())
    $("#register_year").val(shodo_date.format('YYYY'));
    $("#register_month").val(shodo_date.format('MM'));
    var shaken_date = moment(new Date());
    $("#insp_year").val(shaken_date.format('YYYY'));
    $("#insp_month").val(shaken_date.format('MM'));
    $("#insp_day").val(shaken_date.format('DD'));

    //それぞれ
    var cert_no = $('#hidden_no').val();

    $("#order_no").val("N123A9999");

  });

  //フロー表示ボタン
  $('#flow_disp').click(function() {
    $('#flow_block').fadeIn(500);
    $('#flow_hide').show();
    $('#flow_disp').hide();
  });
  //フロー非表示ボタン
  $('#flow_hide').click(function() {
    $('#flow_block').fadeOut(500);
    $('#flow_disp').show();
    $('#flow_hide').hide();
  });
</script>


<!-- 車両：別ウインドウ-->
<script>
  let button1 = document.getElementById('car_search');
  button1.addEventListener('click', () => {
    let option = 'width=360,height=440,left=100,top=100'
      let newwin = open('{% url 'myprofit:car' %}','mywindow', option);
  });
</script>

<!-- フローチャート用-->
<script src="https://unpkg.com/mermaid/dist/mermaid.min.js" charset="UTF-8"></script>
<script>
  mermaid.initialize({
    startOnLoad:true,
  });

</script>

{% endblock %}
