{% load static %}
{% load bootstrap4 %}

<!DOCTYPE html>
<html lang="ja">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>PROFIT mock</title>
    <!-- base:css -->
    <link href="{% static 'celestialAdmin/template/vendors/typicons.font/font/typicons.css' %}" rel="stylesheet">
    <link href="{% static 'celestialAdmin/template/vendors/css/vendor.bundle.base.css' %}" rel="stylesheet">
    <!-- endinject --> 
    <!-- plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link href="{% static 'celestialAdmin/template/css/vertical-layout-light/style.css' %}" rel="stylesheet">
    <!-- endinject -->
    <link rel="shortcut icon" href="{% static 'celestialAdmin/template/images/favicon.png' %}" />
  </head>
  
  <body>
    <div class="container-scroller">
      <!-- トップバー -->
      <!-- partial:partials/_navbar.html -->

      <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
        <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
          <div class="brand-logo font-weight-bold">日産プリンスMarsh株式会社</div>
          <button class="p-3 navbar-toggler navbar-toggler align-self-center d-none d-lg-flex" type="button" data-toggle="minimize">
            <span class="typcn typcn-th-menu"></span>
          </button>

          
        <!-- パンくずリストはここに書こうか -->

      </nav>
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_settings-panel.html -->
        <!-- partial -->
        
        <!-- partial:partials/_sidebar.html -->
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
          <li class="nav-item bg-white">
            <div class="sidebar-menu-title">新車C/A</div>
          </li>

          <li class="nav-item border-bottom">
            <a class="nav-link" href="#">
              <span class="menu-title">商談</span><i class="typcn typcn-chevron-right menu-arrow"></i>
            </a>
          </li>
          <li class="nav-item border-bottom">
            <a class="nav-link" href="#">
              <span class="menu-title">受注</span><i class="typcn typcn-chevron-right menu-arrow"></i>
            </a>    
          </li>
          <li class="nav-item border-bottom">
            <a class="nav-link" href="#">
              <span class="menu-title">登録・納車・回収</span><i class="typcn typcn-chevron-right menu-arrow"></i>
            </a>
          </li>
          <li class="nav-item border-bottom">
            <a class="nav-link" href="#">
              <span class="menu-title">保険</span><i class="typcn typcn-chevron-right menu-arrow"></i>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
              <i class="typcn typcn-briefcase menu-icon"></i>
              <span class="menu-title">UI Elements</span>
              <i class="typcn typcn-chevron-right menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-basic">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="#">Buttons</a></li>
                <li class="nav-item"> <a class="nav-link" href="#">Dropdowns</a></li>
                <li class="nav-item"> <a class="nav-link" href="#">Typography</a></li>
              </ul>
            </div>
          </li>

        </ul>

        <div class="col align-self-end nav-item">
          <a class="nav-link" href="#">
            <span class="menu-title">トップメニュー</span></i>
          </a>
        </div>

      </nav>

        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">

            <div class="row">
              <div class="col-lg-12 stretch-card p-2">
                <div class="card">
                  <h5 class="card-title m-2 mx-auto">登録・納車・回収</h5>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-4 d-flex grid-margin stretch-card p-2">
                <div class="card">
                  <h4 class="card-title my-1 mx-auto">CAP</h4>
                  <hr>
                  <div class="card-body p-2">
                    <span class="font-weight-bold p-0">【登録】</span>
                    <ul class="list-unstyled">
                    <li>　</li><li>　</li><li>　</li><li>　</li>
                    </ul>
                    <ul class="list-unstyled">【納車】
                      <li>　</li><li>　</li><li>　</li><li>　</li>
                      </ul>
                    <ul class="list-unstyled">【回収】
                      <li>　</li><li>　</li><li>　</li><li>　</li>
                    </ul>
                  </div>
                </div>
              </div>


              <div class="col-4 d-flex grid-margin stretch-card p-2">
                <div class="card">
                  <h4 class="card-title my-1 mx-auto">店舗オンライン</h4>
                  <hr>
                  <div class="card-body p-2">
                    <div class="font-weight-bold">【登録】</div>
                    <ul class="list-unstyled ml-3">
                    <li>日産OSSシステム <i class="typcn typcn-chevron-right menu-arrow"></i></li>
                      <li>　</li><li>　</li><li>　</li>
                    </ul>
                    <div class="font-weight-bold">【納車】</div>
                    <ul class="list-unstyled ml-3">
                      <li>メンテプロ申込書印刷 <i class="typcn typcn-chevron-right menu-arrow"></i></li>
                      <li>メンテプロ会員証印刷 <i class="typcn typcn-chevron-right menu-arrow"></i></li>
                      <li>NFSメンテトップメニュー <i class="typcn typcn-chevron-right menu-arrow"></i></li>
                      
                      <li>　</li>
                      </ul>
                    <ul class="list-unstyled">【回収】
                      <li>　</li><li>　</li><li>　</li><li>　</li>
                    </ul>
                    <ul class="list-unstyled">【ZESP2】
                      <li>　</li><li>　</li><li>　</li><li>　</li>
                    </ul>
                  </div>
                </div>
              </div>
              

                <div class="col-4 d-flex grid-margin stretch-card">
                  <div class="card">
                    <div class="card-body">
                      <div class="d-flex flex-wrap justify-content-between">
                        <h4 class="card-title my-0 mx-auto">本部オンライン</h4>
                      </div>
                      <hr>
                      <div class="row">
  
                      </div>
                    </div>
                  </div>
                </div>
            </div>







            <div class="row">
              <div class="col-sm-6">
                <h3 class="mb-0 font-weight-bold">Fumihiro Oiso</h3>
                <p>Your last login: 21h ago from newzealand.</p>
              </div>
            </div>


          </div>
          <!-- content-wrapper ends -->
          <!-- partial:partials/_footer.html -->

          <footer class="footer">
            <div class="d-sm-flex justify-content-center justify-content-sm-between">
              <span class="text-center text-sm-left d-block d-sm-inline-block">Copyright &copy; VccMarsh {% now "Y" %}</span>
              {% comment %} <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Free <a href="https://www.bootstrapdash.com/" target="_blank">Bootstrap dashboard </a>templates from Bootstrapdash.com</span> {% endcomment %}
            </div>
          </footer>

          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- base:js -->
    <script src="{% static 'celestialAdmin/template/vendors/js/vendor.bundle.base.js' %}"></script>
    <!-- endinject -->
    <!-- Plugin js for this page-->
    <!-- End plugin js for this page-->
    <!-- inject:js -->
    <script src="{% static 'celestialAdmin/template/js/off-canvas.js' %}"></script>
    <script src="{% static 'celestialAdmin/template/js/hoverable-collapse.js' %}"></script>
    <script src="{% static 'celestialAdmin/template/js/template.js' %}"></script>
    <script src="{% static 'celestialAdmin/template/js/settings.js' %}"></script>
    <script src="{% static 'celestialAdmin/template/js/todolist.js' %}"></script>
    <!-- endinject -->
    <!-- plugin js for this page -->
    <script src="{% static 'celestialAdmin/template/vendors/progressbar.js/progressbar.min.js' %}"></script>
    <script src="{% static 'celestialAdmin/template/vendors/chart.js/Chart.min.js' %}"></script>
    <!-- End plugin js for this page -->
    <!-- Custom js for this page-->
    <script src="{% static 'celestialAdmin/template/js/dashboard.js' %}"></script>
    <!-- End custom js for this page-->
  </body>
</html>