{% extends 'profit/profit_base.html' %}
{% load static %}
{% block title %}PROFIT_mock{% endblock %}

{% block breadcrumb %}
<div class=" nav-item d-flex m-0 h6">
  <li class="breadcrumb-item"><a href="{% url 'myprofit:profit_top' %}"><i class="fa fa-home"> Home</i></a></li>
  <li class="breadcrumb-item active">新車CA</li>
  <li class="breadcrumb-item"><a href="{% url 'myprofit:new02' %}">登録・納車・回収</a></li>
  <li class="breadcrumb-item"><a href="{% url 'myprofit:new03' %}">申込/取消画面</a></li>
  <li class="breadcrumb-item"><a href="{% url 'myprofit:new04' %}">NFS-Webログイン画面</a></li>
</div>
{% endblock %}

{% block sidebar %}
<ul class="nav">
  <li class="nav-item bg-white">
    <div class="sidebar-menu-title">新車C/A</div>
  </li>

  <li class="nav-item border-bottom">
    <a class="nav-link" href="#">
      <span class="menu-title">商談</span><i class="typcn typcn-chevron-right menu-arrow"></i>
    </a>
  </li>
  <li class="nav-item border-bottom">
    <a class="nav-link" href="#">
      <span class="menu-title">受注</span><i class="typcn typcn-chevron-right menu-arrow"></i>
    </a>
  </li>
  <li class="nav-item border-bottom">
    <a class="nav-link blink" href="{% url 'myprofit:new02' %}">
      <span class="menu-title">登録・納車・回収</span><i class="typcn typcn-chevron-right menu-arrow"></i>
    </a>
  </li>
  <li class="nav-item border-bottom">
    <a class="nav-link" href="#">
      <span class="menu-title">保険</span><i class="typcn typcn-chevron-right menu-arrow"></i>
    </a>
  </li>

  <li class="nav-item">
    <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
      <i class="typcn typcn-briefcase menu-icon"></i>
      <span class="menu-title">UI Elements</span>
      <i class="typcn typcn-chevron-right menu-arrow"></i>
    </a>
    <div class="collapse" id="ui-basic">
      <ul class="nav flex-column sub-menu">
        <li class="nav-item"> <a class="nav-link" href="#">Buttons</a></li>
        <li class="nav-item"> <a class="nav-link" href="#">Dropdowns</a></li>
        <li class="nav-item"> <a class="nav-link" href="#">Typography</a></li>
      </ul>
    </div>
  </li>

</ul>

<div class="col align-self-end nav-item">
  <a class="nav-link" href="#">
    <span class="menu-title">トップメニュー</span></i>
  </a>
</div>
{% endblock %}

{% block mainpanel %}

{% endblock %}
