{% extends 'profit/profit_base.html' %}
{% load static %}
{% block title %}PROFIT_mock{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item nav-item d-flex m-0"><a title="" href="{% url 'myprofit:profit_top' %}"><i class="fa fa-home"> Home</i></a></li>
<li class="breadcrumb-item nav-item d-flex m-0"><a title="" href="{% url 'myprofit:new01' %}">新車CA</i></a></li>
<li class="breadcrumb-item nav-item d-flex m-0"><a title="" href="{% url 'myprofit:new02' %}">登録・納車・回収</i></a></li>
<li class="breadcrumb-item active nav-item d-flex m-0">申込/取消画面</li>
{% endblock %}

{% block sidebar %}
  {% include 'profit/side_new.html' %}
{% endblock %} 

{% block mainpanel %}
<div class="row">
  <div class="col-3">
    <h4 class="font-weight-bold">新中サ区分：<span class="text-secondary">新車</span></h4>
  </div>

  <div class="col-9 card bg-light p-1 mb-2">
    <div class="card-body p-1 m-0">
      <div class="form-group row">
        <label class="col-2 col-sm-form-label">伝票番号：</label>
        <div class="col-4">
          <input class="sm-form-control">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12 card bg-light p-1 mb-2">
    <div class="card-title p-1">商品情報</div>

    <div class="card-body p-1 m-0">
      <div class="form-group">
        <div class="row">
          <label class="col-4 col-sm-form-label">メンテナンス商品会員番号：</label>
          <div class="col-4">
            <select class="sm-form-control">
              <option>（新規申込／契約）</option>
              <option>。。。</option>
            </select>
          </div>
        </div>

        <div class="row">
          <label class="col-4 col-sm-form-label">担当者：</label>
          <div class="col-4">
            <input class="sm-form-control">
          </div>
          <div class="col-4">
            <input class="sm-form-control">
          </div>
        </div>


      </div>
    </div>





    
  </div>
</div>


{% endblock %}
