{% extends 'profit/profit_base.html' %}
{% load static %}
{% block title %}PROFIT_mock{% endblock %}

{% block breadcrumb %}
  {% include 'profit/bread_new_entry.html' %}
{% endblock %}

{% block sidebar %}
  {% include 'profit/side_new.html' %}
{% endblock %} 

{% block mainpanel %}
  {% include 'profit/nfs_entry.html' %}



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
  $(function () {
    $("#send").attr("href", "{% url 'myprofit:new06' %}") //申込確認画面へ

    $('#company').val("13300");
    $('#shop').val("1E0");
    $("#menu_code").val("S0");
    $("#menu_name").val("メンテプロパック54車検付B");
    $("#tantou_code").val("001234"); // 値を設定
    $("#tantou_name").val("大磯　太郎");

    $("#customer_kanji").val("尾凪　花子");
    $("#customer_kana").val("ｵﾅｷﾞ ﾊﾅｺ");
    $("#gender").val(2);
    $("#post_code1").val("171");
    $("#post_code2").val("0014");
    $("#address_kanji").val("豊島区池袋9-8-7");
    $("#tel").val("070-1239-1721");
    $("#order_no").val("N1234AXXX");
    $('#order_no').prop('disabled', true);

    $("#maker").val(1);
    $('#maker').prop('disabled', true);
    $("#car_name").val("ｽｶｲﾗｲﾝ");
    $('#car_name').prop('disabled', true);
    $("#car_class").val(1);
    $('#car_class').prop('disabled', true);
    $("#car_model").val("5BA-RV37");
    $("#base_no").val("V37");
    $('#base_no').prop('disabled', true);
    //$("#plate_no").val("練馬330さ9876");
    $("#frame_no").val("RV37-130855");
    //$("#car_code").val("15");
    $("#entry_div").val(1);
    $('#entry_div').prop('disabled', true);

    //var shodo_date = moment(new Date()).format('YYYY年MM月');//今月
    //$("#register_date").val(shodo_date);
    //var shaken_date = moment(new Date()).add(3, 'y').format('YYYY年MM月');//今月

    $("#product").val("joyo");
    $('#product').prop('disabled', true);
    $("#course").val("joyo");
    $('#course').prop('disabled', true);
    $("#price").val("156,920");
    //$("#payment").val(2);
  });
</script>

{% endblock %}
