{% extends 'profit/profit_base.html' %}
{% load static %}
{% block title %}PROFIT_mock{% endblock %}

{% block breadcrumb %}
  {% include 'profit/bread_new_cert.html' %}
{% endblock %}

{% block sidebar %}
  {% include 'profit/side_new.html' %}
{% endblock %} 

{% block mainpanel %}
  {% include 'profit/nfs_login.html' %}


<!-- クリアボタン -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
  $("#clear").click(function () {
      $('input').val(""); //inputすべて
  });
</script>
<script>
  $(function () {
    $("#back1").attr("href", "{% url 'myprofit:new03_02' %}") //中断ボタン
    $("#back2").attr("href", "{% url 'myprofit:new03_02' %}") //中断ボタン
    $("#send").attr("href", "{% url 'myprofit:new07_02' %}") //確認後の送信ボタン
  });
</script>

{% endblock %}
