{% extends 'profit/profit_base.html' %}
{% load static %}
{% block title %}PROFIT_mock{% endblock %}

{% block breadcrumb %}
<div class=" nav-item d-flex m-0 h6">
  <li class="breadcrumb-item"><a href="{% url 'myprofit:profit_top' %}"><i class="fa fa-home"> Home</i></a></li>
  <li class="breadcrumb-item"><a href="{% url 'myprofit:new01' %}">新車CA</a></li>
  <li class="breadcrumb-item"><a href="{% url 'myprofit:new02' %}">登録・納車・回収</a></li>
  <li class="breadcrumb-item"><a href="{% url 'myprofit:new03' %}">申込/取消画面</a></li>
  <li class="breadcrumb-item active">NFS-Webログイン画面</li>
</div>
{% endblock %}

{% block sidebar %}
  {% include 'profit/side_new.html' %}
{% endblock %} 

{% block mainpanel %}

<div class="container-fluid">


<div class="row mb-0">
  <div class="col-lg-12 p-2 bg-light">
      ■ログイン
  </div>
</div>
<div class="row">
  <div class="col-lg-12 p-2 bg-white pt-5">

    <div class="d-flex flex-row align-items-center justify-content-center">
      <label class="col-4">販売会社コード</label>
      <input class="col-3 bg-light" value="10300">
      <span class="col-3 text-primary">(5桁)</span>
    </div>
    <div class="d-flex flex-row align-items-center justify-content-center">
      <label class="col-4">店舗コード（操作担当者）</label>
      <input class="col-3" value="1E0">
      <span class="col-3 text-primary">(3桁)</span>
    </div>
    <div class="d-flex flex-row align-items-center justify-content-center">
      <label class="col-4">担当者コード（操作担当者）</label>
      <input class="col-3" value="001234">
      <span class="col-3 text-primary">(6桁)</span>
    </div>
    <div class="d-flex flex-row align-items-center justify-content-center">
      <label class="col-4">担当者名（操作担当者）</label>
      <input class="col-3" value="大磯　太郎">
      <span class="col-3 text-primary">(全角10文字)</span>
    </div>
    <div class="d-flex flex-row align-items-center justify-content-center">
      <label class="col-4">NFSログインパスワード</label>
      <input class="col-3" value="●●●●●●">
      <span class="col-3 text-primary">(半角6文字)</span>
    </div>

    <hr>

    <div class="row justify-content-center">

      <div class="d-flex flex-row ">
        <button type="button" class="btn btn-outline-dark m-2" data-toggle="modal" data-target="#exampleModalCenter" id="send">送信</button>
        <button type="button" class="btn btn-outline-dark m-2" id="clear">消去</button>
        <a href="{% url 'myprofit:new03' %}" class="btn btn-outline-dark m-2">中断</a>
      </div>
    
    </div>
    
  </div>
</div>



</div>


<!-- Modal：送信ボタン -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ※シミュレーションはここまで※
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" data-dismiss="modal">キャンセル</button>
      </div>
    </div>
  </div>
</div>


<!-- クリアボタン -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
  $("#clear").click(function () {
      $('input').val(""); //inputすべて
  });
</script>

{% endblock %}
