{% extends 'profit/profit_base.html' %}
{% load static %}
{% block title %}PROFIT_mock{% endblock %}

{% block breadcrumb %}
<div class=" nav-item d-flex m-0 h6">
  <li class="breadcrumb-item"><a href="{% url 'myprofit:profit_top' %}"><i class="fa fa-home"> Home</i></a></li>
  <li class="breadcrumb-item active">新車CA</li>
  <li class="breadcrumb-item"><a href="{% url 'myprofit:new02' %}">登録・納車・回収</a></li>
  <li class="breadcrumb-item"><a href="{% url 'myprofit:new03' %}">申込/取消画面</a></li>
  <li class="breadcrumb-item"><a href="{% url 'myprofit:new04' %}">NFS-Webログイン画面</a></li>
</div>
{% endblock %}

{% block sidebar %}
  {% include 'profit/side_new.html' %}
{% endblock %}

{% block mainpanel %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
  $(function() {
    //登録納車回収を点滅
    $('#touroku').addClass('blink');
  });
</script>
{% endblock %}
