{% extends 'profit/profit_base.html' %}
{% load static %}
{% block title %}PROFIT_mock{% endblock %}

{% block breadcrumb %}

{% endblock %}

{% block sidebar %}
  {% include 'profit/side_top.html' %}
{% endblock %} 

{% block mainpanel %}

<div class="bg-white pb-1">

  <div class="p-0">
  </div>


    <div class="d-flex bg-light p-1 mx-2">■お客様一覧検索
    </div>
    <hr class="p-0 mt-0 border-dark mx-2">

    <form class="" action='#' method='get' id="view1">
      <input type="hidden" name="route" id="route" value="{{route}}">
      <input type="hidden" name="cert_no" id="hidden_no" value="{{cert_no}}">

    <div class="d-flex mx-2">

      <div class="col-5 pl-0">
        <div class="d-flex flex-nowrap">
          <span class="col-3 pl-1 pr-0 mb-1">会員証No</span>
          <input class="col-6 px-0 mb-1" id="search_input" maxlength="9">
          {% comment %} {{ searchForm.keyword }} {% endcomment %}
        </div>
        <div class="d-flex flex-nowrap">
          <span class="col-3 pl-1 pr-0 mb-1">氏名ｶﾅ
            <a href="#" class="text-info" data-toggle="popover" data-trigger="hover" data-html="true" data-placement="bottom"
              data-content="前方一致、最低3文字（濁点も1文字）"><i class="fa fa-question-circle"></i></a>
          </span>
          <input class="col-6 px-0 mb-1" id="customer_kana">
        </div>
        <div class="d-flex flex-nowrap">
          <span class="col-3 pl-1 pr-0 mb-1">販売会社</span>
          <input class="col-3 px-0 mb-1" id="#">
          <span class="col-3 pl-1 pr-0 mb-1">郵便番号
            <a href="#" class="text-info" data-toggle="popover" data-trigger="hover" data-html="true" data-placement="bottom"
              data-content="完全一致（ハイフン有無不問）"><i class="fa fa-question-circle"></i></a>
          </span>
          <input class="col-3 mb-1" id="#">
        </div>
      </div>

      <div class="col-6 pl-0">
        <div class="d-flex">
          <div class="col-3 pl-1 pr-0 mb-1">ﾒﾝﾃﾅﾝｽNo</div>
          <input class="col-6 px-0 mb-1" id="#">
        </div>
        <div class="d-flex flex-nowrap">
          <div class="col-3 pl-1 pr-0 mb-1">氏名漢字
            <a href="#" class="text-info" data-toggle="popover" data-trigger="hover" data-html="true" data-placement="bottom"
              data-content="前方一致、最低1文字<br>大文字と小文字は区別されます"><i class="fa fa-question-circle"></i></a>
          </div>
          <input class="col-6 px-0 mb-1" id="customer_kanji">
        </div>
        <div class="d-flex flex-nowrap">
          <span class="col-3 pl-1 pr-0 mb-1">電話番号
            <a href="#" class="text-info" data-toggle="popover" data-trigger="hover" data-html="true" data-placement="bottom"
              data-content="完全一致（ハイフン有無不問）"><i class="fa fa-question-circle"></i></a>
          </span>
          <input class="col-3 px-2 mb-1" id="#">
          <span class="col-4 pl-1 pr-0 mb-1">登録番号(下4桁)
            <a href="#" class="text-info" data-toggle="popover" data-trigger="hover" data-html="true" data-placement="bottom"
              data-content="完全一致（「・・・1」は<br>「0001」でも「1」でも可）"><i class="fa fa-question-circle"></i></a>
          </span>
          <input class="col-2 px-2 mb-1 text-right" id="plate_no">
          
        </div>
      </div>

      <div class="col-1 px-0">
        <div class="d-flex flex-nowrap">
          <div class="col px-0 mb-1">　</div>
        </div>
        <div class="d-flex flex-nowrap">
          <div class="col px-0 mb-1">　</div>
        </div>
        <div class="d-flex flex-nowrap">
          {% comment %} <a href="#" class=" btn btn-inverse-dark btn-sm py-1 mr-auto mb-1" id="search1">検索</a> {% endcomment %}
          <!-- buttonにすることでEnterでSubmitするのを防ぐ -->
          
          <button type="button" class=" btn btn-inverse-dark btn-sm py-1 mr-auto mb-1" id="search1">検索</button>
        </div>
      </div>
        
    </div>

    <!-- テーブル -->
    <div class="d-flex mx-4 mt-3 justify-content-center">
      <table class="table table-bordered" id="result1">
        <thead class="thead-light">
          <tr>
            <th class="p-1 align-middle text-center" width="4%"><span class="small font-weight-bold">No</span></th>
            <th class="p-1 align-middle text-center" width="7%"><span class="small font-weight-bold">販社<br>コード</span></th>
            <th class="p-1 align-middle text-center" width="6%"><span class="small font-weight-bold">店舗</span></th>
            <th class="p-1 align-middle text-center" width="10%"><span class="small font-weight-bold">会員証No</span></th>
            <th class="p-1 align-middle text-center" width="12%"><span class="small font-weight-bold">お客様名</span></th>
            <th class="p-1 align-middle text-center" width="12%"><span class="small font-weight-bold">車名</span></th>
            <th class="p-1 align-middle text-center" width="15%"><span class="small font-weight-bold">登録番号</span></th>
            <th class="p-1 align-middle text-center" width="10%"><span class="small font-weight-bold">商品名</span></th>
            <th class="p-1 align-middle text-center" width="13%"><span class="small font-weight-bold">会員状況</span></th>
            <th class="p-1 align-middle text-center" width="11%"><span class="small font-weight-bold">　</span></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="p-1"><span class="">1</span></td>
            <td class="p-1"><span class="">13300</span></td>
            <td class="p-1"><span class="">1E0</span></td>
            <td class="p-1"><span class="" id="cert_no"></span></td>
            <td class="p-1"><span class="">尾凪　花子</span></td>
            <td class="p-1"><span class="">ｽｶｲﾗｲﾝ</span></td>
            <td class="p-1"><span class="" id="plate_no">練馬 300 ｻ 9999</span></td>
            <td class="p-1"><span class="" id="course">18車B</span></td>
            <td class="p-1"><span class="" id="status">申込書未発行</span></td>
            {% comment %} <td class="p-1"><span class=""><a href="#" class=" btn btn-inverse-dark btn py-1 mb-1" id="view1">照会</a></td> {% endcomment %}
            <td class="p-1"><span class=""><button class="btn btn-inverse-dark btn py-1 mb-1" type="submit">照会</button></td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- 結果なしメッセージ -->
    <div class="d-flex mx-4 mt-3 justify-content-center">
      <span class="text-primary small" id="result2">該当する会員が見つかりません。</span>
    </div>

  </div>
  
  </form>


  <h4 class="h3 font-weight-bold mb-1 mt-2">Search Flow<span class="h6"></span></h4>

<!-- タブ部分 -->
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a href="#tab1" class="nav-link py-1 active" data-toggle="tab">個人</a>
  </li>
  <li class="nav-item">
    <a href="#tab2" class="nav-link py-1" data-toggle="tab">●●●株式会社</a>
  </li>
  <li class="nav-item">
    <a href="#tab2" class="nav-link py-1" data-toggle="tab">株式会社●●●</a>
  </li>
</ul>

<!-- 内容部分 -->
<div class="tab-content p-2">
  <!-- タブ1 -->
  <div id="tab1" class="tab-pane active">

    <div class="bg-white mb-2 p-2">
      <h4 class="h5 font-weight-bold mb-2">Q. 契約者「ジョン・スミス」さま、登録番号「・・・9」の契約はありますか？</h4>
      <div>
        <button class="next btn btn-rounded btn-primary py-1" id="n1-0">Start</button>
      </div>
    </div>

    <div class="block bg-white mb-2 p-2">
      <div class="h5 font-weight-bold mb-2">Step1/4： 氏名カナ（濁点含む頭3文字）+登録番号</div>
      <button class="input btn btn-rounded btn-secondary py-1 mb-2" id="b1-1">Input</button>
      <div class="ans">
        <p class="h6">結果が多かった場合は、4文字目、5文字目と増やして再検索します。
          今回は、該当なしのため次に進みます</p>
        <button class="next btn btn-rounded btn-primary py-1" id="n1-1">Next</button>
      </div>
    </div>

    <div class="block bg-white mb-2 p-2">
      <div class="h5 font-weight-bold mb-2">Step2/4： 漢字（苗字のみ）+登録番号</div>
      <button class="input btn btn-rounded btn-secondary py-1 mb-2" id="b1-2">Input</button>
      <div class="ans">
        <p class="h6">結果が多かった場合は、2文字目、3文字目と増やして再検索します。
          今回は、該当なしのため次に進みます</p>
        <button class="next btn btn-rounded btn-primary py-1" id="n1-2">Next</button>
      </div>
    </div>

    <div class="block bg-white mb-2 p-2">
      <div class="h5 font-weight-bold">Step3/4： 氏名カナ（濁点含む頭3文字）+加入販売会社</div>
      <div class="h6 font-weight-bold mb-2">「P群馬」で加入と聞きました。</div>
      <button class="input btn btn-rounded btn-secondary py-1 mb-2" id="b1-3">Input</button>
      <div class="ans">
        <p class="h6">結果が多かった場合は、2文字目、3文字目と増やして再検索します。
          今回は、該当なしのため次に進みます</p>
        <button class="next btn btn-rounded btn-primary py-1" id="n1-3">Next</button>
      </div>
    </div>

    <div class="block bg-white mb-2 p-2">
      <div class="h5 font-weight-bold">Step3/4： 氏名カナ（濁点含む頭3文字）+加入販売会社</div>
      <div class="h6 font-weight-bold mb-2">「P群馬」で加入と聞きました。</div>
      <button class="input btn btn-rounded btn-secondary py-1 mb-2" id="b1-3">Input</button>
      <div class="ans">
        <p class="h6">結果が多かった場合は、2文字目、3文字目と増やして再検索します。
          今回は、該当なしのため次に進みます</p>
        <button class="next btn btn-rounded btn-primary py-1" id="n1-3">Next</button>
      </div>
    </div>



    <hr class="">
    <button class="reload btn btn-rounded btn-secondary py-1" id="">Reset</button>
    <button class="btn btn-rounded btn-light py-1" id="">すべて展開</button>
  </div>


  <!-- タブ2 -->
  <div id="tab2" class="tab-pane">

    <div class="card mb-2" id="block2">
      <div class="card-body p-2">
        <div class="d-flex flex-wrap justify-content-between">
          <h4 class="h4 font-weight-bold mb-3">1. ステータス</h4>
        </div>

        <div class="btn-group btn-group-toggle" data-toggle="buttons" id="select0">
          <label class="btn btn-sm btn-light">
            <input type="radio" name="s0" id="op0_1" autocomplete="off" value="申込前">(申込前)
          </label>
          <label class="btn btn-sm btn-inverse-secondary">
            <input type="radio" name="s0" id="op0_2" autocomplete="off" value="申込書未">申込書未発行
            <a href="#" class="text-info" data-toggle="popover" data-trigger="hover" data-html="true" data-placement="bottom"
              data-content="申込はした" ><i class="fa fa-question-circle colorwhite"></i></a>
          </label>
          <label class="btn btn-sm btn-inverse-secondary">
            <input type="radio" name="s0" id="op0_3" autocomplete="off" value="車両未">車両情報未登録
            <a href="#" class="text-info" data-toggle="popover" data-trigger="hover" data-html="true" data-placement="bottom"
              data-content="登録番号や車検満了日なしで、NFS-Webの申込書印刷ボタンは押した"><i class="fa fa-question-circle colorwhite"></i></a>
          </label>
          <label class="btn btn-sm btn-inverse-secondary">
            <input type="radio" name="s0" id="op0_4" autocomplete="off" value="会員証未">会員証未発行
            <a href="#" class="text-info" data-toggle="popover" data-trigger="hover" data-html="true" data-placement="bottom"
              data-content="登録番号や車検満了日がある状態で、NFS-Webの申込書印刷ボタンは押した"><i class="fa fa-question-circle colorwhite"></i></a>
          </label>
          <label class="btn btn-sm btn-inverse-secondary">
            <input type="radio" name="s0" id="op0_5" autocomplete="off" value="本登録">本登録
            <a href="#" class="text-info" data-toggle="popover" data-trigger="hover" data-html="true" data-placement="bottom"
              data-content="NFS-Webの会員証印刷ボタンまで押した" ><i class="fa fa-question-circle colorwhite"></i></a>
          </label>
        </div>
          

      </div>
    </div>


    <hr class="">
    <div class="card mb-2 ">
      <div class="card-body p-2">
        <div class="d-flex flex-wrap justify-content-between">
          <h4 class="h4 font-weight-bold text-secondary">Result：</h4>
        </div>

        <div class="d-flex align-items-center" id="result3">
        </div>
        <div class="d-flex align-items-center" id="result4">
        </div>
      </div>
    </div>
  </div>


</div>
<!-- タブ内容↑ここまで -->



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>

  //クリア関数
  function clear(){
    $('#result2').hide();
    $("input, textarea").val("");
    $("input, textarea").removeClass("alert-success");
  };




  $(function () {
    $('[data-toggle="popover"]').popover()
    $('#sidebar').removeClass('bg-white');//紺色に

    $('#result1').hide();//最初は非表示
    $('#result2').hide();

    $(".block").each(function(){
      $(this).hide();
    });
    $(".ans").each(function(){
      $(this).hide();
    });

  });

  //inputボタン→nextボタンのdisabled解除
  $('.input').click(function() {
    //$(this).prop("disabled", true);
    $(this).hide();
    $(this).next().fadeIn(500);
  });
  
  //Nextボタン→表示
  $('.next').click(function() {
    //$(this).prop("disabled", true);
    $(this).hide();
    $(this).parent().parent().next().fadeIn(500);
    clear();
  });

  //Restartボタン→リロード
  $('.reload').click(function() {
    location.reload();
  });

  //1-1
  $('#b1-1').click(function() {
    $("#customer_kana").addClass("alert-success");
    $("#customer_kana").val("ｼﾞｮ");
    $("#plate_no").addClass("alert-success");
    $("#plate_no").val("9");
    $('#result2').show();
  });

  //1-2
  $('#b1-2').click(function() {
    $("#customer_kanji").addClass("alert-success");
    $("#customer_kanji").val("Ｊ");
    $("#plate_no").addClass("alert-success");
    $("#plate_no").val("9");
    $('#result2').show();
  });

  
</script>

{% endblock %}
