{% extends 'profit/profit_base.html' %}
{% load static %}
{% block title %}PROFIT_mock{% endblock %}

{% block extra_head %}
  <style>
    .popover{
      max-width: 500px;
    }
    .popover-header {
      font-size: 12px;
      font-weight: bold;
      height: 24px;
    }

  </style>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
{% endblock %}

{% block sidebar %}
  {% include 'profit/side_top.html' %}
{% endblock %} 

{% block mainpanel %}

<div class="bg-white pb-1">

  <div class="p-0">
  </div>


    <div class="d-flex bg-light p-1 mx-2">■お客様一覧検索
    </div>
    <hr class="p-0 mt-0 border-dark mx-2">

    <form class="" action='#' method='get' id="view1">
      <input type="hidden" name="route" id="route" value="{{route}}">
      <input type="hidden" name="cert_no" id="hidden_no" value="{{cert_no}}">

    <div class="d-flex mx-2">

      <div class="col-5 pl-0 pr-1">
        <div class="d-flex flex-nowrap">
          <span class="col-3 pl-1 pr-0 mb-1">会員証No</span>
          <input class="col-6 px-0 mb-1" id="search_input" maxlength="9">
          {% comment %} {{ searchForm.keyword }} {% endcomment %}
        </div>
        <div class="d-flex flex-nowrap">
          <span class="col-3 pl-1 pr-0 mb-1">
            <span class="" data-toggle="popover" data-trigger="hover" data-html="true" data-placement="bottom"
            data-title="氏名カナ" data-content="・前方一致<br>・最低3文字（濁点も1文字）<br>・スペース有無不問<br>・全角も入力可（半角に自動変換される）">氏名ｶﾅ<i class="fa fa-question-circle text-info"></i></span>
          </span>
          <input class="col-6 px-0 mb-1" id="customer_kana">
        </div>
        <div class="d-flex flex-nowrap">
          <span class="col-3 pl-1 pr-0 mb-1">
            {% comment %} <a href="#" data-toggle="modal" data-target="#code_list" id="" class="">販売会社</a> {% endcomment %}
            販売会社
          </span>
          <input class="col-3 px-0 mb-1" id="company">
          <span class="col-3 pl-1 pr-0 mb-1">
            <span class="" data-toggle="popover" data-trigger="hover" data-html="true" data-placement="bottom"
            data-title="郵便番号" data-content="・完全一致<br>・ハイフン有無不問">郵便番号<i class="fa fa-question-circle text-info"></i></span>
          </span>
          <input class="col-3 mb-1" id="#">
        </div>
      </div>

      <div class="col-6 pl-0 pr-1">
        <div class="d-flex">
          <div class="col-3 pl-1 pr-0 mb-1">ﾒﾝﾃﾅﾝｽNo</div>
          <input class="col-6 px-0 mb-1" id="#">
        </div>
        <div class="d-flex flex-nowrap">
          <div class="col-3 pl-1 pr-0 mb-1">
            <span class="" data-toggle="popover" data-trigger="hover" data-html="true" data-placement="bottom"
            data-title="氏名漢字" data-content="・前方一致<br>・最低1文字<br>・大文字と小文字は区別される<br>・半角はエラーになるので全角にする<br>・スペースはエラーになるので削除する">氏名漢字<i class="fa fa-question-circle text-info"></i></span>
          </div>
          <input class="col-6 px-0 mb-1" id="customer_kanji">
        </div>
        <div class="d-flex flex-nowrap">
          <span class="col-3 pl-1 pr-0 mb-1">
            <span class="" data-toggle="popover" data-trigger="hover" data-html="true" data-placement="bottom"
            data-title="電話番号" data-content="・完全一致<br>・ハイフン有無不問">電話番号<i class="fa fa-question-circle text-info"></i></span>
          </span>
          <input class="col-4 px-2 mb-1" id="tel">
          <span class="col-3 pl-1 pr-0 mb-1">
            <span class="" data-toggle="popover" data-trigger="hover" data-html="true" data-placement="bottom"
            data-title="登録番号" data-content="・完全一致<br>・「・・・1」は「0001」でも「1」でも可">登録番号<i class="fa fa-question-circle text-info"></i></span>
          </span>
          <input class="col-2 px-2 mb-1 text-right" id="plate_no">
          
        </div>
      </div>

      <div class="col-1 px-0">
        <div class="d-flex flex-nowrap">
          <div class="col px-0 mb-1">　</div>
        </div>
        <div class="d-flex flex-nowrap">
          <div class="col px-0 mb-1">　</div>
        </div>
        <div class="d-flex flex-nowrap">
          {% comment %} <a href="#" class=" btn btn-inverse-dark btn-sm py-1 mr-auto mb-1" id="search1">検索</a> {% endcomment %}
          <!-- buttonにすることでEnterでSubmitするのを防ぐ -->
          
          <button type="button" class=" btn btn-inverse-dark btn-sm py-1 mr-auto mb-1" id="search1">検索</button>
        </div>
      </div>
        
    </div>

    <!-- テーブル個人-->
    <div id="result_kojin">
      <div class="d-flex mx-2 mt-3 justify-content-center" >
        <table class="table table-bordered">
          <thead class="thead-light">
            <tr>
              <th class="p-1 align-middle text-center" width="4%"><span class="h6 font-weight-bold">No</span></th>
              <th class="p-1 align-middle text-center" width="7%"><span class="h6 font-weight-bold">販社<br>コード</span></th>
              <th class="p-1 align-middle text-center" width="6%"><span class="h6 font-weight-bold">店舗</span></th>
              <th class="p-1 align-middle text-center" width="10%"><span class="h6 font-weight-bold">会員証No</span></th>
              <th class="p-1 align-middle text-center" width="12%"><span class="h6 font-weight-bold">お客様名</span></th>
              <th class="p-1 align-middle text-center" width="12%"><span class="h6 font-weight-bold">車名</span></th>
              <th class="p-1 align-middle text-center" width="15%"><span class="h6 font-weight-bold">登録番号</span></th>
              <th class="p-1 align-middle text-center" width="10%"><span class="h6 font-weight-bold">商品名</span></th>
              <th class="p-1 align-middle text-center" width="13%"><span class="h6 font-weight-bold">会員状況</span></th>
              <th class="p-1 align-middle text-center" width="11%"><span class="h6 font-weight-bold">　</span></th>
            </tr>
          </thead>
          <tbody class="text-nowrap">
            <tr>
              <td class="p-1"><span class="h6">1</span></td>
              <td class="p-1"><span class="h6">11230</span></td>
              <td class="p-1"><span class="h6">101</span></td>
              <td class="p-1"><span class="h6" id="">411000001</span></td>
              <td class="p-1"><span class="h6">Ｊｏｈｎ　Ｓｍｉｔｈ</span></td>
              <td class="p-1"><span class="h6">ｽｶｲﾗｲﾝ</span></td>
              <td class="p-1"><span class="h6" id="plate_no">練馬 300 ｻ 9999</span></td>
              <td class="p-1"><span class="h6" id="course">18車検B</span></td>
              <td class="p-1"><span class="h6" id="status">本登録</span></td>
              <td class="p-1"><span class="h6"></td>
            </tr>
            <tr>
              <td class="p-1"><span class="h6">2</span></td>
              <td class="p-1"><span class="h6">11230</span></td>
              <td class="p-1"><span class="h6">101</span></td>
              <td class="p-1"><span class="h6" id="">411000002</span></td>
              <td class="p-1"><span class="h6">Ｊｏｈｎ　Ｄｏｅ</span></td>
              <td class="p-1"><span class="h6">GT-R</span></td>
              <td class="p-1"><span class="h6" id="plate_no">練馬 300 ｻ 8888</span></td>
              <td class="p-1"><span class="h6" id="course">54車検B</span></td>
              <td class="p-1"><span class="h6" id="status">本登録</span></td>
              <td class="p-1"><span class="h6"></td>
            </tr>
            <tr>
              <td class="p-1"><span class="h6">3</span></td>
              <td class="p-1"><span class="h6">11230</span></td>
              <td class="p-1"><span class="h6">101</span></td>
              <td class="p-1"><span class="h6" id="">411000003</span></td>
              <td class="p-1"><span class="h6">Ｊａｎｅ　Ｄｏｅ</span></td>
              <td class="p-1"><span class="h6">ｴﾙｸﾞﾗﾝﾄﾞ</span></td>
              <td class="p-1"><span class="h6" id="plate_no">練馬 300 ｻ 7777</span></td>
              <td class="p-1"><span class="h6" id="course">長得18B</span></td>
              <td class="p-1"><span class="h6" id="status">本登録</span></td>
              <td class="p-1"><span class="h6"></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>


    <!-- テーブル法人1 -->
    <div id="result_houjin1">
      <div class="d-flex mx-2 mt-3 justify-content-center" >
        <table class="table table-bordered">
          <thead class="thead-light">
            <tr>
              <th class="p-1 align-middle text-center" width="4%"><span class="h6 font-weight-bold">No</span></th>
              <th class="p-1 align-middle text-center" width="7%"><span class="h6 font-weight-bold">販社<br>コード</span></th>
              <th class="p-1 align-middle text-center" width="6%"><span class="h6 font-weight-bold">店舗</span></th>
              <th class="p-1 align-middle text-center" width="10%"><span class="h6 font-weight-bold">会員証No</span></th>
              <th class="p-1 align-middle text-center" width="12%"><span class="h6 font-weight-bold">お客様名</span></th>
              <th class="p-1 align-middle text-center" width="12%"><span class="h6 font-weight-bold">車名</span></th>
              <th class="p-1 align-middle text-center" width="15%"><span class="h6 font-weight-bold">登録番号</span></th>
              <th class="p-1 align-middle text-center" width="10%"><span class="h6 font-weight-bold">商品名</span></th>
              <th class="p-1 align-middle text-center" width="13%"><span class="h6 font-weight-bold">会員状況</span></th>
              <th class="p-1 align-middle text-center" width="11%"><span class="h6 font-weight-bold">　</span></th>
            </tr>
          </thead>
          <tbody class="text-nowrap">
            <tr>
              <td class="p-1"><span class="h6">1</span></td>
              <td class="p-1"><span class="h6">11230</span></td>
              <td class="p-1"><span class="h6">101</span></td>
              <td class="p-1"><span class="h6" id="">411000001</span></td>
              <td class="p-1"><span class="h6">株式会社Ａｓファミリー</span></td>
              <td class="p-1"><span class="h6">ｽｶｲﾗｲﾝ</span></td>
              <td class="p-1"><span class="h6" id="plate_no">練馬 300 ｻ 9999</span></td>
              <td class="p-1"><span class="h6" id="course">18車検B</span></td>
              <td class="p-1"><span class="h6" id="status">本登録</span></td>
              <td class="p-1"><span class="h6"></td>
            </tr>
            <tr>
              <td class="p-1"><span class="h6">2</span></td>
              <td class="p-1"><span class="h6">11230</span></td>
              <td class="p-1"><span class="h6">101</span></td>
              <td class="p-1"><span class="h6" id="">411000002</span></td>
              <td class="p-1"><span class="h6">株式会社ＶＣＣ</span></td>
              <td class="p-1"><span class="h6">GT-R</span></td>
              <td class="p-1"><span class="h6" id="plate_no">練馬 300 ｻ 8888</span></td>
              <td class="p-1"><span class="h6" id="course">54車検B</span></td>
              <td class="p-1"><span class="h6" id="status">本登録</span></td>
              <td class="p-1"><span class="h6"></td>
            </tr>
            <tr>
              <td class="p-1"><span class="h6">3</span></td>
              <td class="p-1"><span class="h6">11230</span></td>
              <td class="p-1"><span class="h6">101</span></td>
              <td class="p-1"><span class="h6" id="">411000003</span></td>
              <td class="p-1"><span class="h6">株式会社ｍａｒｓｈ</span></td>
              <td class="p-1"><span class="h6">ｴﾙｸﾞﾗﾝﾄﾞ</span></td>
              <td class="p-1"><span class="h6" id="plate_no">練馬 300 ｻ 7777</span></td>
              <td class="p-1"><span class="h6" id="course">長得18B</span></td>
              <td class="p-1"><span class="h6" id="status">本登録</span></td>
              <td class="p-1"><span class="h6"></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>


    <!-- テーブル個人2 -->
    <div id="result_kojin2">
      <div class="d-flex mx-2 mt-3 justify-content-center" >
        <table class="table table-bordered">
          <thead class="thead-light">
            <tr>
              <th class="p-1 align-middle text-center" width="4%"><span class="h6 font-weight-bold">No</span></th>
              <th class="p-1 align-middle text-center" width="7%"><span class="h6 font-weight-bold">販社<br>コード</span></th>
              <th class="p-1 align-middle text-center" width="6%"><span class="h6 font-weight-bold">店舗</span></th>
              <th class="p-1 align-middle text-center" width="10%"><span class="h6 font-weight-bold">会員証No</span></th>
              <th class="p-1 align-middle text-center" width="12%"><span class="h6 font-weight-bold">お客様名</span></th>
              <th class="p-1 align-middle text-center" width="12%"><span class="h6 font-weight-bold">車名</span></th>
              <th class="p-1 align-middle text-center" width="15%"><span class="h6 font-weight-bold">登録番号</span></th>
              <th class="p-1 align-middle text-center" width="10%"><span class="h6 font-weight-bold">商品名</span></th>
              <th class="p-1 align-middle text-center" width="13%"><span class="h6 font-weight-bold">会員状況</span></th>
              <th class="p-1 align-middle text-center" width="11%"><span class="h6 font-weight-bold">　</span></th>
            </tr>
          </thead>
          <tbody class="text-nowrap">
            <tr id="result_kojin2_1">
              <td class="p-1"><span class="h6">1</span></td>
              <td class="p-1"><span class="h6">10260</span></td>
              <td class="p-1"><span class="h6">11B</span></td>
              <td class="p-1"><span class="h6" id="">411000001</span></td>
              <td class="p-1"><span class="h6">木下　次郎</span></td>
              <td class="p-1"><span class="h6">ｽｶｲﾗｲﾝ</span></td>
              <td class="p-1"><span class="h6" id="plate_no">練馬 300 ｻ 9999</span></td>
              <td class="p-1"><span class="h6" id="course">18車検B</span></td>
              <td class="p-1"><span class="h6" id="status">本登録</span></td>
              <td class="p-1"><span class="h6"></td>
            </tr>
            <tr id="result_kojin2_2">
              <td class="p-1"><span class="h6">2</span></td>
              <td class="p-1"><span class="h6">10260</span></td>
              <td class="p-1"><span class="h6">11B</span></td>
              <td class="p-1"><span class="h6" id="">411000002</span></td>
              <td class="p-1"><span class="h6">木下　二郎</span></td>
              <td class="p-1"><span class="h6">GT-R</span></td>
              <td class="p-1"><span class="h6" id="plate_no">練馬 300 ｻ 8888</span></td>
              <td class="p-1"><span class="h6" id="course">54車検B</span></td>
              <td class="p-1"><span class="h6" id="status">本登録</span></td>
              <td class="p-1"><span class="h6"></td>
            </tr>
            <tr id="result_kojin2_3">
              <td class="p-1"><span class="h6">3</span></td>
              <td class="p-1"><span class="h6">10260</span></td>
              <td class="p-1"><span class="h6">11B</span></td>
              <td class="p-1"><span class="h6" id="">411000003</span></td>
              <td class="p-1"><span class="h6">木下　二朗</span></td>
              <td class="p-1"><span class="h6">ｴﾙｸﾞﾗﾝﾄﾞ</span></td>
              <td class="p-1"><span class="h6" id="plate_no">練馬 300 ｻ 7777</span></td>
              <td class="p-1"><span class="h6" id="course">長得18B</span></td>
              <td class="p-1"><span class="h6" id="status">本登録</span></td>
              <td class="p-1"><span class="h6"></td>
            </tr>
            <tr id="result_kojin2_4">
              <td class="p-1"><span class="h6">1</span></td>
              <td class="p-1"><span class="h6">13300</span></td>
              <td class="p-1"><span class="h6">33A</span></td>
              <td class="p-1"><span class="h6" id="">408000000</span></td>
              <td class="p-1"><span class="h6">木下　良子</span></td>
              <td class="p-1"><span class="h6">ﾉｰﾄ</span></td>
              <td class="p-1"><span class="h6" id="plate_no">品川 300 ｻ 4123</span></td>
              <td class="p-1"><span class="h6" id="course">ﾒﾝﾃ30B</span></td>
              <td class="p-1"><span class="h6" id="status">本登録</span></td>
              <td class="p-1"><span class="h6"></td>
            </tr>
            <tr id="result_kojin2_5">
              <td class="p-1"><span class="h6">2</span></td>
              <td class="p-1"><span class="h6">10240</span></td>
              <td class="p-1"><span class="h6">157</span></td>
              <td class="p-1"><span class="h6" id="">409000000</span></td>
              <td class="p-1"><span class="h6">木下　健</span></td>
              <td class="p-1"><span class="h6">ﾌｪｱﾚﾃﾞｨZ</span></td>
              <td class="p-1"><span class="h6" id="plate_no">千葉 330 ﾃ 4123</span></td>
              <td class="p-1"><span class="h6" id="course">18車検B</span></td>
              <td class="p-1"><span class="h6" id="status">本登録</span></td>
              <td class="p-1"><span class="h6"></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>


    <!-- 結果なしメッセージ -->
    <div class="d-flex mx-4 mt-3 mb-1 justify-content-center">
      <span class="text-primary small">　</span>
      <span class="text-primary small" id="result2">該当する会員が見つかりません。</span>
      <span class="text-primary small">　</span>
    </div>

  </div>
  
  </form>

  <div class="d-flex">
  <h4 class="h3 font-weight-bold mb-1 mt-2">Search Flow</h4>
  {% comment %} <button class="reload btn btn-rounded btn-secondary py-1 my-2 ml-auto" id="">Reset</button> {% endcomment %}
  </div>

<!-- タブ部分 -->
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a href="#tab1" class="nav-link py-1 active  border-bottom-0" data-toggle="tab"><div class="small text-secondary">1.仕様を覚える</div>個人 ／ ●●●株式会社</a>
  </li>
  <li class="nav-item">
    <a href="#tab2" class="nav-link py-1  border-bottom-0" data-toggle="tab"><div class="small text-secondary">1.仕様を覚える</div>株式会社●●●</a>
  </li>
  <li class="nav-item">
    <a href="#tab3" class="nav-link py-1  border-bottom-0" data-toggle="tab"><div class="small text-secondary">2.実際の流れをつかむ</div>個人</a>
  </li>
  <li class="nav-item">
    <a href="#tab4" class="nav-link py-1  border-bottom-0" data-toggle="tab"><div class="small text-secondary">3.もっと調べる力をつける</div>Check List</a>
  </li>
</ul>

<!-- 内容部分 -->
<div class="tab-content p-0">
  <!-- タブ1 -->
  <div id="tab1" class="tab-pane active">

    <div class="bg-white p-2">
      <h4 class="h5 font-weight-bold mb-2 mt-1">Q. 契約者「ジョン スミス」さま、登録番号「・・・9」の契約はありますか？</h4>
      <div>
        <button class="next btn btn-rounded btn-primary py-1" id="n1-0">Start</button>
      </div>
    </div>

    <div class="block bg-white p-2">
      <div class="h5 font-weight-bold alert-success mb-2">Step1/4： 氏名カナ（濁点含む頭3文字）+登録番号</div>
      <button class="input btn btn-rounded btn-secondary py-1 mb-2" id="b1-1">Input</button>
      <div class="ans">
        <p class="h6">※もし結果が多かった場合は、4文字目、5文字目と増やして再検索します。</p>
        <button class="next btn btn-rounded btn-primary py-1" id="n1-1">Next</button>
      </div>
    </div>

    <div class="block bg-white p-2">
      <div class="h5 font-weight-bold alert-success mb-2">Step2/4： 漢字（頭1文字）+登録番号</div>
      <div class="h6 font-weight-bold mb-2">漢字は「John Smith」と聞きました。</div>
      <button class="input btn btn-rounded btn-secondary py-1 mb-2" id="b1-2">Input</button>
      <div class="ans">
        <p class="h6">※もし結果が多かった場合は、2文字目、3文字目と増やして再検索します。</p>
        <button class="next btn btn-rounded btn-primary py-1" id="n1-2">Next</button>
      </div>
    </div>

    <div class="block bg-white p-2">
      <div class="h5 font-weight-bold alert-success">Step3/4： 氏名カナ（濁点含む頭3文字）+加入販売会社</div>
      <div class="h6 font-weight-bold mb-2">「P群馬」で加入と聞きました。</div>
      <button class="input btn btn-rounded btn-secondary py-1 mb-2" id="b1-3">Input</button>
      <div class="ans">
        <p class="h6">※もし結果が多かった場合は、4文字目、5文字目と増やして再検索します。</p>
        <button class="next btn btn-rounded btn-primary py-1" id="n1-3">Next</button>
      </div>
    </div>

    <div class="block bg-white p-2">
      <div class="h5 font-weight-bold alert-success">Step4/4：  漢字（頭1文字）+加入販売会社</div>
      <button class="input btn btn-rounded btn-secondary py-1 mb-2" id="b1-4">Input</button>
      <div class="ans">
        <p class="h6">目視で特定します。<br>
          ※もし結果が多かった場合は、2文字目、3文字目と増やして再検索します。
        </p>
        <button class="next btn btn-rounded btn-primary py-1" id="n1-4">解説</button>
      </div>
    </div>

    <div class="block bg-white p-2">
      <div class="h5 font-weight-bold">解説</div>
      <ul class="h6">
        <li>登録番号：データは変更されていないことがあります</li>
        <li>フリガナ：誤って入力されていることがあります</li>
        <li>契約者名：全角アルファベットはF9キー、大文字と小文字は区別されるので注意</li>
      </ul>
      <div class="h5 font-weight-bold"><i class="fa fa-lightbulb-o"></i>【Point】文字数はなるべく少なく</div>
    </div>

    <hr class="">

    <button class="expand btn btn-rounded btn-inverse-dark p-1" id="">すべて展開</button>
    <button class="shrink btn btn-rounded btn-inverse-dark p-1" id="">折りたたむ</button>
  </div>


  <!-- タブ2 -->
  <div id="tab2" class="tab-pane">
    <div class="bg-white p-2">
      <h4 class="h5 font-weight-bold mb-2 mt-1">Q. 契約者「株式会社アズファミリー」さま、登録番号「・・11」の契約はありますか？</h4>
      <div>
        <button class="next btn btn-rounded btn-primary py-1" id="n2-0">Start</button>
      </div>
    </div>

    <div class="block bg-white p-2">
      <div class="h5 font-weight-bold alert-success mb-2">Step1/4： 氏名カナ（法人格を除く、濁点含む頭3文字）+登録番号</div>
      <button class="input btn btn-rounded btn-secondary py-1 mb-2" id="b2-1">Input</button>
      <div class="ans">
        <p class="h6">※もし結果が多かった場合は、4文字目、5文字目と増やして再検索します。</p>
        <button class="next btn btn-rounded btn-primary py-1" id="n2-1">Next</button>
      </div>
    </div>

    <div class="block bg-white p-2">
      <div class="h5 font-weight-bold alert-success">Step2/4： 漢字（法人格の頭1文字）+登録番号</div>
      <div class="h6 font-weight-bold mb-2">漢字は「アズはアルファベットで大文字のエーに小文字のエス、ファミリーはカタカナ」と聞きました。</div>
      <button class="input btn btn-rounded btn-secondary py-1 mb-2" id="b2-2">Input</button>
      <div class="ans">
        <p class="h6">※もし結果が多かった場合は、法人格+法人名の頭1文字目、2文字目と増やして再検索します。</p>
        <button class="next btn btn-rounded btn-primary py-1" id="n2-2">Next</button>
      </div>
    </div>

    <div class="block bg-white p-2">
      <div class="h5 font-weight-bold alert-success">Step3/4： 氏名カナ（濁点含む頭3文字）+加入販売会社</div>
      <div class="h6 font-weight-bold mb-2">「P群馬」で加入と聞きました。</div>
      <button class="input btn btn-rounded btn-secondary py-1 mb-2" id="b2-3">Input</button>
      <div class="ans">
        <p class="h6">※もし結果が多かった場合は、4文字目、5文字目と増やして再検索します。</p>
        <button class="next btn btn-rounded btn-primary py-1" id="n2-3">Next</button>
      </div>
    </div>

    <div class="block bg-white p-2">
      <div class="h5 font-weight-bold alert-success">Step4/4：  漢字（法人格の頭1文字）+加入販売会社</div>
      <button class="input btn btn-rounded btn-secondary py-1 mb-2" id="b2-4">Input</button>
      <div class="ans">
        <p class="h6">目視で特定します。<br>
          ※もし結果が多かった場合は、法人格+法人名の頭1文字目、2文字目と増やして再検索します。
        </p>
        <button class="next btn btn-rounded btn-primary py-1" id="n2-4">解説</button>
      </div>
    </div>

    <div class="block bg-white p-2">
      <div class="h5 font-weight-bold">解説</div>
      <ul class="h6">
        <li>登録番号：データは変更されていないことがあります</li>
        <li>フリガナ：誤って入力されていることがあります</li>
      </ul>
      <div class="h5 font-weight-bold"><i class="fa fa-lightbulb-o"></i>【Point】カナは法人名から、漢字は法人格から</div>
    </div>
    
    <hr class="">
    <button class="expand btn btn-rounded btn-inverse-dark p-1" id="">すべて展開</button>
    <button class="shrink btn btn-rounded btn-inverse-dark p-1" id="">折りたたむ</button>

  </div>


  <!-- タブ3 -->
  <div id="tab3" class="tab-pane">

    <div class="bg-white p-2">
      <h4 class="h5 font-weight-bold mb-2 mt-1">Q. 契約者「きのした　じろう」さま、登録番号「横浜330と4123」の契約はありますか？</h4>
      <div>
        <button class="next btn btn-rounded btn-primary py-1" id="n3-0">Start</button>
      </div>
    </div>

    <div class="block bg-white p-2">
      <div class="h5 font-weight-bold alert-success mb-2">Step1/5： カナフルネーム+登録番号</div>
      <button class="input btn btn-rounded btn-secondary py-1 mb-2" id="b3-1">Input</button>
      <div class="ans">
        <button class="next btn btn-rounded btn-primary py-1" id="n3-1">Next</button>
      </div>
    </div>

    <div class="block bg-white p-2">
      <div class="h5 font-weight-bold alert-success mb-2">Step2/5： カナ名字のみ+登録番号</div>
      <button class="input btn btn-rounded btn-secondary py-1 mb-2" id="b3-2">Input</button>
      <div class="ans">
        <p class="h6">結果があれば目視で探す。多ければ、名前の1文字、2文字追加してみる。</p>
        <button class="next btn btn-rounded btn-primary py-1" id="n3-2">Next</button>
      </div>
    </div>

    <div class="block bg-white p-2">
      <div class="h5 font-weight-bold alert-success mb-2">Step3/5： 漢字名字のみ+登録番号</div>
      <div class="h6 font-weight-bold mb-2">「念のため漢字も伺えますか？」→「木下　次郎」と聞きました。</div>
      <button class="input btn btn-rounded btn-secondary py-1 mb-2" id="b3-3">Input</button>
      <div class="ans">
        <p class="h6">結果が多ければ、名前の漢字も聞いて1文字追加してみる。</p>
        <button class="next btn btn-rounded btn-primary py-1" id="n3-3">Next</button>
      </div>
    </div>

    <div class="block bg-white p-2">
      <div class="h5 font-weight-bold alert-success mb-2">Step4/5： 漢字+加入販社</div>
      <div class="h6 font-weight-bold mb-2">「加入販社はわかりますか？」→「神奈川N」と聞きました。</div>
      <button class="input btn btn-rounded btn-secondary py-1 mb-2" id="b3-4">Input</button>
      <div class="ans">
        <p class="h6">漢字が入力済みのため、先に漢字+加入販社で検索。フルネームで該当なしならば、名字のみで再検索。</p>
        <div class="h6 font-weight-bold mb-2">「車種はどちらですか？」→「スカイライン」と聞きました。</div>
        <div class="h6 font-weight-bold mb-2">「確認のため、車台番号を伺えますか？」→会員情報画面で一致を確認する。</div>
        <button class="next btn btn-rounded btn-primary py-1" id="n3-4">Next</button>
      </div>
    </div>

    <div class="block bg-white p-2">
      <div class="h5 font-weight-bold alert-success mb-2">Step5/5： カナ+加入販社</div>
      <button class="input btn btn-rounded btn-secondary py-1 mb-2" id="b3-5">Input</button>
      <div class="ans">
        <p class="h6">フルネームで該当なしならば、名字のみで再検索。</p>
        <button class="next btn btn-rounded btn-primary py-1" id="n3-5">解説</button>
      </div>
    </div>

    <div class="block bg-white p-2">
      <div class="h5 font-weight-bold">解説</div>
      <ul class="h6">
        <li>登録番号：データは変更されていないことがあります</li>
        <li>フリガナ：誤って入力されていることがあります</li>
        <li>契約者：ご家族の別の方で申込されていることがあります</li>
      </ul>
      <div class="h5 font-weight-bold"><i class="fa fa-lightbulb-o"></i>【Point】フルネームで該当なしでも、文字数を減らして検索</div>
      <div class="h5 font-weight-bold"><i class="fa fa-lightbulb-o"></i>【Point】車種であたりを付けたら、車台番号で確認</div>
    </div>

    <hr class="">

    <button class="expand btn btn-rounded btn-inverse-dark p-1" id="">すべて展開</button>
    <button class="shrink btn btn-rounded btn-inverse-dark p-1" id="">折りたたむ</button>
  </div>


  <!-- タブ4 -->
  <div id="tab4" class="tab-pane">

    <div class="bg-white p-2">
      <h4 class="h5 font-weight-bold mb-2 mt-1">例. "株式会社Marsh（カブシキガイシャ　マーシュ）"　登録No."5555"　加入"N東京13300"　TEL"03-6775-5555"</h4>
      <div>
      </div>
    </div>
    <div class="d-flex bg-white">
      <input type="checkbox" class="btn-check m-2" id="btn-check">
      <label class="bg-white w-100 m-1" id="hover1" for="btn-check">
        <div class="h5 font-weight-bold alert-success m-1">カナ + 登録番号</div>
        <div class="h6 mx-2 my-1">前方一致、濁点含む頭3文字、法人格除く</div>
      </label>
    </div>

    <div class="d-flex bg-white">
      <input type="checkbox" class="btn-check m-2" id="btn-check2">
      <label class="bg-white w-100 m-1" id="hover2" for="btn-check2">
        <div class="h5 font-weight-bold alert-success m-1">漢字 + 登録番号</div>
        <div class="h6 mx-2 my-1">前方一致、頭1文字、法人格あり＝株1文字で検索可</div>
      </label>
    </div>

    <div class="d-flex bg-white">
      <input type="checkbox" class="btn-check m-2" id="btn-check3">
      <label class="bg-white w-100 m-1" id="hover3" for="btn-check3">
        <div class="h5 font-weight-bold alert-success m-1">カナ + 加入販社</div>
        <div class="h6 mx-2 my-1">前方一致、濁点含む頭3文字、法人格除く</div>
      </label>
    </div>

    <div class="d-flex bg-white">
      <input type="checkbox" class="btn-check m-2" id="btn-check4">
      <label class="bg-white w-100 m-1" id="hover4" for="btn-check4">
        <div class="h5 font-weight-bold alert-success m-1">漢字 + 加入販社</div>
        <div class="h6 mx-2 my-1">前方一致、頭1文字、法人格あり＝株1文字で検索可</div>
      </label>
    </div>

    <div class="h6 bg-white text-secondary mb-0 pl-2">
      あるはずなのに該当なしだったら...and more
    </div>

    <div class="d-flex bg-white">
      <input type="checkbox" class="btn-check m-2" id="btn-check5">
      <label class="bg-white w-100 m-1" id="hover5" for="btn-check5">
        <div class="h5 font-weight-bold alert-success m-1">カナ「。。。」 + 加入販社 + 登録番号</div>
        <div class="h6 mx-2 my-1">「。。。」でブランクとして検索できる</div>
      </label>
    </div>

    <div class="d-flex bg-white">
      <input type="checkbox" class="btn-check m-2" id="btn-check6">
      <label class="bg-white w-100 m-1" id="hover6" for="btn-check6">
        <div class="h5 font-weight-bold alert-success m-1">カナ「。。。」 + TEL</div>
        <div class="h6 mx-2 my-1">「。。。」でブランクとして検索できる、TELハイフン不問</div>
      </label>
    </div>

    <div class="h6 bg-white text-secondary mb-0 pl-2">
      and more??
    </div>

    <div class="d-flex bg-white">
      <input type="checkbox" class="btn-check m-2" id="btn-check7">
      <label class="bg-white w-100 m-1" id="hover7" for="btn-check7">
        <div class="h5 font-weight-bold alert-success m-1">漢字「㈱」 + 登録番号</div>
        <div class="h6 mx-2 my-1">記号の法人格、かつ、カナ誤りを想定</div>
      </label>
    </div>

    <div class="d-flex bg-white">
      <input type="checkbox" class="btn-check m-2" id="btn-check8">
      <label class="bg-white w-100 m-1" id="hover8" for="btn-check8">
        <div class="h5 font-weight-bold alert-success m-1">漢字「㈱」 + 加入販社</div>
        <div class="h6 mx-2 my-1">記号の法人格、かつ、カナ誤りを想定</div>
      </label>
    </div>
    <hr class="">

  </div>

</div>
<!-- タブ内容↑ここまで -->



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>

  //クリア関数
  function clear(){
    $('#result_kojin').hide();
    $('#result_houjin1').hide();
    $('#result_kojin2').hide();
    $('#result_kojin2_1').show();//テーブル1行だけ消す
    $('#result_kojin2_2').show();//テーブル1行だけ消す
    $('#result_kojin2_3').show();//テーブル1行だけ消す
    $('#result_kojin2_4').show();//テーブル1行だけ消す
    $('#result_kojin2_5').show();//テーブル1行だけ消す
    $('#result2').hide();
    $("input, textarea").val("");
    $("input, textarea").removeClass("alert-success");
  };




  $(function () {

    $('[data-toggle="popover"]').popover()
    $('#sidebar').removeClass('bg-white');//紺色に
    $('#case_btn').hide();//Sampleボタン非表示

    $('#result_kojin').hide();//最初は非表示
    $('#result_houjin1').hide();//最初は非表示
    $('#result_kojin2').hide();
    $('#result_kojin2_1').show();//テーブル1行だけ消す
    $('#result_kojin2_2').show();//テーブル1行だけ消す
    $('#result_kojin2_3').show();//テーブル1行だけ消す
    $('#result_kojin2_4').show();//テーブル1行だけ消す
    $('#result_kojin2_5').show();//テーブル1行だけ消す
    $('#result2').hide();

    $(".block").each(function(){
      $(this).hide();
    });
    $(".ans").each(function(){
      $(this).hide();
    });

    $('.shrink').hide();

  });

  //inputボタン→nextボタンのdisabled解除
  $('.input').click(function() {
    //$(this).prop("disabled", true);
    $(this).hide();
    $(this).next().fadeIn(500);
  });
  
  //Nextボタン→表示
  $('.next').click(function() {
    //$(this).prop("disabled", true);
    $(this).hide();
    $(this).parent().parent().next().fadeIn(500);
    clear();
  });

  //Restartボタン→リロード→未使用
  $('.reload').click(function() {
    location.reload();
  });

  //すべて展開ボタン、ボタンのあるタブの
  $('.expand').click(function() {
    $(this).parent().find(".block,.ans").each(function(){
      $(this).show();
    });
    $(this).parent().find(".input,.next").each(function(){
      $(this).hide();
    });
    $(this).hide();
    $(this).parent().find(".shrink").show();
  });
  //すべて戻す
  $('.shrink').click(function() {
    $(this).parent().find(".block,.ans").each(function(){
      $(this).hide();
    });
    $(this).parent().find(".input,.next").each(function(){
      $(this).show();
    });
    $(this).hide();
    $(this).parent().find(".expand").show();
    clear();
  });

  //1-1
  $('#b1-1').click(function() {
    $("#customer_kana").addClass("alert-success");
    $("#customer_kana").val("ｼﾞｮ");
    $("#plate_no").addClass("alert-success");
    $("#plate_no").val("9");
    $('#result2').show();
  });

  //1-2
  $('#b1-2').click(function() {
    $("#customer_kanji").addClass("alert-success");
    $("#customer_kanji").val("Ｊ");
    $("#plate_no").addClass("alert-success");
    $("#plate_no").val("9");
    $('#result2').show();
  });

  //1-3
  $('#b1-3').click(function() {
    $("#customer_kana").addClass("alert-success");
    $("#customer_kana").val("ｼﾞｮ");
    $("#company").addClass("alert-success");
    $("#company").val("11230");
    $('#result2').show();
  });

  //1-4
  $('#b1-4').click(function() {
    $("#customer_kanji").addClass("alert-success");
    $("#customer_kanji").val("Ｊ");
    $("#company").addClass("alert-success");
    $("#company").val("11230");
    $('#result_kojin').show();
    $(this).parent().parent().find(".shrink").show();
  });

  //2-1
  $('#b2-1').click(function() {
    $("#customer_kana").addClass("alert-success");
    $("#customer_kana").val("ｱｽﾞ");
    $("#plate_no").addClass("alert-success");
    $("#plate_no").val("11");
    $('#result2').show();
  });

  //2-2
  $('#b2-2').click(function() {
    $("#customer_kanji").addClass("alert-success");
    $("#customer_kanji").val("株");
    $("#plate_no").addClass("alert-success");
    $("#plate_no").val("11");
    $('#result2').show();
  });

  //2-3
  $('#b2-3').click(function() {
    $("#customer_kana").addClass("alert-success");
    $("#customer_kana").val("ｱｽﾞ");
    $("#company").addClass("alert-success");
    $("#company").val("11230");
    $('#result2').show();
  });

  //2-4
  $('#b2-4').click(function() {
    $("#customer_kanji").addClass("alert-success");
    $("#customer_kanji").val("株");
    $("#company").addClass("alert-success");
    $("#company").val("11230");
    $('#result_houjin1').show();
    $(this).parent().parent().find(".shrink").show();
  });


  //3-1
  $('#b3-1').click(function() {
    $("#customer_kana").addClass("alert-success");
    $("#customer_kana").val("ｷﾉｼﾀｼﾞﾛｳ");
    $("#plate_no").addClass("alert-success");
    $("#plate_no").val("4123");
    $('#result2').show();
  });

  //3-2
  $('#b3-2').click(function() {
    $("#customer_kana").addClass("alert-success");
    $("#customer_kana").val("ｷﾉｼﾀ");
    $("#plate_no").addClass("alert-success");
    $("#plate_no").val("4123");
    $('#result_kojin2').show();
    $('#result_kojin2_1').hide();//テーブル1行だけ消す
    $('#result_kojin2_2').hide();//テーブル1行だけ消す
    $('#result_kojin2_3').hide();//テーブル1行だけ消す
  });

  //3-3
  $('#b3-3').click(function() {
    $("#customer_kanji").addClass("alert-success");
    $("#customer_kanji").val("木下");
    $("#plate_no").addClass("alert-success");
    $("#plate_no").val("4123");
    $('#result_kojin2').show();
    $('#result_kojin2_1').hide();//テーブル1行だけ消す
    $('#result_kojin2_2').hide();//テーブル1行だけ消す
    $('#result_kojin2_3').hide();//テーブル1行だけ消す
  });

  //3-4
  $('#b3-4').click(function() {
    $("#customer_kanji").addClass("alert-success");
    $("#customer_kanji").val("木下次");
    $("#company").addClass("alert-success");
    $("#company").val("10260");
    $('#result_kojin2').show();
    $('#result_kojin2_2').hide();//テーブル1行だけ消す
    $('#result_kojin2_3').hide();//テーブル1行だけ消す
    $('#result_kojin2_4').hide();//テーブル1行だけ消す
    $('#result_kojin2_5').hide();//テーブル1行だけ消す
  });

  //3-5
  $('#b3-5').click(function() {
    $("#customer_kana").addClass("alert-success");
    $("#customer_kana").val("ｷﾉｼﾀｼﾞ");
    $("#company").addClass("alert-success");
    $("#company").val("11230");
    $('#result_kojin2').show();
    $('#result_kojin2_1').hide();//テーブル1行だけ消す
    $('#result_kojin2_4').hide();//テーブル1行だけ消す
    $('#result_kojin2_5').hide();//テーブル1行だけ消す
    $(this).parent().parent().find(".shrink").show();
  });


  //hover
  $('#hover1').hover(
    function (){
      $('#customer_kana').addClass("alert-success");
      $('#customer_kana').val("ﾏｰｼｭ");
      $('#plate_no').addClass("alert-success");
      $('#plate_no').val("5555");
    },
    function () {
      $('#customer_kana').removeClass("alert-success");
      $('#plate_no').removeClass("alert-success");
      clear();
    }
  );

  $('#hover2').hover(
    function (){
      $('#customer_kanji').addClass("alert-success");
      $('#customer_kanji').val("株式会社Ｍ");
      $('#plate_no').addClass("alert-success");
      $('#plate_no').val("5555");
    },
    function () {
      $('#customer_kanji').removeClass("alert-success");
      $('#plate_no').removeClass("alert-success");
      clear();
    }
  );

  $('#hover3').hover(
    function (){
      $('#customer_kana').addClass("alert-success");
      $('#customer_kana').val("ﾏｰｼｭ");
      $('#company').addClass("alert-success");
      $('#company').val("13300");
    },
    function () {
      $('#customer_kana').removeClass("alert-success");
      $('#company').removeClass("alert-success");
      clear();
    }
  );

  $('#hover4').hover(
    function (){
      $('#customer_kanji').addClass("alert-success");
      $('#customer_kanji').val("株式会社Ｍ");
      $('#company').addClass("alert-success");
      $('#company').val("13300");
    },
    function () {
      $('#customer_kanji').removeClass("alert-success");
      $('#company').removeClass("alert-success");
      clear();
    }
  );

  $('#hover5').hover(
    function (){
      $('#customer_kana').addClass("alert-success");
      $('#customer_kana').val("。。。");
      $('#company').addClass("alert-success");
      $('#company').val("13300");
      $('#plate_no').addClass("alert-success");
      $('#plate_no').val("5555");
    },
    function () {
      $('#customer_kana').removeClass("alert-success");
      $('#company').removeClass("alert-success");
      $('#plate_no').removeClass("alert-success");
      clear();
    }
  );

  $('#hover6').hover(
    function (){
      $('#customer_kana').addClass("alert-success");
      $('#customer_kana').val("。。。");
      $('#tel').addClass("alert-success");
      $('#tel').val("0367755555");
    },
    function () {
      $('#customer_kana').removeClass("alert-success");
      $('#tel').removeClass("alert-success");
      clear();
    }
  );

  $('#hover7').hover(
    function (){
      $('#customer_kanji').addClass("alert-success");
      $('#customer_kanji').val("㈱");
      $('#plate_no').addClass("alert-success");
      $('#plate_no').val("5555");
    },
    function () {
      $('#customer_kanji').removeClass("alert-success");
      $('#plate_no').removeClass("alert-success");
      clear();
    }
  );

  $('#hover8').hover(
    function (){
      $('#customer_kanji').addClass("alert-success");
      $('#customer_kanji').val("㈱");
      $('#company').addClass("alert-success");
      $('#company').val("13300");
    },
    function () {
      $('#customer_kanji').removeClass("alert-success");
      $('#company').removeClass("alert-success");
      clear();
    }
  );


  //チェック時→右ラベルの色変更
  $("input[type='checkbox']").change(function(){
    if($(this).prop('checked')){
      $(this).next().removeClass("bg-white");
      $(this).next().addClass("bg-light");
    }else{
      $(this).next().removeClass("bg-light");
      $(this).next().addClass("bg-white");
    }
  });

  
</script>

{% endblock %}
