{% extends 'profit/profit_base.html' %}
{% load static %}
{% block title %}PROFIT_mock{% endblock %}

{% block extra_head %}
<style>
  .popover{
      max-width:600px;
  }
</style>
{% endblock %}

{% block breadcrumb %}
  {% comment %} {% include 'profit/bread_new_cert.html' %} {% endcomment %}
{% endblock %}

{% block sidebar %}
  {% include 'profit/side_service.html' %}
{% endblock %} 

{% block mainpanel %}

<div class="container-fluid">

<div class="row">
  <div class="col-3">
    <h4 class="font-weight-bold">新中サ区分：<span class="text-secondary">サービス</span></h4>
  </div>

  <div class="col-9 card bg-light p-1 mb-2">
    <div class="card-body p-1 m-0">
      <div class="d-flex flex-row align-items-center">
      
        <label class="col-2 pl-0" >注文書番号：</label>
        <input class="col-3" id="search_input">
        <button type="button" class="btn btn-info btn-rounded p-1 ml-1" data-container="body" data-toggle="popover" data-html="true" data-placement="bottom"
        title="sample" data-content="
          ・申込前：N1234A000<br>
          ・申込書未発行/車両情報未登録(車両基盤未)：N1234A111<br>
          ・申込書未発行/車両情報未登録(車両基盤入力済み)：N1234A222<br>
          ・会員証未発行：N1234A333<br>
          ・本登録：N1234A444
          ">vcc
        </button>
        <button type="button" class="ml-auto btn btn-outline-dark blink" id="test">検索</button>
      </div>
    </div>
  </div>
</div>


<form method="#" action="#">
<div class="row">
  <div class="col-12 card bg-light p-1 mb-2">
    <p class="font-weight-bold">商品情報</p>

    <div class="card-body p-1">
      <div class="d-flex flex-row align-items-center">
        <label class="col-3 pl-0">メンテナンス商品会員番号：</label>
        <select class="col-7" id="customer_no">
          <option value="0">（新規申込／契約）</option>
          <option value="1">410987654　A：メンテプロパック54車検付B　〜20XX/XX/XX</option>
        </select>
      </div>
      <div class="d-flex flex-row align-items-center">
        <label class="col-3 pl-1">メニュー情報(*)：</label>
        <input class="col-1" id="menu_cord">
        <input class="col-4" id="menu_name">
      </div>

      <div class="d-flex flex-row align-items-center">
        <label class="col-3 pl-1">担当者(*)：</label>
        <input class="col-2" id="tantou_cord">
        <input class="col-3" id="tantou_name">
      </div>

      <div class="d-flex flex-row align-items-center">
        <label class="col-3 pl-1">フォロー担当者(*)：</label>
        <input class="col-2" id="follow_cord">
        <input class="col-3" id="follow_name">
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12 card bg-light p-1 mb-2">
    <p class="font-weight-bold">使用者情報</p>

    <div class="card-body p-1">
      <div class="d-flex flex-row align-items-center">
        <label class="col-3 pl-1">氏名（漢字）(*)：</label>
        <input class="col-4" id="customer_kanji">
      </div>
      <div class="d-flex flex-row align-items-center">
        <label class="col-3 pl-1">氏名（ｶﾅ）(*)：</label>
        <input class="col-4" id="customer_kana">
      </div>
      <div class="d-flex flex-row align-items-center">
        <label class="col-3 pl-1">郵便番号(*)：</label>
        <input class="col-4" id="post_cord">
      </div>
      <div class="d-flex flex-row align-items-center">
        <label class="col-3 pl-1">住所（漢字）(*)：</label>
        <input class="col-4" id="address_kanji">
      </div>
      <div class="d-flex flex-row align-items-center">
        <label class="col-3 pl-1">住所（ｶﾅ）：</label>
        <input class="col-4" id="address_kana">
      </div>

    </div>
  </div>
</div>

<div class="row">
  <div class="col-12 card bg-light p-1 mb-2">
    <p class="font-weight-bold">車両情報</p>

    <div class="card-body p-1">
      <div class="d-flex flex-row align-items-center">
        <label class="col-3 pl-1">車名(*)：</label>
        <input class="col-4" id="car_name">
      </div>
      <div class="d-flex flex-row align-items-center">
        <label class="col-3 pl-1">型式：</label>
        <input class="col-4" id="car_model">
      </div>
      <div class="d-flex flex-row align-items-center">
        <label class="col-3 pl-1">登録No(*)：</label>
        <input class="col-4" id="plate_no">
      </div>
      <div class="d-flex flex-row align-items-center">
        <label class="col-3 pl-1">車台No(*)：</label>
        <input class="col-4" id="frame_no">
      </div>
      {% comment %} <p class="">　</p> {% endcomment %}
      <div class="d-flex flex-row align-items-center">
        <label class="col-3 pl-1">車種クラス(*)：</label>
        <input class="col-4" id="car_cord">
      </div>
      <div class="d-flex flex-row align-items-center">
        <label class="col-3 pl-1">初度登録年月(*)：</label>
        <input class="col-4" id="register_date">
      </div>
      {% comment %} <p class="">　</p> {% endcomment %}
      <div class="d-flex flex-row align-items-center">
        <label class="col-3 pl-1">車検満了日(*)：</label>
        <input class="col-4"  id="inspection">
      </div>

    </div>
  </div>
</div>
</form>

<div class="row">
<p class="small">(*):必須項目</p>
</div>

<div class="row justify-content-center">

  <div class="col-8 card bg-light p-1 mb-2 ">
    <div class="card-body p-1 m-0 ">
      <p class="text-primary" id="message">　</p>
      <div class="d-flex flex-row ">
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-outline-dark disabled" data-toggle="modal" data-target="#" id="entry">会員証印刷</button>
        <a href="{% url 'myprofit:new02_02' %}" class="ml-auto btn btn-outline-dark">メニューに戻る</a>
      </div>

    </div>
  </div>
</div>

</div>




<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">メンテプロ - 新車契約</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        会員証印刷するためにNFSへ接続します。よろしいですか？
      </div>
      <div class="modal-footer">
        <a href="{% url 'myprofit:new04_02' %}" class="btn btn-outline-dark">OK</a>
        <button type="button" class="btn btn-outline-dark" data-dismiss="modal">キャンセル</button>
      </div>
    </div>
  </div>
</div>

<!-- 検索ボタン→テキストを入力 -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.3/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.3/locale/ja.js"></script>
<script>
  $("#test").click(function () {

    //クリア
    $('form').find(':text').val("");//inputすべて
    $('#customer_no').val(0);
    $("#message").text("　");//メッセージ
    $('#entry').removeClass('blink');
    $('#entry').addClass('disabled');
    $('#entry')[0].dataset.target = "#";//モーダル無効に

    var search_input = $('#search_input').val();

    if (search_input == "N1234A000" || search_input == "N1234A111" || search_input == "N1234A222" || search_input == "N1234A333"|| search_input == "N1234A444") {

      $('#customer_no').val(1);
      $("#menu_cord").val("S0");
      $("#menu_name").val("メンテプロパック54車検付B");
      $("#tantou_cord").val("001234"); // 値を設定
      $("#tantou_name").val("大磯　太郎");
      $("#follow_cord").val("001234");
      $("#follow_name").val("大磯　太郎");

      $("#customer_kanji").val("尾凪　花子");
      $("#customer_kana").val("ｵﾅｷﾞ ﾊﾅｺ");
      $("#post_cord").val("171-0014");
      $("#address_kanji").val("豊島区池袋9-8-7");

      $("#car_name").val("ｽｶｲﾗｲﾝ");
      $("#car_model").val("5BA-RV37");
      //$("#plate_no").val("練馬330さ9876");
      $("#frame_no").val("RV37-130855");
      $("#car_cord").val("15");

      var shodo_date = moment(new Date()).format('YYYY年MM月');//今月
      $("#register_date").val(shodo_date);
      var shaken_date = moment(new Date()).add(3, 'y').format('YYYY年MM月');//今月
      //$("#inspection").val(shaken_date);

      //検索ボタンの点滅やめる
      $('button').removeClass('blink');

      //未申込→エラー
      if (search_input == "N1234A000") {
        $("#message").text("指定した注文書番号は存在しません。");
      }
      //申込済（車両情報未
      if (search_input == "N1234A111") {
        $("#message").text("　");
      }
      //申込済（車両情報済み
      if (search_input == "N1234A222" || search_input == "N1234A333") {
        $("#plate_no").val("練馬330さ9876");
        $("#inspection").val(shaken_date);

        $('#entry').removeClass('disabled');
        $('#entry').addClass('blink');
        $("#message").text("内容をご確認の上、よろしければ[会員証印刷]を押してください。");
        //$('.get-data')[0].dataset.category = $(this).data("category");//例
        $('#entry')[0].dataset.target = "#exampleModalCenter";//このときだけモーダル有効に
      }
      //本登録→エラーメッセージ
      if (search_input == "N1234A444") {
        $("#plate_no").val("練馬330さ9876");
        $("#inspection").val(shaken_date);
        $("#message").text("クーポン発行済です。");
      }

    } else { // クリア

    }
  });
</script>

<script>
  $(function () {
      $('[data-toggle="popover"]').popover()
  });
  //↓popoverボタン以外でもクリックで閉じる→テキスト選択不可になるので中止
  {% comment %} $('.popover-dismiss').popover({
    trigger: 'focus'
  }) {% endcomment %}
</script>

{% endblock %}
