{% extends 'profit/profit_base.html' %}
{% load static %}
{% block title %}PROFIT_mock{% endblock %}

{% block breadcrumb %}
  {% comment %} {% include 'profit/bread_new_entry.html' %} {% endcomment %}
{% endblock %}

{% block sidebar %}
  {% include 'profit/side_service.html' %}
{% endblock %}

{% block mainpanel %}
{% include 'profit/main_service.html' %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
  $(function() {
    //申込書印刷を点滅
    $('#application').addClass('blink');
  });
</script>
{% endblock %}