{% extends 'profit/profit_base.html' %}
{% load static %}
{% block title %}PROFIT_mock{% endblock %}

{% block breadcrumb %}
  {% include 'profit/bread_service.html' %}
{% endblock %}

{% block sidebar %}
  {% include 'profit/side_service.html' %}
{% endblock %}

{% block mainpanel %}

<style>
  .vertical {
      writing-mode: vertical-rl;
  }
</style>

<form class="" action='#' method='get' id="view1" name="view1">

    <div class="d-flex flex-row navbar bg-light mb-1">
      <div class="text-dark small text-center">F1<br>お客様<br>ワンストップ</div>
      <div class="text-dark small text-center"><i class="fa fa-search fa-2x"></i><br>F2<br>検索</div>
      <div class="text-dark small text-center"><i class="fa fa-user fa-2x"></i><br>F3<br>顧客</div>
      <div class="text-dark small text-center"><i class="fa fa-car fa-2x"></i><br>F4<br>車両(普通)</div>
      <div class="text-dark small text-center"><i class="fa fa-car fa-2x"></i><br>F5<br>車両(軽)</div>
      <div class="text-dark small text-center"><i class="fa fa-file-text-o fa-2x"></i><br>F6<br>伝票</div>
      <div class="text-dark small text-center"><i class="fa fa-print fa-2x"></i><br>F7<br>印刷</div>
      <div class="text-dark small text-center"><i class="fa fa-history fa-2x"></i><br>F8<br>履歴</div>
      <div class="text-dark small text-center"><i class="fa fa-phone fa-2x"></i><br>F9<br>予約</div>
      <div class="text-dark small text-center"><i class="fa fa-table fa-2x"></i><br>F10<br>コース作業</div>
      <div class="text-dark small text-center"><i class="fa fa-file-text fa-2x"></i><br>F11<br>申請書類</div>
      <div class="text-dark small text-center"><i class="fa fa-sign-out fa-2x"></i><br>F12<br>終了</div>
    </div>

    <div class="d-flex mb-1">
      <div class="col-11 d-flex flex-row navbar bg-light">
        <div class="text-dark small text-center"><i class="fa fa-floppy-o fa-lg"></i> 登録</div>
        <div class="text-dark small text-center"><i class="fa fa-plus-square-o fa-lg"></i> 新規</div>
        <div class="text-dark small text-center"><i class="fa fa-user fa-lg"></i> 顧客車両情報</div>
        <div class="text-dark small text-center"><i class="fa fa-car fa-lg"></i> 料金一覧表</div>
        <div class="text-dark small text-center"><i class="fa fa-table fa-lg"></i> 料金比較</div>
        <div class="text-dark small text-center"><i class="fa fa-money fa-lg"></i> 値引ガイド</div>
        <div class="text-dark small text-center"><i class="fa fa-wrench fa-lg"></i> セット作業</div>
        {% comment %} <button class="text-dark small text-center" type="submit"><i class="fa fa-file-o fa-lg"></i> メンテプロ申込</button> {% endcomment %}
        <a href="#" class="text-dark small text-center p-1 nav-link" onclick="document.view1.submit()" id="entry"><i class="fa fa-file-o fa-lg"></i> メンテプロ申込</a>
      </div>
      <div class="col-1 d-flex flex-row navbar bg-secondary text-white small justify-content-center">
        新規
      </div>
    </div>


    <div class="d-flex">
      <div class="col-5 d-flex flex-column pl-0">
        <div class="d-flex mb-1">
          <div class="col-1 bg-secondary vertical text-white p-4 text-center">
            お客様情報
          </div>
          <div class="col-11 bg-gradient-light p-1">
            <div class="d-flex flex-nowrap">
              <span class="col-3 mb-1 p-0">顧客コード</span>
              <input class="col-6 mb-1">
            </div>
            <div class="d-flex flex-nowrap">
              <span class="col-3 mb-1 p-0">お名前</span>
              <input class="col-8 mb-1">
            </div>
            <div class="d-flex flex-nowrap">
              <span class="col-3 mb-1 p-0"></span>
              <input class="col-7 mb-1">様
            </div>
            <div class="d-flex flex-nowrap">
              <span class="col-3 mb-1 p-0">フリガナ</span>
              <input class="col-8 mb-1">
            </div>
            <div class="d-flex flex-nowrap">
              <span class="col-3 mb-1 p-0">連絡先</span>
              <input class="col-8 mb-1">
            </div>
            <div class="d-flex flex-nowrap">
              <span class="col-3 mb-1 p-0">e-mail</span>
              <input class="col-8 mb-1">
            </div>
          </div>
        </div>

        <div class="d-flex mb-1">
          <div class="col-1 bg-secondary vertical text-white p-4 text-center">
            車両情報
          </div>
          <div class="col-11 bg-gradient-light p-1">
            <div class="d-flex flex-nowrap">
              <span class="col-3 mb-1 p-0">登録番号</span>
              <input class="col-2 mb-1">
              <button class="p-1 mb-1">?</button>
              <input class="col-1 mb-1">
              <input class="col-1 mb-1">
              <input class="col-2 mb-1">
            </div>
            <div class="d-flex flex-nowrap">
              <span class="col-3 mb-1 p-0">類別番号</span>
              <input class="col-2 mb-1">-
              <input class="col-2 mb-1">
            </div>
            <div class="d-flex flex-nowrap">
              <span class="col-3 mb-1 p-0">車名</span>
              <input class="col-7 mb-1">
              <button class="p-1 mb-1">?</button>
            </div>
            <div class="d-flex flex-nowrap">
              <span class="col-3 mb-1 p-0">車種</span>
              <input class="col-7 mb-1">
              <button class="p-1 mb-1">?</button>
            </div>
            <div class="d-flex flex-nowrap">
              <span class="col-3 mb-1 p-0">型式</span>
              <input class="col-4 mb-1">
              <select class="col-2 mb-1"></select>
            </div>
            <div class="d-flex flex-nowrap">
              <span class="col-3 mb-1 p-0">自・営の別</span>
              <select class="col-3 mb-1"></select>
              <span class="col-3 mb-1 p-0">走行距離</span>
              <input class="col-2 mb-1">km
            </div>
            <div class="d-flex flex-nowrap">
              <span class="col-3 mb-1 p-0">初年度</span>
              <input class="col-2 mb-1">
              <input class="col-1 mb-1">年
              <input class="col-1 mb-1">月
            </div>
            <div class="d-flex flex-nowrap">
              <span class="col-3 mb-1 p-0">総排気量</span>
              <input class="col-4 mb-1">
              <select class="col-2 mb-1"></select>
            </div>
            <div class="d-flex flex-nowrap">
              <span class="col-3 mb-1 p-0">車検満期日</span>
              <input class="col-2 mb-1">
              <input class="col-1 mb-1">年
              <input class="col-1 mb-1">月
              <input class="col-1 mb-1">日
            </div>
            <div class="d-flex flex-nowrap">
              <span class="col-3 mb-1 p-0">自賠責満期</span>
              <input class="col-2 mb-1">
              <input class="col-1 mb-1">年
              <input class="col-1 mb-1">月
              <input class="col-1 mb-1">日
            </div>
            <div class="d-flex flex-nowrap">
              <span class="col-3 mb-1 p-0">料率グルー</span>
              <select class="col-4 mb-1"></select>
            </div>
          </div>
        </div>

        <div class="d-flex mb-1">
          <div class="col-1 bg-secondary vertical text-white p-4 text-center">
            
          </div>
          <div class="col-11 bg-gradient-light">
            <div class="d-flex flex-nowrap">
              <span class="col-3 mb-1 p-0">受付担当</span>
              <input class="col-6 mb-1">
              <button class="p-1 mb-1">?</button>
            </div>
            <div class="d-flex flex-nowrap">
              <span class="col-3 mb-1 p-0">メカ担当</span>
              <input class="col-6 mb-1">
              <button class="p-1 mb-1">?</button>
            </div>
            <div class="d-flex flex-nowrap">
              <span class="col-3 mb-1 p-0">摘要1</span>
              <input class="col-8 mb-1">
            </div>
          </div>
        </div>
      </div>

      
      <div class="col-7 d-flex flex-column pr-0">
      
        <div class="d-flex flex-column mb-1 alert-info p-0" style="height: 500px;">
          <div class="d-flex bg-dark py-4 px-2">
            <div class="text-warning">メンテナンス<br>メニュー</div>
            <div class="text-light">　<span class="text-secondary"><i class="fa fa-car fa-lg"></i></span>車検</div>
            <div class="text-light">　<span class="text-secondary"><i class="fa fa-car fa-lg"></i></span>定期（乗）</div>
            <div class="text-light">　<span class="text-secondary"><i class="fa fa-car fa-lg"></i></span>定期（商）</div>
            <div class="text-light">　<span class="text-secondary"><i class="fa fa-car fa-lg"></i></span>新車点検</div>
          </div>
          <div class="d-flex flex-wrap">
            <div class="card-title m-3">しんぷるコース</div>
            <div class="card-title m-3">さわやかパック</div>
            <div class="card-title m-3">マッハプロ初回車検</div>
            <div class="card-title m-3">マッハプロ基本コース</div>
            <div class="card-title m-3">マッハプロ予防コース</div>
          </div>
        </div>

        <div class="d-flex mb-1 alert-success p-2" >
          <div class="small vertical p-1 text-center">料金</div>
          <div class="col small px-0">
            <div class="text-nowrap">基本料金</div>
            <input class="col text-right" value="0">
          </div>
          <div class=""><br>+</div>
          <div class="col small px-0">
            <div class="text-nowrap">諸費用合計</div>
            <input class="col text-right" value="0">
          </div>
          <div class=""><br>+</div>
          <div class="col small px-0">
            <div class="text-nowrap">追加作業合計</div>
            <input class="col text-right" value="0">
          </div>
          <div class=""><br>+<br>+</div>
          <div class="col small px-0">
            <div class="text-nowrap">追加部品合計</div>
            <input class="col text-right" value="0">
            <div class="text-nowrap">整備(消費税)</div>
          </div>
          <div class=""><br>-</div>
          <div class="col small px-0">
            <div class="text-nowrap">値引金額</div>
            <input class="col text-right" value="0">
            <input class="col text-right" value="0">
          </div>
          <div class=""><br>=</div>
          <div class="col small px-0">
            <div class="text-nowrap">合計金額</div>
            <span class="text-nowrap"><input class="col-9 text-right" value="0">円</span>
          </div>
        </div>
      </div>

      
    </div>


    
      


  <input type="hidden" name="route" id="route" value="{{route}}">
  <input name="cert_no" id="hidden_no" value="410987005">
</form>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
  $(function() {

    $("#view1").attr("action", "{% url 'myprofit:service03' %}");
    $('#entry').addClass('blink');

  });
</script>
{% endblock %}