{% extends 'profit_base.html' %}
{% load static %}
{% block title %}PROFIT（mook）{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item nav-item d-flex m-0"><a title="マウスオーバー時の表示" href="{% url 'myprofit:profit_top' %}"><i class="fa fa-home"> Home</i></a></li>
  <li class="breadcrumb-item active nav-item d-flex m-0">このページ</li>
{% endblock %}

        {% block sidebar %}
        <ul class="nav">
          <li class="nav-item bg-white">
            <div class="sidebar-menu-title">新車C/A</div>
          </li>

          <li class="nav-item border-bottom">
            <a class="nav-link" href="#">
              <span class="menu-title">商談</span><i class="typcn typcn-chevron-right menu-arrow"></i>
            </a>
          </li>
          <li class="nav-item border-bottom">
            <a class="nav-link" href="#">
              <span class="menu-title">受注</span><i class="typcn typcn-chevron-right menu-arrow"></i>
            </a>
          </li>
          <li class="nav-item border-bottom">
            <a class="nav-link" href="#">
              <span class="menu-title blink">登録・納車・回収</span><i class="typcn typcn-chevron-right menu-arrow"></i>
            </a>
          </li>
          <li class="nav-item border-bottom">
            <a class="nav-link" href="#">
              <span class="menu-title">保険</span><i class="typcn typcn-chevron-right menu-arrow"></i>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
              <i class="typcn typcn-briefcase menu-icon"></i>
              <span class="menu-title">UI Elements</span>
              <i class="typcn typcn-chevron-right menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-basic">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="#">Buttons</a></li>
                <li class="nav-item"> <a class="nav-link" href="#">Dropdowns</a></li>
                <li class="nav-item"> <a class="nav-link" href="#">Typography</a></li>
              </ul>
            </div>
          </li>

        </ul>

        <div class="col align-self-end nav-item">
          <a class="nav-link" href="#">
            <span class="menu-title">トップメニュー</span></i>
          </a>
        </div>
        {% endblock %}

        <!-- partial -->
            {% block mainpanel %}

            <div class="row">
              <div class="col-lg-12 stretch-card p-2">
                <div class="card">
                  <h5 class="card-title m-2 mx-auto">登録・納車・回収</h5>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-4 d-flex grid-margin stretch-card p-2">
                <div class="card">
                  <h4 class="card-title my-1 mx-auto">CAP</h4>
                  <hr>
                  <div class="card-body p-2">
                    <span class="font-weight-bold p-0">【登録】</span>
                    <ul class="list-unstyled">
                    <li>　</li><li>　</li><li>　</li><li>　</li>
                    </ul>
                    <ul class="list-unstyled">【納車】
                      <li>　</li><li>　</li><li>　</li><li>　</li>
                      </ul>
                    <ul class="list-unstyled">【回収】
                      <li>　</li><li>　</li><li>　</li><li>　</li>
                    </ul>
                  </div>
                </div>
              </div>


              <div class="col-4 d-flex grid-margin stretch-card p-2">
                <div class="card">
                  <h4 class="card-title my-1 mx-auto">店舗オンライン</h4>
                  <hr>
                  <div class="card-body p-2">
                    <div class="font-weight-bold">【登録】</div>
                    <ul class="list-unstyled ml-3">
                    <li>日産OSSシステム <i class="typcn typcn-chevron-right menu-arrow"></i></li>
                      <li>　</li><li>　</li><li>　</li>
                    </ul>
                    <div class="font-weight-bold">【納車】</div>
                    <ul class="list-unstyled ml-3">
                      <li>メンテプロ申込書印刷 <i class="typcn typcn-chevron-right menu-arrow"></i></li>
                      <li>メンテプロ会員証印刷 <i class="typcn typcn-chevron-right menu-arrow"></i></li>
                      <li>NFSメンテトップメニュー <i class="typcn typcn-chevron-right menu-arrow"></i></li>
                      
                      <li>　</li>
                      </ul>
                    <ul class="list-unstyled">【回収】
                      <li>　</li><li>　</li><li>　</li><li>　</li>
                    </ul>
                    <ul class="list-unstyled">【ZESP2】
                      <li>　</li><li>　</li><li>　</li><li>　</li>
                    </ul>
                  </div>
                </div>
              </div>

              <div class="col-4 d-flex grid-margin stretch-card p-2">
                <div class="card">
                  <h4 class="card-title my-1 mx-auto">本部オンライン</h4>
                  <hr>
                  <div class="card-body p-2">
                    <div class="font-weight-bold">【登録】</div>
                    <ul class="list-unstyled ml-3">
                    <li>日産OSSシステム <i class="typcn typcn-chevron-right menu-arrow"></i></li>
                      <li>　</li><li>　</li><li>　</li>
                    </ul>
                    <div class="font-weight-bold">【納車】</div>
                    <ul class="list-unstyled ml-3">
                      <li>メンテプロ申込書印刷 <i class="typcn typcn-chevron-right menu-arrow"></i></li>
                      <li>メンテプロ会員証印刷 <i class="typcn typcn-chevron-right menu-arrow"></i></li>
                      <li>NFSメンテトップメニュー <i class="typcn typcn-chevron-right menu-arrow"></i></li>
                      
                      <li>　</li>
                      </ul>
                    <ul class="list-unstyled">【回収】
                      <li>　</li><li>　</li><li>　</li><li>　</li>
                    </ul>

                  </div>
                </div>
              </div>
            </div>

            {% endblock %}
