{% extends 'profit/profit_base.html' %}
{% load static %}
{% block title %}PROFIT_mock{% endblock %}

{% block extra_head %}
<style>
  .colorwhite{
    color:gray
  }

  tr.ex_border_a {
    border-top: 2px solid gray;
  }
</style>
{% endblock %}
{% block breadcrumb %}
{% endblock %}

{% block sidebar %}
<ul class="nav">
    
    <li class="nav-item bg-white">
      <div class="sidebar-menu-title text-dark">VCCメニュー</div>
    </li>
    <div class="nav-search mt-3">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="エラー検索（未）">
        <div class="input-group-append">
          <span class="input-group-text" id="search">
            <i class="typcn typcn-zoom"></i>
          </span>
        </div>
      </div>
    </div>

    <li class="nav-item">
      <div class="nav-link py-1 mt-2" data-toggle="collapse" href="#ui-basic1" aria-expanded="false">
        <i class="typcn typcn-briefcase menu-icon mr-1"></i>
        <span class="menu-title">申込する・キャンセルする</span>
      </div>
      <div class="collapse show" id="ui-basic1">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="{% url 'myprofit:new02' %}?route=entry">新車</a></li>
          <li class="nav-item"> <a class="nav-link" href="{% url 'myprofit:used02' %}?route=entry">中古車</a></li>
          <li class="nav-item"> <a class="nav-link" href="{% url 'myprofit:service02' %}?route=entry">サービス</a></li>
          <li class="nav-item"> <a class="nav-link" href="{% url 'myprofit:service01' %}?route=entry2">コース作業(サービス)</a></li>
        </ul>
      </div>
    </li>

    <li class="nav-item">
      <div class="nav-link py-1 mt-2" data-toggle="collapse" href="#ui-basic2" aria-expanded="false" aria-controls="ui-basic">
        <i class="typcn typcn-briefcase menu-icon mr-1"></i>
        <span class="menu-title">続きから発行する</span>
      </div>
      <div class="collapse show" id="ui-basic2">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="{% url 'myprofit:new02' %}?route=cert">新車</a></li>
          <li class="nav-item"> <a class="nav-link" href="{% url 'myprofit:used02' %}?route=cert">中古車</a></li>
          <li class="nav-item"> <a class="nav-link" href="{% url 'myprofit:service02' %}?route=cert">サービス</a></li>
        </ul>
      </div>
    </li>

    <li class="nav-item">
      <div class="nav-link py-1 mt-2" data-toggle="collapse" href="#ui-basic3" aria-expanded="false" aria-controls="ui-basic">
        <i class="typcn typcn-briefcase menu-icon mr-1"></i>
        <span class="menu-title">発行済みの再印刷をする</span>
      </div>
      <div class="collapse show" id="ui-basic3">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="{% url 'myprofit:new02' %}?route=mente">新車</a></li>
          <li class="nav-item"> <a class="nav-link" href="{% url 'myprofit:used02' %}?route=mente">中古車</a></li>
          <li class="nav-item"> <a class="nav-link" href="{% url 'myprofit:service02' %}?route=mente">サービス</a></li>
        </ul>
      </div>
    </li>
  </ul>
  <ul class="sidebar-legend ">
    <li>
      <p class="sidebar-menu-title">Other</p>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link">#登録画面のエラー（未）</a>
    </li>
  </ul>


{% endblock %}

{% block mainpanel %}

<h4 class="h3 font-weight-bold mb-3">VCC Navi<span class="h6">（未作成。左のメニューをご使用ください）</span></h4>


<div class="card mb-2">
  <div class="card-body p-2">
    <div class="d-flex flex-wrap justify-content-between">
      <h4 class="h4 font-weight-bold mb-3">1. 印刷したいもの</h4>
    </div>

    <div class="btn-group btn-group-toggle" data-toggle="buttons" id="select1">
      <label class="btn btn-sm btn-inverse-secondary">
        <input type="radio" name="s1" id="op1_1" autocomplete="off" value="申込書"> 申込書
      </label>
      <label class="btn btn-sm btn-inverse-secondary">
        <input type="radio" name="s1" id="op1_2" autocomplete="off" value="会員証"> 会員証
      </label>
      <label class="btn btn-sm btn-inverse-secondary">
        <input type="radio" name="s1" id="op1_3" autocomplete="off" value="申込書と会員証"> 申込書と会員証
      </label>
    </div>
  </div>
</div>

<div class="card mb-2">
  <div class="card-body p-2">
    <div class="d-flex flex-wrap justify-content-between">
      <h4 class="h4 font-weight-bold mb-3">2. ステータス</h4>
    </div>

    <!-- 縦のボタングループ版 -->
    {% comment %} <div class="btn-group-toggle btn-group-vertical" data-toggle="buttons">
      <label class="btn btn-sm btn-inverse-secondary">
        <input type="radio" name="options" id="option1" autocomplete="off">
          <div class="text-left">（申込前）</div>
      </label>
      <label class="btn btn-sm btn-inverse-secondary">
        <input type="radio" name="options" id="option2" autocomplete="off">
        <div class="text-left">申込書未発行</div>
      </label>
      <label class="btn btn-sm btn-inverse-secondary">
        <input type="radio" name="options" id="option3" autocomplete="off">
        <div class="text-left">車両情報未登録</div>
      </label>
      <label class="btn btn-sm btn-inverse-secondary">
        <input type="radio" name="options" id="option3" autocomplete="off">
        <div class="text-left">会員証未発行</div>
      </label>
      <label class="btn btn-sm btn-inverse-secondary">
        <input type="radio" name="options" id="option3" autocomplete="off">
        <div class="text-left">本登録</div>
      </label>
    </div> {% endcomment %}

    <div class="btn-group btn-group-toggle" data-toggle="buttons">
      <label class="btn btn-sm btn-inverse-secondary">
        <input type="radio" name="options" id="option1" autocomplete="off">(申込前)
      </label>
      <label class="btn btn-sm btn-inverse-secondary">
        <input type="radio" name="options" id="option2" autocomplete="off">申込書未発行
        <a href="#" class="text-info" data-toggle="popover" data-trigger="hover" data-html="true" data-placement="bottom"
          data-content="申込はした" ><i class="fa fa-question-circle colorwhite"></i></a>
      </label>
      <label class="btn btn-sm btn-inverse-secondary">
        <input type="radio" name="options" id="option3" autocomplete="off">車両情報未登録
        <a href="#" class="text-info" data-toggle="popover" data-trigger="hover" data-html="true" data-placement="bottom"
          data-content="登録番号や車検満了日なしで、NFS-Webの申込書印刷ボタンは押した"><i class="fa fa-question-circle colorwhite"></i></a>
      </label>
      <label class="btn btn-sm btn-inverse-secondary">
        <input type="radio" name="options" id="option3" autocomplete="off">会員証未発行
        <a href="#" class="text-info" data-toggle="popover" data-trigger="hover" data-html="true" data-placement="bottom"
          data-content="登録番号や車検満了日がある状態で、NFS-Webの申込書印刷ボタンは押した"><i class="fa fa-question-circle colorwhite"></i></a>
      </label>
      <label class="btn btn-sm btn-inverse-secondary">
        <input type="radio" name="options" id="option3" autocomplete="off">本登録
        <a href="#" class="text-info" data-toggle="popover" data-trigger="hover" data-html="true" data-placement="bottom"
          data-content="NFS-Webの会員証印刷ボタンまで押した" ><i class="fa fa-question-circle colorwhite"></i></a>
      </label>
    </div>
      

  </div>
</div>

<div class="card mb-2">
  <div class="card-body p-2">
    <div class="d-flex flex-wrap justify-content-between">
      <h4 class="h4 font-weight-bold mb-3">3. 車両基盤</h4>
    </div>

    <div class="btn-group btn-group-toggle" data-toggle="buttons">
      <label class="btn btn-sm btn-inverse-secondary">
        <input type="radio" name="options" id="option1" autocomplete="off">まだ
      </label>
      <label class="btn btn-sm btn-inverse-secondary">
        <input type="radio" name="options" id="option2" autocomplete="off">入力（反映）済み
      </label>
    </div>
  </div>
</div>


<div class="card mb-2">
  <div class="card-body p-2">
    <div class="d-flex flex-wrap justify-content-between">
      <h4 class="h4 font-weight-bold mb-3">4. 申込区分</h4>
    </div>

    <div class="btn-group btn-group-toggle" data-toggle="buttons">
      <label class="btn btn-sm btn-inverse-secondary">
        <input type="radio" name="options" id="option1" autocomplete="off">新車
      </label>
      <label class="btn btn-sm btn-inverse-secondary">
        <input type="radio" name="options" id="option2" autocomplete="off">中古車
      </label>
      <label class="btn btn-sm btn-inverse-secondary">
        <input type="radio" name="options" id="option3" autocomplete="off">サービス
      </label>
    </div>
  </div>
</div>


<div class="card mb-2">
  <div class="card-body p-2">
    <div class="d-flex flex-wrap justify-content-between">
      <h4 class="h4 font-weight-bold mb-3">（5. 実は内容を変更したい？）</h4>
    </div>

    <div class="btn-group btn-group-toggle" data-toggle="buttons">
      <label class="btn btn-sm btn-inverse-secondary">
        <input type="radio" name="options" id="option1" autocomplete="off">はい
      </label>
      <label class="btn btn-sm btn-inverse-secondary active">
        <input type="radio" name="options" id="option2" autocomplete="off" checked>いいえ
      </label>
    </div>
  </div>
</div>

<div class="row justify-content-center m-2">
  <a href="#" class="btn btn-primary ml-auto">Go</a>
</div>


<p>テキスト入力すると検索条件となりフィルタリングします。</p>  
<input id="myInput" type="text" placeholder="Search..">
<table class="table table-sm table-hover table-responsive">
  <thead>
  <tr class="table-dark">
    <th>Result</th>
    <th>Select</th>
    <th>id</th>
  </tr>
  </thead>
  <tbody id="myTable">
  <tr>
    <td>申込書×本登録</td>
    <td>申込書・本登録・- -</td>
    <td>op1_1op2_4</td>
  </tr>
  <tr>
    <td>テスト</td>
    <td>花子</td>
    <td>test2@mail.com</td>
  </tr>
  <tr>
    <td>テスト</td>
    <td>三郎</td>
    <td>test3@test.com</td>
  </tr>
  <tr>
    <td>テスト</td>
    <td>次郎</td>
    <td>test4@test.com</td>
  </tr>
  </tbody>
</table>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script>
  //changeで呼ぶ関数
  function disp_flow(date){

  }

  $(function () {
      $('[data-toggle="popover"]').popover()
      $('#sidebar').removeClass('bg-white');
  });
  

  //テーブルフィルタ
  $("#myInput").on("keyup", function() {
  //$("#myInput").change(function() {
    var value = $(this).val().toLowerCase();
    $("#myTable tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });


  $("#select1").change(function() {
    var select1 = $('input:radio[name="s1"]:checked').val();
		$('#myInput').val(select1);
  });
</script>

{% endblock %}
