{% extends 'profit/profit_base.html' %}
{% load static %}
{% block title %}PROFIT_mock{% endblock %}

{% block extra_head %}
<style>
  .colorwhite{
    color:gray
  }

  tr.ex_border_a {
    border-top: 2px solid gray;
  }
</style>
{% endblock %}
{% block breadcrumb %}
{% endblock %}

{% block sidebar %}
<ul class="nav">
    
    <li class="nav-item bg-white">
      <div class="sidebar-menu-title text-dark">VCCメニュー</div>
    </li>
    <div class="nav-search mt-3">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="エラー検索">
        <div class="input-group-append">
          <span class="input-group-text" id="search">
            <i class="typcn typcn-zoom"></i>
          </span>
        </div>
      </div>
    </div>

    <li class="nav-item">
      <a class="nav-link py-1 mt-2" data-toggle="collapse" href="#ui-basic1" aria-expanded="false">
        <i class="typcn typcn-briefcase menu-icon mr-1"></i>
        <span class="menu-title">申込する・キャンセルする</span>
      </a>
      <div class="collapse show" id="ui-basic1">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="{% url 'myprofit:new01' %}">新車</a></li>
          <li class="nav-item"> <a class="nav-link" href="{% url 'myprofit:used02' %}?route=entry">中古車</a></li>
          <li class="nav-item"> <a class="nav-link" href="{% url 'myprofit:service01_01' %}">サービス（キャンセル）</a></li>
        </ul>
      </div>
    </li>

    <li class="nav-item">
      <a class="nav-link py-1 mt-2" data-toggle="collapse" href="#ui-basic2" aria-expanded="false" aria-controls="ui-basic">
        <i class="typcn typcn-briefcase menu-icon mr-1"></i>
        <span class="menu-title">続きから発行する</span>
      </a>
      <div class="collapse show" id="ui-basic2">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="{% url 'myprofit:new01_02' %}">新車</a></li>
          <li class="nav-item"> <a class="nav-link" href="{% url 'myprofit:used02' %}?route=cert">中古車</a></li>
          <li class="nav-item"> <a class="nav-link" href="#">サービス（未作成）</a></li>
        </ul>
      </div>
    </li>

    <li class="nav-item">
      <a class="nav-link py-1 mt-2" data-toggle="collapse" href="#ui-basic3" aria-expanded="false" aria-controls="ui-basic">
        <i class="typcn typcn-briefcase menu-icon mr-1"></i>
        <span class="menu-title">発行済みの再印刷をする</span>
      </a>
      <div class="collapse show" id="ui-basic3">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="{% url 'myprofit:new01_03' %}">新車</a></li>
          <li class="nav-item"> <a class="nav-link" href="{% url 'myprofit:used02' %}?route=mente">中古車</a></li>
          <li class="nav-item"> <a class="nav-link" href="#">サービス（未作成）</a></li>
        </ul>
      </div>
    </li>

  </ul>

{% endblock %}

{% block mainpanel %}

<h4 class="h3 font-weight-bold mb-3">VCC Navigation（未作成）</h4>


<div class="card mb-2">
  <div class="card-body p-2">
    <div class="d-flex flex-wrap justify-content-between">
      <h4 class="h4 font-weight-bold mb-3">1. 印刷したいもの</h4>
    </div>

    <div class="btn-group btn-group-toggle" data-toggle="buttons">
      <label class="btn btn-sm btn-inverse-secondary">
        <input type="radio" name="options" id="option1" autocomplete="off"> 申込書
      </label>
      <label class="btn btn-sm btn-inverse-secondary">
        <input type="radio" name="options" id="option2" autocomplete="off"> 会員証
      </label>
      <label class="btn btn-sm btn-inverse-secondary">
        <input type="radio" name="options" id="option3" autocomplete="off"> 申込書と会員証
      </label>
    </div>
  </div>
</div>

<div class="card mb-2">
  <div class="card-body p-2">
    <div class="d-flex flex-wrap justify-content-between">
      <h4 class="h4 font-weight-bold mb-3">2. ステータス</h4>
    </div>

    <!-- 縦のボタングループ版 -->
    {% comment %} <div class="btn-group-toggle btn-group-vertical" data-toggle="buttons">
      <label class="btn btn-sm btn-inverse-secondary">
        <input type="radio" name="options" id="option1" autocomplete="off">
          <div class="text-left">（申込前）</div>
      </label>
      <label class="btn btn-sm btn-inverse-secondary">
        <input type="radio" name="options" id="option2" autocomplete="off">
        <div class="text-left">申込書未発行</div>
      </label>
      <label class="btn btn-sm btn-inverse-secondary">
        <input type="radio" name="options" id="option3" autocomplete="off">
        <div class="text-left">車両情報未登録</div>
      </label>
      <label class="btn btn-sm btn-inverse-secondary">
        <input type="radio" name="options" id="option3" autocomplete="off">
        <div class="text-left">会員証未発行</div>
      </label>
      <label class="btn btn-sm btn-inverse-secondary">
        <input type="radio" name="options" id="option3" autocomplete="off">
        <div class="text-left">本登録</div>
      </label>
    </div> {% endcomment %}

    <div class="btn-group btn-group-toggle" data-toggle="buttons">
      <label class="btn btn-sm btn-inverse-secondary">
        <input type="radio" name="options" id="option1" autocomplete="off">(申込前)
      </label>
      <label class="btn btn-sm btn-inverse-secondary">
        <input type="radio" name="options" id="option2" autocomplete="off">申込書未発行
        <a href="#" class="text-info" data-toggle="popover" data-trigger="hover" data-html="true" data-placement="bottom"
          data-content="申込はした" ><i class="fa fa-question-circle colorwhite"></i></a>
      </label>
      <label class="btn btn-sm btn-inverse-secondary">
        <input type="radio" name="options" id="option3" autocomplete="off">車両情報未登録
        <a href="#" class="text-info" data-toggle="popover" data-trigger="hover" data-html="true" data-placement="bottom"
          data-content="登録番号や車検満了日なしで、NFS-Webの申込書印刷ボタンは押した"><i class="fa fa-question-circle colorwhite"></i></a>
      </label>
      <label class="btn btn-sm btn-inverse-secondary">
        <input type="radio" name="options" id="option3" autocomplete="off">会員証未発行
        <a href="#" class="text-info" data-toggle="popover" data-trigger="hover" data-html="true" data-placement="bottom"
          data-content="登録番号や車検満了日がある状態で、NFS-Webの申込書印刷ボタンは押した"><i class="fa fa-question-circle colorwhite"></i></a>
      </label>
      <label class="btn btn-sm btn-inverse-secondary">
        <input type="radio" name="options" id="option3" autocomplete="off">本登録
        <a href="#" class="text-info" data-toggle="popover" data-trigger="hover" data-html="true" data-placement="bottom"
          data-content="NFS-Webの会員証印刷ボタンまで押した" ><i class="fa fa-question-circle colorwhite"></i></a>
      </label>
    </div>
      

  </div>
</div>

<div class="card mb-2">
  <div class="card-body p-2">
    <div class="d-flex flex-wrap justify-content-between">
      <h4 class="h4 font-weight-bold mb-3">3. 申込区分</h4>
    </div>

    <div class="btn-group btn-group-toggle" data-toggle="buttons">
      <label class="btn btn-sm btn-inverse-secondary">
        <input type="radio" name="options" id="option1" autocomplete="off">新車
      </label>
      <label class="btn btn-sm btn-inverse-secondary">
        <input type="radio" name="options" id="option2" autocomplete="off">中古車
      </label>
      <label class="btn btn-sm btn-inverse-secondary">
        <input type="radio" name="options" id="option3" autocomplete="off">サービス
      </label>
    </div>
  </div>
</div>


<div class="card mb-2">
  <div class="card-body p-2">
    <div class="d-flex flex-wrap justify-content-between">
      <h4 class="h4 font-weight-bold mb-3">（4. 実は内容を変更したい？）</h4>
    </div>

    <div class="btn-group btn-group-toggle" data-toggle="buttons">
      <label class="btn btn-sm btn-inverse-secondary">
        <input type="radio" name="options" id="option1" autocomplete="off">はい
      </label>
      <label class="btn btn-sm btn-inverse-secondary active">
        <input type="radio" name="options" id="option2" autocomplete="off" checked>いいえ
      </label>
    </div>
  </div>
</div>

<div class="row justify-content-center m-2">
  <a href="#" class="btn btn-primary ml-auto">Go</a>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>  
<script>
  $(function () {
      $('[data-toggle="popover"]').popover()
      $('#sidebar').removeClass('bg-white');
  });
</script>


{% endblock %}
