{% extends 'profit/profit_base.html' %}
{% load static %}
{% block title %}PROFIT_mock{% endblock %}

{% block breadcrumb %}
  {% include 'profit/bread_used.html' %}
{% endblock %}

{% block sidebar %}
  {% include 'profit/side_used.html' %}
{% endblock %} 

{% block mainpanel %}
  {% include 'profit/nfs_login.html' %}


<!-- クリアボタン -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
  $(function () {
    //$("#end1").attr("href", "{% url 'myprofit:new02_03' %}") //中断ボタン
    //$("#end2").attr("href", "{% url 'myprofit:new02_03' %}") //中断ボタン

    //routeが申込書なら05entryへ。会員証なら07へ。メンテトップからなら05へ
    var route = $('#route').val();
    //確認後の送信ボタン
    if (route == "entry" ) {
      $("#view1").attr("action", "{% url 'myprofit:used05entry' %}")
    } else if (route == "cert" ) {
      $("#view1").attr("action", "{% url 'myprofit:used07' %}")
    } else if (route == "mente" ) {
      $("#view1").attr("action", "{% url 'myprofit:used05' %}")
    }
    
  });
</script>

{% endblock %}
