{% extends 'profit/profit_base.html' %}
{% load static %}
{% block title %}PROFIT_mock{% endblock %}

{% block breadcrumb %}
  {% include 'profit/bread_used.html' %}
{% endblock %}

{% block sidebar %}
  {% include 'profit/side_used.html' %}
{% endblock %}

{% block mainpanel %}
  {% include 'profit/main_used.html' %}
  

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
  $(function() {

    $('#main').hide();// 最初はメニュー非表示
    $('#touroku').addClass('blink');// 受注納車回収を点滅

    var route = $('#route').val();
    //点滅
    if (route == "entry" ) {
      $('#entry').addClass('blink');
    } else if (route == "cert" ) {
      $('#cert').addClass('blink');
    } else if (route == "mente" ) {
      $('#mente').addClass('blink');
    }

    // 受注納車回収をクリックでメニュー表示
    $("#touroku").click(function () {
      $('#main').show();// 最初はメニュー非表示
      $('#touroku').removeClass('blink');// 受注納車回収を点滅
    });
    
  });
</script>
{% endblock %}