{% extends 'layout.html' %}
{% block title %}おしらせ{% endblock %}
{% block topbar %}
{% comment %} <a class="nav-link" href='{% url "myinfo:index" %}'>
    <i class="fas fa-broadcast-tower"></i> おしらせ</a> {% endcomment %}
{% endblock %}

{% block content %}
    <!-- <h1 class="h3 text-gray-800 flex-grow-1">おしらせの{{ object|yesno:'更新,作成'}}</h1> -->

    <form method="POST" enctype="multipart/form-data" action="{% url 'myinfo:add_fbvform' %}" class="form-group">
        {% csrf_token %}
        {% comment %} {% bootstrap_form form layout='horizontal' %} {% endcomment %}

        <div class="mb-3">{{ form.category }}</div>
        <div class="mb-3">{{ form.title }}</div>
        <div class="mb-1">{{ form.body }}</div>
        <div class="text-xs text-right mb-1">Enterで改行、Shift+Enterで段落</div>
        {% if form.errors %}
			<div class="alert alert-warning" role="alert">{{ form.errors }}</div>
        {% endif %}

        <div hidden>{{ form.tags }}</div>

        <!-- 添付ファイル追加  -->
        <div class="mb-3"><input type="file" name="pdf_file1" data-toggle="tooltip" data-html="true" title="一覧画面ではリンク表示、<br>詳細画面ではプレビュー表示"></div>
        <div class="mb-3"><input type="file" name="pdf_file2"></div>
        <div class="mb-3"><input type="file" name="pdf_file3"></div>

        <div class="mb-3">{{ form.for_search }}</div>
        <!-- LD共有チェック→To_flagにLD共有と入れる  -->
        <div class="mb-2 ml-4">
            <label><input type="checkbox" name="ld_share" value="ld_share" class="form-check-input">LD共有<span class="small">（下書きチェックは外してください）</span></label>
        </div>

        {% comment %} {% for field in form %}
        <div class="field">
            {{ field.label_tag }}
            {{ field.text }}
            {{ field }}
            {% if field.help_text %}
                <span class="helptext">{{ field.help_text }}</span>
            {% endif %}
            {% if field.errors %}
                <div class="alert alert-warning" role="alert">{{ field.errors }}</div>
            {% endif %}

        </div>
        {% endfor %} {% endcomment %}

        <hr>

        {% comment %} {{ form.tags }} {% endcomment %}
        {% comment %} {{ form.media }} {% endcomment %}

        <!-- form-comtrolがあたって大きくなってしまうので普通のチェックボックスを使う  -->
        {% comment %} <div class="d-flex flex-row">
            <div class="ml-auto">{{ form.is_draft }} draft</div>
        </div> {% endcomment %}

        <div class="btn-toolbar">
            <div class="btn-group ml-auto mb-2" margin-left=auto;>
                <label><input type="checkbox" name="draft" value="draft" class="form-check-input" checked>下書きにする</label>
                </div>
            <div class="w-100"></div>

            <div class="btn-group ">
                <a href='JavaScript:history.back()' class="btn btn-secondary">
                <i class="fas fa-chevron-left"></i> 戻る</a>
            </div>

            <div class="btn-group ml-auto">
            <button type="submit" class="submit btn btn-primary">
            <i class="fas fa-check"></i> {{ object|yesno:'更新する（元に戻せません）,作成'}}</button>
            </div>
        </div>




        {% comment %} <h1>ビルトインフォームサンプル</h1>
        {% if ret %} {% for key,val in results.items %}
        <tr>
            <td><h4>{{ key }}</h4></td>
            <td><h4>{{ val }}</h4></td>
        </tr>
        {% endfor %} {% else %} {% for key,val in errors.items %}
        <tr>
            <td>
                <h2>{{ key }} : {{ val }}</h2>
            </td>
        </tr>
        {% endfor %} {% for field in form %}
        <tr>
            <td><h4>{{ field.label_tag }}</h4></td>
            <td>{{ field }}</td>
        </tr>
        {% endfor %}
        <tr>
            <td colspan="2">
                <button type="submit" class="btn btn-primary">送信する</button>
            </td>
        </tr>
        {% endif %} {% endcomment %}



    </form>

    <div>
        
    </div>
{% endblock %}

