{% extends 'layout.html' %}
{% block title %}おしらせ{% endblock %}
{% block topbar %}
{% comment %} <a class="nav-link" href='{% url "myinfo:index" %}'>
    <i class="fas fa-broadcast-tower"></i> おしらせ</a> {% endcomment %}
{% endblock %}

{% block content %}

{% if messages %}
		{% for message in messages %}
			<div class="alert{% if message.tags %} alert-{{ message.tags }}{% endif %}" role="alert">{{ message }}</div>
		{% endfor %}
{% endif %}
    <!-- <h1 class="h3 text-gray-800 flex-grow-1">おしらせの編集</h1> -->

    {% if form.is_draft.value is True %}※下書き{% endif %}

    {% comment %} <form method="POST" enctype="multipart/form-data" action="{% url 'myinfo:update' information.id %}" class="form-group"> {% endcomment %}
    <form method="POST" enctype="multipart/form-data" action="{% url 'myinfo:update' information.id %}" class="form-group">
        {% csrf_token %}

        <div class="mb-3">{{ form.category }}</div>
        <div class="mb-3">{{ form.title }}</div>
        <div class="mb-1">{{ form.body }}</div>
        <div class="text-xs text-right mb-1">Enterで改行、Shift+Enterで段落</div>
        {% if form.errors %}
			<div class="alert alert-warning" role="alert">{{ form.errors }}</div>
        {% endif %}

        {% comment %} {{ form.pdf_file1 }} {% endcomment %}

        {% comment %} {% for each_notifi in information.info_notifi.all %}
            {{ each_notifi.user }}<br>
        {% endfor %} {% endcomment %}

        {% comment %} <div>通知先</div>
        <div class="mb-3">{{ form.tags }}</div> {% endcomment %}
        <div hidden>{{ form.tags }}</div> 

        {% comment %} {% for each_notifi in notification %}
            <div>{{ each_notifi.user }}</div>
        {% endfor %} {% endcomment %}

        <!-- 添付済みファイル -->
        {% comment %} {% for each_attach in information.info_attach.all %} {% endcomment %}
        {% for each_attach in attachment %}
            <div class="py-2 d-flex flex-row align-items-center mb-2">
                <a class="nav-link card border-left-info p-0" href="/media/{{ each_attach.file_path }}" role="button" target="_blank">
                    <div class="card-body">
                        <i class="fas fa-external-link-alt"></i>
                        {% comment %} {{ each_attach.file_path }} {% endcomment %}
                        {{ each_attach.file_name }}
                        {% if '.png' in each_attach.file_path|stringformat:"s" or '.jpg' in each_attach.file_path|stringformat:"s" %}
                            <img src="/media/{{ each_attach.file_path }}" height="50">
                        {% endif %}
                    </div>
                </a>
            <a class="nav-link btn btn-danger ml-3 p-2" href="{% url 'myinfo:attach_delete' each_attach.pk %}" role="button">
                <i class="fas fa-trash-alt"></i>
            </a>
            </div>
        {% endfor %}


        <!-- 添付ファイル追加  -->
        <div class="mb-3"><input type="file" name="pdf_file1" data-toggle="tooltip" data-html="true" title="一覧画面ではリンク表示、<br>詳細画面ではプレビュー表示"></div>
        <div class="mb-3"><input type="file" name="pdf_file2"></div>
        <div class="mb-3"><input type="file" name="pdf_file3"></div>

        

        <hr>
        
        <div class="btn-toolbar">
            <div class="btn-group ml-auto" margin-left=auto;>
            <label><input type="checkbox" name="chk" value="date_up" class="form-check-input">日時も更新する<span class="small">（一覧で上に表示）</span></label>
            </div>
            <div class="w-100"></div>

            <div class="btn-group ml-auto" margin-left=auto;>
                <label><input type="checkbox" name="chk2" value="unread" class="form-check-input">全員未読にする</label>
            </div>
            <div class="w-100"></div>
            
            <div class="btn-group ml-auto mb-2" margin-left=auto;>
                <label><input type="checkbox" name="draft" value="draft" class="form-check-input" 
                    {% if form.is_draft.value is True %}checked{% endif %}>下書きにする</label>
                </div>
            <div class="w-100"></div>
            

            <div class="btn-group">
                <a href='JavaScript:history.back()' class="btn btn-secondary">
                <i class="fas fa-chevron-left"></i> 戻る</a>
            </div>
            
            <div class="btn-group ml-auto" margin-left=auto;>
            <button type="submit" class="submit btn btn-primary">
            <i class="fas fa-check"></i> 更新する</button>
            </div>
        </div>

    </form>

    <div>
        
    </div>
{% endblock %}

