{% extends 'layout.html' %}
{% block title %}FAQ{% endblock %}
{% block topbar %}
{% comment %} <a class="nav-link" href='{% url "myinfo:faqs_list" %}'>
    <i class="fas fa-question-circle"></i> FAQ</a> {% endcomment %}
{% endblock %}

{% block content %}

{% if messages %}
		{% for message in messages %}
			<div class="alert{% if message.tags %} alert-{{ message.tags }}{% endif %}" role="alert">{{ message }}</div>
		{% endfor %}
{% endif %}

    <!-- 検索フォーム -->
    <div class="d-flex my-3">
    {% if faqsearchForm %}
    <div class="my-box ml-auto">
        <form class="d-sm-inline-block form-inline mr-auto my-2 my-md-0" action='{% url "myinfo:faqs_list" %}' method='get'>
            <div class="input-group">
                {{ faqsearchForm.keyword }}
                <div class="input-group-append">
                    <button class="btn btn-primary" type="submit">
                        <i class="fas fa-search fa-sm"></i>
                    </button>
                </div>
            </div>
        </form>
        <a href="{% url 'myinfo:faqs_list' %}" class="d-none d-sm-inline-block btn btn-secondary btn-circle btn-sm ml-2"><i class="fas fa-times"></i></a>
    </div>
    {% endif %}
    
    </div>

    <!-- カード -->
    {% comment %} {% for faq in faqs %}
        
        <!-- Dropdown Card Example -->
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">

                <!-- タイトル -->
                <h6 class="m-0 font-weight-bold text-primary mr-auto">
                </h6>

            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-6">
                      <div class="card">
                        <div class="card-body card-text">
                            {{ faq.question | safe }}
                            <div class="text-xs text-right mb-1">
                                <br><br>{{ faq.reference | safe }}
                            </div>
                        </div>
                      </div>
                    </div>
                    
                    <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body card-text">
                            {{ faq.answer1 | safe }}
                            {% if faq.answer2 is not None %}
                            <br>※補足：{{ faq.answer2 | safe }}</td>
                            {% endif %}
                        </div>
                    </div>
                    </div>
                  </div>

            </div>
        </div>

    {% endfor %} {% endcomment %}
    
    <!-- テーブル -->
    {% comment %} <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Question</th>
            <th scope="col">Answer</th>
          </tr>
        </thead>
        <tbody>
            {% for faq in faqs %}
          <tr>
            <td>{{ faq.question | safe }}
                <div class="text-xs text-right mb-1">
                    <br><br>{{ faq.reference | safe }}
                </div>
            </td>
            <td>{{ faq.answer1 | safe }}
                {% if faq.answer2 is not None %}
                <br>※補足：{{ faq.answer2 | safe }}</td>
                {% endif %}
          </tr>
            {% endfor %}
        </tbody>
      </table> {% endcomment %}


    <!-- タブ部分 -->
    
    
    <ul class="nav nav-tabs mb-2 small">
        <li class="nav-item">
            <a href="{% url 'myinfo:faqs_list' %}" 
            class="nav-link {% if 'すべて' in selected_tab %} active{% endif %}">すべて</a>
        </li>
        <li class="nav-item">
            <a href="{% url 'myinfo:faqs_tab' p='週報' %}" 
            class="nav-link {% if '週報' in selected_tab %} active{% endif %}">週報</a>
        </li>
        <li class="nav-item">
            <a href="{% url 'myinfo:faqs_tab' p='研修問題' %}" 
            class="nav-link {% if '研修問題' in selected_tab %} active{% endif %}">研修</a>
        </li>
        <li class="nav-item">
            <a href="{% url 'myinfo:faqs_tab' p='名義変更QA' %}" 
            class="nav-link {% if '名義変更QA' in selected_tab %} active{% endif %}">名変</a>
        </li>
        <li class="nav-item">
            <a href="{% url 'myinfo:faqs_tab' p='商品部擦り合わせ' %}" 
            class="nav-link {% if '商品部擦り合わせ' in selected_tab %} active{% endif %}">商品部</a>
        </li>
        <li class="nav-item">
            <a href="{% url 'myinfo:faqs_tab' p='エラー' %}" 
            class="nav-link {% if 'エラー' in selected_tab %} active{% endif %}">エラーMSG</a>
        </li>
        <li class="nav-item">
            <a href="{% url 'myinfo:faqs_tab' p='含む含まれない' %}" 
            class="nav-link {% if '含む含まれない' in selected_tab %} active{% endif %}">含む含まれない</a>
        </li>
        <li class="nav-item">
            <a href="{% url 'myinfo:faqs_tab' p='振り先' %}" 
            class="nav-link {% if '振り先' in selected_tab %} active{% endif %}">振り先</a>
        </li>
        <li class="nav-item">
            <a href="#" 
            class="nav-link disabled {% if '検索結果' in selected_tab %} active{% endif %}">検索結果</a>
        </li>
    </ul>

    <div class="card shadow p-2 mb-2">

      <!-- ネストのテーブル -->
      <table class="table">
        <tbody>
        {% for faq in faqs %}
          <tr>
            {% comment %} <td class="bg-gray-100 text-gray-800 pb-0 mb-3"> {% endcomment %}
            <td class="bg-gray-800 text-white">
                <span class="small"><i class="fas fa-question-circle"></i> </span>{{ faq.question | safe }}
                <div class="text-xs text-right m-0 p-0">{{ faq.reference | safe }}</div>
            </td>
          </tr>
          <tr>
            <td class="pl-3 pb-3 pt-0 pr-0">
              <table class="table mb-0 bg-white shadow">
                <tbody>
                  <tr>
                    <td>{{ faq.answer1 | safe }}
                        {% if faq.answer2 is not None and faq.answer2 != "" %}
                        <br>※補足：{{ faq.answer2 | safe }}
                        {% endif %}
                        <br>
                        
                        <!-- 問い合わせ先あれば -->
                        {% for contact in faq.contacts.all %}                                
                            <a class="btn btn-info btn-icon-split btn-sm mt-1" data-toggle="modal" data-target="#contactModal{{ contact.pk }}">
                                <span class="icon text-white-50">
                                    <i class="fas fa-phone"></i>
                                </span>
                                <span class="text">{{ contact.name }}</span>
                            </a>

                            <!-- モーダル -->
                            <div class="modal fade" id="contactModal{{ contact.pk }}" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-scrollable">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title"><b>{{ contact.name }}</b></h4>
                                        </div>
                                        <div class="modal-body">
                                            <table class='table'>
                                            <tr><td width="100">対象</td><td>{{ contact.incoming }}</td></tr>
                                            <tr><td>TEL</td><td>{{ contact.tel }}</td></tr>
                                            <tr><td>営業時間</td><td>{{ contact.hours }}</td></tr>
                                            <tr><td>業務</td><td>{{ contact.title }}</td></tr>
                                            <tr><td>詳細</td><td>{{ contact.job }}</td></tr>
                                            </table>
                                        </div> 
                                    </div>
                                </div>
                            </div>
                        {% endfor %}

                        <!-- 添付ファイルあれば -->
                        {% for attach in faq.attachments.all %}                                
                            <a class="btn btn-light btn-icon-split btn-sm mt-1" data-toggle="modal" data-target="#attachModal{{ attach.pk }}">
                                <span class="icon text-gray-600">
                                    <i class="fas fa-paperclip"></i>
                                </span>
                                <span class="text">{{ attach.file_name }}</span>
                            </a>

                            <!-- モーダル -->
                            <div class="modal fade " id="attachModal{{ attach.pk }}" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-scrollable modal-xl">
                                    <div class="modal-content">
                                        <iframe src="{{ attach.file_path.url }}" height=1000 >
                                            <p><b>表示されない時の表示</b>: <a href="{{ attach.file_path.url }}">ダウンロード</a>.</p>
                                        </iframe>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}

                        <!-- 緊急サポートダイヤル：dealers×文字列あれば-->
                        {% if faq.dealers.all and '緊急サポート' in faq.answer1 %}
                            <a class="btn btn-warning btn-icon-split btn-sm mt-1" data-toggle="modal" data-target="#emerModal">
                                <span class="icon text-white-50">
                                    <i class="fas fa-ambulance"></i>
                                </span>
                                <span class="text">緊急サポートダイヤル</span>
                            </a>

                            <!-- モーダル -->
                            <div class="modal fade" id="emerModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-scrollable">
                                    <div class="modal-content">
                                        <div class="modal-body">
                                            <table class='table'>
                                                <tr><th>販売会社</th><th>緊急サポートダイヤル</th></tr>
                                                {% for dealer in faq.dealers.all %}   
                                                    <tr><td width="100">{{ dealer.name }}</td>
                                                        <td>{{ dealer.emergency }}</td></tr>
                                                {% endfor %}
                                            </table>
                                        </div> 
                                    </div>
                                </div>
                            </div>
                        {% endif %}

                        <!-- NFS営業一覧：dealers×文字列あれば-->
                        {% if faq.dealers.all and 'NFS営業' in faq.answer1 %}
                            <a class="btn btn-info btn-icon-split btn-sm mt-1" data-toggle="modal" data-target="#salesModal">
                                <span class="icon text-white-50">
                                    <i class="fas fa-user-tie"></i>
                                </span>
                                <span class="text">NFS営業</span>
                            </a>

                            <!-- モーダル -->
                            <div class="modal fade" id="salesModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-scrollable">
                                    <div class="modal-content">
                                        <div class="modal-body">
                                            <table class='table'>
                                                <tr><th>販売会社</th><th>NFS営業事務所</th></tr>
                                                {% for dealer in faq.dealers.all %}   
                                                    <tr><td width="100">{{ dealer.name }}</td>
                                                        <td>{{ dealer.base}}　{{ dealer.base_tel}}</td></tr>
                                                {% endfor %}
                                            </table>
                                        </div> 
                                    </div>
                                </div>
                            </div>
                        {% endif %}

                        <!-- ドメイン：dealers×文字列あれば-->
                        {% if faq.dealers.all and 'メール' in faq.answer1 or 'メール' in faq.answer2 %}
                        <a class="btn btn-info btn-icon-split btn-sm mt-1" data-toggle="modal" data-target="#domainModal">
                            <span class="icon text-white-50">
                                <i class="fas fa-at"></i>
                            </span>
                            <span class="text">販社ドメイン</span>
                        </a>

                        <!-- モーダル -->
                        <div class="modal fade" id="domainModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-scrollable">
                                <div class="modal-content">
                                    <div class="modal-body">
                                        <table class='table'>
                                            <tr><th>販売会社</th><th>ドメイン</th></tr>
                                            {% for dealer in faq.dealers.all %}   
                                                <tr><td width="100">{{ dealer.name }}</td>
                                                    <td>{{ dealer.domain}}</td></tr>
                                            {% endfor %}
                                        </table>
                                    </div> 
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>

    </div>

    <!--  ↑ページネーションのincludeがあたってないので直書き↓  -->
    <ul class="pagination" style="justify-content:center">
    <ul class="pagination">
        <!-- 前へ の部分 -->
        {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
        {% endif %}

        <!-- 数字の部分 -->
        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                <li class="page-item active"><a class="page-link" href="#!">{{ num }}</a></li>
            {% else %}
                <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
            {% endif %}
        {% endfor %}

        <!-- 次へ の部分 -->
        {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        {% endif %}
    </ul>
    </ul>

{% endblock %}

{% block extra_foot %}
<!-- #tab名でtabへの直リンクを可能にする -->
{% comment %} <script>
    $(function() {
      // Javascript to enable link to tab
      var hash = document.location.hash;
      if (hash) {
        console.log(hash);
        $('.nav-tabs a[href=\\'+hash+']').tab('show');
      }

      // Change hash for page-reload
      $('a[data-toggle="tab"]').on('show.bs.tab', function (e) {
        window.location.hash = e.target.hash;
      });
    });
</script> {% endcomment %}
{% endblock %}

