{% extends 'layout.html' %}
{% load static %}
{% block title %}FAX当番{{disp_day}}{% endblock %}

{% block extra_head %}
<!-- CSS -->
<link href="{% static 'jquery-sortable.v2.css' %}" rel="stylesheet" type="text/css">

<style>
    iframe[src$=".pdf"]{
        width:100%;
        {% comment %} height:70vh; {% endcomment %}
        height:60vw;
    }
</style>
{% endblock %}

{% block content %}

{% if messages %}
		{% for message in messages %}
			<div class="alert{% if message.tags %} alert-{{ message.tags }}{% endif %}" role="alert">{{ message }}</div>
		{% endfor %}
{% endif %}


<!-- 小部屋 -->
<div class="d-flex align-items-center">
	<div class="small my-1">小部屋希望者：</div>
	<div id="room_area" class="">
		{% for member in room_members %}
			<h5 class=" badge badge-pill badge-primary font-weight-normal mx-1 my-0">{{ member.user }}</h5>
			{% comment %} <span>{{ member.user }}</span> {% endcomment %}
		{% endfor %}
	</div>
</div>


<div class="card mb-1">
	<div class="d-flex">
		<div class="text-center d-flex mx-2" id="disp">{{disp_day|date:"Y/n/j(D)"}}</div>
		<div class="d-none" id="target_date">{{p}}</div>

		<div class="">
			<div class="small text-nowrap" id="until17">〜17<span class="d-none d-md-inline-block">時</span>
				：{{ mail_on_fax|date:"n/j(D)" }}</div>
			<div class="small text-nowrap" id="after17">17<span class="d-none d-md-inline-block">時</span>
				〜：{{ next_mail_on_fax|date:"n/j(D)" }}</div>
		</div>

		<!-- Excelリンク -->
		<a href="https://1drv.ms/x/s!Aoe1CCijUYiRgUUul2Sq_Bo7f3O3?e=xPWSW1" id="excel" class="btn btn-secondary btn-sm ml-auto mr-5 d-flex align-items-center" target="_blank">
			<i class="fas fa-external-link-alt"></i> 係</a>

		<!-- モーダルのボタン -->
		<button class="btn btn-secondary btn-sm mr-auto" data-toggle="modal" data-target="#ModalCentercompany" id="gogo_rest">
			<i class="fas fa-info-circle"></i> 午後休憩</button>
		
	</div>
	<hr class="mt-0">
	<!-- データ表示 -->

	<!-- 編集画面：当日があれば当日編集、なければ前日を初期表示する -->
	{% comment %} <div class="bg-gray-300" id="edit_block" style="display:none"> {% endcomment %}
	<div class="bg-gray-300" id="edit_block">
		{% if fax.html %}
			{{ fax.html|safe }}
		{% elif yesterday_fax.html %}
			{{ yesterday_fax.html|safe }}
		{% else %}
			<div class="d-flex flex-wrap">
				<div class="d-flex flex-column col">
				<h5 class="row ohiru mx-auto px-1">　　　　</h5>
				<ul class='example block connect-area px-1'>
					<!-- 背景用 -->
					<li><ul class="bg-ogirin">
						<li><ul class="op">坂入</ul></li>
						<li><ul class="kakari">相殺</ul></li>
					</ul></li>
					
					<li><ul class="bg-ogirin">
						<li><ul class="op">菅原</ul></li>
					</ul></li>
				</ul>
				</div>
				<div class="d-flex flex-column col">
				<h5 class="row ohiru mx-auto px-1">11:40〜12:30</h5>
				<ul class='example block connect-area px-1'>
					<li><ul class="bg-ogirin">
						<li><ul class="op">御園</ul></li>
						<li><ul class="kakari">リスト</ul></li>
						<li><ul class="fax">09:30〜</ul></li>
						<li><ul class="fax">12:30〜</ul></li>
						<li><ul class="fax">15:30〜</ul></li>
					</ul></li>
				</ul>
				</div>
				<div class="d-flex flex-column col">
				<h5 class="row ohiru mx-auto px-1">12:00〜12:50</h5>
				<ul class='example block connect-area px-1'>
				</ul>
				</div>
				<div class="d-flex flex-column col">
				<h5 class="row ohiru mx-auto px-1">12:30〜13:20</h5>
				<ul class='example block connect-area px-1'>
					<li><ul class="bg-ogirin">
						<li><ul class="op">市川</ul></li>
						<li><ul class="kakari">U直</ul></li>
						<li><ul class="fax">10:30〜</ul></li>
						<li><ul class="fax">13:30〜</ul></li>
						<li><ul class="fax">17:30〜</ul></li>
					</ul></li>
				</ul>
				</div>
				<div class="d-flex flex-column col">
				<h5 class="row ohiru mx-auto px-1">13:20〜14:10</h5>
				<ul class='example block connect-area px-1'>
					<li><ul class="bg-ogirin">
						<li><ul class="op">藤岡</ul></li>
						<li><ul class="kakari">名変</ul></li>
						<li><ul class="fax">11:30〜</ul></li>
						<li><ul class="fax">14:30〜</ul></li>
						<li><ul class="fax">16:30〜</ul></li>
						<li><ul class="fax">18:30〜</ul></li>
					</ul></li>
				</ul>
				</div>

				<div class="d-flex flex-column">
					<h5 class="row ohiru mx-auto px-1">LD</h5>
					<ul class='example block connect-area px-1'>
					<li><ul class="op">尾凪　　</ul></li>
					<li>
						<ul class="op">大磯　　
							<li><ul class="kakari">U直chk</ul></li>
							<li><ul class="kakari">名変chk</ul></li>
							<li><ul class="kakari">手上げ</ul></li>
						</ul></li>
					<li><ul class="op">太田　　</ul></li>
					<li><ul class="op">木下　　</ul></li>
					</ul>
				</div>

				<div class="d-flex flex-column yasumi">
					<h5 class="row ohiru mx-auto px-1">休</h5>
					<ul class='example block connect-area px-1'>
						<li><ul class="bg-ogirin">
							<li><ul class="op">福田</ul></li>
						</ul></li>
						<li><ul class="bg-ogirin">
							<li><ul class="op">石嶋</ul></li>
						</ul></li>
						<li><ul class="bg-ogirin">
							<li><ul class="op">北條</ul></li>
						</ul></li>
						<li><ul class="fax">小部屋</ul></li>
						<li><ul class="fax">小部屋</ul></li>
						<li><ul class="fax">小部屋</ul></li>
					</ul>
				</div>
			</div>
		
			<!-- 2行目 -->
			<div class="d-flex flex-wrap">
				
				
			</div>
		{% endif %}
	</div>
</div>



<!-- 新規はurl指定なしで保存、更新はurl指定 -->
<form method="post" id="form01" {% if fax.html %} action="{% url 'myinfo:fax_del_create' p %}"{% endif %}>
	{% csrf_token %}
	{{ form.date }}
	{{ form.html }}
	<div class="d-flex align-items-start mb-2">フリー：{{ form.free }}</div>
	
	<div class="d-flex justify-content-between">
		
		{% comment %} <a href='' class="btn btn-secondary" id="cancel">キャンセル</a> {% endcomment %}
		{% comment %} <a href="{{request.META.HTTP_REFERER}}" class="btn btn-secondary">戻る</a> {% endcomment %}
		<a href="{% url 'myinfo:fax' p %}" class="btn btn-secondary">戻る</a>
		{% if fax.html %}
			<a href="{% url 'myinfo:fax_delete' p %}" class="btn btn-danger justify-content-between">削除</a>
			<input class="btn btn-info" type="submit" value="更新">
		{% else %}
			<input class="btn btn-primary" type="submit" value="保存">
		{% endif %}
	</div>
	<p class="small mt-2">※各ボタン、確認画面なしに実行されます</p>

</form>

<hr class="my-0">
<!--  シフト表 -->
{% for shift in workshifts %}
	<a href="{{ shift.file_path.url }}" target="_blank" class="small">
	<i class="fas fa-paperclip"></i>{{ shift.file_name }}</a>
	<iframe src="{{ shift.file_path.url }}">
		<p><b>表示されない時の表示</b>: <a href="{{ shift.file_path.url }}">ダウンロード</a>.</p>
	</iframe>
	<hr>
{% endfor %}

<!-- モーダル午後休の表 -->
<div class="modal" id="Modal2" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
	<div class="modal-dialog modal-dialog-scrollable modal-xl">
		<div class="modal-content">
			<div class="modal-header py-0">
			<h6 class="modal-title">FAX当番は色のあるところへ</h6>
				<button type="button" class="close mt-0" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true" >&times;</span>
				</button>
			</div>
			<div class="modal-body pt-0">

			<!-- 1段目 -->
			<div class="d-flex">
				<table class="table table-sm table-bordered m-1 col-3">
					<thead class="thead-dark">
						<tr>
							<th colspan="2">3名</th>
						</tr>
					</thead>
					<tbody>
					<tr>
						<th>① 15:00-15:20</th>
						<td class="table-warning">1530</td>
					</tr>
					<tr>
						<th>② 15:20-15:40</th>
						<td></td>
					</tr>
					<tr>
						<th>③ 15:40-16:00</th>
						<td class="table-warning">1430</td>
					</tr>
					</tbody>
				</table>
				
				<table class="table table-sm table-bordered m-1 col-3">
					<thead class="thead-dark">
					<tr>
						<th colspan="2">4名</th>
					</tr>
					</thead>
					<tr>
						<th>① 15:00-15:20</th>
						<td class="table-warning">1530</td>
					</tr>
					<tr>
						<th>② 15:20-15:40</th>
						<td></td>
					</tr>
					<tr>
						<th>③ 15:40-16:00</th>
						<td rowspan="2" class="table-warning">1430</td>
					</tr>
					<tr>
						<th>④ 16:00-16:20</th>
					</tr>
				</table>

				<table class="table table-sm table-bordered m-1">
					<thead class="thead-dark">
					<tr>
						<th colspan="4">5名</th>
					</tr>
					</thead>
					<tr>
						<th>① 15:00-15:20</th>
						<td></td>
						<td class="table-warning">1530</td>
						<td rowspan="4" class="table-warning">1630</td>
					</tr>
					<tr>
						<th>② 15:20-15:40</th>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<th>③ 15:40-16:00</th>
						<td rowspan="3" class="table-warning">1430</td>
						<td></td>
					</tr>
					<tr>
						<th>④ 16:00-16:20</th>
						<td></td>
					</tr>
					<tr>
						<th>⑤ 16:20-16:40</th>
						<td></td>
						<td></td>
					</tr>
				</table>


			</div> 
			<!-- 2段目 -->
			<div class="d-flex">
				

				<table class="table table-sm table-bordered m-1">
					<thead class="thead-dark">
					<tr>
						<th colspan="4">6名</th>
					</tr>
					</thead>
					<tr>
						<th>① 15:00-15:20</th>
						<td></td>
						<td class="table-warning">1530</td>
						<td rowspan="4" class="table-warning">1630</td>
					</tr>
					<tr>
						<th>② 15:20-15:40</th>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<th>③ 15:40-16:00</th>
						<td rowspan="4" class="table-warning">1430</td>
						<td></td>
					</tr>
					<tr>
						<th>④ 16:00-16:20</th>
						<td></td>
					</tr>
					<tr>
						<th>⑤ 16:20-16:40</th>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<th>⑥ 16:40-17:00</th>
						<td class="table-warning">1530</td>
						<td></td>
					</tr>
				</table>

				<table class="table table-sm table-bordered m-1">
					<thead class="thead-dark">
					<tr>
						<th colspan="4">6名（1445〜）</th>
					</tr>
				</thead>
					<tr>
						<th>① 14:45-15:05</th>
						<td></td>
						<td rowspan="2" class="table-warning">1530</td>
						<td rowspan="5" class="table-warning">1630</td>
					</tr>
					<tr>
						<th>② 15:05-15:25</th>
						<td></td>
					</tr>
					<tr>
						<th>③ 15:25-15:45</th>
						<td rowspan="4" class="table-warning">1430</td>
						<td></td>
					</tr>
					<tr>
						<th>④ 15:45-16:05</th>
						<td></td>
					</tr>
					<tr>
						<th>⑤ 16:05-16:25</th>
						<td></td>
					</tr>
					<tr>
						<th>⑥ 16:25-16:50</th>
						<td></td>
						<td></td>
					</tr>
				</table>

				<table class="table table-sm table-bordered m-1 col-3">
					<thead class="thead-dark">
					<tr>
						<th colspan="2">7名（2名ずつ）</th>
					</tr>
					</thead>
					<tr>
						<th>① 15:00-15:20</th>
						<td rowspan="2" class="table-warning">1530</td>
					</tr>
					<tr>
						<th>② 15:00-15:20</th>
					</tr>
					<tr>
						<th>③ 15:20-15:40</th>
						<td></td>
					</tr>
					<tr>
						<th>④ 15:20-15:40</th>
						<td></td>
					</tr>
					<tr>
						<th>⑤ 15:40-16:00</th>
						<td rowspan="3" class="table-warning">1430</td>
					</tr>
					<tr>
						<th>⑥ 15:40-16:00</th>
					</tr>
					<tr>
						<th>⑦ 16:00-16:20</th>
					</tr>
				</table>
			</div>
			<!-- 3段目 -->
			<div class="d-flex">

			</div> 
			</div> 
		</div>
	</div>
</div>


<textarea class="d-none" id="serialize_output"></textarea>

<!-- Javascript -->
{% comment %} <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script> {% endcomment %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script type="text/javascript" src='{% static 'jquery-sortable.js' %}'></script>
<script type="text/javascript">
	$(function() {

		$('#id_date').val($('#target_date').text());

		// 変更なしでもそのまま保存できるように
		$('#edit_block .yasumi').children().addClass('d-none');// 非表示状態で保存するために
		var str = $('#edit_block').html();
		str=str.replace(/\r?\n/g, '');// 改行削除
		$('#id_html').val(str);
		$('#edit_block .yasumi').children().removeClass('d-none');// 戻す
	
		// 作り変え　https://www.catch.jp/program/jquery-sortable/
		var group = $("ul.example").sortable({
			group: 'connect-area',
			onDrop: function ($item, container, _super) {
			// 挙動おかしくなるので必要
			$('#serialize_output').val(
				group.sortable("serialize").get().join("\n"));
			_super($item, container);
	
			// 自作
			$('#edit_block .yasumi').children().addClass('d-none');// 非表示状態で保存するために
			var str = $('#edit_block').html();
			str=str.replace(/\r?\n/g, '');// 改行削除
			//str=str.replace(/example/g, '');// sortable不可にするためクラス削除
			$('#id_html').val(str);
			$('#edit_block .yasumi').children().removeClass('d-none');// 戻す
		
			},
			// 挙動おかしくなるので必要
			serialize: function (parent, children, isContainer) {
			return isContainer ? children.join() : parent.text();
			},
		});
		// 作り変えここまで

		//フリー欄
		var free = '{{ fax.free| linebreaksbr }}'.replace(/<br>/g, '\n');
		$('#id_free').val(free);

	});

	//販社モーダル
	$("#gogo_rest").click(function () {
		$('#Modal2').modal('show')
	});
</script>

{% endblock %}