{% extends 'layout.html' %}
{% block title %}おしらせ{% endblock %}
{% block topbar %}
{% comment %} <a class="nav-link" href='{% url "myinfo:index" %}'>
    <i class="fas fa-broadcast-tower"></i> おしらせ</a> {% endcomment %}
{% endblock %}

{% block content %}

{% if messages %}
		{% for message in messages %}
			<div class="alert{% if message.tags %} alert-{{ message.tags }}{% endif %}" role="alert">{{ message }}</div>
		{% endfor %}
{% endif %}

<div class="small mb-2">
{{ information.created_at }}　
<i class="fas fa-folder-open mr-1"></i>{{ information.category }}　
<i class="fas fa-user-edit mr-1"></i>{{ information.user.last_name }}
</div>

    <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <div class="font-weight-bold text-primary lead">{{ information.title }}</div>

            {% if request.user.id == information.user.id %}
                <div class="dropdown no-arrow">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                        aria-labelledby="dropdownMenuLink">
                        <div class="dropdown-header">action:</div>
                        <a class="dropdown-item" href="{% url 'myinfo:update' information.pk %}">
                        {% comment %} <a class="dropdown-item" href="{% url 'myinfo:update_post' information.pk %}"> {% endcomment %}
                            <i class="fas fa-edit"></i>
                            編集
                        </a>
                        <a class="dropdown-item" href="{% url 'myinfo:delete' information.pk %}">
                            <i class="fas fa-trash-alt"></i>
                            削除
                        </a>
                    </div>
                </div>
            {% endif %}

        </div>
        <div class="card-body">

            <div>{{ information.body | safe }}</div>

            <!--  ↓attachmentモデル逆参照 -->
            {% comment %} {% for each_attachments in information.info_attach.all %}
            <hr>
                {% if '.png' in each_attachments.file_path|stringformat:"s" or '.jpg' in each_attachments.file_path|stringformat:"s" %}
                    <img src = /media/{{ each_attachments.file_path }} class="img-fluid" alt="Responsive image">
                {% endif %}
                
                <a href="{{ each_attachments.file_path.url }}" target="_blank">
                <i class="fas fa-paperclip"></i>
                {{ each_attachments.file_name }}
                </a>
                
            {% endfor %} {% endcomment %}

            <!--  ↓attachmentモデル逆参照 -->
            {% for each_attachments in information.info_attach.all %}
            <hr>
                <!--  画像は表示のみ -->
                {% if '.png' in each_attachments.file_path|stringformat:"s" or '.jpg' in each_attachments.file_path|stringformat:"s" or '.jpeg' in each_attachments.file_path|stringformat:"s" or '.PNG' in each_attachments.file_path|stringformat:"s" or '.JPG' in each_attachments.file_path|stringformat:"s" or '.JPEG' in each_attachments.file_path|stringformat:"s" %}
                    <img src = /media/{{ each_attachments.file_path }} class="img-fluid" alt="Responsive image">
                <!--  他はリンク -->
                {% else %}
                    <a href="{{ each_attachments.file_path.url }}" target="_blank">
                    <i class="fas fa-paperclip"></i>
                    {{ each_attachments.file_name }}</a>
                {% endif %}
                
            {% endfor %}
        </div>
    </div>

    <div class="btn-toolbar">
        <div class="btn-group ">
            {% with next=information.get_next_by_updated_at %}
                {% if next %}
                <a href="{% url 'myinfo:detail' next.pk %}" class="btn btn-secondary btn-sm">
                    <i class="fas fa-chevron-left"></i> New</a>
                {% endif %}
            {% endwith %}
        </div>

        <div class="btn-group ml-auto">
            {% with prev=information.get_previous_by_updated_at %}
                {% if prev %}
                    <a href="{% url 'myinfo:detail' prev.pk %}" class="btn btn-secondary btn-sm">
                    Old <i class="fas fa-chevron-right"></i></a>
                {% endif %}
            {% endwith %}
        </div>
    </div>

    <hr>

    <!-- その日記に紐づいたコメントを取り出す -->
    <p class="m-0">コメント</p>
    
    <div class="card shadow mb-4">
        <div class="card-body">
            <div class="small">
                {% for infocomments in information.infocomments_set.all %}
                    {{ infocomments.comment }}
                    <i class="fas fa-user-edit ml-3 mr-1"></i>{{ infocomments.user }}
                    {{ infocomments.created_at }}
                    <hr>
                {% empty %}
                        <p>コメントはありません</p>
                {% endfor %}
            </div>
        </div>
    </div>


    <!-- コメントフォーム -->
    {% if user.is_authenticated %}
        <form action="" method="POST">
            {% csrf_token %}
            <textarea name="text" id="com"  class="form-control"></textarea>

            <div class="d-flex my-2">
                <div class="ml-auto">
                <button type="submit" class="btn btn-primary btn-sm mb-3">
                    <i class="fas fa-check"></i> コメントする</button>

                {% comment %} <a class="submit btn btn-primary" href="{% url 'myinfo:comment_post' information.pk %}" role="button">
                    <i class="fas fa-check"></i> コメントする {% endcomment %}
                </a>
            </div>
            </div>
        </form>
    {% else %}
        <p>コメントを書く場合、ログインしてください</p>
    {% endif %}

    <hr>


    <a href="{% url 'myinfo:index' %}" class="btn btn-secondary">一覧</a>
{% endblock %}