{% extends 'layout.html' %}
{% block title %}おしらせ{% endblock %}
{% block topbar %}
<a class="nav-link" href='{% url "myinfo:index" %}'>
    <i class="fas fa-broadcast-tower"></i> おしらせ</a>
{% endblock %}

{% block content %}

{% if messages %}
		{% for message in messages %}
			<div class="alert{% if message.tags %} alert-{{ message.tags }}{% endif %}" role="alert">{{ message }}</div>
		{% endfor %}
{% endif %}

    {% comment %} <!-- モーダルを開くボタン・リンク -->
    <div class="container">
        <a class="btn btn-primary" data-toggle="modal" data-target="#testModal">削除確認</a>
    </div>
    <!-- ボタン・リンククリック後に表示される画面の内容 -->
    <div class="modal fade" id="testModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">削除確認</h4>
                </div>
                <div class="modal-body">
                    <label>データを削除しますか？</label>
                    <label>{{ information.title }}</label>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                        <i class="fas fa-chevron-left"></i> 戻る
                    </button>
                    <button type="button" class="btn btn-danger ml-auto" margin-left=auto;>
                        <i class="fas fa-trash-alt"></i> 削除する
                    </button>
                </div>
            </div>
        </div>
    </div> {% endcomment %}

    <!-- 検索フォーム -->
    <div class="d-flex my-3">
    {% if searchForm %}
    <div class="my-box mr-auto">
        <form class="d-sm-inline-block form-inline mr-auto my-2 my-md-0" action='{% url "myinfo:index" %}' method='get'>
            <div class="input-group">
                {{ searchForm.keyword }}
                <div class="input-group-append">
                    <button class="btn btn-primary" type="submit">
                        <i class="fas fa-search fa-sm"></i>
                    </button>
                </div>
            </div>
        </form>
        <a href="{% url 'myinfo:index' %}" class="d-none d-sm-inline-block btn btn-secondary ml-3 py-1 px-2"><i class="fas fa-backspace"></i></a>
    </div>
    {% endif %}
    
    {% comment %} {% if user.is_authenticated %} {% endcomment %}
    {% if user.is_staff %}
        <div class="ml-auto">
            {% comment %} <a href="{% url 'myinfo:create' %}" class="btn btn-primary"><i class="fas fa-plus"></i> 汎用ビュー</a> {% endcomment %}
            {% comment %} <a href="{% url 'myinfo:add_form' %}" class="btn btn-primary">summernote</a> {% endcomment %}
            {% comment %} <a href="{% url 'myinfo:add_post' %}" class="btn btn-primary">インラインフォームセット</a> {% endcomment %}
            <a href="{% url 'myinfo:add_fbvform' %}" class="btn btn-primary">
            <i class="fas fa-plus"></i> 新規</a>
        </div>
    {% endif %}
    </div>

    {% comment %} {% for information in object_list %} {% endcomment %}{% comment %} #汎用ビュー {% endcomment %}
    {% for information in informations %} {% comment %} #関数ビュー {% endcomment %}
        
        <!-- Dropdown Card Example -->
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">

                <!-- タイトル -->
                <h6 class="m-0 font-weight-bold text-primary mr-auto">
                    <!-- 見る側が未読だったら -->
                    {% for unread in unread_set %}
                        {% if information == unread.information and request.user.id == unread.user.id %}
                        <a href="{% url 'myinfo:read_delete' information.pk %}" class="btn-info badge mr-2">
                            <i class="fas fa-check"></i> 既読にする
                        </a>
                        {% endif %}
                    {% endfor %}

                    <a href="{% url 'myinfo:detail' information.pk %}">{{ information.title }}</a>

                </h6>

                <!-- 右側メニュー -->
                {% if request.user.id == information.user.id %}
                    <div class="dropdown no-arrow">
                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                            aria-labelledby="dropdownMenuLink">
                            <div class="dropdown-header">action:</div>
                            <a class="dropdown-item" href="{% url 'myinfo:update' information.pk %}">
                            {% comment %} <a class="dropdown-item" href="{% url 'myinfo:update_post' information.pk %}"> {% endcomment %}
                                <i class="fas fa-edit"></i>
                                編集
                            </a>
                            <a class="dropdown-item" href="{% url 'myinfo:delete' information.pk %}">
                            {% comment %} <a class="dropdown-item" data-toggle="modal" data-target="#testModal"> {% endcomment %}
                                <i class="fas fa-trash-alt"></i>
                                削除
                            </a>
                        </div>
                    </div>

                    <!-- ボタン・リンククリック後に表示される画面の内容 -->
                    <div class="modal fade" id="testModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title " id="myModalLabel">削除の確認</h4>
                                </div>
                                <div class="modal-body">
                                    <label>削除してよろしいですか？（元に戻せません）</label>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                        <i class="fas fa-chevron-left"></i> 戻る
                                    </button>
                                    <button type="button" class="btn btn-danger ml-auto" margin-left=auto;>
                                        <i class="fas fa-trash-alt"></i> 削除する
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                {% endif %}
            </div>
            <!-- Card Body -->
            <div class="card-body">

                <!-- 既読管理：ひとまず未読があったら表示-->
                {% comment %} {% if user.is_superuser %} {% endcomment %}
                {% if request.user.is_staff %}
                    <span>
                    {% for unread in unread_set %}
                        {% if information == unread.information %}
                            <div class="badge badge-warning">{{ unread.user.last_name }}</div>
                        {% endif %}
                    {% endfor %}
                    </span>
                {% endif %}

                <div class="small">{{ information.created_at|date:"Y-m-d" }}　
                    <i class="fas fa-user-edit mr-1"></i>{{ information.user.last_name }}</div>
                <div>{{ information.filefield }}</div>
                <div>
                {% comment %} {{ information.body | striptags | truncatechars_html:50}} {% endcomment %}
                {{ information.body | safe }}
                </div>
            </div>
        </div>

    {% endfor %}


    {% comment %} {% include "pagination.html" %} {% endcomment %}

    <!--  ↑ページネーションのincludeがあたってないので直書き↓  -->
    <ul class="pagination" style="justify-content:center">
    <ul class="pagination">
        <!-- 前へ の部分 -->
        {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
        {% endif %}

        <!-- 数字の部分 -->
        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                <li class="page-item active"><a class="page-link" href="#!">{{ num }}</a></li>
            {% else %}
                <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
            {% endif %}
        {% endfor %}

        <!-- 次へ の部分 -->
        {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        {% endif %}
    </ul>
    </ul>


    {% comment %} <div class="d-flex my-3">
        <div class="ml-auto">
            <a href="{% url 'myinfo:export' %}" class="btn btn-primary">CSVエクスポート</a>
        </div>
    </div> {% endcomment %}

{% endblock %}