{% extends 'layout.html' %}
{% block title %}ノート{% endblock %}
{% block topbar %}{% endblock %}

{% block extra_head %}{% endblock %}


{% block content %}

{% if messages %}
		{% for message in messages %}
			<div class="alert{% if message.tags %} alert-{{ message.tags }}{% endif %}" role="alert">{{ message }}</div>
		{% endfor %}
{% endif %}

    <!-- 検索フォーム -->
    <div class="d-flex my-3 align-items-center">

        <div class="">
            <a href="{% url 'myinfo:note_create' %}" class="btn btn-primary rounded-pill">
            <i class="fas fa-plus"></i> 新規</a>
        </div>

        {% if notesearchForm %}
        <div class="ml-auto">
            <form class="d-sm-inline-block" action='{% url "myinfo:note_list" %}' method='get'>
                <div class="input-group ">
                    {{ notesearchForm.keyword }}
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="submit">
                            <i class="fas fa-search fa-sm"></i>
                        </button>
                    </div>
                </div>
            </form>
            <a href="{% url 'myinfo:note_list' %}" class="d-none d-sm-inline-block btn btn-secondary btn-circle btn-sm ml-2"><i class="fas fa-times"></i></a>
        </div>
        {% endif %}
    </div>

<!-- タブ部分 -->
    
    
<ul class="nav nav-tabs mb-2 small">
    <li class="nav-item">
        <a href="{% url 'myinfo:note_list' %}" 
        class="nav-link {% if '自分' in selected_tab %} active{% endif %}">{{ request.user.last_name }}'s</a>
    </li>
    <li class="nav-item">
        <a href="{% url 'myinfo:note_tab' p='シェア' %}" 
        class="nav-link {% if 'シェア' in selected_tab %} active{% endif %}">シェアされた</a>
    </li>
    <li class="nav-item">
        <a href="#" 
        class="nav-link disabled {% if '検索結果' in selected_tab %} active{% endif %}">検索結果</a>
    </li>
</ul>


{% include './note_include.html' %}

{% include "pagination.html" %}

    <!--  ↑ページネーションのincludeがあたってないので直書き↓  -->
    {% comment %} <ul class="pagination" style="justify-content:center">
    <ul class="pagination">
        <!-- 前へ の部分 -->
        {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
        {% endif %}

        <!-- 数字の部分 -->
        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                <li class="page-item active"><a class="page-link" href="#!">{{ num }}</a></li>
            {% else %}
                <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
            {% endif %}
        {% endfor %}

        <!-- 次へ の部分 -->
        {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        {% endif %}
    </ul>
    </ul> {% endcomment %}


    {% comment %} <div class="d-flex my-3">
        <div class="ml-auto">
            <a href="{% url 'myinfo:export' %}" class="btn btn-primary">CSVエクスポート</a>
        </div>
    </div> {% endcomment %}

{% endblock %}

{% block extra_foot %}
<script>
    $(function () {
        $("input[type='search']").eq(1).focus();//2つ目の要素
    });
</script> 
{% endblock %}