{% extends 'layout.html' %}
{% block title %}ノート{% endblock %}
{% block topbar %}
{% endblock %}

{% block content %}

{% if messages %}
		{% for message in messages %}
			<div class="alert{% if message.tags %} alert-{{ message.tags }}{% endif %}" role="alert">{{ message }}</div>
		{% endfor %}
{% endif %}

{% if form.errors %}
    <div class="alert alert-warning" role="alert">{{ form.errors }}</div>
{% endif %}

    {% comment %} <form method="POST" enctype="multipart/form-data" action="{% url 'myinfo:note_create' %}" class="form-group"> {% endcomment %}
    {% comment %} <form method="POST" enctype="multipart/form-data" action="{{ note|yesno:"{% url 'myinfo:note_update' note.id %}, {% url 'myinfo:note_create' %}" }}" class="form-group"> {% endcomment %}
    {% if note %}
        更新
        <form method="POST" enctype="multipart/form-data" action="{% url 'myinfo:note_update' note.id%}" class="form-group">
    {% else %}
        作成
        <form method="POST" enctype="multipart/form-data" action="{% url 'myinfo:note_create' %}" class="form-group">
    {% endif %}
        {% csrf_token %}

        <div class="mb-3">{{ form.title }}</div>
        <div class="mb-1">{{ form.body }}</div>
        <div class="text-xs text-right mb-1">Enterで改行、Shift+Enterで段落</div>
        <div class="mb-1"></div>

        <div class="accordion" id="accordionExample">
            <div class="card">
                <div class="card-header py-1" id="headingOne">
                    <button class="btn btn-link collapsed py-0" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                        シェア
                    </button>
                </div>
                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body">
                        {{ form.share }}
                    </div>
                </div>
            </div>
        </div>

        <hr>

        <div class="btn-toolbar">

            <div class="w-100"></div>

            <div class="btn-group ">
                <a href='JavaScript:history.back()' class="btn btn-secondary">
                <i class="fas fa-chevron-left"></i> 戻る</a>
            </div>

            <div class="btn-group ml-auto">
            <button type="submit" class="submit btn btn-primary">
            <i class="fas fa-check"></i> {{ note|yesno:'更新する（元に戻せません）,作成'}}</button>
            </div>
        </div>

    </form>

    <div>
        
    </div>
{% endblock %}

