{% extends 'layout.html' %}
{% block title %}シフト{% endblock %}
{% block topbar %}
{% comment %} <a class="nav-link" href='{% url "myinfo:index" %}'>
    <i class="fas fa-business-time"></i> シフト</a> {% endcomment %}
{% endblock %}

{% block extra_head %}
<style>
    iframe[src$=".pdf"]{
        width:100%;
        {% comment %} height:70vh; {% endcomment %}
        height:60vw;
    }
</style>
{% endblock %}

{% block content %}

    {% for shift in workshifts %}
        <a href="{{ shift.file_path.url }}" target="_blank" class="small">
        <i class="fas fa-paperclip"></i>
        {{ shift.file_name }}</a>      

        <!--  画像は表示 -->
        {% comment %} {% if '.png' in shift.file_path|stringformat:"s" or '.jpg' in shift.file_path|stringformat:"s" or '.jpeg' in shift.file_path|stringformat:"s" or '.PNG' in shift.file_path|stringformat:"s" or '.JPG' in shift.file_path|stringformat:"s" or '.JPEG' in shift.file_path|stringformat:"s" %} {% endcomment %}
        {% with name=shift.file_path|stringformat:"s"|lower %}
        {% if '.png' in name or '.jpg' in name or '.jpeg' in name %}
            <img src = /media/{{ shift.file_path }} class="img-fluid" alt="Responsive image">
            <hr>
        <!--  他はリンク→ifarame -->
        {% else %}
            {% comment %} <a href="{{ shift.file_path.url }}" target="_blank">
            <i class="fas fa-paperclip"></i>
            {{ shift.file_name }}</a> {% endcomment %}
            <iframe src="{{ shift.file_path.url }}">
                <p><b>表示されない時の表示</b>: <a href="{{ shift.file_path.url }}">ダウンロード</a>.</p>
            </iframe>
            <hr>
        {% endif %}
        {% endwith %}
        
    {% endfor %}

    
{% endblock %}