<div class="card shadow d-flex mb-3" id="section5">
    <div class="card-header font-weight-bold p-2">メンテナンス実施販売会社変更届出書</div>
    <div class="card-body">
    
    <div class="d-flex flex-row">
        <div class="column">
            <table class="small ex_table">
                <td class="col-2">
                    <span class="" data-toggle="popover" data-trigger="hover" data-html="true" data-placement="bottom"
                    title="{{ kaiin_list.83.field}}" 
                    data-content="{{ kaiin_list.83.description|safe }}"></span>
                    NFS-Web
                </td>
            </table>
    
        </div>
    
    <table class="small ex_table col-9 ml-auto">
        <tr>
            <th rowspan="5" class="vertical table-info">申請販売会社　店舗記入欄</th>
            <th class="table-info">取扱販売会社<br>店舗名</th>
            <td class="col-5">
                <span class="" data-toggle="popover" data-trigger="hover" data-html="true" data-placement="bottom"
                title="{{ kaiin_list.67.field}}" 
                data-content="{{ kaiin_list.67.description|safe }}"></span>
            </td>
            <td><span class="" data-toggle="popover" data-trigger="hover" data-html="true" data-placement="bottom"
                title="{{ kaiin_list.68.field}}" 
                data-content="{{ kaiin_list.68.description|safe }}"></span>
                印<br>（会社印）
            </td>
        </tr>
        <tr>
            <th class="table-info">電話番号</th>
            <td colspan="2">
                <span class="" data-toggle="popover" data-trigger="hover" data-html="true" data-placement="bottom"
                title="{{ kaiin_list.69.field}}" 
                data-content="{{ kaiin_list.69.description|safe }}"></span>
            </td>
        </tr>
        <tr>
            <th class="table-info">担当者</th>
            <td colspan="2">
                <span class="" data-toggle="popover" data-trigger="hover" data-html="true" data-placement="bottom"
                title="{{ kaiin_list.70.field}}" 
                data-content="{{ kaiin_list.70.description|safe }}"></span>
            </td>
        </tr>
        <tr>
            <th class="table-info">会員証番号</th>
            <td colspan="2">
                <span class="" data-toggle="popover" data-trigger="hover" data-html="true" data-placement="bottom"
                title="{{ kaiin_list.71.field}}" 
                data-content="{{ kaiin_list.71.description|safe }}"></span>
            </td>
        </tr>
        <tr>
            <th class="table-info">会員（申込人）名</th>
            <td colspan="2">
                <span class="" data-toggle="popover" data-trigger="hover" data-html="true" data-placement="bottom"
                title="{{ kaiin_list.72.field}}" 
                data-content="{{ kaiin_list.72.description|safe }}"></span>
            </td>
        </tr>
    </table>
    </div>
    
    <table class="small ex3_table col mt-3">
        <tr>
            <th rowspan="2" class="table-warning col-1 text-nowrap">販売会社名</th>
            <td colspan="3" class="border-top col-5">
            <span class="" data-toggle="popover" data-trigger="hover" data-html="true" data-placement="bottom"
                title="{{ kaiin_list.73.field}}" 
                data-content="{{ kaiin_list.73.description|safe }}"></span>
            　
            </td>
            <th rowspan="2" class="table-warning col-1 text-nowrap">店舗名</th>
            <td colspan="3" class="border-top col-5">
            <span class="" data-toggle="popover" data-trigger="hover" data-html="true" data-placement="bottom"
                title="{{ kaiin_list.75.field}}" 
                data-content="{{ kaiin_list.75.description|safe }}"></span>
            　
            </td>
        </tr>
        <tr>
            <td class="border-bottom"></td>
            <th class="table-warning noborder col-1 text-nowrap">販社コード</th>
            <td class="border-top border-bottom">
                <span class="" data-toggle="popover" data-trigger="hover" data-html="true" data-placement="bottom"
                title="{{ kaiin_list.74.field}}" 
                data-content="{{ kaiin_list.74.description|safe }}"></span>
                1
            </td>
            <td class="border-bottom"></td>
            <th class="table-warning col-1 text-nowrap">店舗コード</th>
            <td class="border-top border-bottom">
                <span class="" data-toggle="popover" data-trigger="hover" data-html="true" data-placement="bottom"
                title="{{ kaiin_list.76.field}}" 
                data-content="{{ kaiin_list.76.description|safe }}"></span>
            </td>
        </tr>
        <tr>
            <th rowspan="2" class="table-warning col-1 text-nowrap">ご担当者名</th>
            <td colspan="3" class="border-top"><span class="" data-toggle="popover" data-trigger="hover" data-html="true" data-placement="bottom"
                title="{{ kaiin_list.77.field}}" 
                data-content="{{ kaiin_list.77.description|safe }}"></span>
            　
            </td>
        </tr>
        <tr>
            <td class="border-bottom"></td>
            <th class="table-warning noborder col-1 text-nowrap">担当者コード</th>
            <td class="border-top border-bottom">
                <span class="" data-toggle="popover" data-trigger="hover" data-html="true" data-placement="bottom"
                title="{{ kaiin_list.78.field}}" 
                data-content="{{ kaiin_list.78.description|safe }}"></span>
            </td>
           </tr>
    </table>
    
    <div class="d-flex flex-row">
    <table class="small ex_table col mt-3 mr-2">
        <tr>
            <th colspan="3" class="table-warning">現行　販売会社　本部記入欄</th>
        </tr>
        <tr>
            <th class="col-1 text-nowrap table-warning">販売会社名</th>
            <td class="col-6">
                <span class="" data-toggle="popover" data-trigger="hover" data-html="true" data-placement="bottom"
                title="{{ kaiin_list.79.field}}" 
                data-content="{{ kaiin_list.79.description|safe }}"></span>
            </td>
            <td>
                <span class="" data-toggle="popover" data-trigger="hover" data-html="true" data-placement="bottom"
                title="{{ kaiin_list.80.field}}" 
                data-content="{{ kaiin_list.80.description|safe }}"></span>
                印<br />（会社印）
            </td>
        </tr>
        <tr>
            <th class="table-warning">部署長名</th>
            <td colspan="2">
                <span class="" data-toggle="popover" data-trigger="hover" data-html="true" data-placement="bottom"
                title="{{ kaiin_list.81.field}}" 
                data-content="{{ kaiin_list.81.description|safe }}"></span>
            </td>
        </tr>
        <tr>
            <th class="table-warning">電話番号</th>
            <td colspan="2">
                <span class="" data-toggle="popover" data-trigger="hover" data-html="true" data-placement="bottom"
                title="{{ kaiin_list.82.field}}" 
                data-content="{{ kaiin_list.82.description|safe }}"></span>
            </td>
        </tr>
    </table>
    
    <table class="small ex_table col mt-3 ml-2">
        <tr>
            <th colspan="3" class="table-warning">変更先　販売会社　本部記入欄</th>
        </tr>
        <tr>
            <th class="col-1 text-nowrap table-warning">販売会社名</th>
            <td class="col-6">
                <span class="" data-toggle="popover" data-trigger="hover" data-html="true" data-placement="bottom"
                title="{{ kaiin_list.79.field}}" 
                data-content="{{ kaiin_list.79.description|safe }}"></span>
            </td>
            <td>
                <span class="" data-toggle="popover" data-trigger="hover" data-html="true" data-placement="bottom"
                title="{{ kaiin_list.80.field}}" 
                data-content="{{ kaiin_list.80.description|safe }}"></span>
                印<br />（会社印）
            </td>
        </tr>
        <tr>
            <th class="table-warning">部署長名</th>
            <td colspan="2">
                <span class="" data-toggle="popover" data-trigger="hover" data-html="true" data-placement="bottom"
                title="{{ kaiin_list.81.field}}" 
                data-content="{{ kaiin_list.81.description|safe }}"></span>
            </td>
        </tr>
        <tr>
            <th class="table-warning">電話番号</th>
            <td colspan="2">
                <span class="" data-toggle="popover" data-trigger="hover" data-html="true" data-placement="bottom"
                title="{{ kaiin_list.82.field}}" 
                data-content="{{ kaiin_list.82.description|safe }}"></span>
            </td>
        </tr>
    </table>
    
    </div>
    
    
    
    </div><!-- card-body終わり -->
    </div><!-- メンテ実施card終わり -->