<div class="card shadow d-flex mb-3" id="section1">
<div class="card-header font-weight-bold p-2">会員証再発行依頼書</div>
<div class="card-body">

<div class="d-flex flex-row">
    <div class="column">
        <table class="small ex_table">
            <td class="col-2">
                <span class="" data-toggle="popover" data-trigger="hover" data-html="true" data-placement="bottom"
                title="{{ kaiin_list.10.field}}" 
                data-content="{{ kaiin_list.10.description|safe }}"></span>
                NFS-Web
            </td>
        </table>
        <table class="small ex_table mt-3">
            <td class="col-2">
                <span class="" data-toggle="popover" data-trigger="hover" data-html="true" data-placement="bottom"
                title="{{ kaiin_list.11.field}}" 
                data-content="{{ kaiin_list.11.description|safe }}"></span>
                欄外(代筆)
            </td>
        </table>
        <table class="small ex_table mt-3">
            <td class="col-2">
                <span class="" data-toggle="popover" data-trigger="hover" data-html="true" data-placement="bottom"
                title="{{ kaiin_list.84.field}}" 
                data-content="{{ kaiin_list.84.description|safe }}"></span>
                欄外(申込書)
            </td>
        </table>
    </div>

<table class="small ex_table col-9 ml-auto">
    <tr>
        <th rowspan="5" class="vertical table-warning">会員(申込人)記入欄</th>
        <th class="table-warning">フリガナ</th>
        <td id="hover1" class="col-5">
            <span class="" data-toggle="popover" data-trigger="hover" data-html="true" data-placement="bottom"
            title="{{ kaiin_list.0.field}}" 
            data-content="{{ kaiin_list.0.description|safe }}"></span>
        </td>
        <td rowspan="2">
            <span class="" data-toggle="popover" data-trigger="hover" data-html="true" data-placement="bottom"
            title="{{ kaiin_list.2.field}}" 
            data-content="{{ kaiin_list.2.description|safe }}"></span>印<br>　(法人申込は捺印必要）
        </td>
    </tr>
    <tr>
        <th class="table-warning">会員（申込人）名<br>（自署）</th>
        <td class="align-bottom">
            <span class="" data-toggle="popover" data-trigger="hover" data-html="true" data-placement="bottom"
            title="{{ kaiin_list.1.field}}" 
            data-content="{{ kaiin_list.1.description|safe }}"></span>
            <span class="small ">※法人申込の場合は記名・捺印が必ず必要です。</span>
        </td>
    </tr>
    <tr>
        <th class="table-warning">住所</th>
        <td colspan="2" class="align-top small">
            <span class="" data-toggle="popover" data-trigger="hover" data-html="true" data-placement="bottom"
            title="{{ kaiin_list.3.field}}" 
            data-content="{{ kaiin_list.3.description|safe }}"></span>
            〒　　-
        </td>
    </tr>
    <tr>
        <th class="table-warning">※会員No.<br>（商品契約番号）</th>
        <td colspan="2">
            <span class="" data-toggle="popover" data-trigger="hover" data-html="true" data-placement="bottom"
            title="{{ kaiin_list.4.field}}" 
            data-content="{{ kaiin_list.4.description|safe }}"></span>
        </td>
    </tr>
    <tr>
        <th class="table-warning">登録番号</th>
        <td colspan="2">
            <span class="" data-toggle="popover" data-trigger="hover" data-html="true" data-placement="bottom"
            title="{{ kaiin_list.5.field}}" 
            data-content="{{ kaiin_list.5.description|safe }}"></span>
        </td>
    </tr>
</table>
</div>

<div class="d-flex justify-content-center mt-3">
<table class="small ex_table col-8">
    <tr>
        <th rowspan="4" class="vertical table-info">販売会社店舗　記入欄</th>
        <th class="table-info">販売会社名<br>店舗名<br>（ゴム印）</th>
        <td>
            <span class="" data-toggle="popover" data-trigger="hover" data-html="true" data-placement="bottom"
            title="{{ kaiin_list.6.field}}" 
            data-content="{{ kaiin_list.6.description|safe }}"></span>
        </td>
        <th rowspan="3" class="table-dark col-3 small">※再発行許可のご連絡に必要ですので必ずご記入下さい</td>
    </tr>
    <tr>
        <th class="table-info">電話番号</th>
        <td>
            <span class="" data-toggle="popover" data-trigger="hover" data-html="true" data-placement="bottom"
            title="{{ kaiin_list.7.field}}" 
            data-content="{{ kaiin_list.7.description|safe }}"></span>
            　　　－　　　－　　　
        </td>
    </tr>
    <tr>
        <th class="table-info">担当者</th>
        <td>
            <span class="" data-toggle="popover" data-trigger="hover" data-html="true" data-placement="bottom"
            title="{{ kaiin_list.8.field}}" 
            data-content="{{ kaiin_list.8.description|safe }}"></span>
        </td>
    </tr>
    <tr>
        <th colspan="2"  class="table-warning small">【他社利用】今回、再発行と同時に他社利用を希望される場合はチェック願います。利用登録後、再発行許可を致します。</th>
        <td>
            <span class="" data-toggle="popover" data-trigger="hover" data-html="true" data-placement="bottom"
            title="{{ kaiin_list.9.field}}" 
            data-content="{{ kaiin_list.9.description|safe }}"></span>
            □　他社利用希望
        </td>
    </tr>
</table>
</div>



</div><!-- card-body終わり -->
</div><!-- 会員証card終わり -->