{% load static %}
{% load bootstrap4 %}

<!DOCTYPE html>
<html lang="ja">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>VCC | {% block title %}{% endblock %}</title>

    <!-- Custom fonts for this template-->
    <!-- <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css"> -->
    <link href="{% static 'SBadmin2_origin/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">

    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    {% comment %} <link rel="stylesheet" href="{% static 'SBadmin2_origin/css/sb-admin-2.min.css' %}"> {% endcomment %}
    <link rel="stylesheet" href="{% static 'SBadmin2_origin/css/sb-admin-2.css' %}">

    <!-- Custom styles for this page -->
    <link href="{% static 'SBadmin2_origin/vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">

   <!-- ウィジェットのcssとjs -->
   <link href="{% static 'accordion.css' %}" rel="stylesheet">
   <script src="{% static 'accordion.js' %}"></script>
   
   <!-- favicon -->
    <link rel="icon" href="{% static 'icon/favicon.ico' %}">

    <!-- 自作の上書き用css -->
    {% comment %} <link href="{% static 'style.css' %}" rel="stylesheet"> {% endcomment %}

    <!-- django-tinymce -->
    {{ form.media }}

    <!-- tinyMCE -->
    <script src="{% static 'uploader.js' %}"></script>

    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'SBadmin2_origin/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'SBadmin2_origin/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{% static 'SBadmin2_origin/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Custom scripts for all pages-->
    {% comment %} <script src="{% static 'SBadmin2_origin/js/sb-admin-2.min.js' %}"></script> {% endcomment %}
    <script src="{% static 'SBadmin2_origin/js/sb-admin-2.js' %}"></script>

    <script>
        $('[data-toggle="tooltip"]').tooltip();
    </script>


    <!-- デスクトップ通知 -->
    {% comment %} 
    <script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async=""></script>
    <script>
    window.OneSignal = window.OneSignal || [];
    OneSignal.push(function() {
        OneSignal.init({
        appId: "6027ee57-82ec-485b-a5a5-6c976de75cb1",
        });
    });
    </script>
    {% endcomment %}

    <style>
        .modal-dialog-fluid {
            max-width: inherit;
            {% comment %} width: 90%; {% endcomment %}
            margin-left: 10%;
            margin-right: 10%;
          }
    </style>

    <!-- 特定ユーザーデスクトップ通知 -->
    <script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async=""></script>
    <!-- ajaxのpostなので↓ -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    {% csrf_token %}
    <script>
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
      
        var csrftoken = getCookie('csrftoken');
      
        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
      
        $.ajaxSetup({
            beforeSend: function (xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });


    window.OneSignal = window.OneSignal || [];
    OneSignal.push(function() {
        OneSignal.init({
        appId: "6027ee57-82ec-485b-a5a5-6c976de75cb1",
        });
    });

    OneSignal.push(function () {
        OneSignal.on("subscriptionChange", function (isSubscribed) {
            if (isSubscribed) {
                OneSignal.getUserId(function (userId) {
                    console.log(userId);
                    $.ajax({
                    //url: "/ajaxの向け先",  // ここは書き換えてください
                    url: "{% url 'myinfo:onegisnal_id_create' %}",
                    type: "POST",
                    data: {
                        id: userId,
                    },
                    dataType: "json",
                    }).done((response) => {
                    console.log(response);
                    });
                });
            }
        });
    });

    </script>


    <!-- django-ajax-datatable -->   
    {% comment %} <link href="{% static 'ajax_datatable/css/style.css' %}" rel="stylesheet" />
    <link href="//cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css" /> {% endcomment %}


    {% block extra_head %}{% endblock %}
</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href='{% url "myinfo:index" %}'>
                <div class="sidebar-brand-text mx-3">VCC MARSH</div>
            </a>

            <!-- Divider -->
            {% comment %} <hr class="sidebar-divider my-0"> {% endcomment %}
            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">
            <!-- Heading -->
            <div class="sidebar-heading">
                operation
            </div>

            <!-- Nav Item - Dashboard -->
            {% with request.resolver_match.url_name as url_name %}
            {% with request.resolver_match.app_name as app_name %}
            {% comment %} {% with request.resolver_match.view_name as view_name %} {% endcomment %}
                <li class="nav-item {% if url_name == 'index' or url_name == 'add_fbvform' or url_name == 'detail' or url_name == 'update' or url_name == 'delete'%}active{% endif %}">
                    <a class="nav-link" href='{% url "myinfo:index" %}'>
                        <i class="fas fa-broadcast-tower"></i>
                        <span>おしらせ</span></a>
                </li>

                <li class="nav-item {% if url_name == 'faqs_list' or url_name == 'faqs_tab' %}active{% endif %}">
                    <a class="nav-link" href='{% url "myinfo:faqs_list" %}'>
                        <i class="fas fa-question-circle"></i>
                        <span>FAQ</span></a>
                </li>

                <li class="nav-item {% if url_name == 'mysched' %}active{% endif %}">
                    <a class="nav-link" href='{% url "mysched:mysched" %}'>
                        <i class="fas fa-calendar-alt"></i>
                        <span>スケジュール</span></a>
                </li>
    
                <li class="nav-item {% if url_name == 'contacts' %}active{% endif %}">
                    <a class="nav-link" href='{% url "myinfo:contacts" %}'>
                        <i class="fas fa-phone"></i>
                        <span>窓口</span></a>
                </li>

                <li class="nav-item {% if url_name == 'shops' %}active{% endif %}">
                    <a class="nav-link" href='{% url "myinfo:shops" %}'>
                        <i class="fas fa-warehouse"></i>
                        <span>販社・店舗</span></a>
                </li>

                <li class="nav-item {% if  'note_' in url_name %}active{% endif %}">
                    <a class="nav-link" href='{% url "myinfo:note_list" %}'>
                        <i class="fas fa-pencil-alt"></i>
                        <span>{{ request.user.last_name }}'sノート</span></a>
                </li>

                <!-- Divider -->
                <hr class="sidebar-divider d-none d-md-block">
                <!-- Heading -->
                <div class="sidebar-heading">
                    center
                </div>
                <li class="nav-item {% if url_name == 'shift' %}active{% endif %}">
                    <a class="nav-link" href='{% url "myinfo:shift" %}'>
                        <i class="fas fa-business-time"></i>
                        <span>シフト</span></a>
                </li>
                
                {% if request.user.id <= 4 %}
                <li class="nav-item">
                    <a class="nav-link" href='{% url 'admin:index' %}'>
                        <i class="fas fa-fw fa-tachometer-alt"></i>
                        <span>管理サイト</span></a>
                </li>
                {% endif %}

                <!-- LDか新人のみ表示 -->
                {% if request.user.id == 13 or request.user.id == 14 or request.user.id <= 4 %}
                    <!-- Divider -->
                    <hr class="sidebar-divider d-none d-md-block">

                    <!-- Heading -->
                    <div class="sidebar-heading">
                        Training
                    </div>
                    <li class="nav-item {% if app_name == 'myreport' %}active{% endif %}">
                        <a class="nav-link" href='{% url 'myreport:index' %}'>
                            <i class="fas fa-book"></i>
                            <span>研修日報</span></a>
                    </li>
                {% endif %}

            {% endwith %}
            {% endwith %}




            {% comment %} <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Interface
            </div>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
                    aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>Components</span>
                </a>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Custom Components:</h6>
                        <a class="collapse-item" href="buttons.html">Buttons</a>
                        <a class="collapse-item" href="cards.html">Cards</a>
                    </div>
                </div>
            </li> {% endcomment %}


            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Topbar Search -->
                    {% comment %} {% if allsearchForm %} {% endcomment %}
                    <form
                    class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search"
                    action='{% url "myinfo:all_search" %}' method='get'>
                    <div class="input-group">
                            {% comment %} {{ allsearchForm.all_search_keyword }} {% endcomment %}
                            <input type="search" name="all_search" class="form-control bg-light border-0 small" placeholder="Search for..."
                                aria-label="Search" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="submit">
                                <i class="fas fa-search fa-sm"></i>
                            </button>
                        </div>
                    </div>
                    </form>
                    {% comment %} {% endif %} {% endcomment %}

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                    <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                    <li class="nav-item dropdown no-arrow d-sm-none">
                        <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-search fa-fw"></i>
                        </a>
                        <!-- Dropdown - Messages -->
                        <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                            aria-labelledby="searchDropdown">
                            <form class="form-inline mr-auto w-100 navbar-search"
                            action='{% url "myinfo:all_search" %}' method='get'>
                                <div class="input-group">
                                    <input type="text" name="all_search" class="form-control bg-light border-0 small"
                                        placeholder="Search for..." aria-label="Search"
                                        aria-describedby="basic-addon2">
                                    <div class="input-group-append">
                                        <button class="btn btn-primary" type="submit">
                                            <i class="fas fa-search fa-sm"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </li>

                        <!-- Nav Item - Alerts -->
                        {% comment %} <li class="nav-item dropdown no-arrow mx-1">
                            <a class="nav-link" href="{% url 'myinfo:notifi_delete' %}" role="button">
                            <i class="fas fa-bell fa-fw"></i>
                            <!-- Counter - Alerts -->
                            {% if notifi_exis == True %}
                                <span class="badge badge-danger badge-counter">通知があります</span>
                            {% endif %}
                            </a>
                        </li> {% endcomment %}

                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - User Information -->
                        {% comment %} <li class="text-gray-600 d-flex align-items-center small">
                            {% if user.is_authenticated %}
                                    <div class="d-none d-sm-inline-block">こんにちは、{{ user.last_name }}さん</div>
                                    <a href='{% url "logout" %}' class="nav-link" data-toggle="tooltip" title="Logout">
                                        <i class="fas fa-sign-out-alt"></i>
                                    </a>
                            {% else %}
                                <a href='{% url "login" %}' class="nav-link">Login</a>
                            {% endif %}
                        </li>
                        <div class="topbar-divider d-none d-sm-block"></div>
                        <li class="text-gray-600 d-flex align-items-center small">
                            {% now "Y/n/j(D)" %}
                        </li> {% endcomment %}

                        <!-- Nav Item - User Information -->
                        <div>
                            
                            <!-- 変数を表示：context_processors -->
                            {% comment %} {{ site_name }} {% endcomment %}

                            <li class="d-flex justify-content-end align-items-center small text-gray-600">
                                <div class="ml-auto">{% now "Y/n/j(D)" %}</div>
                            </li>
                            {% comment %} <li class="d-flex justify-content-end align-items-center small text-gray-600">
                                発送：22(金)／25(月)
                            </li> {% endcomment %}
                            <li class="d-flex justify-content-end align-items-center small text-gray-600">
                                {% if user.is_authenticated %}
                                    <div class="d-none d-sm-inline-block">{{ user.last_name }}さん</div>
                                    <a href='{% url "logout" %}' class="nav-link py-0 pr-0" data-toggle="tooltip" title="Logout">
                                        <i class="fas fa-sign-out-alt"></i>
                                    </a>
                                {% else %}
                                    <a href='{% url "login" %}' class="nav-link">Login</a>
                                {% endif %}
                            </li>
                        </div>

                    </ul>

                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <!-- <h1 class="h3 mb-4 text-gray-800">Blank Page</h1> -->


                    {% comment %} <div class='container'> {% endcomment %}
                        {% block content %}
                        {% endblock %}
                    {% comment %} </div> {% endcomment %}


                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; VccMarsh 2022</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>


    <!-- django-ajax-datatable -->   
    {% comment %} <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script type="text/javascript" src="{% static 'ajax_datatable/js/utils.js' %}"></script>
    <script src="//cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script> {% endcomment %}
    
{% block extra_foot %}{% endblock %}

</body>

</html>