{% load static %}

<!DOCTYPE html>
<html lang="ja">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>VCC</title>

    <!-- Custom fonts for this template-->
    <!-- <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css"> -->
    <link href="{% static 'SBadmin2_origin/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">

    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <!-- <link href="css/sb-admin-2.min.css" rel="stylesheet"> -->
    <link rel="stylesheet" href="{% static 'SBadmin2_origin/css/sb-admin-2.min.css' %}">

    <!-- Custom styles for this page -->
    <link href="{% static 'SBadmin2_origin/vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">

   <!-- ウィジェットのcssとjs -->
   <link href="{% static 'accordion.css' %}" rel="stylesheet">
   <script src="{% static 'accordion.js' %}"></script>
   
   <!-- favicon -->
    <link rel="icon" href="{% static 'icon/favicon.ico' %}">

    {% block extra_head %}{% endblock %}
</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href='{% url "myinfo:index" %}'>
                <div class="sidebar-brand-text mx-3">VCC MARSH</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item">
                <a class="nav-link" href='{% url "myinfo:index" %}'>
                    <i class="fas fa-broadcast-tower"></i>
                    <span>おしらせ</span></a>
            </li>
            
            <li class="nav-item">
                <a class="nav-link" href='{% url "mysched:mysched" %}'>
                    <i class="fas fa-calendar-alt"></i>
                    <span>スケジュール</span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href='/mycontact/'>
                    <i class="fas fa-phone"></i>
                    <span>窓口一覧</span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href='{% url 'admin:index' %}'>
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>管理サイト</span></a>
            </li>
            {% comment %} <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Interface
            </div>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
                    aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>Components</span>
                </a>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Custom Components:</h6>
                        <a class="collapse-item" href="buttons.html">Buttons</a>
                        <a class="collapse-item" href="cards.html">Cards</a>
                    </div>
                </div>
            </li> {% endcomment %}


            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - Alerts -->
                        {% comment %} <li class="nav-item dropdown no-arrow mx-1">
                            <a class="nav-link" href="{% url 'myinfo:notifi_delete' %}" role="button">
                            <i class="fas fa-bell fa-fw"></i>
                            <!-- Counter - Alerts -->
                            {% if notifi_exis == True %}
                                <span class="badge badge-danger badge-counter">通知があります</span>
                            {% endif %}
                            </a>
                        </li> {% endcomment %}

                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - User Information -->
                        <li class="text-gray-600 d-flex align-items-center">
                            {% if user.is_authenticated %}
                                    <div>こんにちは、{{ user.last_name }}さん</div>
                                    <a href='{% url "logout" %}' class="nav-link">
                                        <i class="fas fa-sign-out-alt"></i>
                                    </a>
                            {% else %}
                                <a href='{% url "login" %}' class="nav-link">Login</a>
                            {% endif %}
                        </li>
                        <div class="topbar-divider d-none d-sm-block"></div>
                        <li class="text-gray-600 d-flex align-items-center">
                            {% now "Y/n/j(D)" %}
                        </li>
                    </ul>

                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <!-- <h1 class="h3 mb-4 text-gray-800">Blank Page</h1> -->


                    <div class='container'>
                        {% block content %}
                        {% endblock %}
                    </div>


                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; VccMarsh 2022</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'SBadmin2_origin/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'SBadmin2_origin/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{% static 'SBadmin2_origin/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{% static 'SBadmin2_origin/js/sb-admin-2.min.js' %}"></script>

{% block extra_foot %}{% endblock %}

</body>

</html>