{% load static %}
{% load bootstrap4 %}

<!DOCTYPE html>
<html lang="ja">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>VCC | {% block title %}{% endblock %}</title>

    <!-- Custom fonts for this template-->
    <!-- <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css"> -->
    <link href="{% static 'SBadmin2_origin/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">

    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    {% comment %} <link rel="stylesheet" href="{% static 'SBadmin2_origin/css/sb-admin-2.min.css' %}"> {% endcomment %}
    <link rel="stylesheet" href="{% static 'SBadmin2_origin/css/sb-admin-2.css' %}">

    <!-- Custom styles for this page -->
    <link href="{% static 'SBadmin2_origin/vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">

   <!-- ウィジェットのcssとjs -->
   <link href="{% static 'accordion.css' %}" rel="stylesheet">
   <script src="{% static 'accordion.js' %}"></script>
   
   <!-- favicon -->
    <link rel="icon" href="{% static 'icon/favicon.ico' %}">

    <!-- 自作の上書き用css -->
    {% comment %} <link href="{% static 'style.css' %}" rel="stylesheet"> {% endcomment %}

    <!-- django-tinymce -->
    {{ form.media }}

    {% block extra_head %}{% endblock %}
</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href='{% url "myinfo:index" %}'>
                <div class="sidebar-brand-text mx-3">VCC MARSH</div>
            </a>

            <!-- Divider -->
            {% comment %} <hr class="sidebar-divider my-0"> {% endcomment %}
            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">
            <!-- Heading -->
            <div class="sidebar-heading">
                operation
            </div>

            <!-- Nav Item - Dashboard -->
            {% comment %} {% with request.resolver_match.url_name as url_name %} {% endcomment %}
            {% with request.resolver_match.app_name as app_name %}
                <li class="nav-item {% if app_name == 'myinfo' and request.resolver_match.url_name != 'shift' and request.resolver_match.url_name != 'faqs_list' %}active{% endif %}">
                    <a class="nav-link" href='{% url "myinfo:index" %}'>
                        <i class="fas fa-broadcast-tower"></i>
                        <span>おしらせ</span></a>
                </li>

                <li class="nav-item {% if request.resolver_match.url_name == 'faqs_list' %}active{% endif %}">
                    <a class="nav-link" href='{% url "myinfo:faqs_list" %}'>
                        <i class="fas fa-question-circle"></i>
                        <span>FAQ</span></a>
                </li>

                <li class="nav-item {% if app_name == 'mysched' %}active{% endif %}">
                    <a class="nav-link" href='{% url "mysched:mysched" %}'>
                        <i class="fas fa-calendar-alt"></i>
                        <span>スケジュール</span></a>
                </li>
    
                <li class="nav-item {% if app_name == 'mycontact' %}active{% endif %}">
                    <a class="nav-link" href='/mycontact/'>
                        <i class="fas fa-phone"></i>
                        <span>窓口一覧</span></a>
                </li>

                <!-- Divider -->
                <hr class="sidebar-divider d-none d-md-block">
                <!-- Heading -->
                <div class="sidebar-heading">
                    center
                </div>
                <li class="nav-item {% if request.resolver_match.url_name == 'shift' %}active{% endif %}">
                    <a class="nav-link" href='/myinfo/shift/'>
                        <i class="fas fa-business-time"></i>
                        <span>シフト</span></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href='{% url 'admin:index' %}'>
                        <i class="fas fa-fw fa-tachometer-alt"></i>
                        <span>管理サイト</span></a>
                </li>

                <!-- LDか新人のみ表示 -->
                {% if request.user.id == 13 or request.user.id <= 4 %}
                    <!-- Divider -->
                    <hr class="sidebar-divider d-none d-md-block">

                    <!-- Heading -->
                    <div class="sidebar-heading">
                        Training
                    </div>
                    <li class="nav-item {% if app_name == 'myreport' %}active{% endif %}">
                        <a class="nav-link" href='{% url 'myreport:index' %}'>
                            <i class="fas fa-book"></i>
                            <span>研修日報</span></a>
                    </li>
                {% endif %}

            {% endwith %}




            {% comment %} <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Interface
            </div>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
                    aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>Components</span>
                </a>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Custom Components:</h6>
                        <a class="collapse-item" href="buttons.html">Buttons</a>
                        <a class="collapse-item" href="cards.html">Cards</a>
                    </div>
                </div>
            </li> {% endcomment %}


            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Topbar Search -->
                    {% comment %} {% if allsearchForm %} {% endcomment %}
                    <form
                    class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search"
                    action='{% url "myinfo:all_search" %}' method='get'>
                    <div class="input-group">
                            {% comment %} {{ allsearchForm.all_search_keyword }} {% endcomment %}
                            <input type="text" name="all_search" class="form-control bg-light border-0 small" placeholder="Search for..."
                                aria-label="Search" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="submit">
                                <i class="fas fa-search fa-sm"></i>
                            </button>
                        </div>
                    </div>
                    </form>
                    {% comment %} {% endif %} {% endcomment %}

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                    <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                    <li class="nav-item dropdown no-arrow d-sm-none">
                        <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-search fa-fw"></i>
                        </a>
                        <!-- Dropdown - Messages -->
                        <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                            aria-labelledby="searchDropdown">
                            <form class="form-inline mr-auto w-100 navbar-search"
                            action='{% url "myinfo:all_search" %}' method='get'>
                                <div class="input-group">
                                    <input type="text" name="all_search" class="form-control bg-light border-0 small"
                                        placeholder="Search for..." aria-label="Search"
                                        aria-describedby="basic-addon2">
                                    <div class="input-group-append">
                                        <button class="btn btn-primary" type="submit">
                                            <i class="fas fa-search fa-sm"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </li>

                        <!-- Nav Item - Alerts -->
                        {% comment %} <li class="nav-item dropdown no-arrow mx-1">
                            <a class="nav-link" href="{% url 'myinfo:notifi_delete' %}" role="button">
                            <i class="fas fa-bell fa-fw"></i>
                            <!-- Counter - Alerts -->
                            {% if notifi_exis == True %}
                                <span class="badge badge-danger badge-counter">通知があります</span>
                            {% endif %}
                            </a>
                        </li> {% endcomment %}

                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - User Information -->
                        {% comment %} <li class="text-gray-600 d-flex align-items-center small">
                            {% if user.is_authenticated %}
                                    <div class="d-none d-sm-inline-block">こんにちは、{{ user.last_name }}さん</div>
                                    <a href='{% url "logout" %}' class="nav-link" data-toggle="tooltip" title="Logout">
                                        <i class="fas fa-sign-out-alt"></i>
                                    </a>
                            {% else %}
                                <a href='{% url "login" %}' class="nav-link">Login</a>
                            {% endif %}
                        </li>
                        <div class="topbar-divider d-none d-sm-block"></div>
                        <li class="text-gray-600 d-flex align-items-center small">
                            {% now "Y/n/j(D)" %}
                        </li> {% endcomment %}

                        <!-- Nav Item - User Information -->
                        <div>
                            <li class="text-gray-600 d-flex small">
                                <div class="ml-auto">{% now "Y/n/j(D)" %}</div>
                            </li>
                            <li class="text-gray-600 d-flex small align-items-center">
                                {% if user.is_authenticated %}
                                    <div class="d-none d-sm-inline-block">こんにちは、{{ user.last_name }}さん</div>
                                    <a href='{% url "logout" %}' class="nav-link ml-auto" data-toggle="tooltip" title="Logout">
                                        <i class="fas fa-sign-out-alt"></i>
                                    </a>
                                {% else %}
                                    <a href='{% url "login" %}' class="nav-link">Login</a>
                                {% endif %}
                            </li>
                        </div>

                    </ul>

                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <!-- <h1 class="h3 mb-4 text-gray-800">Blank Page</h1> -->


                    {% comment %} <div class='container'> {% endcomment %}
                        {% block content %}
                        {% endblock %}
                    {% comment %} </div> {% endcomment %}


                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; VccMarsh 2022</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'SBadmin2_origin/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'SBadmin2_origin/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{% static 'SBadmin2_origin/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Custom scripts for all pages-->
    {% comment %} <script src="{% static 'SBadmin2_origin/js/sb-admin-2.min.js' %}"></script> {% endcomment %}
    <script src="{% static 'SBadmin2_origin/js/sb-admin-2.js' %}"></script>

    <script type="text/javascript">
    
        $('[data-toggle="tooltip"]').tooltip();

    </script>

    <!-- tinyMCE -->
    <script src="{% static 'uploader.js' %}"></script>
    
{% block extra_foot %}{% endblock %}

</body>

</html>