{% load static %}
{% load bootstrap4 %}

<!DOCTYPE html>
<html lang="ja">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{% endblock %}</title>

  <!-- パンくずリスト -->
  <!-- Bootstrapを使用するためのリンクタグ設置 -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">


    <!-- base:css -->
    <link href="{% static 'celestialAdmin/template/vendors/typicons.font/font/typicons.css' %}" rel="stylesheet">
    <link href="{% static 'celestialAdmin/template/vendors/css/vendor.bundle.base.css' %}" rel="stylesheet">
    <!-- endinject --> 
    <!-- plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link href="{% static 'celestialAdmin/template/css/vertical-layout-light/style.css' %}" rel="stylesheet">
    <!-- endinject -->
    <link rel="shortcut icon" href="{% static 'celestialAdmin/template/images/favicon.png' %}" />


    <!-- パンくずリスト続き -->
    <style>
      .breadcrumb{
          {% comment %} background-color: white; {% endcomment %}
      }
      .breadcrumb-item + .breadcrumb-item::before {
          content: ">";
      }
    </style>

  <!-- 点滅 -->
  <style>
    .blink {
      -webkit-animation: blink 1s ease-in-out infinite alternate;
      animation: blink 1s ease-in-out infinite alternate;
    }
    @-webkit-keyframes blink {
      0% {opacity: 0;}
      100% {opacity: 1;}
    }
    @keyframes blink {
      0% {opacity: 0;}
      100% {opacity: 1;}
    }
  </style>
 
  </head>
  
  <body>
    <div class="container-scroller">       
      <!-- partial:partials/_navbar.html ←トップバー-->

      <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
        <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
          <a class="brand-logo font-weight-bold nav-link p-0 text-black" href="{% url 'myprofit:profit_top' %}">日産プリンスMarsh株式会社</a>
          <button class="p-3 navbar-toggler navbar-toggler align-self-center d-none d-lg-flex" type="button" data-toggle="minimize">
            <span class="typcn typcn-th-menu"></span>
          </button>
        </div>

        <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
          <ul class="navbar-nav mr-auto">
            <!-- パンくずリスト -->
            <div>VCC案内用：</div>
            {% block breadcrumb %}{% endblock %}
          </ul>
        </div>
      </nav>
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_settings-panel.html -->
        <!-- partial -->
        
        <!-- partial:partials/_sidebar.html -->
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
        {% block sidebar %}{% endblock %}
        </nav>

        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">
            {% block mainpanel %}{% endblock %}

          </div>
          <!-- content-wrapper ends -->
          <!-- partial:partials/_footer.html -->

          <footer class="footer">
            <div class="d-sm-flex justify-content-center justify-content-sm-between">
              <span class="text-center text-sm-left d-block d-sm-inline-block">Copyright &copy; VccMarsh {% now "Y" %}</span>
              {% comment %} <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Free <a href="https://www.bootstrapdash.com/" target="_blank">Bootstrap dashboard </a>templates from Bootstrapdash.com</span> {% endcomment %}
            </div>
          </footer>

        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->

    <!-- パンくずリスト -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/js/bootstrap.min.js" integrity="sha384-7aThvCh9TypR7fIc2HV4O/nFMVCBwyIUKL8XCtKE+8xgCgl/PQGuFsvShjr74PBp" crossorigin="anonymous"></script>
    
    <!-- base:js -->
    <script src="{% static 'celestialAdmin/template/vendors/js/vendor.bundle.base.js' %}"></script>
    <!-- endinject -->
    <!-- Plugin js for this page-->
    <!-- End plugin js for this page-->
    <!-- inject:js -->
    <script src="{% static 'celestialAdmin/template/js/off-canvas.js' %}"></script>
    <script src="{% static 'celestialAdmin/template/js/hoverable-collapse.js' %}"></script>
    <script src="{% static 'celestialAdmin/template/js/template.js' %}"></script>
    <script src="{% static 'celestialAdmin/template/js/settings.js' %}"></script>
    <script src="{% static 'celestialAdmin/template/js/todolist.js' %}"></script>
    <!-- endinject -->
    <!-- plugin js for this page -->
    <script src="{% static 'celestialAdmin/template/vendors/progressbar.js/progressbar.min.js' %}"></script>
    <script src="{% static 'celestialAdmin/template/vendors/chart.js/Chart.min.js' %}"></script>
    <!-- End plugin js for this page -->
    <!-- Custom js for this page-->
    <script src="{% static 'celestialAdmin/template/js/dashboard.js' %}"></script>
    <!-- End custom js for this page-->
  </body>
</html>