{% extends 'layout.html' %}
{% load bootstrap4 %}
{% load static %}

{% block extra_head %}

<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

<!-- こちら？ -->
{% comment %} <script src="{% static "ddv_example_testmodel.js" %}"></script> {% endcomment %}
<script src="{% static "sample.js" %}"></script>


{% endblock %}

{% block content %}

ああ
    <table class="datatable">
        <thead>
            <th>{{ contacts.name }}</th>
            <th>{{ contacts.name }}</th>
            <th>{{ contacts.name }}</th>
        </thead>
        <tbody>
        </tbody>
    </table>

    <table id="datatable" class="table table-striped table-bordered nowrap" cellspacing="0"
                   width="100%"></table>
{% endblock %}