{% extends 'layout.html' %}
{% load static %}

{% block extra_head %}

<style>
    textarea {
        color: #5a5c69;
    }

    <!-- https://b-risk.jp/blog/2021/01/anim-reference/ -->
    .anim-box.fadeup.is-animated {
        animation: fadeup 1s cubic-bezier(0.33, 1, 0.68, 1) 1 forwards;
      }
       
      @keyframes fadeup {
        0% {
          transform: translateY(30px);
          opacity: 0;
        }
        80% {
          opacity: 1;
        }
        100% {
          opacity: 1;
          transform: translateY(0);
        }
      }
</style>



{% endblock %}

{% block title %}スケジュール{% endblock %}
{% block topbar %}
{% endblock %}

{% block content %}

{% comment %} <div class="form-group col-xs-12 col-sm-6">
    <label for="dateOfBirth" class="control-label"></label>
    <div class="input-group">
      <div class="input-group-addon">
        <span class="jy">元号XX年</span>
      </div>
      <input type="month" name="dateOfBirth" id="dateOfBirth" class="form-control" max="" title="入力してください。">
    </div>
</div> {% endcomment %}

<div class="d-flex"><!-- カード幅を幅いっぱいにしない -->
<div class="card shadow mb-4">
    <div class="card-header align-items-center">
        <h6 class="m-0 font-weight-bold text-primary"><i class="fas fa-wallet"></i> 長得の申込できる日 
        <a href="#" class="text-info" data-toggle="popover" data-trigger="hover" data-html="true"
        title="長得" data-content="●コース：乗用の18車付B・18B・12車付B・12Bのみ<br>※よって、V37・CD・GTR・EV・商用車（軽商用車はOK）は対象外
        " ><i class="fas fa-info-circle"></i></a>
        </h6>
    </div>

    <div class="card-body">
        
        {% comment %} <p>現在、初度<span class="text-primary" id="ago54"></span>までの車両が申込できます。</p> {% endcomment %}
        <div class="btn btn-sm btn-primary rounded-pill mb-2" id="now">Now</div>

        <div class="d-flex align-items-center flex-wrap">

            <div class="">
                <label class="form-label mb-0">申込OK</label>
                <div class="d-flex flex-row" id="entry_block">
                    <div class="">
                        <select id="entry_year" class="form-control mb-2">
                            <option>- 年 -</option>
                        </select>
                    </div>
                    <div class="">
                        <select id="entry_month" class="form-control">
                            <option>- 月 -</option>
                            {% with ''|center:12 as range %}
                            {% for _ in range %}
                                <option value="{{ forloop.counter }}">{{ forloop.counter }}月1日</option>
                            {% endfor %}
                            {% endwith %}
                        </select>
                    </div>
                </div>
            </div>

            <div class="d-flex align-items-center mx-2">
                <div class="mx-auto">
                    <i class="fas fa-arrows-alt-h fa-2x"></i>
                </div>
            </div>

            <div class="">
                <label class="form-label mb-0">初度登録</label>
                <div class="d-flex flex-row" id="shodo_block">
                    <div class="">
                        <select id="year_select" class="form-control mb-2">
                            <option>- 年 -</option>
                            <option value="" id="year-6"></option>
                            <option value="" id="year-5"></option>
                            <option value="" id="year-4"></option>
                            <option value="" id="year-3"></option>
                            <option value="" id="year-2"></option>
                            <option value="" id="year-1"></option>
                            <option value="" id="year0"></option>
                        </select>
                    </div>
                    <div class="">
                        <select id="month_select" class="form-control">
                            <option>- 月 -</option>
                            {% with ''|center:12 as range %}
                            {% for _ in range %}
                                <option value="{{ forloop.counter }}">{{ forloop.counter }}月</option>
                            {% endfor %}
                            {% endwith %}
                        </select>
                    </div>
                </div>
            </div>

        </div>

        {% comment %} <p id="target"></p> {% endcomment %}
        {% comment %} <p id="target2"></p> {% endcomment %}

    </div>
</div>
</div>><!-- カード幅を幅いっぱいにしない終わり -->

<div class="d-flex flex-wrap"><!-- 幅広なら横並びになるように追加した -->
<div class="card shadow mb-4 mr-1">
    <div class="card-header py-3 align-items-center">
        <h6 class="m-0 font-weight-bold text-primary"><i class="fas fa-file-invoice-dollar"></i> 到着〆と送金予定日</h6>
    </div>
    <div class="card-body">
  <!-- タブ部分 -->
  <ul class="nav nav-tabs mb-2">
    <li class="nav-item">
      <a href="#tab1" class="nav-link active" data-toggle="tab">承認日なし</a>
    </li>
    <li class="nav-item">
      <a href="#tab2" class="nav-link" data-toggle="tab">承認日あり</a>
    </li>
  </ul>

  <!-- 内容部分 -->
  <div class="tab-content">
    <div id="tab1" class="tab-pane active">
        <div class="d-flex flex-row">
        <textarea id="copyTarget1" rows="5" style="width:260px" class="border-0 p-0 ml-2" readonly>
{% for money in moneytrans %}〜{{ money.deadline|date:"m-d(D)" }}着 → {{ money.transfer|date:"m-d(D)" }}送金
{% endfor %}</textarea>
            <div class="ml-2 align-self-end">
                <button onclick="copyToClipboard('copyTarget1')" class="btn btn-outline-primary mr-1">
                    <i class="fas fa-copy"></i>
                </button>
            </div>
            {% comment %} <p id="copyTarget1mes" class="ml-2 align-self-end"></p> {% endcomment %}
            <a href="#" id="copyTarget1mes" class="btn btn-success btn-sm ml-2 align-self-end">
                <span class="icon text-white-50"><i class="fas fa-check"></i></span>
                <span class="text">Copied</span>
            </a>
        </div>
    </div>
    <div id="tab2" class="tab-pane">
        <div class="d-flex flex-row">
        <textarea id="copyTarget4" rows="5" style="width:380px" class="border-0 p-0 ml-2" readonly>
{% for money in moneytrans %}〜{{ money.deadline|date:"m-d(D)" }}着 → {{ money.fix|date:"m-d(D)" }}承認 → {{ money.transfer|date:"m-d(D)" }}送金
{% endfor %}</textarea>
            <div class="ml-2 align-self-end">
                <button onclick="copyToClipboard('copyTarget4')" class="btn btn-outline-primary mr-1">
                    <i class="fas fa-copy"></i>
                </button>
            </div>
            <a href="#" id="copyTarget4mes" class="btn btn-success btn-sm ml-2 align-self-end">
                <span class="icon text-white-50"><i class="fas fa-check"></i></span>
                <span class="text">Copied</span>
            </a>
        </div>
    </div>
  </div>
    </div>
</div>


<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary"><i class="fas fa-file-invoice-dollar"></i> 送金日検索（解約・発行キャンセル・相殺）</h6>
    </div>

    <div class="card-body">
        <div><label class="text-primary">登録日を選択

        </label></div>
        <div class="mb-2 ml-2 small text-secondary">検索対象：{{ first_date|date:"Y-m-d(D)" }}〜{{ last_date|date:"Y-m-d(D)" }}</div>


        <form class="d-sm-inline-block form-inline mr-auto" action='{% url "mysched:mysched" %}' method='get'>
            <div class="input-group mb-2 ml-2">
                {{ moneyForm.input_date }}
                <!-- Ajax→ボタン押下不要に -->
                {% comment %} <div class="input-group-append"> {% endcomment %}
                    <!-- 通常 -->
                    {% comment %} <button class="btn btn-primary" type="submit"><i class="fas fa-search fa-sm"></i></button> {% endcomment %}
                    <!-- Ajax-->
                    {% comment %} <a href="{% url 'mysched:ajax_sched' %}" class="ajax_sched btn btn-primary"><i class="fas fa-search fa-sm"></i></a> {% endcomment %}
                {% comment %} </div> {% endcomment %}
            </div>
        </form>
        <div id="ajax_noinput"></div>
    </div>
    {% if messages %}
        {% for message in messages %}
            <div class="alert{% if message.tags %} alert-{{ message.tags }}{% endif %}" role="alert">{{ message }}</div>
        {% endfor %}
    {% endif %}
    
<!-- Ajax用 -->
    <div class="card-body pt-0" id="ajax_disp">
        <div class="text-primary">解約・発行キャンセル</div>
            <div class=" ml-2 small text-secondary">キャンセル後の再申込は、承認日の翌日から可と案内</div>
            <div id="ajax_result1" class="d-flex flex-row">
                <div class="ml-2 align-self-end">
                    <button onclick="copyToClipboard('ajax_add1')" class="btn btn-outline-primary mr-1">
                        <i class="fas fa-copy"></i>
                    </button>
                </div>
                <a href="#" id="ajax_add1mes" class="btn btn-success btn-sm ml-2 align-self-end">
                    <span class="icon text-white-50"><i class="fas fa-check"></i></span>
                    <span class="text">Copied</span>
                </a>
            </div>
            <hr>
        <div class="text-primary">相殺</div>
            <div id="ajax_result2" class="d-flex flex-row">
                <div class="ml-2 align-self-end">
                    <button onclick="copyToClipboard('ajax_add2')" class="btn btn-outline-primary mr-1">
                        <i class="fas fa-copy"></i>
                    </button>
                </div>
                <a href="#" id="ajax_add2mes" class="btn btn-success btn-sm ml-2 align-self-end">
                    <span class="icon text-white-50"><i class="fas fa-check"></i></span>
                    <span class="text">Copied</span>
                </a>
            </div>
    </div>


</div>

</div><!-- 幅広なら横並びになるように、終わり -->

{% endblock %}

{% block extra_foot %}

<!-- 和暦 -->
<script>
    $('#dateOfBirth').change(function() {
        var $dob = $(this);
        var d = moment($dob.val()).toDate();
        var jy = '元号XX年';
        if (d.toString() !== "Invalid Date") {
          jy = d.toLocaleDateString('ja-JP-u-ca-japanese', {
            year: 'numeric'
          });
        }
        $dob.prev().find('span.jy').text(jy);
      });
</script>

<!-- 長得ajaxつくる -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.3/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.3/locale/ja.js"></script>


<script>
$(function () {
    $('[data-toggle="popover"]').popover()
    })

</script>

<script>
//和暦の年だけ返す関数
function change_to_wareki(date){

    const options = {
        year: 'numeric',
        // month: 'short',
        // day: 'numeric',
        // weekday: 'short',
      }
    var wareki = date.toLocaleDateString("ja-JP-u-ca-japanese", options);
    return wareki;
  }
</script>

<script>

    //初度プルダウンから申込年月表示の関数
    function shodoToEntry() {
        var shodo_date = '';

        var year = document.getElementById('year_select').value;;
        var month = document.getElementById('month_select').value;;
        var shodo_date = new Date(year, month, 1);

        //日付だったら
        if (shodo_date.toString() !== "Invalid Date") {

            //+54ヶ月の和暦
            var later54 = moment(shodo_date).add(53, 'months');
            var wareki_later54 = change_to_wareki(new Date(moment(later54)));
            //var kekka = "→ <span class='text-primary'>" + later54.format("YYYY")+"年("+wareki_later54+")"+later54.format("M")+"月1日</span>から申込できます。"
            var later54_year = later54.format("YYYY")+"年("+wareki_later54+")"
            var later54_month = later54.format("M")

            //基準：こちらが表示位置
            $('#entry_block').hide();
            $('#entry_year').val(later54.format("YYYY"));
            $('#entry_month').val(later54_month);
            $('#entry_block').slideDown();

        }
        //target.innerHTML = later54_year + later54_month;
        
    }

    //初度プルダウンから申込年月表示の関数
    
    function entryToShodo() {
        var entry_date = '';

        var year = document.getElementById('entry_year').value;;
        var month = document.getElementById('entry_month').value;;
        var entry_date = new Date(year, month, 1);

        //日付だったら
        if (entry_date.toString() !== "Invalid Date") {

            //-54ヶ月の和暦
            var ago54 = moment(entry_date).add(-55, 'months');
            var wareki_ago54 = change_to_wareki(new Date(moment(ago54)));
            var ago54_year = ago54.format("YYYY")+"年("+wareki_ago54+")"
            var ago54_month = ago54.format("M")

            //基準：こちらが表示位置
            $('#shodo_block').hide();
            $('#year_select').val(ago54.format("YYYY"));
            $('#month_select').val(ago54_month);
            $('#shodo_block').slideDown();

        }
        //target2.innerHTML = ago54_year + ago54_month;
        
    }
    


    // ページ読み込み時
    $(function() {
        //コピーmessage非表示用
        $(document.getElementById("copyTarget1mes")).hide();
        $(document.getElementById("copyTarget4mes")).hide();
        $(document.getElementById("ajax_add1mes")).hide();
        $(document.getElementById("ajax_add2mes")).hide();

        //↓ここから長得

        //西暦・和暦のプルダウン
        var year1 = moment().subtract(6, 'y').startOf('year').format("YYYY");// 5年前1月1日
        var wareki1 = change_to_wareki(new Date(moment(year1)));
        var year12 = moment().subtract(6, 'y').endOf('year').format("YYYY-MM-DD");// 12月31日
        var wareki12 = change_to_wareki(new Date(moment(year12)));

        //申込の方：年
        var entry_year1 = moment(year1).add(54, 'months').startOf('year').format("YYYY");//
        var entry_wareki1 = change_to_wareki(new Date(moment(entry_year1)));
        var entry_year12 = moment(year1).add(54, 'months').endOf('year').format("YYYY-MM-DD");// 12月31日
        var entry_wareki12 = change_to_wareki(new Date(moment(entry_year12)));
    
        for (let i = -6; i < 2; i++) {
            //value代入
            $('#year'+i).val(year1);
            //1月と12月の和暦が違ったら併記

            if (wareki1 == wareki12) {
                $('#year'+i).prepend(year1+"年("+wareki1+")");
            } else {
                $('#year'+i).prepend(year1+"年("+wareki1+"/"+wareki12+")");
            };
            
            var year1 = moment(year1).add(1, 'y').format("YYYY");// 1月1日
            var wareki1 = change_to_wareki(new Date(moment(year1)));
            var year12 = moment(year12).add(1, 'y').format("YYYY-MM-DD");// 12月1日
            var wareki12 = change_to_wareki(new Date(moment(year12)));
        }

        //今日の54ヶ月前の和暦
        var ago54 = moment(new Date()).subtract(54, 'months').date(1);//1日
        var wareki_ago54 = change_to_wareki(new Date(moment(ago54)));
        $('#ago54').prepend(ago54.format("YYYY")+"年("+wareki_ago54+")"+ago54.format("M")+"月");

        var ago54_year = ago54.format("YYYY");
        var ago54_month = ago54.format("M");

        //初期値を今月申込可能な年月に。
        $('#year_select').val(ago54_year);
        $('#month_select').val(ago54_month);


        //申込の方のプルダウン：年
        for (let i = 0; i < 7; i++) {
            //1月と12月の和暦が違ったら併記
            if (entry_wareki1 == entry_wareki12) {
                var entry_year = entry_year1+"年("+entry_wareki1+")";
            } else {
                var entry_year = entry_year1+"年("+entry_wareki1+"/"+entry_wareki12+")";
            };
            
            $('#entry_year').append($('<option>').attr({ value: entry_year1 }).text(entry_year));

            var entry_year1 = moment(entry_year1).add(1, 'y').format("YYYY");// 1月1日
            var entry_wareki1 = change_to_wareki(new Date(moment(entry_year1)));
            var entry_year12 = moment(entry_year12).add(1, 'y').format("YYYY-MM-DD");// 12月1日
            var entry_wareki12 = change_to_wareki(new Date(moment(entry_year12)));
        }
        
        //関数呼び出し
        shodoToEntry();

    });

    //Nowボタン
    $('#now').click(function() {
        var now_year = moment().format("YYYY");//
        var now_month = moment().format("M");//
        $('#entry_year').val(now_year);
        $('#entry_month').val(now_month);
        entryToShodo();
    });


    //初度プルダウン変更されたら
    let year = document.getElementById('year_select');
    year.onchange = shodoToEntry;

    let month = document.getElementById('month_select');
    month.onchange = shodoToEntry;

    //申込プルダウン変更されたら：
    let entry_year = document.getElementById('entry_year');
    entry_year.onchange = entryToShodo;

    let entry_month = document.getElementById('entry_month');
    entry_month.onchange = entryToShodo;

</script>


<script>
// コピーボタン
    function copyToClipboard(id) {
        // コピー対象をJavaScript上で変数として定義する
        var copyTarget = document.getElementById(id);

        // コピー対象のテキストを選択する
        copyTarget.select();

        // 選択しているテキストをクリップボードにコピーする
        document.execCommand("Copy");

        // コピーをお知らせする
        //alert("コピーしました : \n" + copyTarget.value);
        
        var mesTarget = document.getElementById(id+"mes");
        //$(mesTarget).text('Copied!');
        $(mesTarget).show();

        //setTimeout(function(){$(mesTarget).text('');}, 2000);
        setTimeout(function(){$(mesTarget).hide();}, 2000);
    }

    //↓textareaの行数を自動調整するのを、使えるように出来ていない
    //textareaの要素を取得
    let textarea = document.getElementById('copyTarget1');
    //textareaのデフォルトの要素の高さを取得
    let clientHeight = textarea.clientHeight;

    //textareaのinputイベント
    textarea.addEventListener('input', ()=>{
        //textareaの要素の高さを設定（rows属性で行を指定するなら「px」ではなく「auto」で良いかも！）
        textarea.style.height = clientHeight + 'px';
        //textareaの入力内容の高さを取得
        let scrollHeight = textarea.scrollHeight;
        //textareaの高さに入力内容の高さを設定
        textarea.style.height = scrollHeight + 'px';
    });

</script>

<!-- #tab名でtabへの直リンクを可能にする -->
<script>
    $(function() {
      // Javascript to enable link to tab
      var hash = document.location.hash;
      if (hash) {
        console.log(hash);
        $('.nav-tabs a[href=\\'+hash+']').tab('show');
      }

      // Change hash for page-reload
      $('a[data-toggle="tab"]').on('show.bs.tab', function (e) {
        window.location.hash = e.target.hash;
      });

      // ajax用　はじめは結果非表示
      $('#ajax_disp').hide();

    });
</script>


<!-- 送金スケajax -->
<script>
    //
    var $date = $('input[type="date"][name="input_date"]')
    $date.on('change', function () {
    
        var input_date = $('#input_date').val();
        //var $this = $(this);

        //if(confirm("Sure?")){
            $.ajax({
                // url: $this.attr("href"),
                url: "/mysched/ajax_sched/",
                type: "GET",
                dataType: "json",
                data:{ 
                    input_date: input_date,
                    },
                }).done(function (data) {
                    console.log(data);
                    $('#ajax_add1').remove();
                    $('#ajax_add2').remove();
                    $('#ajax_add0').remove();

                    if (data.input_date == 'インプットなし') {
                        $('#ajax_noinput').prepend(
                            '<div id="ajax_add0" class="alert alert-warning">日付を選択してください</div>' );
                    } else {
                        $('#ajax_disp').show();
                        $('#ajax_result1').prepend(
                            '<div><textarea id="ajax_add1" rows="3" class="border-0 p-0 ml-2">登録：' + data.input_date + '\r\n→承認：' + data.past_fix +'\r\n→送金：' + data.past_transfer +'</textarea></div>');
                        $('#ajax_result2').prepend(
                            '<div><textarea id="ajax_add2" rows="2" class="border-0 p-0 ml-2">登録：' + data.input_date + '\r\n→送金：' + data.setoff_transfer +'</textarea></div>');
                    }
                    
                }).fail(function (data) {
                    console.log("エラーのほう");
                    $('#ajax_disp').hide();
            });
        //}
        return false;
    });


</script>


{% endblock %}