{% extends 'layout.html' %}
{% load static %}

{% block extra_head %}
<!-- カレンダー表示用 #テンプレートに渡しているフォームの変数名を「.」の前に書く-->
{% comment %} <link rel="stylesheet" type="text/css" href="{% static 'admin/css/base.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'admin/css/forms.css' %}"/>
<script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
{{ moneyForm.media }}
<script type="text/javascript" src="{% static 'admin/js/core.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/admin/RelatedObjectLookups.js' %}"></script> {% endcomment %}

<!-- jqueryカレンダー -->
{% comment %} <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"> {% endcomment %}
<style>
    textarea {
        color: #5a5c69;
    }
</style>

{% endblock %}

{% block title %}スケジュール{% endblock %}
{% block topbar %}
{% comment %} <a class="nav-link" href='{% url "mysched:mysched" %}'>
    <i class="fas fa-calendar-alt"></i> スケジュール</a> {% endcomment %}
{% endblock %}

{% block content %}

<div class="card shadow mb-4">
    <div class="card-header py-3 d-flex flex-row align-items-center">
        <h6 class="m-0 font-weight-bold text-primary"><i class="fas fa-file-invoice-dollar"></i> 到着〆と送金予定日</h6>
    </div>
    <div class="card-body">
  <!-- タブ部分 -->
  <ul class="nav nav-tabs mb-2">
    <li class="nav-item">
      <a href="#tab1" class="nav-link active" data-toggle="tab">承認日なし</a>
    </li>
    <li class="nav-item">
      <a href="#tab2" class="nav-link" data-toggle="tab">承認日あり</a>
    </li>
  </ul>

  <!-- 内容部分 -->
  <div class="tab-content">
    <div id="tab1" class="tab-pane active">
        <textarea id="copyTarget1" rows="5" class="col-sm-12 border-0 p-0 ml-2" readonly>
{% for money in moneytrans %}〜{{ money.deadline|date:"m-d(D)" }}着 → {{ money.transfer|date:"m-d(D)" }}送金
{% endfor %}</textarea>
        <div class="ml-2">
            <button onclick="copyToClipboard('copyTarget1')" class="btn btn-outline-primary mr-1 p-1">
                <i class="fas fa-copy"></i>
                <span class="small"> Copy</span>
            </button>
        </div>
    </div>
    <div id="tab2" class="tab-pane">
        <textarea id="copyTarget4" rows="5" class="col-sm-12 border-0 p-0 ml-2" readonly>
{% for money in moneytrans %}〜{{ money.deadline|date:"m-d(D)" }}着 → {{ money.fix|date:"m-d(D)" }}承認 → {{ money.transfer|date:"m-d(D)" }}送金
{% endfor %}</textarea>
        <div class="ml-2">
            <button onclick="copyToClipboard('copyTarget4')" class="btn btn-outline-primary mr-1 p-1">
                <i class="fas fa-copy"></i>
                <span class="small"> Copy</span>
            </button>
        </div>
    </div>
  </div>
    </div>
</div>


<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary"><i class="fas fa-file-invoice-dollar"></i> 送金日検索</h6>
    </div>

    <div class="card-body">
        <label class="text-primary">登録日（解約・発行キャンセル・相殺）を選択</label>
        <div class="mb-2 ml-2 small text-secondary">{{ first_date|date:"Y-m-d(D)" }}〜{{ last_date|date:"Y-m-d(D)" }}検索OK</div>

        <form class="d-sm-inline-block form-inline mr-auto" action='{% url "mysched:mysched" %}' method='get'>
            <div class="input-group mb-2 ml-2">
                {{ moneyForm.input_date }}
                    <!-- JSでchangeイベントにしたためボタン非表示→戻した -->
                <div class="input-group-append">
                    <!-- 通常 -->
                    {% comment %} <button class="btn btn-primary" type="submit"><i class="fas fa-search fa-sm"></i></button> {% endcomment %}
                    <!-- Ajax -->
                    <a href="{% url 'mysched:ajax_sched' %}" class="ajax_sched btn btn-primary"><i class="fas fa-search fa-sm"></i></a>
                </div>
            </div>
        </form>
        <div id="ajax_noinput"></div>
    </div>
    {% if messages %}
        {% for message in messages %}
            <div class="alert{% if message.tags %} alert-{{ message.tags }}{% endif %}" role="alert">{{ message }}</div>
        {% endfor %}
    {% endif %}
    
    <!-- 通常：未使用 -->
    {% if past_sched %}
        {% comment %} <div>登録日：{{ input_date }}</div>
        <div>↓</div>
        <div>承認日：{{ past_sched.fix }}</div>
        <div>↓</div>
        <div>送金日：{{ past_sched.transfer }}</div> {% endcomment %}

        {% comment %} コピーするために、こちらにも表示
        →display noneだと機能しないので、仕方なくこちらのみ表示に {% endcomment %}
    <div class="card-body pt-0">
        <div class="text-primary">解約・発行キャンセル</div>
        <div class="mb-2 ml-2 small text-secondary">キャンセル後の再申込は、承認日の翌日から可と案内</div>
            <textarea id="copyTarget2" rows="5" class="col-sm-12 border-0 p-0 ml-2" readonly>
登録日：{{ input_date|date:"Y-m-d(D)" }}
↓
承認日：{{ past_sched.fix|date:"Y-m-d(D)" }}
↓
送金日：{{ past_sched.transfer|date:"Y-m-d(D)" }}</textarea>
            <div class="ml-2">
                <button onclick="copyToClipboard('copyTarget2')" class="btn btn-outline-primary mr-1 p-1">
                    <i class="fas fa-copy"></i>
                    <span class="small"> Copy</span>
                </button>
            </div>

            <hr>
        
            <div class="text-primary mb-2">相殺</div>
            <textarea id="copyTarget3" rows="3" cols="28" class="col-sm-12 border-0 p-0 ml-2" readonly>
登録(承認)日：{{ input_date|date:"Y-m-d(D)" }}
↓
送金日：{{ setoff_sched.transfer|date:"Y-m-d(D)" }}</textarea>
            <div class="ml-2">
                <button onclick="copyToClipboard('copyTarget3')" class="btn btn-outline-primary mr-1 p-1">
                    <i class="fas fa-copy"></i>
                    <span class="small"> Copy</span>
                </button>
            </div>
    </div>
    {% endif %}

<!-- Ajax用 -->
    <div class="card-body pt-0" id="ajax_disp">
        <div class="text-primary">解約・発行キャンセル</div>
        <div class="mb-2 ml-2 small text-secondary">キャンセル後の再申込は、承認日の翌日から可と案内</div>
            <div id="ajax_result1"></div>
                <div class="ml-2">
                    <button onclick="copyToClipboard('ajax_add1')" class="btn btn-outline-primary mr-1 p-1">
                        <i class="fas fa-copy"></i>
                        <span class="small"> Copy</span>
                    </button>
                </div>
            
            <hr>
        
        <div class="text-primary mb-2">相殺</div>
            <div id="ajax_result2"></div>
                <div class="ml-2">
                    <button onclick="copyToClipboard('ajax_add2')" class="btn btn-outline-primary mr-1 p-1">
                        <i class="fas fa-copy"></i>
                        <span class="small"> Copy</span>
                    </button>
                </div>
            
    </div>



</div>

{% endblock %}

{% block extra_foot %}

<!-- jqueryカレンダー -->
{% comment %} <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script>
    $(function () {
        // 日付は、年-月-日 の形式でお願いする。
        let dateFormat = 'yy-mm-dd';
        $(".datepicker").datepicker({
            dateFormat: dateFormat,
            changeMonth: true,
            changeYear: true,
        });
    });
</script> {% endcomment %}

<script>
    // 日付変更イベント→月移動で実行されてしまうので、中止。jqueryカレンダーだと逆に実行されない
    {% comment %} function inputChange(event){
        // console.log(event.currentTarget.value);
        var url = "{% url 'mysched:mysched' %}";
        document.location.href = url + "?input_date=" + event.currentTarget.value;
    }

    let text = document.getElementById('input_date');
    text.addEventListener('input', inputChange); {% endcomment %}

    function copyToClipboard(id) {
        // コピー対象をJavaScript上で変数として定義する
        var copyTarget = document.getElementById(id);

        // コピー対象のテキストを選択する
        copyTarget.select();

        // 選択しているテキストをクリップボードにコピーする
        document.execCommand("Copy");

        // コピーをお知らせする
        alert("コピーしました : \n" + copyTarget.value);
    }

    //↓textareaの行数を自動調整するのを、使えるように出来ていない
    //textareaの要素を取得
    let textarea = document.getElementById('copyTarget1');
    //textareaのデフォルトの要素の高さを取得
    let clientHeight = textarea.clientHeight;

    //textareaのinputイベント
    textarea.addEventListener('input', ()=>{
        //textareaの要素の高さを設定（rows属性で行を指定するなら「px」ではなく「auto」で良いかも！）
        textarea.style.height = clientHeight + 'px';
        //textareaの入力内容の高さを取得
        let scrollHeight = textarea.scrollHeight;
        //textareaの高さに入力内容の高さを設定
        textarea.style.height = scrollHeight + 'px';
    });

</script>

<!-- #tab名でtabへの直リンクを可能にする -->
<script>
    $(function() {
      // Javascript to enable link to tab
      var hash = document.location.hash;
      if (hash) {
        console.log(hash);
        $('.nav-tabs a[href=\\'+hash+']').tab('show');
      }

      // Change hash for page-reload
      $('a[data-toggle="tab"]').on('show.bs.tab', function (e) {
        window.location.hash = e.target.hash;
      });

      // ajax用　はじめは結果非表示
      $('#ajax_disp').hide();
    });
</script>


<!-- ajax -->
<script>
    //ボタンでは動作OK
    $(".ajax_sched").on("click", function(e){ // ←ボタンのclassを書く
        e.preventDefault();

    //ボタンを押さずに、日付変更のみで実行したい
    //↓不可
    //let date = document.querySelector("input[type='date'][name='input_date']");
    //date.addEventListener('change', function() {
    
    //↓不可
    //const input = document.querySelector('#input_date');
    //input.addEventListener('change', function() {
    
    //↓不可
    //var $date = $('input[type="date"][name="input_date"]')
    //$date.on('change', function () {
    
        var input_date = $('#input_date').val();
        var $this = $(this);

        //if(confirm("Sure?")){
            $.ajax({
                url: $this.attr("href"),
                type: "GET",
                dataType: "json",
                data:{ 
                    input_date: input_date,
                    },
                }).done(function (data) {
                    console.log(data);
                    $('#ajax_add1').remove();
                    $('#ajax_add2').remove();
                    $('#ajax_add0').remove();

                    if (data.input_date == 'インプットなし') {
                        $('#ajax_noinput').prepend(
                            '<div id="ajax_add0" class="alert alert-warning">日付を選択してください</div>' );
                    } else {
                        $('#ajax_disp').show();
                        $('#ajax_result1').prepend(
                            '<textarea id="ajax_add1" rows="3" class="col-sm-12 border-0 p-0 ml-2">登録：' + data.input_date + '\r\n→承認：' + data.past_fix +'\r\n→送金：' + data.past_transfer +'</textarea>');
                        $('#ajax_result2').prepend(
                            '<textarea id="ajax_add2" rows="2" class="col-sm-12 border-0 p-0 ml-2">登録：' + data.input_date + '\r\n→送金：' + data.setoff_transfer +'</textarea>');
                    }
                    
                }).fail(function (data) {
                    console.log("エラーのほう");
                    $('#ajax_disp').hide();
            });
        //}
        return false;
    });


</script>


{% endblock %}